/*------------------------------------*
	$ ACCOUNT
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'
@import 'elements/inputs.styl'

.section-edit
	max-width max-width
	margin auto
	&__title
		margin 1rem
	&__form
		margin 1rem