/*------------------------------------*
	$ ACCOUNT
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'
@import 'elements/inputs.styl'

.account-data
	max-width max-width
	margin auto

.input-container
	display flex
	align-items center
	margin 1rem
	label
		color #585858
		font-weight 600
		font-size 0.85rem
		letter-spacing 1px
		font-family 'Raleway'
		text-transform uppercase
		min-width 10rem

.button-solid
	display table
	margin 2rem auto