/*------------------------------------*
	$ BASE
*------------------------------------*/
@import 'nib'
@import 'lib/reset.styl'

@import 'elements/variables.styl'
@import 'elements/logo.styl'
@import 'elements/texts.styl'
@import 'elements/menus.styl'

@import 'objects/header.styl'
@import 'objects/category-menu.styl'
@import 'objects/flash-message.styl'
@import 'objects/footer.styl'

html
	height 100%
	font-size 90%

@media (min-width: tablet-medium)
	html
		font-size 100%
		
body
	height 100%

.main-wrapper
	min-height 100%
	display flex
	flex-direction column
	&__content
		flex 1
	&__content.gray
		background #f6f6f6