/*------------------------------------*
	$ INDEX
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'

.insterts
	display flex
	flex-wrap wrap
	justify-content center
	max-width max-width
	margin auto
	.interest
		display flex
		flex-wrap wrap
		max-width 250px
		padding 1rem
		position relative
		.img-container
			flex 1 33.333%
		&.active
			.inner
				.cover
					display flex
	.inner
		cursor pointer
		display flex
		flex-wrap wrap
		position relative
		.cover
			position absolute
			top 0
			left 0
			bottom 0
			width 100%
			display none
			.fa
				margin auto
				color white
				font-size 2rem
				border-radius 50%
				padding .5rem
				background #f54545
				border solid 5px white
			
@media screen and (min-width: desktop)
	.insterts
		.interest
			max-width 300px
			padding 2rem
			

.button-solid
	display table
	margin 2rem auto
	
.title
	font-family 'Oswald'
	font-size 1.5rem
	color #585858
	line-height 1em
	text-align center
	margin 2rem
	text-transform uppercase
	
.interest-error
	color #f54545
	font-weight bold
	text-transform uppercase
	font-family 'Raleway'
	letter-spacing .5px
	text-align center
	font-size .8rem
	margin 1rem