/*------------------------------------*
	$ SHIPPING
*------------------------------------*/
@import 'base.styl'

@import 'elements/inputs.styl'
@import 'elements/buttons.styl'

.title
	font-family: 'Oswald';
	font-size: 1.5rem;
	color: #585858;
	letter-spacing: 1px;
	padding: 0 1rem;
	padding-top: 2rem;
	margin: auto;
	display: table;

.addresses
	border solid 1px #ddd
	// display table
	max-width 500px
	margin 2rem auto
	border-radius 4px
.address
	display flex
	align-items center
	font-family: 'Roboto Condensed';
	cursor pointer
	&.selected
		background #e9f3f5
	&:not(:first-child)
		border-top solid 1px #ddd
	&-check
		padding .5rem
	&-info
		padding .5rem
		letter-spacing: .5px;
		&-title
			padding-bottom .25rem
			color: #111;
		&-text
			color: #333;
			font-size .9rem
			font-weight: 300;

.shipping-form
	box-shadow: none;
	border none
	border-top solid 1px #ddd
	display none
	label
		font-weight: 400;
	input
		// font-weight: 300;
		// letter-spacing: 1px;
		font-family: Arial;
		font-size: .9rem !important;
		color: #777;

.button-solid
	margin auto
	display table
	margin-bottom 2rem