/*------------------------------------*
	$ SINGLE PRODUCT
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'

@import 'objects/products.styl'


.single-product
	max-width max-width
	margin auto
	// padding 1rem .5rem
	padding 1rem 0

	&__title
		text-align center
		padding 1rem
		
	&__artist
		font-family 'Roboto Condensed'
		letter-spacing 1px
		font-size 1.15rem
		display flex
		align-items center
		justify-content center
		padding 0 1rem
		.avatar
			max-width 2.5rem
			margin 0 .5em
			img
				border-radius 50%
		.name
			font-style italic
				
	&__info
		padding 1rem 0
		max-width
		&__image
			padding .5rem
			img
				width auto
				max-width 100%
				margin auto
				display block
		&__data
			.actions
				padding .5rem
				.actions__title
					color #444
					font-family 'Roboto Condensed'
					padding .5rem
					font-size 1rem
					text-transform uppercase
				.actions__social
					padding 0 .5rem
					padding-top 1rem
					display flex
					justify-content space-between
					align-items center
					.price
						font-family 'Raleway'
						font-size 1.5rem
						font-weight 700
				.actions__buy
					margin 1rem .5rem
				.actions__people
					display flex
					flex-wrap wrap
					justify-content center
					padding 0 .4rem
					padding-bottom .5rem
					.people-item
						padding .1rem
						img
							width 2.25rem
							height 2.25rem
							border-radius 50%
				.actions__more
					display flex
					flex-wrap wrap
	
	&__similar
		.actions-title
			color #444
			font-family 'Roboto Condensed'
			padding 0 1rem
			margin-top 1rem
			font-size 1.25rem
			text-transform uppercase
			letter-spacing 1px

.more-image
	flex 1 50%
	padding .5rem
										
@media (min-width: 400px)
	.more-image
		flex 1 33.333%

@media (min-width: tablet)
	.single-product
		&__header
			display flex
			justify-content center
		&__info
			display flex
			justify-content center
			// max-width 800px
			// margin auto
			&__image
				flex 1.5
			&__data
				max-width 350px
				flex 1
				.actions
					border solid 1px #ccc
					margin .5rem 1rem
	.more-image
		flex 1 50%