/*------------------------------------*
	$ ACCOUNT
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'
@import 'elements/inputs.styl'

label
	color #585858
	font-weight 600
	font-size 0.85rem
	letter-spacing 1px
	font-family 'Raleway'
	text-transform uppercase
.input-container
	display flex