/*------------------------------------*
	$ ADD WORK
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'
@import 'elements/inputs.styl'


.add-work
	max-width max-width
	margin auto
	&__title
		font-family 'Oswald'
		font-size 1.75rem
		color #585859
		letter-spacing 0.5px
		line-height 1em
		text-align center
		margin 1.5rem
	&__data
		margin .5rem
		.title
			margin .25rem 0
			font-family 'Roboto Condensed'
			color #444
			letter-spacing .75px
		.input
			margin .25rem 0
		.checkbox-list
			margin .25rem 0

.work-data
	&__input
		padding .5rem
		
@media (min-width: desktop)
	.work-data
		display flex
		flex-wrap wrap
		&__input
			flex 1 50%
			
.upload-images
	display flex
	flex-wrap wrap
	justify-content center
	align-items center
	.upload-image
		margin .5rem
		display flex
		position relative
		input
			position absolute
			width 100%
			top 0
			bottom 0
			opacity 0
			font-size 0
			cursor pointer
			z-index 1
		.inner
			position absolute
			top 0
			left 0
			bottom 0
			width 100%
			display flex
			align-items center
			padding 1rem
			justify-content center
			flex-wrap wrap
			text-align center
			font-family "Roboto Condensed"
			font-size 1.25rem
			color #585858
			.fa
				font-size 2rem
		&.defout
			background #f6f6f6
			height 200px
			width 150px
		&.preview
			.inner
				display none
				background rgba(white, .5)
				color #444
			&:hover
				.inner
					display flex

.checkbox-list
	max-height 200px
	overflow auto
	&__item
		display flex
		align-items center
		padding .25rem
		font-family 'Raleway'
		cursor pointer
		font-size .8rem
		letter-spacing 1px
		&:hover
			background #eee
		span
			padding-left .25rem

.radio-list
	display flex
	align-items center
	font-family 'Raleway'
	font-size .8rem
	label
		padding-right .5rem
