// @import 'lib/reset.styl'
// @import 'lib/mixins.styl'

// @import 'elements/variables.styl'

// html
// 	font-size 90%

// @media (min-width: tablet-medium)
// 	html
// 		font-size 100%

// .header
// 	display flex
// 	justify-content space-between
// 	align-items center
// 	max-width max-width
// 	margin .5rem auto

// .category-menu
// 	border-top 1px solid #eee
// 	border-bottom 1px solid #eee
// 	.thick-menu
// 		max-width max-width
// 		margin auto



/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/
@import 'lib/reset.styl'
@import 'lib/mixins.styl'
@import 'elements/variables.styl'


html
	font-size 90%

@media (min-width: tablet-medium)
	html
		font-size 100%