/*------------------------------------*
	$ NIB
*------------------------------------*/
@import 'nib'

/*------------------------------------*
	$ BASE
*------------------------------------*/
@import 'base.styl'

/*------------------------------------*
	$ LOGOS
*------------------------------------*/
@import 'elements/logos.styl'

/*------------------------------------*
	$ MENUS
*------------------------------------*/
@import 'elements/menus.styl'

/*------------------------------------*
	$ TEXTS
*------------------------------------*/
@import 'elements/texts.styl'

/*------------------------------------*
	$ FILTERS
*------------------------------------*/
@import 'elements/filters.styl'

/*------------------------------------*
	$ INPUTS
*------------------------------------*/
@import 'elements/inputs.styl'

/*------------------------------------*
	$ WORKS
*------------------------------------*/
@import 'elements/works.styl'

/*------------------------------------*
	$ BUTTONS
*------------------------------------*/
@import 'elements/buttons.styl'

/*------------------------------------*
	$ ARTISTS
*------------------------------------*/
// @import 'elements/artists.styl'

.slogan
	padding 1rem
	text-align center
	max-width max-width
	margin auto
	.button-solid
		margin .5rem

// .works
// 	max-width max-width
// 	margin auto
	
.works-container
	display flex
	max-width max-width
	margin auto
	padding 0 .5rem
	&__works
		flex 1
	&__left-filters
	&__right-filters
		// width 50px
		width 0
		// width auto
		// display flex
		overflow hidden
		transition width .5s
	&__left-filters.visible
	&__right-filters.visible
		width auto
		// width 150px

.more-works
	max-width max-width
	margin auto
	text-align center
