/*------------------------------------*
	$ NIB
*------------------------------------*/
@import 'nib'

/*------------------------------------*
	$ BASE
*------------------------------------*/
@import 'base.styl'

/*------------------------------------*
	$ LOGOS
*------------------------------------*/
@import 'elements/logos.styl'

/*------------------------------------*
	$ MENUS
*------------------------------------*/
@import 'elements/menus.styl'

/*------------------------------------*
	$ TEXTS
*------------------------------------*/
@import 'elements/texts.styl'

/*------------------------------------*
	$ BUTTONS
*------------------------------------*/
@import 'elements/buttons.styl'

/*------------------------------------*
	$ ARTISTS
*------------------------------------*/
@import 'elements/artists.styl'


.artists
	max-width max-width
	margin auto
