/*------------------------------------*
	$ NIB
*------------------------------------*/
@import 'nib'

/*------------------------------------*
	$ BASE
*------------------------------------*/
@import 'base.styl'

/*------------------------------------*
	$ LOGOS
*------------------------------------*/
@import 'elements/logos.styl'

/*------------------------------------*
	$ MENUS
*------------------------------------*/
@import 'elements/menus.styl'

/*------------------------------------*
	$ TEXTS
*------------------------------------*/
@import 'elements/texts.styl'

/*------------------------------------*
	$ FILTERS
*------------------------------------*/
@import 'elements/filters.styl'

/*------------------------------------*
	$ INPUTS
*------------------------------------*/
@import 'elements/inputs.styl'

/*------------------------------------*
	$ WORKS
*------------------------------------*/
@import 'elements/works.styl'

/*------------------------------------*
	$ BUTTONS
*------------------------------------*/
@import 'elements/buttons.styl'

/*------------------------------------*
	$ ARTISTS
*------------------------------------*/
// @import 'elements/artists.styl'

.slogan
	padding 1rem
	text-align center
	max-width max-width
	margin auto
	.button-solid
		margin .5rem

// .works
// 	max-width max-width
// 	margin auto

.more-works
	max-width max-width
	margin auto
	text-align center