/*------------------------------------*
	$ PROFILE
*------------------------------------*/
@import 'base.styl'

/*------------------------------------*
	$INT TO STRING
*------------------------------------*/
str(x)
	return '' + unit(x, '')
	
@import 'elements/buttons.styl'

@import 'objects/works.styl'
@import 'objects/products.styl'
@import 'objects/users.styl'


.profile
	background #f6f6f6
	overflow hidden
	&__information
		max-width max-width
		margin 1.5rem auto
		display flex
		align-items center
	&__avatar
		margin 0 1rem
		width 5rem
		img
			border-radius 50%
	&__data
		.profile__info
			margin-top .75rem
			display flex
			align-items center
			.skinny-text
				padding-right 1rem
	&__elements
		background white
		border-top solid 1px #ddd
	&__element
		display none


@media (min-width: tablet)
	.profile
		&__avatar
			width 7rem
			img
				border solid 5px #ccc

@media (min-width: tablet-medium)
	.profile
		&__avatar
			width 9rem