/*------------------------------------*
	$ SIGNUP
*------------------------------------*/
@import 'base.styl'

@import 'elements/inputs.styl'
@import 'elements/buttons.styl'

@import 'objects/auth.styl'


.background-container
	min-height 56rem