/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/
@import 'nib'
@import 'base.styl'

@import 'elements/menus.styl'
@import 'elements/logos.styl'
@import 'elements/texts.styl'
@import 'elements/buttons.styl'

@import 'objects/header.styl'
@import 'objects/category-menu.styl'
@import 'objects/footer.styl'


.single-product
	max-width max-width
	margin auto
	padding 1rem .5rem
	// padding .75rem .5rem

	&__title
		text-align center
		padding .5rem
		
	&__artist
		font-family 'Roboto Condensed'
		letter-spacing 1px
		font-size 1.15rem
		display flex
		align-items center
		justify-content center
		padding 0 .5rem
		.avatar
			max-width 2.5rem
			margin 0 .5em
			img
				border-radius 50%
		.name
			font-style italic
				
	&__info
		padding 1rem 0
		max-width
		&__image
			padding .5rem
			img
				max-width 300px
				margin: auto;
				display: block;
		&__data
			.actions
				padding .5rem
				.actions__social
					display flex
					justify-content space-between
					align-items center
					.price
						font-family 'Raleway'
						font-size 1.5rem
						font-weight 700
				.actions__buy
					margin 1rem 0
				.actions__people
					display flex
					flex-wrap wrap
					justify-content center
					.people-item
						padding .1rem
						img
							width 2.25rem
							height 2.25rem
							border-radius 50%
							// margin .5rem
					
			// .people
			// 	padding .25rem
			// 	justify-content center
			// 		margin .25rem
			// 		img
			// 			border-radius 50%
				
										
@media (min-width: tablet)
	.single-product
		&__header
			display flex
			justify-content center
		&__info
			display flex
			justify-content center
			align-items center
			max-width 800px
			margin auto
			&__image
				flex 2
			&__data
				flex 1
				.actions
					border solid 1px #ccc
					margin .5rem
					padding 1rem
				// .people
				// 	border solid 1px #ccc
				// 	margin .5rem
				// 	padding .5rem
				// 	