/*------------------------------------*
	$ INPUTS
*------------------------------------*/
.am-Search-input
	border-radius 50px
	overflow hidden
	display flex
	position relative
	input
		padding 10px 20px
		flex 1
		color #868686
		font-family 'Montserrat', sans-serif
	.search-icon
		background #85d78d
		// padding 8px 20px 12px 16px
		padding 10px 15px 10px 10px
		color white
		cursor pointer
		font-size 1.35em
	.closed
		position: absolute;
		right: 65px;
		color: #aaa;
		top: 10px;
		cursor pointer

.am-Search-input2
	border-radius 50px
	overflow hidden
	display flex
	min-width 300px
	input
		padding 8px 20px
		flex 1
		color #333
		font-family 'Montserrat', sans-serif
		border solid 1px #3f3f3f
		border-radius 50px 0 0 50px
		font-size 12px
	i
		background #333333
		color white
		cursor pointer
		padding 7px 10px


.am-Email-input
	border-radius 4px
	overflow hidden
	display flex
	input
		font-family 'Montserrat', sans-serif
		background #2e2e30
		padding 10px 17px
		font-size 14px
		color #868686
		flex 1
	i
		background #8bd393
		font-size 1.15em
		padding 10px
		color white