.singleProduct
	&-name
		font-family OpenSans
		font-size 23px
		color #393d3f
	&-by
		font-family OpenSans
		font-size 16px
		color #393d3f
		a
			text-decoration underline
			color #333333
	&-finalPrice
		font-family DIN
		font-size 23px
		color #4000ff
	
	&-selects
		display: flex;
		justify-content: space-between;
		max-width 300px
	&-select
		appearance: none;
		border 1px solid #979797
		font-family: OpenSans;
		padding 5px 20px
		background white
		border-radius 0
		font-size 14px
		color #333

	&-price
		font-family DIN
		font-size 23px
		text-decoration line-through
		color #61565a
	&-btn
		display flex
		justify-content: center;
	&-text 
		color #838c8e
		font-family: OpenSans;
		font-size 12px
		display flex
		align-items center
		i
			color #848d8f
			margin-right 10px
			font-size 15px
			
	&-preview
		border 1px solid #ddd
		padding 5px
		cursor zoom-in
		display flex
		justify-content center
		margin 5px

@media (max-width: 999px)
	.singleProduct
		&-previews
			display flex
			justify-content center

	// &-info
	// 	font-family OpenSans !important
	// 	color #666 !important
	// 	margin-top 10px
	// 	&-text
	// 		font-size 12px
	// 		margin-bottom 4px
	// 	&-icon
	// 		float left
	// 		margin-right 17px
	// &-btn
	// 	background #4000ff !important
	// 	border-radius 0 !important
	// 	padding 12px 9% !important
	// 	margin-bottom 10px
	// &-description
	// 	display flex
	// 	border-top 1px solid #ddd
	// 	font-family OpenSans
	// 	&-box
	// 		width 50%
	// 		padding 40px
	// 		font-size 14px
	// 		color #666
	// 		&-title
	// 			font-size 24px
	// 			margin-bottom 5px
	// 		&-space
	// 			margin-top 30px
	// 		a
	// 			text-decoration underline !important
	// 			color #666 !important
	
		
	// &-images
	// 	margin-right 20px
	// 	&-container
	// 		border 1px solid #ddd
	// 		padding 5px
	// 		margin-bottom 8px
	// 		cursor zoom-in
	// &-icon
	// 	border-color #4000ff
	// 	background #4000ff
	// 	color #fff !important

// @media (max-width: 999px)
// 	.singleProduct
// 		&-images
// 			display flex
// 			justify-content center
// 			margin-right 0
// 			&-container
// 				margin-bottom 30px
// 				margin-right 8px

// @media (max-width: 768px)
// 		&-btn
// 			padding: 12px 25% !important
// 		&-description
// 			&-box
// 				padding 25px