.singleProduct
	&-name
		font-family OpenSans !important
		font-size 20px !important
		line-height 1.01 !important
		letter-spacing -0.2px !important
	&-by
		font-family OpenSans !important
		font-size 14px !important
		line-height 1.34 !important
		a
			text-decoration underline !important
			color #666 !important
	&-finalPrice
		font-family DIN !important
		font-size 20px !important
		color #4000ff !important
		font-weight 500 !important
		margin-right 9%
	&-price
		font-family DIN !important
		font-size 20px !important
		text-decoration line-through !important
	&-info
		font-family OpenSans !important
		color #666 !important
		margin-top 10px
		&-text
			font-size 12px
			margin-bottom 4px
		&-icon
			float left
			margin-right 17px
	&-btn
		background #4000ff !important
		border-radius 0 !important
		padding 12px 9% !important
		margin-bottom 10px
	&-description
		display flex
		border-top 1px solid #ddd
		font-family OpenSans
		&-box
			width 50%
			padding 40px
			font-size 14px
			color #666
			&-title
				font-size 24px
				margin-bottom 5px
			&-space
				margin-top 30px
			a
				text-decoration underline !important
				color #666 !important
	&-images
		&-container
			border 1px solid #ddd
			padding 5px
			margin-bottom 8px
			cursor pointer
	&-icon
		border-color #4000ff
		background #4000ff
		color #fff !important

@media (max-width: 768px)
	.singleProduct
		&-images
			display flex
			justify-content center
			order 2
			&-container
				margin-bottom 30px
				margin-right 8px
		&-btn
			padding: 12px 25% !important
		&-description
			&-box
				padding 25px