/*------------------------------------*
	$ TEXTS
*------------------------------------*/
.am-Header-text
	font-family 'Montserrat', sans-serif
	color charcoal-grey
	letter-spacing 1px
	font-size 12.4px
	i
		font-size 13px

.am-NavigationMenu-title-text
	font-family 'Montserrat', sans-serif
	font-weight bold
	font-size 18px
	color white
	&[data-size="large"]
		font-size 22px

.am-NavigationMenu-description-text
	font-family 'PT Serif', serif
	color warm-grey
	line-height 1.4
	font-size 14px

.am-NavigationMenu-subTitle-text
	font-family 'Montserrat', sans-serif
	letter-spacing 2px
	font-weight bold
	font-size 11px
	color white

.am-NavigationMenu-item-text
	font-family 'Montserrat', sans-serif
	font-size 13px
	color rgba(white, .5)

.am-DiscoverTitle-text
	text-shadow 0px 2px 4px rgba(black, .5)
	font-family 'Montserrat', sans-serif
	font-weight bold
	font-size 30px
	color white

.am-navigation-text
	font-family 'Montserrat', sans-serif
	// font-size 21px
	font-size 20px
	text-align center
	color #333
	line-height 1.5
	font-weight bold
	cursor pointer
	&.link
		text-decoration underline
	&.small
		font-weight 100
		font-size 18px
		color #666

.am-collection-text
	font-family: 'Montserrat',sans-serif;
	color: gray;
	line-height: 1.5;
	text-align center
	span:first-child
		color: #333;
		font-size: 14px;
	// span:first-child
	// 	color

.am-collection-desc
	font-family: 'PT Serif',serif;
	font-size: 16px;
	color: #959ea0;
	line-height: 1.25;

.am-Footer-subtitle-text
	font-family 'Montserrat', sans-serif
	letter-spacing 2px
	font-weight bold
	font-size 11px
	color white

.am-Footer-text
	font-family 'PT Serif', serif
	font-size 14px
	color #666
	line-height 1.4

.am-Footer-title-text
	font-family 'Montserrat', sans-serif
	font-weight bold
	color white
	font-size 13px

.am-Footer-item-text
	font-family 'Montserrat', sans-serif
	font-size 13px
	color rgba(white, .56)
	a
		color rgba(white, .56)

.am-report-text
	font-family 'Montserrat', sans-serif
	color #9b9b9b
	font-size 12px

.am-report-link
	color #333
	font-weight bold
	&.blue
		color #4000ff


.am-more-text
	font-family 'Montserrat', sans-serif
	font-weight bold
	font-size 24px
	color #333

.account-title
	font-family 'Montserrat', sans-serif
	font-size 18px
	font-weight bold
	color #333
	cursor pointer
	max-width: 580px;
	margin: auto;
	i
		margin-right 10px