.tv-intro
	width 100%
	height calc(100vh - 64px)
	overflow hidden
	position relative
	video
		position absolute
		min-width 100%
		min-height 100%
		top 50%
		left 50%
		transform translate(-50%, -50%)
	.info-container
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		header
			max-width 1180px
			margin 0 auto
			margin-top 30px
			display flex
			align-items center
			padding 0 20px
			justify-content space-between
			h1
				font-family 'Montserrat'
				font-size 48px
				line-height 1.2
				font-weight bold
				letter-spacing -1.8px
				color white
			.contest-btn
				opacity 0.6
				border-radius 40px
				border solid 1px #eeeeee
				padding 15px 30px
				font-family 'Montserrat'
				font-size 11px
				line-height 1
				letter-spacing 2px
				text-align center
				color white
		.info
			display flex
			flex-direction column
			align-items center
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
			h1
				font-family 'Montserrat'
				font-size 48px
				line-height 1.2
				font-weight bold
				letter-spacing -1.8px
				text-align center
				text-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
				color white
				margin-bottom 15px
			p
				width 469.3px
				max-width 450px
				opacity 0.7
				font-family 'PT Serif'
				font-size 20px
				line-height 1.3
				text-align center
				color #ffffff
				font-weight normal
				text-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
				margin-bottom 20px
				
			a
				padding 10px 20px
				color white
				line-height 40px
				border-radius 2px
				background-color #2e71f0
				font-family 'Montserrat'
				font-weight bold
				font-size 13px
				line-height 1.8

	
.banners-container
	display flex
	height 150px
	background-color #efeff0

.latest-chapters
	max-width 1180px
	margin 0 auto
	margin-top 30px
	padding 10px 20px
	
	h3
		font-family 'Montserrat'
		font-size 25px
		color #202124
		padding-bottom 10px
		border-bottom 1px solid rgba(32,33,36, 0.2)
	div
		width 30px
		height 3px
		background-color blue

.chapters-container
	max-width 1180px
	margin 0 auto
	margin-top 30px
	padding 0 10px
	.chapter
		display flex
		margin-bottom 20px
		position relative
		width 100% 
		height 450px
		background-size cover
		background-position center
		.overlay
			left 0
			right 0
			top 0
			bottom 0
			position absolute
			.circle
				position absolute
				top 50%
				left 50%
				width 200px
				height 200px
				border 1px solid white
				border-radius 50%
				transform translate(-50%, -50%)
				.arrow
					top 50%
					left 50%
					transform translate(-50%, -50%)
					width 0px
					height 0px
					border-top 40px solid transparent
					border-bottom 40px solid transparent
					border-left 60px solid white
					border-radius 5px
					position absolute
			.info
				left 20px
				bottom 40px
				position absolute
				p
					font-family 'Montserrat'
					font-weight bold
					letter-spacing -1px
					color white
					text-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
					
				p:first-child
					font-size 24px
					margin-bottom 3px
				p:last-child
					font-size 28px