/*------------------------------------*
	$ LOGO
*------------------------------------*/
.logo
	padding .5rem 1rem
	// display table-cell
	&__small
		max-width 2rem
	&__normal
		max-width 11rem
		display none

// @media (min-width tablet-medium)


@media (min-width mobile-medium)
	.logo__small
		display none
	.logo__normal
		display block

@media (min-width mobile-large)
	.logo__normal
		max-width 13.5rem