<!-- ********************************************************************
	$ RESET
********************************************************************* -->
<form class="reset">
	<div class="reset-title">Cambiar contraseña</div>

	<div class="reset-subtitle">Contraseña nueva para {{ userReset.username }}</div>
	<input class="input" data-size='large' name="password" type="password">

	<div class="reset-subtitle">Confirmar contraseña</div>
	<input class="input" data-size='large' name="repassword" type="password">
	
	<div class="loading"><i class="fa fa-spinner"></i></div>
	<input class="button-solid" data-size='large' data-color='red' data-expand='true' value="Cambiar" type="submit">
</form>