<!-- ********************************************************************
    $ WORKS
********************************************************************* -->
<section class="works" data-columns>
	{% for work in works %}
		<article class="work" data-index="{{ loop.index }}">
			<img src="{{ work.photo }}">
			<div class="cover">
				{% if work.liked %}
					<div class="social-item active">
						<i class="fa fa-heart"></i>
					</div>
				{% else %}
					<div class="social-item">
						<i class="fa fa-heart"></i>
					</div>
				{% endif %}
			</div>
		</article>
	{% endfor %}
</section>