/*------------------------------------*
	$ LOGIN
*------------------------------------*/
.auth-container
	margin auto
	max-width 400px
.auth
	position relative
	margin 1.5rem 1rem
	padding 1rem 1.5rem
	box-shadow rgba(0,0,0,0.35) 0 0 10px
	background rgba(white, .8)
	&__header
		display flex
		padding .5rem
		justify-content center
	&__form
		.facebook-button
			margin 1rem 0
		.input
		.separator-text
		.button-solid
			margin .5rem 0
		.username-error
		.email-error
		.password-error
		.firstname-error
		.lastname-error
			color #f54545
			margin-top -.5rem
			font-weight bold
			text-transform uppercase
			font-family 'Raleway'
			font-size .8rem
			padding .5rem .25rem
			display none
			letter-spacing .5px
		.question
			display flex
			margin 1rem 0
			align-items center
		.note
			margin 1rem 0
		.loading
			text-align center
			font-size 1.5rem
			color #aaa
			margin 1rem
			display none
			.fa
				animation 1.5s circle infinite
			&.visible
				display block
		.g-recaptcha
			display table
			margin auto
		

@keyframes circle
	0%
		transform rotate(0)
	50%
		transform rotate(-180deg)
	100%
		transform rotate(-360deg)
