
/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------*
	$ LOGIN MODAL
*------------------------------------*/
.login-modal
	position absolute
	top 0
	bottom 0
	width 100%
	background rgba(black, .6)
	padding 3rem 1.5rem
	overflow auto
	display none
	

/*------------------------------------*
	$ LOGIN COVER
*------------------------------------*/
.login-cover
	padding 2rem 1rem
	min-height 500px
	display flex
	.login-box
		flex 1
		
/*------------------------------------*
	$ LOGIN BOX
*------------------------------------*/
.login-box
	background white
	max-width 400px
	margin auto
	padding 1rem 1.5rem
	position relative
	// border solid 1px #ccc
	box-shadow rgba(0,0,0,0.35) 0 0 10px
	&__header
		display flex
		justify-content center
		padding .5rem
	&__form
		.facebook-button
			margin 1rem 0
		.input
		.separator-text
		.button-solid
			margin .5rem 0
		.question
			margin 1rem 0
		.note
			margin 1rem 0
			font-style italic
	&__closed
		position absolute
		top 0
		right 0
		transform translate(75%, -75%)
		color white
		font-size 1.25rem
		padding .5rem
		cursor pointer
