/*------------------------------------*
	$ LOGIN
*------------------------------------*/
.login-container
	margin auto
	max-width 400px
.login
	position relative
	margin 1.5rem 1rem
	padding 1rem 1.5rem
	box-shadow rgba(0,0,0,0.35) 0 0 10px
	&__header
		display flex
		padding .5rem
		justify-content center
	&__form
		.facebook-button
			margin 1rem 0
		.input
		.separator-text
		.button-solid
			margin .5rem 0
		.question
			display flex
			margin 1rem 0
			align-items center
		.note
			margin 1rem 0
		.loading
			text-align center