/*------------------------------------*
	$ PRODUCTS
*------------------------------------*/
.products
	margin .5rem
	display flex
	flex-wrap wrap
	.product-wrapper
		padding .5rem

.product
	border 1px solid #ddd
	position relative
	transition box-shadow ease-in-out 125ms
	&:hover
		box-shadow rgba(0,0,0,0.35) 0 0 10px
	.product-image
		position relative
		display block
		.cover
			position absolute
			top 0
			bottom 0
			width 100%
			background rgba(black, .25)
			display none
			flex-direction column
			justify-content center
			align-items center
			.button-solid
				margin .5rem
	.product-title
		border-bottom 1px dashed #e6e8ec
		padding .5em
		.title
			font-size .8em
			letter-spacing 1px
			font-family 'Raleway'
			white-space nowrap
			overflow hidden
	.product-info
		padding .5em
		display flex
		justify-content space-between
		.price
			font-size .9em
			font-weight 500
			letter-spacing .5px
			font-family 'Raleway'

.product-image:hover
	.cover
		display flex
			
			
		

// product-width = 200px
product-width = 180px

@media screen and (min-width: product-width*2)
	.products
		display flex
		flex-wrap wrap
		.product-wrapper
			flex 1 50%
			max-width 50%
			
@media screen and (min-width: product-width*3)
	.products
		.product-wrapper
			flex 1 33.333%
			max-width 33.333%
			
@media screen and (min-width: product-width*4)
	.products
		.product-wrapper
			flex 1 25%
			max-width 25%

@media screen and (min-width: product-width*5)
	.products
		.product-wrapper
			flex 1 20%
			max-width 20%
			
@media screen and (min-width: max-width)
	.products.moveLeft
		.product-wrapper
			flex 1 25%
			max-width 25%
	.products.moveRight
		.product-wrapper
			flex 1 25%
			max-width 25%

	.products.moveLeft.moveRight
		.product-wrapper
			flex 1 33.333%
			max-width 33.333%
		
/*------------------------------------*
	$ COLLECT
*------------------------------------*/
.collect
	border 2px solid #c6c9d0
	background #fff
	box-shadow 0 0 1px #d7dae0
	padding .5rem
	text-align center
	.collect-title
		// white-space nowrap
		margin 0.5rem
		font-family 'Oswald'
		color #222
		letter-spacing .5px
	.checkbox-list
		margin .5rem
	.button-solid
		margin .5rem
		
.checkbox-list
	&__item
		display flex
		align-items center
		padding .25rem
		font-family 'Raleway'
		cursor pointer
		font-size .8rem
		letter-spacing 1px
		&:hover
			background #eee
		span
			padding-left .25rem
		.fa-check-square-o
			color rgba(green ,5)
			display none
	
.checkbox-list__item.active
	.fa-check-square-o
		display block
	.fa-square-o
		display none
		