/*------------------------------------*
	$ PRODUCTS
*------------------------------------*/

.products
	margin .5rem
	display flex
	flex-wrap wrap
	.product-wrapper
		padding .5rem

.product
	border 1px solid #ddd
	position relative
	transition box-shadow ease-in-out 125ms
	.product-info
		border-bottom: 1px dashed #e6e8ec
		padding .5em 1em
		display flex
		justify-content space-between
		.title
			font-size .8em
			letter-spacing 1px
			font-family 'Raleway'
		.price
			font-size .9em
			font-weight 500
			letter-spacing .5px
			font-family 'Raleway'
			// color #5794db
	.product-social
		padding .5em 1em
		display flex
		justify-content space-between
		.price
			font-size .9em
			font-weight 500
			letter-spacing .5px
			font-family 'Raleway'
	&:hover
		box-shadow rgba(0,0,0,0.35) 0 0 10px

// product-width = 200px
product-width = 180px

@media screen and (min-width: product-width*2)
	.products
		display flex
		flex-wrap wrap
		.product-wrapper
			flex 1 50%
			max-width 50%
			
@media screen and (min-width: product-width*3)
	.products
		.product-wrapper
			flex 1 33.333%
			max-width 33.333%
			
@media screen and (min-width: product-width*4)
	.products
		.product-wrapper
			flex 1 25%
			max-width 25%

@media screen and (min-width: product-width*5)
	.products
		.product-wrapper
			flex 1 20%
			max-width 20%
			
@media screen and (min-width: max-width)
	.products.moveLeft
		.product-wrapper
			flex 1 25%
			max-width 25%
	.products.moveRight
		.product-wrapper
			flex 1 25%
			max-width 25%

	.products.moveLeft.moveRight
		.product-wrapper
			flex 1 33.333%
			max-width 33.333%