/*------------------------------------*
	$ USERS
*------------------------------------*/
.users
	margin .5rem
	// min-height 500px

.user-wrapper
	padding .5rem

.user
	// margin 1rem
	border 1px solid #ddd
	transition box-shadow ease-in-out 125ms
	position relative
	.user-header
		display flex
		margin .5em
		.avatar
			flex 1
			// max-width 60px
			max-width 3.75rem
			padding .5em
			img
				border-radius 50%
		.info
			display flex
			padding .25em
			flex-direction column
			justify-content center
	.user-works
		display flex
		flex-wrap wrap
		.work
			width 33.333333%
			background-size cover
			// height 100px
			height 80px
			background-position center center
	.user-follow
		padding 1em .5rem
		display flex
		justify-content center
	&:hover
		box-shadow rgba(0,0,0,0.35) 0 0 10px
	&__featured
		position absolute
		top 0
		right 0
		transform translate(-12.5%, -37.5%)
		
// user-width = 200px
user-width = 180px

@media screen and (min-width: user-width*2)
	.users
		display flex
		flex-wrap wrap
		.user-wrapper
			flex 1 50%
			max-width 50%
			
@media screen and (min-width: user-width*3)
	.users
		.user-wrapper
			flex 1 33.333%
			max-width 33.333%
			
@media screen and (min-width: user-width*4)
	.users
		.user-wrapper
			flex 1 25%
			max-width 25%

@media screen and (min-width: user-width*5)
	.users
		.user-wrapper
			flex 1 20%
			max-width 20%
			
	.users.smallLeft
		.user-wrapper
			flex 1 25%
			max-width 25%
			
	.users.smallRight
		.user-wrapper
			flex 1 25%
			max-width 25%
			
	.users.smallLeft.smallRight
		.user-wrapper
			flex 1 33.333%
			max-width 33.333%
