{% extends '../../partials/base.html' %}

{% set path = 'addresses' %}
{% set title = 'Arte Manifiesto | Addresses' %}
{% set css = 'account' %}

{% block elements %}

    {% include '../../partials/account.html' %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    // var successMessage = {{ successMessage|json|safe }}
    // console.log('successMessage: ', successMessage)

    // var errorMessage = {{ errorMessage|json|safe }}
    // console.log('errorMessage: ', errorMessage)
    
    var user = {{ user|json|safe }}
    console.log('user: ', user)
</script>

{% endblock %}
