{% extends '../../partials/base.html' %}
{% set pageTitle = 'Configuración' %}

{% block elements %}
	<div class="am-profile" style="padding-left: 0; padding-right: 0;">

		<div class="grid-container u-margin-top-20">
			<div class="grid-100">
				<p class="account-title"><i class="fa fa-caret-down"></i>Configuracion de cuenta</p>
			</div>
		</div>

		<div class="grid-container">
			<div class="grid-100">
				{% if !context %}
					{% include '../../partials/account-menu.html' %}
				{% endif %}
				<div class="am-profile-box grid-container u-margin-top-20">
					<form class="complete-form">
						<p class="title">Desactivar cuenta</p>

						<button class="button upload delete red u-margin-top-40" data-color="green" style="position: relative;">DESACTIVAR</button>

						<div class="edit-options work-delete-confirm hide" style="display: block;">
		  					DESACTIVAR CUENTA? &nbsp;
		  					<i class="bi_interface-box-tick work-delete-force save-icon" style="display: inline;"></i>
		  					<i class="bi_interface-box-cross work-delete-cancel cancel-icon" style="display: inline;"></i>
		  				</div>
					</form>
				</div>

			</div>
		</div>

	</div>
{% endblock %}

{% block scripts %}
	<script>
		var profile = {{profile|json|safe}};

		$(function() {
			$('.configuration').addClass('selected');
			new APP.AccountConfigurationScreen();
			$('.account-title').click(function () {
				$('.am-Filter.account.mobile').toggleClass('visible')
			});
		});
	</script>
{% endblock %}
