{% extends '../../partials/base.html' %}

{% set path = 'account' %}
{% set title = 'Arte Manifiesto | Account' %}
{% set css = 'account' %}

{% block elements %}

    {% include '../../partials/account.html' %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    console.log('index!')

    var successMessage = {{ successMessage|json|safe }}
    console.log('successMessage: ', successMessage)

    var errorMessage = {{ errorMessage|json|safe }}
    console.log('errorMessage: ', errorMessage)

    var user = {{ user|json|safe }}
    console.log('user: ', user)

    var categories = {{ categories|json|safe }}
    console.log('categories: ', categories)

    var specialties = {{ specialties|json|safe }}
    console.log('specialties: ', specialties)

    var interests = {{ interests|json|safe }}
    console.log('interests: ', interests)
</script>

<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/js/account.js"></script>

{% endblock %}
