{% extends '../../partials/base.html' %}


{% block elements %}
	<div class="am-profile">
		<div class="am-profile-box grid-container">

			<div class="grid-100">
				<p class="title">Elige tu foto de perfil:</p>
				<button class="button upload u-margin-top-30">BUSCAR ARCHIVO</button>
				<p class="title">Nombre como artista</p>
				<input class="input" type="text" placeholder="Ingresa tu nombre de artista, pseudónimo o alter ego"/>
				<p class="title">Nombre</p>
				<input class="input" type="text" placeholder="Ingresa tus nombres"/>
				<p class="title">Apellido</p>
				<input class="input" type="text" placeholder="Ingresa tus apellidos"/>
				<p class="title">Usuario en la plataforma</p>
			</div>

			<div class="grid-50 mobile-grid-100">
				<p class="link" style="line-height: 46px;">http://artemanifiesto.com/user/</p>
			</div>
			<div class="grid-50 mobile-grid-100">
				<input class="input" type="text" placeholder="Ingresa tu usuario"/>
			</div>

			<div class="grid-50 mobile-grid-100">
				<p class="title">Genero</p>
				<select class="input select">
					<option disabled selected>Genero</option>
					<option>Masculino</option>
					<option>Femenino</option>
					<option>Julio</option>
				</select>
			</div>
			<div class="grid-50 mobile-grid-100">
				<p class="title">Fecha de nacimiento</p>
				<input class="input" type="text" placeholder="dd/mm/yy"/>
			</div>

			<div class="grid-50 mobile-grid-100">
				<p class="title">País</p>
				<select class="input select">
					<option disabled selected>Elige tu pais</option>
					<option>Peru</option>
					<option>Argentina</option>
					<option>Chile</option>
					<option>Bolivia</option>
				</select>
			</div>
			<div class="grid-50 mobile-grid-100">
				<p class="title">Ciudad</p>
				<input class="input" type="text" placeholder="Ingresa tu ciudad de residencia actual"/>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Redes Sociales</p>
				<div class="socials">
					<div class="social">
						<i class="fa fa-facebook"></i>
						<input class="input" type="text" placeholder="Ingresa tu link de tu página en facebook"/>
					</div>
					<div class="social">
						<i class="fa fa-twitter"></i>
						<input class="input" type="text" placeholder="Ingresa tu link del perfil en twitter"/>
					</div>
					<div class="social">
						<i class="fa fa-instagram"></i>
						<input class="input" type="text" placeholder="Ingresa tu link del perfil en instagram"/>
					</div>
					<div class="social">
						<i class="fa fa-behance"></i>
						<input class="input" type="text" placeholder="Ingresa tu link del perfil en behance"/>
					</div>
					<div class="social">
						<i class="fa fa-tumblr"></i>
						<input class="input" type="text" placeholder="Ingresa tu link del perfil en tumblr"/>
					</div>
					<div class="social">
						<i class="fa fa-wordpress"></i>
						<input class="input" type="text" placeholder="Ingresa tu link de tu blog"/>
					</div>
					<div class="social">
						<i class="fa fa-vimeo"></i>
						<input class="input" type="text" placeholder="Ingresa tu link del perfil en vimeo"/>
					</div>
					<div class="social">
						<i class="fa fa-dribbble"></i>
						<input class="input" type="text" placeholder="Ingresa tu link del perfil en dribble"/>
					</div>
				</div>
				<p class="title">Mi Manifiesto</p>
				<textarea rows="7" class="input" placeholder="Cuentanos sobre tí, lo que te define lo que hace que te levantes cada día."></textarea>
				<p class="title">Elige tus intereses</p>
			</div>

			<div class="interests">
				<div class="interest"><p>Pintura y Técnica mixta</p></div>
				<div class="interest"><p>Diseño e Ilustración</p></div>
				<div class="interest"><p>Collage</p></div>
				<div class="interest"><p>Fotografía</p></div>
				<div class="interest"><p>Street Art</p></div>
				<div class="interest"><p>Arte Digital</p></div>
				<div class="interest"><p>Dibujo</p></div>
				<div class="interest"><p>Esculturas</p></div>
				<div class="interest"><p>Grabados</p></div>
			</div>

			<div class="grid-100 mobile-grid-100">
				<button class="button u-margin-top-30" data-color="green">GUARDAR CAMBIOS</button>
			</div>

		</div>
	</div>
{% endblock %}
