{% extends '../../partials/base.html' %}
{% block elements %}
	<div class="am-profile">

		{% if !context %}
		<div class="single-tabs" style="max-width: 580px; margin: auto;">
		  <a href="/user/{{user.username}}/account/" class="single-tab selected" style="padding: 10px;">
		    <p style="padding: 5px;">DATOS</p>
		  </a>
		  <a href="/user/{{user.username}}/account/password" class="single-tab" style="padding: 10px;">
		    <p style="padding: 5px;">PASSWORD</p>
		  </a>
		</div>
		{% endif %}

		<div class="am-profile-box grid-container">
			<form class="complete-form">
				<div class="grid-100">
					<div class="uploader-profile">
						<div class="profile-imgage">
							<div class="preview">
								<img src="{{user.photo}}"/>
							</div>
						</div>
						<div class="preload hide"><i class="fa fa-spinner"></i></div>
						<button class="button upload u-margin-top-30">BUSCAR ARCHIVO</button>
					</div>

					<div class="image-uploader" style="position:relative;">
						{{ cloudinary.uploader.image_upload_tag('photo', {callback: cloudinary_cors, return_delete_token: true, html: { style: "width:230px;height:55px;top:-70px;left: 105px;" } })}}
					</div>
					<p class="title">Nombre</p>
					<input class="input" type="text" value="{{user.firstname}}" name='firstname'  placeholder="Ingresa tus nombres"/>
					<p class="title">Apellido</p>
					<input class="input" type="text" value="{{user.lastname}}" name='lastname'  placeholder="Ingresa tus apellidos"/>
					<p class="title">Usuario en la plataforma</p>
				</div>

				<div class="grid-50 mobile-grid-100">
					<p class="link" style="line-height: 46px;">artemanifiesto.com/user/</p>
				</div>
				<div class="grid-50 mobile-grid-100">
					<input class="input" type="text" name='username' value="{{user.username}}"  placeholder="Ingresa tu usuario"/>
				</div>

				<!-- <div class="grid-100">
					<p class="title">Nombre a mostrar publicamente</p>
					<input class="input" type="text" value="" name='lastname'  placeholder="Ingresa tu nombre como artista o pseudónimo"/>
				</div> -->

				<div class="grid-50 mobile-grid-100">
					<p class="title">Genero</p>
					<select class="input select" name='gender' >
						<option disabled selected>Genero</option>
						<option>Masculino</option>
						<option>Femenino</option>
					</select>
				</div>
				<div class="grid-50 mobile-grid-100">
					<p class="title">Fecha de nacimiento</p>
					<input id="date" class="input" type="text" name='birthday' value="{{user.birthday|date('d/m/Y')}}"  placeholder="dd/mm/yy"/ maxlength="8">
				</div>

				<div class="grid-50 mobile-grid-100">
					<p class="title">País</p>
					<select class="input select" name='country' >
						<option disabled selected>Elige tu pais</option>
						<option>Peru</option>
						<option>Argentina</option>
						<option>Chile</option>
						<option>Bolivia</option>
					</select>
				</div>
				<div class="grid-50 mobile-grid-100">
					<p class="title">Ciudad</p>
					<input class="input" name='city' value="{{user.city}}"  type="text" placeholder="Ingresa tu ciudad de residencia actual"/>
				</div>

				<div class="grid-100 mobile-grid-100">
					<p class="title">Redes Sociales</p>
					<div class="socials">
						<div class="social">
							<i class="fa fa-facebook"></i>
							<input class="input" name='facebook' value="{{user.facebook}}" type="text" placeholder="Ingresa tu link de tu página en facebook"/>
						</div>
						<div class="social">
							<i class="fa fa-twitter"></i>
							<input class="input" name='twitter' value="{{user.twitter}}" type="text" placeholder="Ingresa tu link del perfil en twitter"/>
						</div>
						<div class="social">
							<i class="fa fa-instagram"></i>
							<input class="input" name='instagram' value="{{user.instagram}}" type="text" placeholder="Ingresa tu link del perfil en instagram"/>
						</div>
						<div class="social">
							<i class="fa fa-behance"></i>
							<input class="input" name='behance' value="{{user.behance}}" type="text" placeholder="Ingresa tu link del perfil en behance"/>
						</div>
						<div class="social">
							<i class="fa fa-tumblr"></i>
							<input class="input" name='tumblr' value="{{user.tumblr}}" type="text" placeholder="Ingresa tu link del perfil en tumblr"/>
						</div>
						<div class="social">
							<i class="fa fa-wordpress"></i>
							<input class="input" name='blog' value="{{user.blog}}" type="text" placeholder="Ingresa tu link de tu blog"/>
						</div>
						<div class="social">
							<i class="fa fa-vimeo"></i>
							<input class="input" name='vimeo' value="{{user.vimeo}}" type="text" placeholder="Ingresa tu link del perfil en vimeo"/>
						</div>
						<div class="social">
							<i class="fa fa-dribbble"></i>
							<input class="input" name='dribble' value="{{user.dribble}}" type="text" placeholder="Ingresa tu link del perfil en dribble"/>
						</div>
					</div>
					<p class="title">Mi Manifiesto</p>
					<textarea name='biography' rows="7"  class="input" placeholder="Cuentanos sobre tí, lo que te define lo que hace que te levantes cada día.">{{user.biography}}</textarea>
					<p class="title">Elige tus intereses</p>
				</div>

				<div class="interests">
					{% for category in categories %}
						<div>
							<input type="checkbox" value='{{category.id}}' name="interests" id="interest-{{category.id}}"/>
							<label for="interest-{{category.id}}">
								<div class="interest" style="background-image: url('{{category.photo|addFilter('w_120,h_120,c_fill')}}')">
									<div class="cover"><p>{{category.name}}</p></div>
								</div>
							</label>
						</div>
					{% endfor %}
				</div>
				<div class="grid-100 mobile-grid-100">
					<button class="button save u-margin-top-30" data-color="green">GUARDAR CAMBIOS</button>
				</div>

				<div class="grid-100 save-loading hide mobile-grid-100">
					<button class="button u-margin-top-30" data-color="green"><i class="load fa fa-spinner"></i></button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
	var context = {{context|json|safe}};
	var interests = {{interests|json|safe}};
	$(function() {
		$.cloudinary.config({{cloudinary.config()|json|safe}});
		new APP.AccountIndexScreen();
	});
	</script>
{% endblock %}
