{% extends '../../partials/base.html' %}
{% block elements %}
	<div class="am-profile">
		<div class="am-profile-box grid-container">
			<form class="complete-form">
				<div class="grid-100">

					<p class="title">Nuevo password</p>
					<input class="input" type="password" name='password' required placeholder="Ingresa tu nuevo password"/>
					<p class="title">Repetir password</p>
					<input class="input" type="password" name='re-password' required placeholder="Repite tu nuevo password"/>
				</div>

				<div class="grid-100 mobile-grid-100">
					<button class="button save u-margin-top-30" data-color="green">GUARDAR CAMBIOS</button>
				</div>

				<div class="grid-100 save-loading hide mobile-grid-100">
					<button class="button u-margin-top-30" data-color="green"><i class="load fa fa-spinner"></i></button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
