{% extends '../../partials/base.html' %}

{% set path = 'password' %}
{% set title = 'Arte Manifiesto | Password' %}
{% set css = 'account' %}

{% block elements %}

    {% include '../../partials/account.html' %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    // console.log('index!')
    // var successMessage = {{ successMessage|json|safe }}
    // console.log('successMessage: ', successMessage)

    // var errorMessage = {{ errorMessage|json|safe }}
    // console.log('errorMessage: ', errorMessage)

    // var user = {{ user|json|safe }}
    // console.log('user: ', user)

    var tag = document.querySelector('.fa.fa-caret-down')
    var menu = document.querySelector('.account__menu')
    var open = false

    tag.addEventListener('click', function () {
    	if(open) {
    		menu.style.display = 'none'
    		open = false
    	}
    	else {
    		menu.style.display = 'block'
    		open = true
    	}
    })

</script>

{% endblock %}
