{% extends '../../partials/base.html' %}
{% set pageTitle = 'Administrar cuenta' %}

{% block elements %}
	<div class="am-profile" style="padding-left: 0; padding-right: 0;">



		<div class="grid-container u-margin-top-20">
			<div class="grid-100">
				<p class="account-title"><i class="fa fa-caret-down"></i>Quiero abrir mi tienda</p>
			</div>
		</div>

		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Filter account mobile u-margin-top-10">
					<div class="am-Filter-item">
						<header class="am-Filter-header">
							<i class="bi_user-single-a"></i><p>Mi cuenta</p>
						</header>
					</div>
					<div class="am-Filter-item">
						<ul class="am-Filter-subOptions">
							<a href="/user/{{profile.username}}/account/">Mis datos de perfil</a>
							<a href="#">Mis compras</a>
							<a href="#">Mis direcciones de envío</a>
							<a href="#">Métodos de pago</a>
							<a href="#">Configuracion cuenta</a>
							<a href="/user/{{profile.username}}/account/password">Cambiar contraseña</a>
							<a href="/user/{{profile.username}}/account/seller" class="selected">Editar datos de vendedor</a>
							<a href="#">Gestor de pedidos</a>
						</ul>
					</div>
				</div>

				<div class="am-profile-box grid-container u-margin-top-20">
					<form class="complete-form">

						<div class="separator u-margin-top-30">
							<span class="line"></span><span class="text">VALIDACIÓN DE VENDEDOR</span><span class="line"></span>
						</div>

						<div class="grid-50 mobile-grid-100">
							<p class="title">País</p>
							<select class="input select" name='gender'>
								<option disabled checked>Seleccionar País</option>
								<option>Argentina</option>
								<option>Bolivia</option>
								<option>Brasil</option>
								<option>Chile</option>
								<option>Colombia</option>
								<option>Ecuador</option>
								<option>España</option>
								<option>Estados Unidos</option>
								<option>Mexico</option>
								<option>Paraguay</option>
								<option>Peru</option>
								<option>Uruguay</option>
								<option>Venezuela</option>
							</select>
						</div>
						<div class="grid-50 mobile-grid-100">
							<p class="title">Ciudad</p>
							<select class="input select" name='gender'>
								<option disabled checked>Seleccionar ciudad</option>
								<option>Ciudad 1</option>
								<option>Ciudad 2</option>
							</select>
						</div>

						<div class="grid-50 mobile-grid-100">
							<p class="title">Estado o provincia</p>
							<input class="input" name='' value="" type="text" placeholder="Seleccionar Estado"/>
						</div>
						<div class="grid-50 mobile-grid-100">
							<p class="title">Código postal</p>
							<input class="input" name='' value="" type="text" placeholder="Ingresa código postal"/>
						</div>

						<div class="grid-100">
							<p class="title">Dirección de Envío</p>
							<input class="input" type="text" value="" name='' placeholder="Dirección Línea 1"/>
							<p class="title">Teléfono móvil</p>
							<input class="input" type="text" value="" name='' placeholder="Ingresa el número de whatsapp"/>
							<p class="title">Usuario Paypal</p>
							<input class="input" type="text" value="" name='' placeholder="Ingresa el email de tu cuenta en paypal"/>
						</div>

						<div class="artist-data {% if !user.isArtist %} hide {%endif%}">
							<div class="separator u-margin-top-40">
								<span class="line"></span><span class="text">VENDEDORES EN PERÚ </span><span class="line"></span>
							</div>

							<div class="grid-100 mobile-grid-100">
								<p class="title">¿Que tipo de documento tienes?</p>
							</div>

							<div class="grid-50 mobile-grid-100">
								<select class="input select" name=''>
									<option value='1' checked>Seleccionar tipo</option>
									<option value='2' >Nombre de artista</option>
								</select>
							</div>

							<div class="grid-100 mobile-grid-100">
								<p class="title">Nro de Documento</p>
								<input class="input" type="text" value="" name='' placeholder="Ingresa un documento válido"/>
								<p class="title">Nombre completo/razón social</p>
								<input class="input" type="text" value="" name='' placeholder="Ingresa un documento válido"/>
							</div>
							
						</div>
						<div class="grid-100 mobile-grid-100">
							<button class="button save u-margin-top-40" data-color="green">GUARDAR CAMBIOS</button>
						</div>

						<div class="grid-100 save-loading hide mobile-grid-100">
							<button class="button u-margin-top-40" data-color="green"><i class="load fa fa-spinner"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block scripts %}
	<script>
	var profile = {{profile|json|safe}};
	var context = {{context|json|safe}};
	var interests = {{interests|json|safe}};
	$(function() {
		$.cloudinary.config({{cloudinary.config()|json|safe}});
		new APP.AccountIndexScreen();

		$('.account-title').click(function () {
			$('.am-Filter.account.mobile').toggleClass('visible')
		})
	});
	</script>
{% endblock %}
