/*------------------------------------*
	$ FACEBOOK
*------------------------------------*/
.facebook-button
	color white
	display table-cell
	padding .75rem
	font-weight 600
	font-size .9rem
	border-radius 4px
	letter-spacing 1px
	font-family 'Roboto Condensed'
	background linear-gradient(#4e69a2,#3b5998)
	i
		font-size 1.25em
	&[data-expand='true']
		display block
		text-align center


/*------------------------------------*
	$ BUTTON SOLID
*------------------------------------*/
.button-solid
	color white
	cursor pointer
	font-size 1rem
	padding .5em 1em
	background #3000ff
	display table-cell
	text-transform uppercase
	font-family 'Roboto Condensed'

	&[data-size='small']
		font-size .85rem
	&[data-size='large']
		font-size 1.15rem

	&[data-color='red']
		background #f54545
		&:hover
			color white

	&[data-color='gray']
		background #cfcfcf

	&[data-expand='true']
		display block
		text-align center
		width 100%


/*------------------------------------*
	$ BUTTON FILTER
*------------------------------------*/
.button-filter
	padding .5em .75rem
	font-family 'Raleway'
	border 1px solid #ddd
	cursor pointer


/*------------------------------------*
	$ BUTTON LINER
*------------------------------------*/
.button-liner
	color #000
	cursor pointer
	font-size 1rem
	letter-spacing 1px
	display table-cell
	border 1px solid #bbb
	text-transform uppercase
	font-family 'Roboto Condensed'
	&:hover
		background-color: #fff59d;
	&__action
		// padding .5em .75em
		padding .5em
		display table-cell
		&.following
		&.cancel
			display none
	&__number
		padding .5em
		display table-cell
		border-left 1px solid #bbb

	&[data-size='small']
		font-size .85rem
	&[data-size='large']
		font-size 1.15rem

.button-liner.disabled
	color #aaa
	border-color #ccc
	.button-liner__number
		border-color #bbb
	.button-liner__action
		&.folllow
			display none
		&.following
			display table-cell
	&:hover
		.button-liner__action
			&.following
				display none
			&.cancel
				display table-cell

.button-liner.disabled:hover
		background-color: white;


/*------------------------------------*
	$ BUTTON LIKE / WISH-LIST
*------------------------------------*/
.button-like
.button-wish-list
	color #444
	font-weight 100
	font-size .85em
	letter-spacing 1px
	font-family 'Roboto Condensed'
	cursor pointer
	.fa-heart
		color #f54545
		display none

.button-like
.button-wish-list
	&.active
		.fa-heart
			display inline
		.fa-heart-o
			display none


/*------------------------------------*
	$ AVATAR
*------------------------------------*/
.button-avatar
	max-width 2.5rem
	img
		border-radius 50%