/*------------------------------------*
	$ THICK-MENU
*------------------------------------*/
.thick-menu-container
	display block
	font-weight 600
	letter-spacing 2px
	font-family 'Raleway'
	text-transform uppercase
	white-space nowrap
	overflow auto
	&::-webkit-scrollbar
		display none

.thick-menu
	display table
	margin auto
	&__item
		color #333
		padding-top .75rem
		padding-bottom .75rem
		display table-cell
		cursor pointer
		&:not(:first-child)
			padding-left 1rem
		&:not(:last-child)
			padding-right 1rem
		&.selected
			background #f6f6f6
			border-left 1px solid #eee
			border-right 1px solid #eee


/*------------------------------------*
	$ SKINNY MENU
*------------------------------------*/
.skinny-menu
	display flex
	align-items center
	font-size .8rem
	letter-spacing 2px
	font-family 'Raleway'
	text-transform uppercase
	&__item
		color #333
		padding .5em 1rem
		cursor pointer
		&__icon
			font-size .9rem
		&.active
			border-bottom .25em solid #000
	&__avatar
		padding 0 1rem
		cursor pointer

.skinny-menu[data-icon='true']
	.skinny-menu__item__text
		display none

@media (min-width tablet)
	.skinny-menu[data-icon='true']
		.skinny-menu__item__text
			display inline
		.skinny-menu__item__icon
			display none


/*------------------------------------*
	$ SQUARE-MENU
*------------------------------------*/
.square-menu-container
	height 3.35rem
	overflow hidden
	max-width max-width
	margin auto

.square-menu
	letter-spacing 1.5px
	font-family 'Oswald'
	color #585858
	font-size .9rem
	white-space nowrap
	overflow-x auto
	overflow-y hidden
	margin 0 1rem
	&__item
		display inline-block
		border solid 1px #ddd
		padding .5rem .75rem
		margin .5rem 0
		background white
		cursor pointer
		position relative
		font-size: .85rem;
		&[selected=true]
			background: #fff59d;
		&:not(:first-child)
			margin-left .5rem
		&:not(:last-child)
			margin-right .5rem
		// small
		// 	background white
		// 	border-radius 5px
		// 	padding 0 .35rem
		// 	text-align: center;
		// 	display: inline-block;


/*------------------------------------*
	$ ACCOUNT-MENU
*------------------------------------*/
.account-menu
	position absolute
	bottom 0
	right 1rem
	transform translate(0, 100%)
	flex-direction column
	background white
	z-index 1
	font-family 'Roboto Condensed'
	font-weight 300
	font-size .9rem
	padding .5rem
	letter-spacing 1px
	border solid 1px #eee
	display none
	&.visible
		display flex
	&__item
		color #333
		padding .5rem
		&:hover
			color black
		b
			font-weight 400


/*------------------------------------*
	$ SINGLE-MENU
*------------------------------------*/
.single-menu
	font-size .9rem
	letter-spacing .5px
	font-family 'Roboto Condensed'
	&__item
		display table-cell
		padding 0 .5rem
		color #aaa
		cursor pointer
		&.selected
			color #000
		&:not(:first-child)
			border-left solid 1px #666