/*------------------------------------*
	$ SKINNY TEXT
*------------------------------------*/
.skinny-text
	color #000
	font-size 1rem
	letter-spacing .5px
	font-family 'Roboto Condensed'

.skinny-text[data-color='light']
	color #aaa

.skinny-text[data-size='small']
	font-size .85rem


/*------------------------------------*
	$ MEDIUM TEXT
*------------------------------------*/
.medium-text
	color #585858
	font-weight 600
	font-size .85rem
	letter-spacing 1px
	font-family 'Raleway'
	text-transform uppercase


/*------------------------------------*
	$ SEPARATOR TEXT
*------------------------------------*/
.separator-text
	text-transform uppercase
	color #aaa
	font-family 'Oswald'
	font-size .8em
	letter-spacing 1.5px
	display flex
	align-items center
	.line
		flex 1
		height 1px
		background #eee
	.text
		padding 0 1em


/*------------------------------------*
	$ ITALIC TEXT
*------------------------------------*/
.italic-text
	color #000
	font-size 1rem
	letter-spacing 1px
	font-family 'Raleway'
	line-height 1.25
	font-style italic
	a
		display inline-block
		font-weight bold

.italic-text[data-size='small']
	font-size .9rem

.italic-text[data-color='light']
	color #aaa


/*------------------------------------*
	$ SECTION TITLE TEXT
*------------------------------------*/
.section-title-text
	font-family 'Oswald'
	font-size 1.5rem
	color #585858
	// letter-spacing 0.5px
	letter-spacing 1px


/*------------------------------------*
	$ NAVIGATION TEXT
*------------------------------------*/
.navigation-text
	font-family 'Oswald'
	color #585858
	font-family 'Raleway'
	font-weight 600
	letter-spacing 1px


/*------------------------------------*
	$ HIGHT TEXT
*------------------------------------*/
.high-text
	color #000
	font-size 1rem
	letter-spacing 1px
	font-family 'Raleway'
	line-height 1.25
	a
		font-weight bold

.high-text[data-size='small']
	font-size .9rem

.high-text[data-color='light']
	color #aaa

// .high-text[data-color='white']
// 	color white


/*------------------------------------*
	$ PROFILE TEXT
*------------------------------------*/
.profile-text
	font-family 'Oswald'
	font-size 1.5rem
	color #585858
	letter-spacing .5px
	line-height 1em


/*------------------------------------*
	$ SINGLE PRODUCT TEXT
*------------------------------------*/
.single-product-text
	font-family 'Oswald'
	font-size 1.75rem
	color #585858
	letter-spacing 1px
	line-height 1em