/*------------------------------------*
	$ VARIABLES
*------------------------------------*/
mobile = 350px	// Mobile Medium
mobile-medium	= 500px // Tablet Small
mobile-large 	= 550px // Tablet
tablet 				= 670px // Tablet
tablet-medium = 720px // Tablet Medium
desktop 			= 920px // Desktop

max-width = 1100px		// Large screens

// tablet = 500px				// Tablet
// tablet = 600px				// Tablet
