/.idea
/.env
/production
/node_modules
/npm-debug.log
/public/works
/public/avatars
/config/config.json
/config/config-production.json
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db
dump.rdb
flightplan.js
/public/app.min.js
/public/app.min.css