/.idea
/node_modules
/npm-debug.log
/public/works
/public/avatars
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db
dump.rdb

/.env		
/production
/config/config.json		
/config/config-production.json
flightplan.js