{% extends './../partials/base.html' %}


{% block elements %}
	<div class="am-register">
		<div class="am-register-box">
			<img class="logo-img" src="/img/logo-small.png" />
			<img class="logo-text" src="/img/logo-text-black.svg" />
			<p class="title">Los genios usualmente olvidan las cosas por concentrarse en lo importante</p>
			<br><br><br>
      <form class="auth-form">
        <input class="input" name='email' type="email" placeholder="E-mail"></input>
        <button class="button submit u-margin-top-10" data-color="green">
					<a>RESETEAR MI PASSWORD</a>
				</button>
        <button class="button submit-loading u-margin-top-10 hide" data-color="green">
					<a><i class="load fa fa-spinner"></i></a>
				</button>
      </form>
			<p class="change" style="text-align: right;"><a href="/auth/login">Ya Recorde mi Clave</a></p>
			<br><br><br><br><br><br>
			<p class="change">¿Aún no tienes una cuenta? <a href="/auth/signup">Regístrate</a></p>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
	$(function() {
		new APP.AuthScreen('forgot');
	});
</script>
{% endblock %}
