{% extends '../partials/base.html' %}


{% block elements %}
	<div class="am-register">
		<!-- <div class="message succes">
			<div class="grid-container">
				<div class="grid-100">
					<p>Te hemos enviado el nuevo password al emai</p>
				</div>
			</div>
		</div> -->
		<div class="message error">
			<div class="grid-container">
				<div class="grid-100">
					<p>Tu correo o tu contraseña son incorrectas</p>
				</div>
			</div>
		</div>
		<div class="am-register-box">
			<img class="logo-img" src="/img/logo-small.png" />
			<img class="logo-text" src="/img/logo-text-black.svg" />
			<p class="title">Ingresa a la plataforma</p>
			<div class="separator">
				<span class="line"></span><span class="text">FB SYNC</span><span class="line"></span>
			</div>
			<button class="button" data-color="blue">
				<a href="/auth/facebook">
					<i class="fa fa-facebook"></i>&nbsp;&nbsp; INGRESAR CON FACEBOOK
				</a>
			</button>
			<div class="separator">
				<span class="line"></span><span class="text">CORREO</span><span class="line"></span>
			</div>

			<form class='login-form'>
				<input data-error='true' name='email' class="input" type="email" placeholder="Correo" required></input>
				<input name='password' class="input u-margin-top-10" type="password" placeholder="Contraseña" required></input>
				<button class="button u-margin-top-10" data-color="green">
					<a>INGRESAR A MI CUENTA</a>
				</button>
			</form>

			<div class="options">
				<a href="#">Olvidé mi cuenta</a>
			</div>
			<p class="change">¿Aún no tienes una cuenta? <a href="/auth/signup">Regístrate</a></p>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function(){
			$('.login-form').submit(function(event){
				event.preventDefault();
				$.post('/auth/login', $(this).serialize(), function (response) {
					if(response.status === 200)
						location.href = response.data.returnTo
				});
			});
		})
	</script>
{% endblock %}
