{% extends '../partials/base.html' %}

{% block elements %}
	<div class="am-register">
		<div class="am-register-box">
			<img class="logo-img" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450065552/general/logo-small.jpg" />
			<img class="logo-text" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450065552/general/logo-text.svg" />
			<p class="title">Ingresa a la plataforma</p>
			<div class="separator">
				<span class="line"></span><span class="text">FB SYNC</span><span class="line"></span>
			</div>
			<button class="button fb" data-color="blue">
				<a href="/auth/facebook">
					<i class="fa fa-facebook"></i>&nbsp;&nbsp; INGRESAR CON FACEBOOK
				</a>
			</button>
			<button class="button fb-loading u-margin-top-10 hide" data-color="blue">
				<a href="/auth/facebook"><i class="load fa fa-spinner"></i></a>
			</button>
			<div class="separator">
				<span class="line"></span><span class="text">CORREO</span><span class="line"></span>
			</div>
			<ul class="error errors">
			</ul>
			<form class='auth-form'>
				<input name='email' class="input email" type="email" placeholder="Correo" required></input>
				<input name='password' class="input password u-margin-top-10" type="password" placeholder="Contraseña" required></input>
				<button class="button submit u-margin-top-10" data-color="green">
					<a>INGRESAR A MI CUENTA</a>
				</button>
				<button class="button submit-loading u-margin-top-10 hide" data-color="green">
					<a><i class="load fa fa-spinner"></i></a>
				</button>
			</form>

			<div class="options">
				<a href="/auth/forgot">Olvidé mi cuenta</a>
			</div>
			<p class="change">¿Aún no tienes una cuenta? <a href="/auth/signup">Regístrate</a></p>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$(function(){
			new APP.AuthScreen('login');
		});
	</script>
{% endblock %}
