{% extends '../partials/base.html' %}


{% block elements %}
	<div class="am-register">
		<div class="am-register-box">
			<img class="logo-img" src="/img/logo-small.png" />
			<img class="logo-text" src="/img/logo-text-black.svg" />
			<p class="title">Ingresa tu nueva contraseña</p>
			<br><br><br>
			<input class="input" type="pasword" placeholder="nuevo password"></input>
			<br><br>
			<input class="input" type="pasword" placeholder="repetir password"></input>
			<br><br>
			<button class="button u-margin-top-10" data-color="green">
				<a>GUARDAR NUEVO PASSWORD</a>
			</button>
			<!-- <p class="change" style="text-align: right;"><a href="#">Ya Recorde mi Clave</a></p>
			<br><br><br><br><br><br>
			<p class="change">¿Aún no tienes una cuenta? <a href="#">Regístrate</a></p> -->
		</div>
	</div>
{% endblock %}
