
{% extends '../partials/base.html' %}
	
	{% set path = 'reset' %}
	{% set title = 'Arte Manifiesto | Reset' %}
	{% set css = 'reset' %}

{% block elements %}

		{% include '../partials/flash-message.html' %}

		{% include '../partials/reset.html' %}

{% endblock %}

{% block scripts %}

	<script>

		var userReset = {{ userReset|json|safe }}
		console.log('userReset: ', userReset)
		
	</script>
	
	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/reset.js"></script>

	<!-- <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>

	// <script type="text/javascript" src="/js/lib/flash-message.js"></script>
	// <script type="text/javascript" src="/js/lib/auth.js"></script>

	// <script type="text/javascript" src="/js/login.js"></script> -->

{% endblock %}
