{% extends '../partials/base.html' %}


{% block elements %}
	<div class="am-register">
		<div class="am-register-box">
			<img class="logo-img" src="/img/logo-small.png" />
			<img class="logo-text" src="/img/logo-text.svg" />
			<p class="title">Regístrate gratis en la plataforma global de artistas y creadores independientes</p>
			<div class="separator">
				<span class="line"></span><span class="text">FB SYNC</span><span class="line"></span>
			</div>
			<button class="button fb" data-color="blue">
				<a href="/auth/facebook">
					<i class="fa fa-facebook"></i>&nbsp;&nbsp; REGISTRARME CON FACEBOOK
				</a>
			</button>
			<button class="button fb-loading u-margin-top-10 hide" data-color="blue">
				<a href="/auth/facebook"><i class="load fa fa-spinner"></i></a>
			</button>
			<div class="separator">
				<span class="line"></span><span class="text">CORREO</span><span class="line"></span>
			</div>
			<ul class="error errors">
			</ul>
			<form class="auth-form">
				{% if profile %}
				<input name="firstname" value="{{profile.first_name}} {{profile.middle_name}}" type="hidden"/>
				<input name="lastname" value="{{profile.last_name}}" type="hidden"/>
				<input name="gender" value="{% if profile.gender === 'male' %}Masculino{%else%}Femenino{% endif %}" type="hidden"/>
				<input name="photo" value="http://res.cloudinary.com/hackdudes/image/facebook/w_150,h_150,q_70/{{profile.id}}.jpg" type="hidden"/>
				<input name="birthday" value="{{profile.birthday|date('d/m/Y')}}" type="hidden"/>
				<input name="biography" value="{{profile.bio}}" type="hidden"/>
				{% endif %}
				<input name="email" class="input email" type="email" placeholder="Correo" value="{{profile.email}}" required/>
				<input name="password" class="input password u-margin-top-10" type="password" placeholder="Contraseña" required/>
				<div class="g-recaptcha u-margin-top-10 recaptcha" data-sitekey="6LdnUQoTAAAAALPzF3glOaqzGcbhBrmT1yQwVYls"></div>
				<button class="button submit u-margin-top-10" data-color="green">
					<a>REGISTRARME CON MI CORREO</a>
				</button>
				<button class="button submit-loading u-margin-top-10 hide" data-color="green">
					<a><i class="load fa fa-spinner"></i></a>
				</button>
			</form>
			<p class="msg">Al registrarme estoy aceptando los términos y condiciones de la plataforma.</p>
			<p class="change">¿Ya tienes una cuenta? <a href="/auth/login">Ingresa</a></p>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
	console.log({{profile|json|safe}});
		$(function() {
			new APP.AuthScreen('signup');
		});
	</script>
{% endblock %}
