{% extends '../../partials/base.html' %}

{% block elements %}
<div class="am-upload-work">
	<div class="am-upload-work-box grid-container">
		{% if mode === 'add'%}
			<p class="main-title">SUBIR NUEVA OBRA A MI PORTAFOLIO</p>
		{% else %}
			<p class="main-title">EDITAR OBRA</p>
		{% endif %}
		<form class="add-work">
			<div class="grid-100">
				<div class="separator">
					<span class="line"></span><span class="text">IMAGEN DE LA OBRA</span><span class="line"></span>
				</div>
				<div class="uploader-work">
					<div class="profile-imgage">
						<div class="preview">
							{% if work %}
							<img src="{{work.photo|addFilter('w_300,c_limit')}}"/>
							{% else %}
								<img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699085-icon-93-inbox-upload-128.png"/>
							{% endif %}
						</div>
					</div>
					<div class="preload hide"><i class="fa fa-spinner"></i></div>
				</div>
				<div class="image-uploader" style="position:relative;">
					{{cloudinary.uploader.image_upload_tag('photo', { callback: cloudinary_cors, return_delete_token: true})}}
				</div>
				<div class="separator">
					<span class="line"></span><span class="text">DATOS DE LA OBRA</span><span class="line"></span>
				</div>
				<p class="title">Título de la obra</p>
				<input name='name' value="{{work.name}}" class="input" type="text" required placeholder="Ingrese el nombre"/>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Categoría de la obra</p>
				<select class="input select" required name='categories'>
					{% for category in categories %}
					<option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Descripcion de la obra</p>
				<textarea name='description' required class='input'placeholder="Descripcion" maxlength='140'>{{work.description}}</textarea>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Tags de la obra</p>
				<input name='tags' class="input tags"  value="{{tags}}" required type="text"/>
				<div class="separator">
					<span class="line"></span><span class="text">CARACTERÍSTICAS</span><span class="line"></span>
				</div>
				<div class="switch u-margin-top-10">
					<p class="title">Público</p>
					<span class="value">On</span>
					<div class="am-Switch-button">
						<i class="fa fa-bars"></i>
					</div>
				</div>

				<button class="button u-margin-top-30" data-color="blue">
					{% if mode === 'add' %}
					SUBIR OBRA
					{% else %}
					ACTUALIZAR OBRA
					{% endif %}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{{ cloudinary.config() }}

{% block scripts %}
<script src='/jquery.tagsinput.js' type='text/javascript'></script>
<script src='/jquery.ui.widget.js' type='text/javascript'></script>
<script src='/jquery.iframe-transport.js' type='text/javascript'></script>
<script src='/jquery.fileupload.js' type='text/javascript'></script>
<script src='/jquery.cloudinary.js' type='text/javascript'></script>
<script>

$(document).ready(function() {
	var work = {{work|json|safe}};
	var config = {
		"api_key": "337494525976864",
		"cloud_name": "hackdudes",
		"private_cdn": false
	};
	$.cloudinary.config(config);
	var uploaderImage = new APP.UploaderImage($('.uploader-work'), function(idImage){
			var filters =  {width: 300, crop:'limit'};
			$.cloudinary.image(idImage, filters).appendTo(this.$view.find('.preview'));
	});

	$('.tags').tagsInput({
		height:'50px', width:'100%', defaultText:'+ Etiqueta'
	});

	var workCategories = {{workCategories|json|safe}};
	for(var i = 0 ; i < workCategories.length ; i++) {
		$('select[name="categories"]').find('option[value='+ workCategories[i].id+']').attr("selected",true);
	}

	var url , photo;
	var mode = {{mode|json|safe}};
	var formData = {};
	if(mode === 'add') {
		url = DataApp.currentUser.url + '/work/create';
	} else {
		uploaderImage.photo = work.photo;
		formData.idWork = work.id;
		url = DataApp.currentUser.url + '/work/update';
	}
	$('.add-work').submit(function(event){
		event.preventDefault();
		formData.photo = uploaderImage.photo;
		formData.name = $('input[name=name]').val();
		formData.categories = [parseInt($('select[name=categories]').val(),10)];
		formData.tags = $('input[name=tags]').val().split(',');
		formData.description = $('textarea[name=description]').val();
		formData.public = 1;
		$.ajax({
			method: 'POST',
			url: url,
			data: {data: JSON.stringify(formData)}
		}).then(function(response) {
			if(response.status === 200) {
				if(mode === 'add') {
					var work = response.data.work;
					location.href = DataApp.currentUser.url + '/work/' + work.nameSlugify + '/published';
				}
			}
		});
	});
});
</script>
{% endblock %}
