{% extends '../../partials/base.html' %}

{% set path = 'add-work' %}
{% set title = 'Arte Manifiesto | Add Work' %}
{% set css = 'add-work' %}

{% block elements %}

	<section class="add-work"></section>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">

		var product = {{ product|json|safe }};
		console.log('product: ', product)

		var userLikes = {{userLikes|json|safe}};
		console.log('userLikes: ', userLikes);

		var user = {{ user|json|safe }}
		console.log('user: ', user);

	</script>
{% endblock %}
