{% extends '../../partials/base.html' %}

{% block elements %}
<div class="am-upload-work">
	<div class="am-upload-work-box grid-container">
		<form class="work-form">
			<p class="main-title">ACTUALIZAR OBRA</p>
			<div class="grid-100">
				<div class="separator">
					<span class="line"></span><span class="text">IMAGEN DE LA OBRA</span><span class="line"></span>
				</div>
				<div class="uploader-work">
					<div class="profile-imgage">
						<div class="preview">
              <img src="{{work.photo|addFilter('w_300,c_limit')}}"/>
						</div>
					</div>
					<div class="preload hide"><i class="fa fa-spinner"></i></div>
					<button class="button upload u-margin-top-30">BUSCAR ARCHIVO</button>
				</div>
				<div class="image-uploader" style="position:relative;">
					{{ cloudinary.uploader.image_upload_tag('photo', {callback: cloudinary_cors, return_delete_token: true, html: { style: "width:230px;height:55px;top:-70px;left: 105px;" } })}}
				</div>
				<div class="separator">
					<span class="line"></span><span class="text">DATOS DE LA OBRA</span><span class="line"></span>
				</div>
				<p class="title">Título de la obra</p>
				<input name='name' value='{{work.name}}' class="input input-modal" type="text" required placeholder="Ingrese el nombre"/>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Categoría de la obra</p>
				<select class="input select" required name='category'>
					{% for category in categories %}
						<option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Descripcion de la obra</p>
				<textarea name='description' required class='input' placeholder="Descripcion" maxlength='140'>{{work.description}}</textarea>
			</div>

			<div class="grid-100 mobile-grid-100">
				<p class="title">Tags de la obra</p>
				<input name='tags' value='{{tags}}' class="input" type="text"/>
				<div class="separator">
					<span class="line"></span><span class="text">CARACTERÍSTICAS</span><span class="line"></span>
				</div>
				<div class="switch u-margin-top-10">
					<p class="title">Público</p>
					<span class="value">On</span>
					<input type="checkbox" name="public" id="public" {% if work.public %} checked {% endif %}/>
					<label for="public">
						<div class="am-Switch-button">
							<i class="fa fa-bars"></i>
						</div>
					</label>
				</div>
				<button class="button u-margin-top-30 send" data-color="blue">GUARDAR</button>
				<div class="hide send-loading">
					<button class="button u-margin-top-30" data-color="blue">
						<i class="load fa fa-spinner"></i>
					</button>
				</div>
			</div>
		</form>

		<div class="hide work-published">
			<div class="grid-100">
	  		<p class="main-title">TU OBRA SE HA PUBLICADO CON ÉXITO</p>
	  		<div class="u-separator"></div>
	  		<div class="work-collection-card u-margin-top-40">
	  			<div class="work-collection-card-img">
						<img class="work-photo-published">
	  			</div>
	  			<div class="work-collection-card-data">
	  				<p class="work-collection-card-title work-name-published"></p>
	  				<p class="work-collection-card-artist work-user-published"></p>
	  			</div>
	  		</div>
	  		<div class="separator u-margin-top-20">
	  			<span class="line"></span><span class="text">¿QUE QUIERES HACER AHORA?</span><span class="line"></span>
	  		</div>
	  	</div>
	  	<div class="u-padding-top-20" style="oferoverflow: hidden;">
	  		<div class="grid-50">
	        <a class='work-view'>
	          <button class="button inline upload u-margin-top-30 upload_button">
	            <i class="bi_interface-view"></i>&nbsp;&nbsp;&nbsp;VER OBRA
	          </button>
	        </a>
	  		</div>
	  		<div class="grid-50">
	  			<a class="work-edit">
	          <button class="button inline upload u-margin-top-30 upload_button"><i class="bi_editorial-compose"></i>&nbsp;&nbsp;&nbsp;EDITAR OBRA</button>
	  			</a>
	  		</div>
	  		<div class="grid-50">
	  			<a class='work-new'>
	          <button class="button inline upload u-margin-top-30 upload_button"><i class="bi_interface-cloud-upload"></i>&nbsp;&nbsp;&nbsp;SUBIR OTRA OBRA</button>
	  			</a>
	  		</div>
	  		<div>
	  			<button class="button inline upload u-margin-top-30 upload_button work-delete" data-color="red">
	  				<i class="bi_editorial-trash-l"></i>&nbsp;&nbsp;&nbsp;ELIMINAR OBRA
	  			</button>
	  		</div>
	  	</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
	$.cloudinary.config({{cloudinary.config()|json|safe}});
  var category = {{category|json|safe}};
  var work = {{work|json|safe}};

	$('input[name=tags]').tagsInput({
		height:'50px', width:'100%', defaultText:'+ Etiqueta'
	});

	$('select[name=category]')
	.find('option[value=' + category.id + ']')
	.attr('selected', true);

	var uploaderImage = new APP.UploaderImage($('.uploader-work'), function(idImage) {
			this.$view.find('.upload').show();
			$('.cloudinary-fileupload').show();
			$.cloudinary.image(idImage, {width: 300, crop:'limit'})
			.appendTo(this.$view.find('.preview'));
	});
  uploaderImage.photo = work.photo;
	$('.work-form').submit(function(event) {
		event.preventDefault();
		var tags = $('input[name=tags]').val();
		var photo = uploaderImage.photo;
		if(!photo) {
			return alert('agrega foto mierda T_T');
		}
		if(tags.split(',')[0].length < 1) {
			return alert('agrega tags ctv');
		}
		$('.send').hide();
		$('.send-loading').show();
		$.ajax({
			method: 'POST',
			url: DataApp.currentUser.url + '/work/update',
			data: {
        idWork: work.id,
				photo: photo,
				name: $('input[name=name]').val(),
				idCategory: parseInt($('select[name=category]').val(), 10),
				tags: tags,
				description: $('textarea[name=description]').val(),
				public: $('input[name=public]:checked').val() !== undefined
			}
		}).then(function(response) {
			$('.send').show();
			$('.send-loading').hide();
			if (response.status === 200) {
				var work = response.data.work;
        var workUrl = DataApp.currentUser.url + '/work/' + work.nameSlugify + '/edit';
        Utils.changeUrl(work.name, workUrl);
			}
		});
	});
});
</script>
{% endblock %}
