{% extends '../../partials/base.html' %}
{% block elements %}
{% set element = element.toJSON() %}
	<div class="grid-container u-margin-top-30">
		<div class="grid-100">
			<div class="single-info">
				<div class="single-image">
					<div class="single-image-inner">
						<img src="{{element.photo|addFilter('w_700,h_800,q_80,c_limit')}}" class="work-photo">
						<div class="actions u-padding-top-20 u-padding-bottom-20">
							<a class="action {% if element.liked %} active {% endif %}">
								<div class="like-btn">
									<i class="icon bi_ecommerce-diamon  valuation"></i>
									<p class="text">VALORAR</p>
								</div>
							</a>
							<a id="go-share-modal" href="#share-modal" class="action">
									<i class="icon bi_web-share share"></i>
									<p class="text">COMPARTIR</p>
							</a>
						</div>
						<div class="actions-box u-margin-bottom-20 after-like {% if !element.liked %} hide {% endif %}">
							<a id="go-collection-modal" href="#collection-modal" >
								<button class="color-blue bg-gray">AÑADIR A LA COLECCIÓN</button>
							</a>
							{% if !owner %}
							<button class="u-margin-top-10 am-Follow-button">+ SEGUIR</button>
							{% endif %}
							<div class="hide">
								<button class="u-margin-top-10 follow-loading">
									<i class="load fa fa-spinner"></i>
								</button>
							</div>
							<div class="hide">
								<button class="following u-margin-top-10">
									<i class="fa fa-check-circle"></i>&nbsp;SIGUIENDO
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="single-data u-padding-bottom-40">
					<div class="FollowArtist u-padding-bottom-10">
						<div style="width: 100%;">
							<a href="/user/{{element.User.username}}">
								<p class="u-padding-bottom-7 big uppercase"><strong>{{element.User.fullname}}</strong></p>
							</a>
							<div class="button-container">
								{% if !owner %}
									<button class="am-Follow-button">+ SEGUIR</button>
								{% endif %}
								{% if owner %}
									<a id="go-edit-modal" href="#edit-modal"><i class="bi_editorial-compose"></i></a>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="u-separator"></div>
					<p class="am-Single-title-text u-margin-top-15 work-name" style="font-size: 15px;">{{element.name}}</p>
					<p class="am-collection-desc u-margin-top-10 work-description">
						{{element.description}}
					</p>
					<p class="am-Single-text u-margin-top-20">Categoría:</p>
					<div class='work-category'>
						<a href='/works/category/{{element.Category.nameSlugify}}/page-1/'>
							<span class="am-Category-box u-margin-top-7">{{element.Category.name}}</span>
						</a>
					</div>
					<div class="info-box u-margin-top-25">
						<div class="header">
							<p class="selected">COMPRAR</p>
						</div>
						<div class="body u-text-center">
							<div class="ask-requester {% if element.requested %} hide {% endif %}">
								<p class="title large">Puedes preguntar al artista la disponibilidad</p>
									<button class="am-View-button expand u-margin-top-20 ask-available">PREGUNTAR DISPONIBILIDAD</button>
									<p class="msg u-padding-top-15 u-padding-bottom-4">Muy pronto la tienda en línea</p>
							</div>
							<div class="thanks-requester {% if !element.requested %} hide {% endif %}">
								<p class="title large">Gracias por preguntar la disponibilidad</p>
								<p class="msg u-padding-top-15 u-padding-bottom-4">te avisaremos cuando el artista ponga en venta esta obra</p>
							</div>
						</div>
					</div>
					<p class="am-stats-text u-margin-top-40">ESTADÍSTICAS</p>
					<div class="u-separator"></div>
					<div class="u-center">
						<table class="am-Single-stats u-margin-top-10">
						  <tr>
						    <td><i class="bi_interface-view"></i></td>
						    <td><p>VISTAS</p></td>
						    <td><span>{{element.views}}</span></td>
						  </tr>
						  <tr>
						    <td><i class="bi_ecommerce-diamon"></i></td>
						    <td><p>VALORACIONES</p></td>
						    <td><span class="likes">{{element.likes || 0}}</span></td>
						  </tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="am-SingleMenu u-margin-top-20">
	  <div class="grid-container">
	    <div class="grid-100">
	      <div class="single-menu">
	        <div class="artist">
	          <div class="FollowArtist">
	            <a href="/user/{{element.User.username}}">
	              <img src="{{element.User.photo}}">
	            </a>
	            <div>
								<a href="/user/{{element.User.username}}">
		              <p class="u-padding-bottom-4 uppercase" style="font-weight: bold;">{{element.User.fullname}}</p>
		              <p class="u-padding-bottom-7"> <strong></strong> {{element.User.city}}, {{element.User.country}}</p>
	            	</a>
	              {% if !owner %}
	              <button class="am-Follow-button">+ SEGUIR</button>
	              {% endif %}
	            </div>
	          </div>
	        </div>
	        <div class="menu">
	          <div class="carousel">
	            <div class="single-tabs">
	              <div class="single-tab index">
									<p>+ OBRAS</p>
	                <i class="bi_misc-cube"></i>
	              </div>
	              <div class="single-tab reviews">
	                <p>REVIEWS</p>
	                <span>{{reviews.length}}</span>
	              </div>
	              <div class="single-tab tags">
	                <p>TAGS</p>
	                <i class="bi_editorial-left-align"></i>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!--=========================== WORKS-PRODUCTS'S RELATED AND SIMILAR ===========================-->
	<div class="index-container {% if currentPath !== 'index' %} hide {% endif %}">
	  <div class="grid-container u-margin-top-60">
	    <div class="grid-100">
				<p class="am-more-text u-text-center u-padding-bottom-10">Otras obras del artista</p>
	      <div class="u-separator-center"></div>
	    </div>
	  </div>

	  <div class="grid-container">
	    <div class="grid-100">
	    	<div class="more-carousel">
					<p class="empty-profile-text empty-message hide u-margin-top-30">El artista no tiene mas obras<br><br>
						<a href="/works/category/all/page-1/">Descubre todas las obras de AM</a>
					</p>
	        <div class="more-images more">
	        </div>
	      </div>
	    </div>
	  </div>

		<div class="u-separator u-margin-top-60"></div>

	  <div class="grid-container u-margin-top-60">
	    <div class="grid-100">
				<p class="am-more-text u-text-center u-padding-bottom-10">Obras relacionadas</p>
	      <div class="u-separator-center"></div>
	    </div>
	  </div>
	  <div class="grid-container">
	    <div class="grid-100">
	      <div class="more-carousel">
					<p class="empty-profile-text empty-message hide u-margin-top-30">No existen obras relacionadas<br><br>
						<a href="/works/category/all/page-1/">Descubre todas las obras de AM</a>
					</p>
	        <div class="more-images similar">
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->

	<!--=========================== WORK'S REVIEWS  ===========================-->
	<div class="grid-container reviews-container {% if currentPath !== 'reviews' %} hide {% endif %}">
	  <div class="grid-100">
	    <div class="reviews">
	      <p class="title">Reviews &nbsp;&nbsp;<span>{{reviews.length}}</span></p>
	      <div class="u-separator"></div>
	      <div class='reviews-items-container'>
	      </div>

        {% if user %}
	      	<div class="review">
	          <div class="avatar"><img src="{{user.photo}}"></div>
	          <form class="content review-form">
	            <input type="hidden" name='id{{entity|capitalize}}' value="{{element.id}}"/>
	            <textarea class='value-input' name="value"></textarea>
	            <button>AGREGAR REVIEW</button>
	          </form>
	      	</div>
        {% else %}
        	<p class="empty-profile-text  empty-message u-margin-top-30" style="display: block;">
        		<a href="/auth/login">Logeate, para agregar review</a>
        	</p>
        {% endif %}
	    </div>
	  </div>
	</div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->

	<!--=========================== WORK-PRODUCT'S TAGS ===========================-->
  <div class="grid-container tags-container {% if currentPath !== 'tags' %} hide {% endif %}">
    <div class="grid-100">
      <div class="tags-container">
        <p class="title">Tags&nbsp;&nbsp;<span class="tags-number">{{tags.length}}</span></p>
        <div class="u-separator"></div>
				{% if tags.length > 1 %}
					<div class="tags work-tags">
	          {% for tag in tags %}
	          {% set url = "#" + tag.name %}
							<div class="tag uppercase"><a href='/works/category/all/page-1/?term={{url|url_encode}}'>{{tag.name}}</a></div>
	          {% endfor %}
	        </div>
				{% else %}
					<p class="empty-profile-text  empty-message hide u-margin-top-30" style="display: block;">Esta obra aun no tiene tags<br><br>
						<a href="/works/category/all/page-1/">Descubre todas las obras de AM</a>
					</p>
				{% endif %}
      </div>
    </div>
  </div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->
{% include '../../partials/report.html' %}

	<div id="collection-modal" style="display:none;">
		<div class="actions-box add-collection">
			<p class="title">Añadir a las colecciones</p>
			<div class="u-separator u-margin-top-7"></div>

			<form class="add-collection-form">
				<input class="u-margin-top-10" type="text" name='name' required placeholder="Crear una colección nueva">
				<button class="u-margin-top-10 color-black bg-gray wd-auto">AÑADIR</button>
			</form>
			<ul class="collections u-margin-top-20">
			</ul>
			<div class="u-separator u-margin-top-20"></div>
			<div class="buttons u-margin-top-20">
				<button class="wd-auto bg-blue color-white save-collections">GUARDAR</button>
				<div class="hide save-collections-loading">
					<button class="wd-auto bg-blue color-white">
						<i class="load fa fa-spinner"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="share-modal" style="display:none;">
		<div class="actions-box social-share">
			<p class="title">Compartir obras</p>
			<div class="u-separator u-margin-top-7"></div>
			<div class="share share-fb">
				<i class="fa fa-facebook"></i>Compartir en facebook
			</div>
			<div class="share share-tw">
				<i class="fa fa-twitter"></i>Compartir en twitter
			</div>
		</div>
	</div>

	<div id="edit-modal" style="display: none; max-height: 550px; overflow:auto;">
			<div class="am-upload-work-box grid-container">
				<p class="main-title">EDITAR OBRA</p>
				<form class="edit-work-form">
					<div class="grid-100">
						<div class="separator">
							<span class="line"></span><span class="text">IMAGEN DE LA OBRA</span><span class="line"></span>
						</div>
						<div class="uploader-work">
							<div class="profile-imgage">
								<div class="preview">
										<img src="{{element.photo|addFilter('w_300,c_limit')}}"/>
								</div>
							</div>
							<div class="preload hide"><i class="fa fa-spinner"></i></div>
							<button class="button upload u-margin-top-30">BUSCAR ARCHIVO</button>
						</div>
						<div class="image-uploader" style="position:relative;">
							{{ cloudinary.uploader.image_upload_tag('photo', {callback: cloudinary_cors, return_delete_token: true, html: { style: "width:230px;height:55px;top:-70px;left: 105px;" } })}}
						</div>
						<div class="separator">
							<span class="line"></span><span class="text">DATOS DE LA OBRA</span><span class="line"></span>
						</div>
						<p class="title">Título de la obra</p>
						<input name='edit-work-name' value="{{element.name}}" class="input input-modal" type="text" required placeholder="Ingrese el nombre"/>
					</div>

					<div class="grid-100 mobile-grid-100">
						<p class="title">Categoría de la obra</p>
						<select class="input select" required name='edit-work-category'>
							{% for category in categories %}
								<option value="{{category.id}}">{{category.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="grid-100 mobile-grid-100">
						<p class="title">Descripcion de la obra</p>
						<textarea name='edit-work-description' required class='input'placeholder="Descripcion" maxlength='140'>{{element.description}}</textarea>
					</div>

					<div class="grid-100 mobile-grid-100">
						<p class="title">Tags de la obra</p>
						<input name='edit-work-tags' class="input"  value="{{tagsFormat}}" required type="text"/>
						<div class="separator">
							<span class="line"></span><span class="text">CARACTERÍSTICAS</span><span class="line"></span>
						</div>
						<div class="switch u-margin-top-10">
							<p class="title">Público</p>
							<span class="value">On</span>
							<input type="checkbox" name="edit-work-public" id="public" {% if element.public %} checked {%endif%}/>
							<label for="public">
							  <div class="am-Switch-button">
							  	<i class="fa fa-bars"></i>
							  </div>
							</label>
						</div>
						<button class="button u-margin-top-30 save" data-color="blue">ACTUALIZAR OBRA</button>
						<div class="hide save-loading">
							<button class="button u-margin-top-30" data-color="blue">
								<i class="load fa fa-spinner"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src='/jquery.tagsinput.js' type='text/javascript'></script>
	<script src='/jquery.ui.widget.js' type='text/javascript'></script>
	<script src='/jquery.iframe-transport.js' type='text/javascript'></script>
	<script src='/jquery.fileupload.js' type='text/javascript'></script>
	<script src='/jquery.cloudinary.js' type='text/javascript'></script>
	<script>
		var owner = {{owner|json|safe}};
		var products = {{products|json|safe}};
		var entity = {{entity|json|safe}};
		var element = {{element|json|safe}};
		var currentPath = {{currentPath|json|safe}};
		var reviews = {{reviews|json|safe}};
		var more = {{more|json|safe}};
		var similar = {{similar|json|safe}};

		$('select[name=edit-work-category]')
		.find('option[value=' + element.Category.id + ']')
		.attr('selected', true);

		$('input[name=edit-work-tags]').tagsInput({
			height:'50px', width:'100%', defaultText:'+ Etiqueta'
		});

		var config = {
			"api_key": "337494525976864",
			"cloud_name": "hackdudes",
			"private_cdn": false
		};
		$.cloudinary.config(config);
		var uploaderImage = new APP.UploaderImage($('.uploader-work'), function(idImage){
				this.$view.find('.upload').show();
				$('.cloudinary-fileupload').show();
				var filters =  {width: 300, crop:'limit'};
				$.cloudinary.image(idImage, filters).appendTo(this.$view.find('.preview'));
		});

		$("#go-collection-modal").leanModal();
		$("#go-share-modal").leanModal();
		$("#go-edit-modal").leanModal();

		uploaderImage.photo = element.photo;
		$('.edit-work-form').submit(function(event) {
			event.preventDefault();
			$('.save').hide();
			$('.save-loading').show();
			$.ajax({
				method: 'POST',
			 	url: DataApp.currentUser.url + '/work/update',
				data: {
					idWork: element.id,
					photo: uploaderImage.photo,
					name: $('input[name=edit-work-name]').val(),
					idCategory: parseInt($('select[name=edit-work-category]').val(), 10),
					tags: $('input[name=edit-work-tags]').val(),
					description: $('textarea[name=edit-work-description]').val(),
					public: $('input[name=edit-work-public]:checked').val() !== undefined
				}
		 	}).then(function(response) {
				if (response.status === 200) {
					var newWork = response.data.work;
					var photo = $('<img>', {
						class: 'work-photo',
						src: Utils.addImageFilter(newWork.photo, 'w_700,h_800,q_80,c_limit')
					});

					$('.single-image-inner').find('.work-photo').remove()
					$('.single-image-inner').prepend(photo);
					$('.work-name').text(newWork.name);

					var category = $('<a>', {href: '/works/category/' + newWork.Category.nameSlugify + '/page-1/'});
					var categoryName = $('<span>',{class: 'am-Category-box u-margin-top-7'}).text(newWork.Category.name);
					category.append(categoryName);

					$('.work-tags').empty();
					var i, tag, tagItem , urlTag;
					for (i = 0; i < newWork.Tags.length; i++) {
						tag = $('<div>', {class: 'tag uppercase'});
						urlTag = '/works/category/all/page-1/?term=' + encodeURIComponent('#' + newWork.Tags[i].name);
						tagItem = $('<a>', {href: urlTag}).text(newWork.Tags[i].name);
						tag.append(tagItem);
						$('.work-tags').append(tag);
					}
					$('.tags-number').text(newWork.Tags.length);
					$('.work-description').text(newWork.description);
					$('.work-category').empty().append(category);
					var url = '/user/' + element.User.username + '/work/' + newWork.nameSlugify;
					Utils.changeUrl(DataApp.baseTitle + newWork.name, url);
				}
			});
		});
	</script>
	<script src='/work-product.js'></script>
{% endblock %}
