{% extends '../../partials/base.html' %}

{% set path = 'product' %}
{% set title = 'Arte Manifiesto | Product' %}
{% set css = 'single-product' %}

{% block elements %}

{% include '../../partials/single-work.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        var work = {{ work|json|safe }};
        console.log('work: ', work)

        var userLikes = {{userLikes|json|safe}};
        console.log('userLikes: ', userLikes);

        var more = {{more|json|safe}};
        console.log('more: ', more);

        var similar = {{similar|json|safe}};
        console.log('similar: ', similar);

        var products = {{ products|json|safe }}
        console.log('products: ', products);

    </script>
{% endblock %}
