{% extends '../../partials/base.html' %}
{% block elements %}
{% set element = element.toJSON() %}
	<div class="grid-container u-margin-top-30">
		<div class="grid-100">
			<div class="single-info">
				<div class="single-image">
					<div class="single-image-inner">
						<img src="{{element.photo|addFilter('w_700,h_800,q_80,c_limit')}}">
						<div class="actions u-padding-top-20 u-padding-bottom-20">
							<a class="action {% if element.liked %} active {% endif %}">
								<div class="like-btn">
									<i class="icon bi_ecommerce-diamon  valuation"></i>
									<p class="text">VALORAR</p>
								</div>
							</a>
							{% if entity === 'work' %}
								<!-- <div class="action">
									<div class="collect-btn">
										<i class="icon bi_interface-list-view valuation"></i>
										<p class="text">COLECCIONAR</p>
									</div>
									<div class="actions-box add-collection hide">
										<p class="title">Añadir a las colecciones</p>
										<div class="u-separator u-margin-top-7"></div>

										<form class="add-collection-form">
											<input class="u-margin-top-10" type="text" name='name' required placeholder="Crear una colección nueva">
											<button class="u-margin-top-10 color-black bg-gray wd-auto">AÑADIR</button>
										</form>
										<ul class="collections u-margin-top-20">
										</ul>
										<div class="u-separator u-margin-top-20"></div>
										<div class="buttons u-margin-top-20">
											<button class="wd-auto bg-blue color-white save-collections">GUARDAR</button>
										</div>
									</div>
								</div> -->
							{% endif %}
							<a id="go-share-modal" href="#share-modal" class="action">
								<!-- <i class="icon fa fa-share-alt share"></i> -->
								<!-- <div class="share-btn"> -->
									<i class="icon bi_web-share share"></i>
									<p class="text">COMPARTIR</p>
								<!-- </div> -->
								<!-- <div class="actions-box social-share hide">
									<p class="title">Compartir obras</p>
									<div class="u-separator u-margin-top-7"></div>
									<div class="share share-fb">
										<i class="fa fa-facebook"></i>Compartir en facebook
									</div>
									<div class="share share-tw">
										<i class="fa fa-twitter"></i>Compartir en twitter
									</div>
								</div> -->
							</a>
						</div>

							<div class="actions-box u-margin-bottom-20 after-like {% if !element.liked %} hide {% endif %}">
								<a id="go-collection-modal" href="#collection-modal" >
									<button class="color-blue bg-gray">AÑADIR A LA COLECCIÓN</button>
								</a>
								{% if !owner %}
								<button class="u-margin-top-10 am-Follow-button">+ SEGUIR</button>
								{% endif %}
								<div class="hide">
									<button class="u-margin-top-10 follow-loading">
										<i class="load fa fa-spinner"></i>
									</button>
								</div>
								<div class="hide">
									<button class="following u-margin-top-10">
										<i class="fa fa-check-circle"></i>&nbsp;SIGUIENDO
									</button>
								</div>
							</div>
					</div>
				</div>
				<div class="single-data u-padding-bottom-40">
					<div class="FollowArtist u-padding-bottom-10">
						<div>
							<a href="#">
								<p class="u-padding-bottom-7 big uppercase"><strong>{{element.User.fullname}}</strong></p>
							</a>
							{% if !owner %}
								<button class="am-Follow-button">+ SEGUIR</button>
							{% endif %}
						</div>
					</div>
					<div class="u-separator"></div>
					<p class="am-Single-title-text u-margin-top-15" style="font-size: 15px;">{{element.name}}</p>
					<p class="am-collection-desc u-margin-top-10">
						{{element.description}}
					</p>
					{% if entity === 'product' %}
					<p class="am-Single-text u-margin-top-10">ancho : {{element.width}} cm</p>
					<p class="am-Single-text u-margin-top-10">largo : {{element.length}} cm</p>
					<p class="am-Single-text u-margin-top-10">profundidad : {{element.depth}} cm</p>
					<p class="am-Single-text u-margin-top-10">peso : {{element.weight}} kg</p>
					{% endif %}
					<p class="am-Single-text u-margin-top-20">Categoría:</p>
					{% if entity === 'work' %}
					{% for category in element.Categories %}
						<a href='/works/category/{{category.nameSlugify}}/page-1/?order=popularity'><span class="am-Category-box u-margin-top-7">{{category.name}}</span></a>
					{% endfor %}
					{% if element.onSale %}
					<div class="info-box u-margin-top-25">
						<div class="header">
							<p class="original-item-menu selected">ORIGINAL</p>
							<p class="products-item-menu">PRODUCTOS</p>
						</div>
						<div class="body u-text-center original-tab-menu">
							<p class="title large">Precio Obra Original</p>
							<p class="price u-padding-top-10">S/. <strong class="large">1500</strong></p>
							<button class="am-View-button expand u-margin-top-20">COMPRAR</button>
							<p class="msg u-padding-top-15 u-padding-bottom-4">7 días para devolver cualquier obra</p>
						</div>
						<div class="body products-tab-menu hide">
							<p class="text">Producto:</p>
							<p class="title">Mate photo print</p>
							<p class="text">180 gsm / Calidad archivo hecho en Lima / Elaborado por arte manifiesto lab.</p>

							<p class="text u-margin-top-10">Tamaño:</p>
							<select class="expand">
								<option>Elige el tamaño</option>
								<option>Holi</option>
								<option>Boli</option>
								<option>Crayoli</option>
							</select>

							<p class="text u-margin-top-10">Precio por unidad:</p>
							<p class="price u-text-center">S/.<strong>42.99</strong> PEN</p>

							<p class="text u-margin-top-10">Cantidad:</p>
							<div class="u-center">
								<div class="u-margin-top-7">
									<span class="text">X</span>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
									<span class="text">&nbsp;&nbsp;Unidades</span>
								</div>
							</div>
							<div class="u-center">
								<button class="am-View-button expand u-margin-top-20 buy-btn">COMPRAR</button>
							</div>
						</div>
					</div>
					{% else %}
					<div class="info-box u-margin-top-25">
						<div class="header">
							<p class="selected">COMPRAR</p>
						</div>
						<div class="body u-text-center">
							<div class="ask-requester {% if element.requested %} hide {% endif %}">
								<p class="title large">Puedes preguntar al artista la disponibilidad</p>
									<button class="am-View-button expand u-margin-top-20 ask-available">PREGUNTAR DISPONIBILIDAD</button>
									<p class="msg u-padding-top-15 u-padding-bottom-4">Muy pronto la tienda en línea</p>
							</div>
							<div class="thanks-requester {% if !element.requested %} hide {% endif %}">
								<p class="title large">Gracias por preguntar la disponibilidad</p>
								<p class="msg u-padding-top-15 u-padding-bottom-4">te avisaremos cuando el artista ponga en venta esta obra</p>
							</div>
						</div>
					</div>
					{% endif %}
					{% else %}
					<a href='/products/type/{{element.ProductType.nameSlugify}}/page-1/?order=popularity'><span class="am-Category-box u-margin-top-7">{{element.ProductType.name}}</span></a>
					<div class="info-box u-margin-top-25">
						<div class="header">
							<p class="selected">COMPRAR</p>
						</div>
						<div class="body">
							<p class="text u-margin-top-10">Precio por unidad:</p>
							<p class="price u-text-center">S/.<strong>{{element.finalPrice}}</strong> PEN</p>

							<p class="text u-margin-top-10">Cantidad:</p>
							<div class="u-center">
								<div class="u-margin-top-7">
									<span class="text">X</span>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
									<span class="text">&nbsp;&nbsp;Unidades</span>
								</div>
							</div>
							<div class="u-center">
								<a href='/user/{{element.User.username}}/product/{{element.nameSlugify}}/buy' class="am-View-button expand u-margin-top-20 buy-btn">COMPRAR</a>
								<!-- <button class="am-View-button expand u-margin-top-20 buy">COMPRAR</button> -->
							</div>
						</div>
					</div>
					{% endif %}

					<p class="am-stats-text u-margin-top-40">ESTADÍSTICAS</p>
					<div class="u-separator"></div>
					<div class="u-center">
						<table class="am-Single-stats u-margin-top-10">
						  <tr>
						    <!-- <td><i class="fa fa-eye"></i></td> -->
						    <td><i class="bi_interface-view"></i></td>
						    <td><p>VISTAS</p></td>
						    <td><span>{{element.views}}</span></td>
						  </tr>
						  <tr>
						    <!-- <td><i class="fa fa-diamond"></i></td> -->
						    <td><i class="bi_ecommerce-diamon"></i></td>
						    <td><p>VALORACIONES</p></td>
						    <td><span class="likes">{{element.likes || 0}}</span></td>
						  </tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="am-SingleMenu u-margin-top-20">
	  <div class="grid-container">
	    <div class="grid-100">
	      <div class="single-menu">
	        <div class="artist">
	          <div class="FollowArtist">
	            <a href="/user/{{element.User.username}}">
	              <img src="{{element.User.photo}}">
	            </a>
	            <div>
	            	<a href="#">
		              <p class="u-padding-bottom-4 uppercase" style="font-weight: bold;">{{element.User.fullname}}</p>
		              <p class="u-padding-bottom-7"> <strong></strong> {{element.User.city}}, {{element.User.country}}</p>
	            	</a>
	              {% if !owner %}
	              <button class="am-Follow-button">+ SEGUIR</button>
	              <button class="am-Follow-button following">+ SEGUIR</button>
	              {% endif %}
	            </div>
	          </div>
	        </div>
	        <div class="menu">
	          <div class="carousel">
	            <div class="single-tabs">
	              <div class="single-tab index">
									{% if entity === 'work' %}
									<p>+ OBRAS</p>
									{% else %}
									<p>+ PRODUCTOS</p>
									{% endif %}
	                <i class="bi_misc-cube"></i>
	              </div>
								{% if (entity === 'work' && element.onSale) %}
								<div class="single-tab products">
	                <p>PRODUCTOS</p>
	                <i class="bi_doc-book"></i>
	              </div>
								{% endif %}
	              <div class="single-tab reviews">
	                <p>REVIEWS</p>
	                <span>{{reviews.length}}</span>
	              </div>
	              <div class="single-tab tags">
	                <p>TAGS</p>
	                <i class="bi_editorial-left-align"></i>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!--=========================== WORKS-PRODUCTS'S RELATED AND SIMILAR ===========================-->
	<div class="index-container {% if currentPath !== 'index' %} hide {% endif %}">
	  <div class="grid-container u-margin-top-60">
	    <div class="grid-100">
				{% if entity === 'work'%}
				<p class="am-more-text u-text-center u-padding-bottom-10">Otras obras del artista</p>
				{% else %}
				<p class="am-more-text u-text-center u-padding-bottom-10">Otros productos del artista</p>
				{% endif %}
	      <div class="u-separator-center"></div>
	    </div>
	  </div>

	  <div class="grid-container">
	    <div class="grid-100">
	    	<div class="more-carousel">
					{% if entity === 'work'%}
					<p class="empty-profile-text empty-message hide u-margin-top-30">El artista no tiene mas obras<br><br>
						<a href="/works/category/all/page-1/">Descubre todas las obras de AM</a>
					</p>
					{% else %}
					<p class="empty-profile-text empty-message hide u-margin-top-30">El artista no tiene mas productos<br><br>
						<a href="/products/type/all/page-1/">Descubre todas los productos de AM</a>
					</p>
					{% endif %}
	        <div class="more-images more">
	        </div>
	      </div>
	    </div>
	  </div>

		<div class="u-separator u-margin-top-60"></div>

	  <div class="grid-container u-margin-top-60">
	    <div class="grid-100">
				{% if entity === 'work'%}
				<p class="am-more-text u-text-center u-padding-bottom-10">Obras relacionadas</p>
				{% else %}
				<p class="am-more-text u-text-center u-padding-bottom-10">Productos relacionados</p>
				{% endif %}
	      <div class="u-separator-center"></div>
	    </div>
	  </div>
	  <div class="grid-container">
	    <div class="grid-100">
	      <div class="more-carousel">
					{% if entity === 'work'%}
					<p class="empty-profile-text empty-message hide u-margin-top-30">No existen obras relacionadas<br><br>
						<a href="/works/category/all/page-1/">Descubre todas las obras de AM</a>
					</p>
					{% else %}
					<p class="empty-profile-text empty-message hide u-margin-top-30">No existen productos relacionadas<br><br>
						<a href="/products/type/all/page-1/">Descubre todas los productos de AM</a>
					</p>
					{% endif %}
	        <div class="more-images similar">
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->

	<!--=========================== WORK'S PRODUCTS ===========================-->
	<div class="products-container {% if currentPath !== 'products' %} hide {% endif %}">
		<div class="grid-container u-margin-top-60">
	    <div class="grid-100">
				<p class="am-more-text u-text-center u-padding-bottom-10">Productos</p>
	      <div class="u-separator-center"></div>
	    </div>
	  </div>

	  <div class="grid-container">
	    <div class="grid-100">
	      <div class="more-carousel">
					<p class="empty-profile-text empty-message hide u-margin-top-30">La obra no tiene productos<br><br>
						<a href="/products/type/all/page-1/">Descubre todas los productos de AM</a>
					</p>
					<div class="more-images work-products">
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->

	<!--=========================== WORK-PRODUCT'S REVIEWS  ===========================-->
	<div class="grid-container reviews-container {% if currentPath !== 'reviews' %} hide {% endif %}">
	  <div class="grid-100">
	    <div class="reviews">
	      <p class="title">Reviews &nbsp;&nbsp;<span>{{reviews.length}}</span></p>
	      <div class="u-separator"></div>

	      <div class='reviews-items-container'>
	      </div>

        {% if user %}
	      	<div class="review">
	          <div class="avatar"><img src="{{user.photo}}"></div>
	          <form class="content review-form">
	            <input type="hidden" name='id{{entity|capitalize}}' value="{{element.id}}"/>
	            <textarea class='value-input' name="value"></textarea>
	            <button>AGREGAR REVIEW</button>
	          </form>

	      	</div>
        {% else %}

        	<p class="empty-profile-text  empty-message u-margin-top-30" style="display: block;">
        		<a href="/auth/login">Logeate, para agregar review</a>
        	</p>
        {% endif %}

	    </div>
	  </div>
	</div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->

	<!--=========================== WORK-PRODUCT'S TAGS ===========================-->
  <div class="grid-container tags-container {% if currentPath !== 'tags' %} hide {% endif %}">
    <div class="grid-100">
      <div class="tags-container">
        <p class="title">Tags&nbsp;&nbsp;<span>{{tags.length}}</span></p>
        <div class="u-separator"></div>
				{% if tags.length > 1 %}
					<div class="tags">
	          {% for tag in tags %}
	          {% set url = "#" + tag.name %}
						{% if entity =='work'%}
							<div class="tag uppercase"><a href='/works/category/all/page-1/?term={{url|url_encode}}'>{{tag.name}}</a></div>
						{% else %}
							<div class="tag uppercase"><a href='/products/type/all/page-1/?term={{url|url_encode}}'>{{tag.name}}</a></div>
						{% endif %}
	          {% endfor %}
	        </div>
				{% else %}
					<p class="empty-profile-text  empty-message hide u-margin-top-30" style="display: block;">Esta obra aun no tiene tags<br><br>
						<a href="/works/category/all/page-1/">Descubre todas las obras de AM</a>
					</p>
				{% endif %}
      </div>
    </div>
  </div>
	<!--=================================================================================
			=================================================================================
			=================================================================================-->
{% include '../../partials/report.html' %}

	<div id="collection-modal" style="display:none;">
		<div class="actions-box add-collection">
			<p class="title">Añadir a las colecciones</p>
			<div class="u-separator u-margin-top-7"></div>

			<form class="add-collection-form">
				<input class="u-margin-top-10" type="text" name='name' required placeholder="Crear una colección nueva">
				<button class="u-margin-top-10 color-black bg-gray wd-auto">AÑADIR</button>
			</form>
			<ul class="collections u-margin-top-20">
			</ul>
			<div class="u-separator u-margin-top-20"></div>
			<div class="buttons u-margin-top-20">
				<button class="wd-auto bg-blue color-white save-collections">GUARDAR</button>
				<div class="hide save-collections-loading">
					<button class="wd-auto bg-blue color-white">
						<i class="load fa fa-spinner"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="share-modal" style="display:none;">
		<div class="actions-box social-share">
			<p class="title">Compartir obras</p>
			<div class="u-separator u-margin-top-7"></div>
			<div class="share share-fb">
				<i class="fa fa-facebook"></i>Compartir en facebook
			</div>
			<div class="share share-tw">
				<i class="fa fa-twitter"></i>Compartir en twitter
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		var owner = {{owner|json|safe}};
		var products = {{products|json|safe}};
		var entity = {{entity|json|safe}};
		var element = {{element|json|safe}};
		var currentPath = {{currentPath|json|safe}};
		var reviews = {{reviews|json|safe}};
		var more = {{more|json|safe}};
		var similar = {{similar|json|safe}};

		$("#go-collection-modal").leanModal();
		$("#go-share-modal").leanModal();
	</script>
	<script src='/work-product.js'></script>
{% endblock %}
