{% extends '../../partials/base.html' %}

{% block elements %}
<div class="am-upload-work">
  <div class="am-upload-work-box grid-container u-margin-top-20">
  	<div class="grid-100">
  		<p class="main-title">TU OBRA SE HA PUBLICADO CON ÉXITO</p>
  		<div class="u-separator"></div>
  		<div class="work-collection-card u-margin-top-40">
  			<div class="work-collection-card-img">
  				<img src="{{work.photo|addFilter('w_300,q_80,c_limit')}}">
  			</div>
  			<div class="work-collection-card-data">
  				<p class="work-collection-card-title">{{work.name}}</p>
  				<p class="work-collection-card-artist">{{work.User.firstname}}</p>
  			</div>
  		</div>
  		<div class="separator u-margin-top-20">
  			<span class="line"></span><span class="text">¿QUE QUIERES HACER AHORA?</span><span class="line"></span>
  		</div>
  	</div>
  	<div class="u-padding-top-20" style="oferoverflow: hidden;">
  		<div class="grid-50">
        <button class="button inline upload u-margin-top-30 upload_button">
          <a href='/user/{{work.User.username}}/work/{{work.nameSlugify}}'>
            <i class="bi_interface-view"></i>&nbsp;&nbsp;&nbsp;VER OBRA
          </a>
        </button>
  		</div>
  		<div class="grid-50">
  			<button class="button inline upload u-margin-top-30 upload_button" data-color="green">
          <a href='/user/{{work.User.username}}/work/{{work.nameSlugify}}/sell'><i class="bi_ecommerce-market"></i>&nbsp;&nbsp;&nbsp;VENDER OBRA</a>
  			</button>
  		</div>
  		<div class="grid-50 suffix-50">
  			<button class="button inline upload u-margin-top-30 upload_button">
          <a href='/user/{{work.User.username}}/work/add'><i class="bi_interface-cloud-upload"></i>&nbsp;&nbsp;&nbsp;SUBIR OTRA OBRA</a>
  			</button>
  		</div>
  		<div class="grid-50">
  			<button class="button inline upload u-margin-top-30 upload_button">
          <a href='/user/{{work.User.username}}/work/{{work.nameSlugify}}/edit'><i class="bi_editorial-compose"></i>&nbsp;&nbsp;&nbsp;EDITAR OBRA</a>
  			</button>
  		</div>
  		<div class="grid-50">
  			<button class="button inline upload u-margin-top-30 upload_button" data-color="red">
  				<i class="bi_editorial-trash-l"></i>&nbsp;&nbsp;&nbsp;ELIMINAR OBRA
  			</button>
  		</div>
  	</div>
  </div>
</div>
{% endblock %}
