{% extends '../../partials/base.html' %}

{% block elements %}

	<a class="sales-button white create-btn">CREAR</a>

	<div class="grid-container">
		<div class="grid-100">
			<p class="sales-title u-margin-bottom-30 u-margin-top-60">OBRA EN VENTA</p>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<div class="sales-image-card">
				<img src="{{work.photo|addFilter('w_300,c_limit')}}"/>
				<div class="content">
					<a href="#" class="title">{{work.name}}</a><br>
					<a href="#" class="author">
					{% if work.User.typeName === 1 %}
						{{work.User.fullname}}
					{% else %}
						{{work.User.pseudonimo}}
					{% endif %}</a>
				</div>
			</div>

			<div class="sales-option-button">
					<a class="sales-button white">ACTUALIZAR IMAGEN</a>
					<a class="sales-button white">EDITAR DATOS</a>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<p class="sales-title u-margin-bottom-30">CREADOR DE PRODUCTOS</p>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100 grid-parent">

			<div class="products-creator">
				<div class="product-creator">
					<div class="image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload//w_380/v1455381925/general/product-test.jpg">
					</div>
					<p class="title">OBRA ORIGINAL</p>
					<p class="description">0/1 activados</p>
					<div class="buttons">
						<a class="sales-button white" href="#">EDITAR</a>
						<a class="sales-button blue" href="#">ACTIVAR</a>
					</div>
				</div>
				<div class="product-creator">
					<div class="image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload//w_380/v1455381925/general/product-test.jpg">
					</div>
					<p class="title">OBRA ORIGINAL</p>
					<p class="description">0/1 activados</p>
					<div class="buttons">
						<a class="sales-button white" href="#">EDITAR</a>
						<a class="sales-button blue" href="#">ACTIVAR</a>
					</div>
				</div>
				<div class="product-creator">
					<div class="image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload//w_380/v1455381925/general/product-test.jpg">
					</div>
					<p class="title">OBRA ORIGINAL</p>
					<p class="description">0/1 activados</p>
					<div class="buttons">
						<a class="sales-button white" href="#">EDITAR</a>
						<a class="sales-button blue" href="#">ACTIVAR</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SALES 1 -->
	<div class="grid-container">
		<div class="grid-100">
			<div class="sales">
				<div class="sales-left">
					<div class="sales-image-card">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_700,h_800,q_80,c_limit/v1454928729/chlvcbesfnspyczfictg.png">
						<div class="content">
							<a href="#" class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</a>
							<a href="#" class="author">Sergio Gonzales Mucho</a>
						</div>
					</div>
				</div>
				<div class="sales-right">

					<!-- <a class="sales-button white">REEMPLAZAR IMAGEN</a> -->
					<p class="title u-margin-top-10" style="text-align: center;">DETALLES ENVÍO</p>
					<div class="u-separator u-margin-top-10 u-margin-bottom-25"></div>

					<p class="title">Detalles del Paquete</p>
					<p class="subtitle">Los siguientes datos son muy importantes porque afectarán el costo de envío.
					<br> <br>
					Asegúrate de leer nuestro tutorial de ¿Cómo empacar mi obra?</p>

					<p class="title">Tipo de empaque</p>

					<div class="checks">
						<input class="check" type="checkbox" name="package-type"></input>
						<label class="label-check">Empaque en tubo</label>

						<input class="check" type="checkbox" name="package-type"></input>
						<label class="label-check">Empaque en caja</label>
					</div>

					<div class="sizes">
						<p class="title">Largo</p>
						<input class="input" value="Medidas cm"></input> <br>

						<p class="title">Ancho</p>
						<input class="input" value="Medidas cm"></input> <br>

						<p class="title">Altura</p>
						<input class="input" value="Medidas cm"></input> <br>

						<p class="title">Peso del paquete</p>
						<input class="input" value="Peso en kg del paquete"></input> <br>
					</div>

					<a class="sales-button u-margin-top-30 u-margin-bottom-30">ACTUALIZAR</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- SALES 2 -->
	<div class="grid-container">
		<div class="grid-100">
			<div class="sales">
				<div class="sales-left">
					<div class="sales-image-card">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_700,h_800,q_80,c_limit/v1454928729/chlvcbesfnspyczfictg.png">
						<div class="content">
							<a href="#" class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</a>
							<a href="#" class="author">Sergio Gonzales Mucho</a>
						</div>
					</div>
				</div>
				<div class="sales-right">

					<p class="title u-margin-top-10" style="text-align: center;">PRINTS: CONDICIONES DE VENTA</p>
					<div class="u-separator u-margin-top-10 u-margin-bottom-25"></div>

					<p class="title">Condiciones</p>
					<p class="subtitle">
						AM te cobra por la fabricación del producto, no por la venta. Sugerimos que tu margen sea +20%, pero puedes incrementarlo si conoces tu mercado.
					</p>
					
					<table class="prints u-margin-top-20 u-margin-bottom-40" style="display: inline-block;">
						<tr>
							<td><p class="title">TIPO DE PRINT</p></td>
							<td><p class="title">MARGEN</p></td>
						</tr>
						<tr>
							<td>
								<div class="type">
									<input type="checkbox"></input>
									<div>
										<p>POSTERS</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
							<td>
								<div class="data">
									<input type="text"></input>
									<div>
										<p>PARA TÍ</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="type">
									<input type="checkbox"></input>
									<div>
										<p>PHOTO PRINTS</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
							<td>
								<div class="data">
									<input type="text"></input>
									<div>
										<p>PARA TÍ</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="type">
									<input type="checkbox"></input>
									<div>
										<p>FINE ART PRINTS</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
							<td>
								<div class="data">
									<input type="text"></input>
									<div>
										<p>PARA TÍ</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="type">
									<input type="checkbox"></input>
									<div>
										<p>CANVAS PRINTS</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
							<td>
								<div class="data">
									<input type="text"></input>
									<div>
										<p>PARA TÍ</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
						</tr>
					</table>

					<p class="subtitle-mall u-margin-top-50">* El precio de lista no incluye impuestos en cada país, ni el costo de envío.</p>

					<a class="sales-button u-margin-top-30 u-margin-bottom-10">APLICAR CAMBIOS</a>

					<a class="help-button u-margin-top-10 u-margin-bottom-10">Necesitas ayuda?</a>
				</div>
			</div>
		</div>
	</div>

	<!-- SALES 3 -->
	<div class="grid-container">
		<div class="grid-100">
			<div class="sales">
				<div class="sales-left">
					<div class="sales-image-card">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_700,h_800,q_80,c_limit/v1454928729/chlvcbesfnspyczfictg.png">
						<div class="content">
							<a href="#" class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</a>
							<a href="#" class="author">Sergio Gonzales Mucho</a>
						</div>
					</div>
				</div>
				<div class="sales-right">

					<p class="title u-margin-top-10" style="text-align: center;">TAZAS: CONDICIONES DE VENTA</p>
					<div class="u-separator u-margin-top-10 u-margin-bottom-25"></div>

					<p class="title">Condiciones</p>
					<p class="subtitle">
						AM te cobra por la fabricación del producto, no por la venta. Sugerimos que tu margen sea +20%, pero puedes incrementarlo si conoces tu mercado.
					</p>
					
					<table class="prints u-margin-top-20 u-margin-bottom-40" style="display: inline-block;">
						<tr>
							<td><p class="title">TIPO DE PRINT</p></td>
							<td><p class="title">MARGEN</p></td>
						</tr>
						<tr>
							<td>
								<div class="type">
									<input type="checkbox"></input>
									<div>
										<p>TAZA 11 OZ</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
							<td>
								<div class="data">
									<input type="text"></input>
									<div>
										<p>PARA TÍ</p>
										<p>$10.23 - $24.32</p>
									</div>
								</div>
							</td>
						</tr>
					</table>

					<p class="subtitle-mall u-margin-top-50">* El precio de lista no incluye impuestos en cada país, ni el costo de envío.</p>

					<a class="sales-button u-margin-top-30 u-margin-bottom-10">APLICAR CAMBIOS</a>

					<a class="help-button u-margin-top-10 u-margin-bottom-10">Necesitas ayuda?</a>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100 grid-parent">

			<div class="products-creator">
				<div class="product-creator">
					<div class="image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload//w_380/v1455381925/general/product-test.jpg">
					</div>
					<p class="title">OBRA ORIGINAL</p>
					<p class="description">0/1 activados</p>
					<div class="buttons">
						<a class="sales-button white" href="#">EDITAR</a>
						<a class="sales-button blue" href="#">ACTIVAR</a>
					</div>
				</div>
				<div class="product-creator">
					<div class="image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload//w_380/v1455381925/general/product-test.jpg">
					</div>
					<p class="title">OBRA ORIGINAL</p>
					<p class="description">0/1 activados</p>
					<div class="buttons">
						<a class="sales-button white" href="#">EDITAR</a>
						<a class="sales-button blue" href="#">ACTIVAR</a>
					</div>
				</div>
				<div class="product-creator">
					<div class="image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload//w_380/v1455381925/general/product-test.jpg">
					</div>
					<p class="title">OBRA ORIGINAL</p>
					<p class="description">0/1 activados</p>
					<div class="buttons">
						<a class="sales-button white" href="#">EDITAR</a>
						<a class="sales-button blue" href="#">ACTIVAR</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SALES 4 -->
	<div class="grid-container">
		<div class="grid-100">
			<div class="sales">
				<div class="sales-left">
					<div class="sales-image-card">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_700,h_800,q_80,c_limit/v1454928729/chlvcbesfnspyczfictg.png">
						<div class="content">
							<a href="#" class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</a>
							<a href="#" class="author">Sergio Gonzales Mucho</a>
						</div>
					</div>
				</div>
				<div class="sales-right">

					<p class="title u-margin-top-10" style="text-align: center;">PRINTS: EDICIÓN</p>
					<div class="u-separator u-margin-top-10 u-margin-bottom-25"></div>

					<p class="title">Hacer prints nunca fué tan fácil</p>
					<p class="subtitle">
						Al subir la imagen el tamaño mínimo es 1600x1600 pixeles para crear prints.
						<br><br>
						Puedes elegir entre:
						<br>
						Poster print / Photo Luster Print / Fine Art Print (100% algodón) / Canvas Print
					</p>

					<a href="" class="sales-button white">REEMPLAZAR IMAGEN</a>

					<div class="back-color">
						<p class="subtitle">Color de fondo:</p>
						<select>
							<option></option>
							<option></option>
							<option></option>
						</select>
					</div>

					<p class="subtitle" style="margin-bottom: 0;">Centrar diseño:</p>
					
					<div class="aligns">
						<a href="" class="sales-button white">VERTICAL</a>
						<a href="" class="sales-button white">HORIZONTAL</a>
					</div>

					<a class="sales-button u-margin-top-30 u-margin-bottom-10">GUARDAR CAMBIOS</a>

					<a class="help-button u-margin-top-10 u-margin-bottom-10">Necesitas ayuda?</a>
				</div>
			</div>
		</div>
	</div>

	<!-- SALES 5 -->
	<div class="grid-container">
		<div class="grid-100">
			<div class="sales">
				<div class="sales-left">
					<div class="sales-image-card">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_700,h_800,q_80,c_limit/v1454928729/chlvcbesfnspyczfictg.png">
						<div class="content">
							<a href="#" class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</a>
							<a href="#" class="author">Sergio Gonzales Mucho</a>
						</div>
					</div>
				</div>
				<div class="sales-right">

					<p class="title u-margin-top-10" style="text-align: center;">TAZAS: EDICIÓN</p>
					<div class="u-separator u-margin-top-10 u-margin-bottom-25"></div>

					<p class="title">Crea tazas geniales con solo un click</p>
					<p class="subtitle">
						Acomoda la imagen de tu obra sobre la taza. Para un resultado óptimo crea una imagen de 2700x1624 píxeles que se acomode al formato.
					</p>

					<a href="" class="sales-button white">REEMPLAZAR IMAGEN</a>

					<div class="back-color">
						<p class="subtitle">Color de fondo:</p>
						<select>
							<option></option>
							<option></option>
							<option></option>
						</select>
					</div>

					<p class="subtitle u-margin-top-30" style="margin-bottom: 0;">Tamaño obra en el producto:</p>

					<div class="size-work">
						<input type="range" name="" min="0" max="10">
						<p>50%</p>
					</div>

					<p class="subtitle u-margin-top-20" style="margin-bottom: 0;">Centrar diseño:</p>
					
					<div class="aligns">
						<a href="" class="sales-button white">VERTICAL</a>
						<a href="" class="sales-button white">HORIZONTAL</a>
					</div>

					<a class="sales-button u-margin-top-30 u-margin-bottom-10">GUARDAR CAMBIOS</a>

					<a class="help-button u-margin-top-10 u-margin-bottom-10">Necesitas ayuda?</a>
				</div>
			</div>
		</div>
	</div>

	<!-- SALES 6 -->
	<div class="grid-container">
		<div class="grid-100">
			<div class="sales">
				<div class="sales-left">
					<div class="sales-image-card">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_700,h_800,q_80,c_limit/v1454928729/chlvcbesfnspyczfictg.png">
						<div class="content">
							<a href="#" class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</a>
							<a href="#" class="author">Sergio Gonzales Mucho</a>
						</div>
					</div>
				</div>
				<div class="sales-right">

					<p class="title u-margin-top-10" style="text-align: center;">OBRA ORIGINAL: CONDICIONES DE VENTA</p>
					<div class="u-separator u-margin-top-10 u-margin-bottom-25"></div>

					<p class="title">Calculadora de precios</p>
					<p class="subtitle">AM cobra una comisión de 30% en la venta de obras y creaciones originales.
						<br><br>
						Asegúrate de leer los términos y condiciones sobre nuestro servicio aquí.
						<br><br>
						<a href="#">
							Términos y condiciones del servicio
							Guía del vendedor en AM
						</a>
					</p>

					<p class="title">Cálculo de ganancias</p>

					<!-- <div class="checks">
						<input class="check" type="checkbox" name="package-type"></input>
						<label class="label-check">Empaque en tubo</label>

						<input class="check" type="checkbox" name="package-type"></input>
						<label class="label-check">Empaque en caja</label>
					</div> -->

					
					<table class="prices u-margin-top-20">
						<tr>
							<td><p class="text">Precio base (ganancia del artista)</p></td>
							<td><input class="input" type="text" placeholder="¿Cuanto quieres ganar?"></input></td>
							<td><p class="currency">USD</p></td>
						</tr>
						<tr>
							<td></td>
							<td><p class="plus">+</p></td>
						</tr>
						<tr>
							<td><p class="text">Comisión AM (30%)</p></td>
							<td><input class="input" type="text" placeholder="0:00"></input></td>
							<td><p class="currency">USD</p></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="u-separator u-margin-top-20 u-margin-bottom-20" style="background: #979797;"></div></td>
						</tr>
						<tr>
							<td><p class="text">Precio de lista (*)</p></td>
							<td><input class="input" type="text" placeholder="Precio final"></input></td>
							<td><p class="currency">USD</p></td>
						</tr>
					</table>

					<p class="subtitle-mall">* El precio de lista no incluye impuestos en cada país, ni el costo de envío.</p>

					<a class="sales-button u-margin-top-30 u-margin-bottom-10">APLICAR CAMBIOS</a>

					<a class="help-button u-margin-top-10 u-margin-bottom-10">Necesitas ayuda?</a>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<div class="creator-confirm">
				<p class="title">¿Confirmar productos?</p>
				<div class="options">
					<a class="sales-button white">CANCELAR</a>
					<a class="sales-button">PONER EN VENTA</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
<script>
var work = {{work|json|safe}};
$(function() {
	$.cloudinary.config({{cloudinary.config()|json|safe}});
	new APP.SellScreen();
});
</script>
{% endblock %}