{% extends '../../partials/base.html' %}

{% block elements %}
<div class="am-upload-work">
  <div class="am-upload-work-box grid-container u-margin-top-20">
	<div class="grid-100">
    {% if mode === 'edit' %}
      <p class="main-title"><i class="bi_ecommerce-shop"></i>&nbsp;&nbsp;ACTUALIZA TU OBRA</p>
    {% else %}
      {% if !work.onSale %}
      <p class="main-title"><i class="bi_ecommerce-shop"></i>&nbsp;&nbsp;VENDE TU TRABAJO</p>
      {% else %}
      <p class="main-title"><i class="bi_ecommerce-shop"></i>&nbsp;&nbsp;ESTA OBRA YA ESTA EN VENTA</p>
      {% endif %}
    {% endif %}

		<div class="u-separator"></div>
    <div class="work-collection-card u-margin-top-40">
      {% if mode === 'edit' %}
      <div class="product-card">
          <div class="product-card-image" style="background-image: url('{{product.photo|addFilter('w_300,h_300,c_fill')}}')"></div>
          <div class="product-card-data">
            <p>{{product.name}}</p>
            <p>{{product.User.username}}</p>
          </div>
      </div>
      {% else %}
        <div class="work-collection-card-img">
          <img src="{{work.photo|addFilter('w_300,q_80,c_limit')}}">
        </div>
        <div class="work-collection-card-data">
          <p class="work-collection-card-title">{{work.name}}</p>
          <p class="work-collection-card-artist">{{work.User.firstname}}</p>
        </div>
      {% endif %}
    </div>
	</div>
  {% if !work.onSale %}
    <div class="grid-100 u-margin-top-20">
  		<div class="separator">
  			<span class="line"></span><span class="text">DATOS DEL PRODUCTO</span><span class="line"></span>
  		</div>
  	</div>

    <div class="grid-100 mobile-grid-100">
      <p class="title">Descripcion del producto</p>
      <textarea name='description' required class='input'placeholder="Descripcion" maxlength='140'>
        {{work.description}}
      </textarea>
    </div>

    <div class="grid-100 mobile-grid-100">
      <p class="title">Categoría del producto</p>
      <select class="input select-type" required name='categories'>
        {% for category in categories %}
        <option data-profit={{category.profit}} value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>

		<div class="grid-100 mobile-grid-100">
			<p class="title">Tags del producto</p>
			<input name='tags' class="input tags"  value="{{tags}}" required type="text"/>
    </div>
    <div class="grid-100">
  		<div class="separator u-margin-top-20">
  			<span class="line"></span><span class="text">CALCULAR PRECIO DEL PRODUCTO</span><span class="line"></span>
  		</div>
  	</div>
    <form class="sell-form">
    	<div class="grid-100">
    		<p class="title"></p>
    		<div class="operators">
    			<div class="box">
    				<div class="input container">
              <input required type='number' name='price' value='{{product.price}}'   placeholder="cuanto deseas ganar"></input>
    				</div>
    			</div>
    			<div class="simbol">+</div>
    			<div class="box">
    				<p>Ganamos si tu ganas (<span class="price_label">30</span>%)</p>
    			</div>
    			<div class="simbol">=</div>
    			<div class="box">
    				<input required class="input" name='finalPrice' disabled placeholder="Total">
    			</div>
    		</div>
    		<div class="operators-desc u-margin-top-10">
    			<p>GANANCIA DEL ARTISTA</p>
    			<p>COMISIÓN ARTE MANIFIESTO</p>
    			<p>PRECIO DE LISTA OBRA</p>
    		</div>
    	</div>
  	<div class="grid-100 u-margin-top-20">
  		<div class="separator">
  			<span class="line"></span><span class="text">DATOS DEL ENVÍO</span><span class="line"></span>
  		</div>
  	</div>

  	<div class="grid-100">
  		<p class="sub-title">Ingresa datos exactos para hacer un mejor cálculo del envío y el manejo de la obra, incluyendo el peso del empaque</p>
  	</div>

  	<div class="grid-50 mobile-grid-100">
  		<p class="title">Ancho</p>
  		<input required name='width' class="input" type="number" placeholder="Ingresa en cm"/>
  	</div>
  	<div class="grid-50 mobile-grid-100">
  		<p class="title">Largo</p>
  		<input required name='length' class="input" type="number" placeholder="Ingresa en cm"/>
  	</div>
  	<div class="grid-50 mobile-grid-100">
  		<p class="title">Profundidad</p>
  		<input required name='depth' class="input" type="number" placeholder="Ingresa en cm"/>
  	</div>
  	<div class="grid-50 mobile-grid-100">
  		<p class="title">Peso</p>
  		<input required name='weight' class="input" type="number" placeholder="Cuantos kilos pesa"/>
    </div>
    <div class="grid-100">
      <button class="button sell-btn" data-color="blue">
        VENDER
      </button>
      <div class="sell-loading hide">
        <button class="button u-margin-top-30" data-color="blue">
          <i class="load fa fa-spinner"></i>
        </button>
      </div>
    </div>
  </form>
  {% else %}
    <a class="button" href='/user/{{work.User.username}}/product/{{work.nameSlugify}}' data-color="blue">VER PRODUCTO</a>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}

{% block scripts %}
<script src='/jquery.tagsinput.js' type='text/javascript'></script>
<script>
$(function(){
  $('.tags').tagsInput({
		height:'50px', width:'100%', defaultText:'+ Etiqueta'
	});

  var $price = $('input[name=price]');
  var $final_price = $('input[name=finalPrice]');

  var product= {{product|json|safe}};
  var price = product.price;
  var final_price = product.finalPrice;

  $price.keyup(function(){
    price = parseInt($(this).val(), 10);
    if(isNaN(price))
      price = 0;

    final_price = price + Math.floor(price / 100 * profit);
    $final_price.val(final_price);
  });
  var work = {{work|json|safe}};

  $('.sell-form').submit(function(event){
    $('.sell-btn').hide();
    $('.sell-loading').show();
		event.preventDefault();
		var formData = {
			photo              : work.photo,
			name             : work.name,
			description             : $('textarea[name=description]').val(),
      price: price,
      finalPrice: final_price,
      public: true,
      idWork: work.id,
      category: parseInt($('select[name=categories]').val(),10),
      tags : $('input[name=tags]').val().split(','),
      width: $('input[name=width]').val(),
      length: $('input[name=length]').val(),
      depth: $('input[name=depth]').val(),
      weight: $('input[name=weight]').val()
		};

		$.ajax({
			method: 'POST',
			url: DataApp.currentUser.url + '/product/create',
			data: {data: JSON.stringify(formData)}
		}).then(function(response) {
      if(response.status === 200) {
        $('.sell-btn').show();
        $('.sell-loading').hide();
				location.href = DataApp.currentUser.url + '/store';
			}
		});
	});
  var profit;
  $('.select-type').change(function(){
    profit = parseInt($( ".select-type option:selected").data('profit'), 10);
    $('.price_label').text(profit);
    $price.keyup();
  });
  $('.select-type').change();

  $('.select-type').find('option[value='+ {{productType|json|safe}}.id+']').attr("selected",true);

});
</script>
{% endblock %}
