{% extends '../../partials/base.html' %}

{% block elements %}
	<div class="grid-container">
		<div class="grid-100">
			<p class="sales-title u-margin-bottom-30 u-margin-top-60">OBRA EN VENTA</p>
		</div>
	</div>

{% endblock %}


{% block scripts %}

<script src='/spectrum/spectrum.js'></script>
<script>
	var work = {{work|json|safe}};

	var categories = {{categories|json|safe}};
	$(function() {
		// $.cloudinary.config({{cloudinary.config()|json|safe}});

		new APP.SellScreen();

		$('#go-collection-modal').leanModal();
		$('#go-share-modal').leanModal();
	});
</script>
{% endblock %}
