/*------------------------------------*
	$ NIB
*------------------------------------*/
/*------------------------------------*
	$ BASE
*------------------------------------*/
body {
  margin: 0;
}
figure {
  margin: 0;
}
img {
  vertical-align: top;
  width: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  background: #fff;
  border: none;
  padding: 0;
  outline: none;
}
select {
  border: none;
  outline: none;
  background: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  outline: 0;
}
input[type="submit"] {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 90%;
}
@media (min-width: 720px) {
  html {
    font-size: 100%;
  }
}
.header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1100px;
  margin: 0.5rem auto;
}
.category-menu {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.category-menu .thick-menu {
  max-width: 1100px;
  margin: auto;
}
/*------------------------------------*
	$ LOGOS
*------------------------------------*/
.logo {
  padding: 0.5rem 1rem;
  display: table-cell;
}
.logo__small {
  max-width: 2rem;
}
.logo__normal {
  max-width: 10rem;
  display: none;
}
@media (min-width: 350px) {
  .logo__small {
    display: none;
  }
  .logo__normal {
    display: block;
  }
}
/*------------------------------------*
	$ MENUS
*------------------------------------*/
.skinny-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.skinny-menu__item {
  color: #000;
  padding: 0.5em 1rem;
}
.skinny-menu__item.active {
  border-bottom: 0.25em solid #000;
}
.skinny-menu[data-icon='true'] .skinny-menu__item__text {
  display: none;
}
@media (min-width: 500px) {
  .skinny-menu[data-icon='true'] .skinny-menu__item__text {
    display: inline;
  }
}
.thick-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.thick-menu__item {
  color: #000;
  padding: 0.5rem 1rem;
}
/*------------------------------------*
	$ TEXTS
*------------------------------------*/
.high-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
}
.high-text[data-size='small'] {
  font-size: 0.9rem;
}
.skinny-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed';
}
.skinny-text[data-color='light'] {
  color: #aaa;
}
.skinny-text[data-size='small'] {
  font-size: 0.85rem;
}
.slogan-text {
  font-family: 'Oswald';
  font-size: 1.5rem;
  color: #585858;
  letter-spacing: 0.5px;
}
.medium-text {
  color: #585858;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.separator-text {
  text-transform: uppercase;
  color: #aaa;
  font-family: 'Oswald';
  font-size: 0.8em;
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.separator-text .line {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  background: #eee;
}
.separator-text .text {
  padding: 0 1em;
}
/*------------------------------------*
	$ BUTTONS
*------------------------------------*/
.button-solid {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;
  background: #3000ff;
  display: table-cell;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-solid[data-size='small'] {
  font-size: 0.85rem;
}
.button-solid[data-size='large'] {
  font-size: 1.15rem;
}
.button-solid[data-color='red'] {
  background: #f54545;
}
.button-solid[data-expand='true'] {
  display: block;
  text-align: center;
  width: 100%;
}
.button-liner {
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  display: table-cell;
  border: 1px solid #bbb;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-liner__action {
  padding: 0.5em 0.75em;
  display: table-cell;
}
.button-liner__number {
  padding: 0.5em;
  display: table-cell;
  border-left: 1px solid #bbb;
}
.button-liner[data-size='small'] {
  font-size: 0.85rem;
}
.button-liner[data-size='large'] {
  font-size: 1.15rem;
}
.button-liner.disabled {
  color: #aaa;
  border-color: #ccc;
}
.button-liner.disabled .button-liner__number {
  border-color: #bbb;
}
.facebook-button {
  color: #fff;
  display: table-cell;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed';
  background: -webkit-linear-gradient(#4e69a2, #3b5998);
  background: -moz-linear-gradient(#4e69a2, #3b5998);
  background: -o-linear-gradient(#4e69a2, #3b5998);
  background: -ms-linear-gradient(#4e69a2, #3b5998);
  background: linear-gradient(#4e69a2, #3b5998);
}
.facebook-button i {
  font-size: 1.25em;
}
.facebook-button[data-expand='true'] {
  display: block;
  text-align: center;
}
.button-link {
  color: #3000ff;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-filter {
  padding: 0.5em 0.75rem;
  font-family: 'Raleway';
  border: 1px solid #ddd;
  cursor: pointer;
}
/*------------------------------------*
	$ ARTISTS
*------------------------------------*/
.artists {
  padding: 0 0.5rem;
  overflow: hidden;
}
.artist {
  margin: 1rem 0.5rem;
  border: 1px solid #ddd;
  -webkit-transition: box-shadow ease-in-out 125ms;
  -moz-transition: box-shadow ease-in-out 125ms;
  -o-transition: box-shadow ease-in-out 125ms;
  -ms-transition: box-shadow ease-in-out 125ms;
  transition: box-shadow ease-in-out 125ms;
}
.artist .artist-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0.5em;
}
.artist .artist-header .avatar {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 56.25px;
  padding: 0.5em;
}
.artist .artist-header .avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.artist .artist-header .info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0.25em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.artist .artist-works {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.artist .artist-works .work {
  width: 33.333333%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 75px;
  background-position: center center;
}
.artist .artist-follow {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.artist:hover {
  -webkit-box-shadow: rgba(0,0,0,0.35) 0 0 10px;
  box-shadow: rgba(0,0,0,0.35) 0 0 10px;
}
@media screen and (min-width: 226px) and (max-width: 450px) {
  .artists[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 451px) and (max-width: 675px) {
  .artists[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 676px) and (max-width: 900px) {
  .artists[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 901px) and (max-width: 1125px) {
  .artists[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}
@media screen and (min-width: 1126px) {
  .artists[data-columns]::before {
    content: '5 .column.size-1of5';
  }
}
.column {
  float: left;
}
.size-1of1 {
  width: 100%;
}
.size-1of2 {
  width: 50%;
}
.size-1of3 {
  width: 33.333333333333336%;
}
.size-1of4 {
  width: 25%;
}
.size-1of5 {
  width: 20%;
}
.work1 {
  background-image: url("../img/works/obra1.jpg");
}
.work2 {
  background-image: url("../img/works/obra2.jpg");
}
.work3 {
  background-image: url("../img/works/obra3.jpg");
}
.work4 {
  background-image: url("../img/works/obra4.jpg");
}
.work5 {
  background-image: url("../img/works/obra5.jpg");
}
.work6 {
  background-image: url("../img/works/obra6.jpg");
}
.work7 {
  background-image: url("../img/works/obra7.jpg");
}
.work8 {
  background-image: url("../img/works/obra8.jpg");
}
.work9 {
  background-image: url("../img/works/obra9.jpg");
}
.work10 {
  background-image: url("../img/works/obra10.jpg");
}
.work11 {
  background-image: url("../img/works/obra11.jpg");
}
.work12 {
  background-image: url("../img/works/obra12.jpg");
}
.artists {
  max-width: 1100px;
  margin: auto;
}
