/*------------------------------------*
	$ PROFILE
*------------------------------------*/
body {
  margin: 0;
}
figure {
  margin: 0;
}
img {
  vertical-align: top;
  width: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  background: #fff;
  border: none;
  padding: 0;
  outline: none;
}
select {
  border: none;
  outline: none;
  background: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  outline: 0;
}
input[type="submit"] {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  padding: 0.5rem 1rem;
}
.logo__small {
  max-width: 2rem;
}
.logo__normal {
  max-width: 11rem;
  display: none;
}
@media (min-width: 300px) {
  .logo__small {
    display: none;
  }
  .logo__normal {
    display: block;
  }
}
@media (min-width: 450px) {
  .logo__normal {
    max-width: 13.5rem;
  }
}
.skinny-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed';
}
.skinny-text[data-color='light'] {
  color: #aaa;
}
.skinny-text[data-size='small'] {
  font-size: 0.85rem;
}
.medium-text {
  color: #585858;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.separator-text {
  text-transform: uppercase;
  color: #aaa;
  font-family: 'Oswald';
  font-size: 0.8em;
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.separator-text .line {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  background: #eee;
}
.separator-text .text {
  padding: 0 1em;
}
.italic-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
  line-height: 1.25;
  font-style: italic;
}
.italic-text a {
  display: inline-block;
  font-weight: bold;
}
.italic-text[data-size='small'] {
  font-size: 0.9rem;
}
.italic-text[data-color='light'] {
  color: #aaa;
}
.section-title-text {
  font-family: 'Oswald';
  font-size: 1.5rem;
  color: #585858;
  letter-spacing: 0.5px;
}
.navigation-text {
  font-family: 'Oswald';
  color: #585858;
  font-family: 'Raleway';
  font-weight: 600;
  letter-spacing: 1px;
}
.high-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
  line-height: 1.25;
}
.high-text a {
  font-weight: bold;
}
.high-text[data-size='small'] {
  font-size: 0.9rem;
}
.high-text[data-color='light'] {
  color: #aaa;
}
.profile-text {
  font-family: 'Oswald';
  font-size: 1.5rem;
  color: #585858;
  letter-spacing: 0.5px;
  line-height: 1em;
}
.single-product-text {
  font-family: 'Oswald';
  font-size: 1.75rem;
  color: #585858;
  letter-spacing: 1px;
  line-height: 1em;
}
.thick-menu-container {
  display: block;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
  white-space: nowrap;
  overflow: auto;
}
.thick-menu-container::-webkit-scrollbar {
  display: none;
}
.thick-menu {
  display: table;
  margin: auto;
}
.thick-menu__item {
  color: #333;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: table-cell;
  cursor: pointer;
}
.thick-menu__item:not(:first-child) {
  padding-left: 1rem;
}
.thick-menu__item:not(:last-child) {
  padding-right: 1rem;
}
.thick-menu__item.selected {
  background: #f6f6f6;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.skinny-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.skinny-menu__item {
  color: #333;
  padding: 0.5em 1rem;
  cursor: pointer;
}
.skinny-menu__item__icon {
  font-size: 0.9rem;
}
.skinny-menu__item.active {
  border-bottom: 0.25em solid #000;
}
.skinny-menu__avatar {
  padding: 0 1rem;
  cursor: pointer;
}
.skinny-menu[data-icon='true'] .skinny-menu__item__text {
  display: none;
}
@media (min-width: 590px) {
  .skinny-menu[data-icon='true'] .skinny-menu__item__text {
    display: inline;
  }
  .skinny-menu[data-icon='true'] .skinny-menu__item__icon {
    display: none;
  }
}
.square-menu-container {
  height: 3.5rem;
  overflow: hidden;
  max-width: 1100px;
  margin: auto;
}
.square-menu {
  letter-spacing: 1.5px;
  font-family: 'Oswald';
  color: #585858;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 1rem;
}
.square-menu__item {
  display: inline-block;
  border: solid 1px #ddd;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  background: #fff;
  cursor: pointer;
  position: relative;
}
.square-menu__item:not(:first-child) {
  margin-left: 0.5rem;
}
.square-menu__item:not(:last-child) {
  margin-right: 0.5rem;
}
.account-menu {
  position: absolute;
  bottom: 0;
  right: 1rem;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  z-index: 1;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0.5rem;
  letter-spacing: 1px;
  border: solid 1px #eee;
}
.account-menu__item {
  color: #333;
  padding: 0.5rem;
}
.account-menu__item:hover {
  color: #000;
}
.account-menu__item b {
  font-weight: 400;
}
.header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1100px;
  margin: 0.5rem auto;
  position: relative;
}
.category-menu {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.category-menu .carousel {
  margin: auto;
  height: 2.5rem;
  padding: 0 1rem;
  overflow: hidden;
  max-width: 1100px;
}
.flash-message-container {
  max-width: 1100px;
  margin: auto;
  display: none;
}
.flash-message {
  text-align: center;
  position: relative;
  margin: 0 1rem;
  padding: 1rem;
}
.flash-message.error {
  background: #fae7c8;
  color: #ce6637;
}
.flash-message.success {
  background: #e8edd0;
  color: #48970c;
}
.flash-message .text {
  font-family: Arial;
  font-size: 0.95rem;
  letter-spacing: 1px;
}
.flash-message .fa {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 1rem;
}
.footer-container {
  background: #181818;
}
.footer-container .footer {
  max-width: 1100px;
  margin: auto;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
}
.footer-container .footer__logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1rem 0;
}
.footer-container .footer__section {
  padding: 0.25rem 0;
}
.footer-container .footer__section.copyright {
  padding: 0 1rem;
}
.footer-container .footer__section.links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.footer-container .footer__section.links p {
  padding: 0.5rem;
}
.footer-container .footer__section.social .fa {
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.15rem;
}
@media (min-width: 920px) {
  .footer__sections {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .footer__section {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .footer__section.copyright {
    text-align: left;
  }
  .footer__section.social {
    text-align: right;
  }
}
html {
  font-size: 16px;
  height: 100%;
  font-size: 90%;
}
@media (min-width: 720px) {
  html {
    font-size: 100%;
  }
}
body {
  height: 100%;
  position: relative;
}
.main-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-wrapper__content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.main-wrapper__content.gray {
  background: #f6f6f6;
}
.modal {
  background: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.modal-box {
  max-width: 400px;
  background: #fff;
  margin: 2rem auto;
}
/*------------------------------------*
	$INT TO STRING
*------------------------------------*/
.facebook-button {
  color: #fff;
  display: table-cell;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed';
  background: -webkit-linear-gradient(#4e69a2, #3b5998);
  background: -moz-linear-gradient(#4e69a2, #3b5998);
  background: -o-linear-gradient(#4e69a2, #3b5998);
  background: -ms-linear-gradient(#4e69a2, #3b5998);
  background: linear-gradient(#4e69a2, #3b5998);
}
.facebook-button i {
  font-size: 1.25em;
}
.facebook-button[data-expand='true'] {
  display: block;
  text-align: center;
}
.button-solid {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;
  background: #3000ff;
  display: table-cell;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-solid[data-size='small'] {
  font-size: 0.85rem;
}
.button-solid[data-size='large'] {
  font-size: 1.15rem;
}
.button-solid[data-color='red'] {
  background: #f54545;
}
.button-solid[data-color='gray'] {
  background: #cfcfcf;
}
.button-solid[data-expand='true'] {
  display: block;
  text-align: center;
  width: 100%;
}
.button-filter {
  padding: 0.5em 0.75rem;
  font-family: 'Raleway';
  border: 1px solid #ddd;
  cursor: pointer;
}
.button-liner {
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  display: table-cell;
  border: 1px solid #bbb;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-liner__action {
  padding: 0.5em;
  display: table-cell;
}
.button-liner__action.following,
.button-liner__action.cancel {
  display: none;
}
.button-liner__number {
  padding: 0.5em;
  display: table-cell;
  border-left: 1px solid #bbb;
}
.button-liner[data-size='small'] {
  font-size: 0.85rem;
}
.button-liner[data-size='large'] {
  font-size: 1.15rem;
}
.button-liner.disabled {
  color: #aaa;
  border-color: #ccc;
}
.button-liner.disabled .button-liner__number {
  border-color: #bbb;
}
.button-liner.disabled .button-liner__action.folllow {
  display: none;
}
.button-liner.disabled .button-liner__action.following {
  display: table-cell;
}
.button-liner.disabled:hover .button-liner__action.following {
  display: none;
}
.button-liner.disabled:hover .button-liner__action.cancel {
  display: table-cell;
}
.button-like,
.button-wish-list {
  color: #444;
  font-weight: 100;
  font-size: 0.85em;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed';
  cursor: pointer;
}
.button-like .fa-heart,
.button-wish-list .fa-heart {
  color: #f54545;
  display: none;
}
.button-like.active .fa-heart,
.button-wish-list.active .fa-heart {
  display: inline;
}
.button-like.active .fa-heart-o,
.button-wish-list.active .fa-heart-o {
  display: none;
}
.button-avatar {
  max-width: 2.5rem;
}
.button-avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.works {
  padding: 0 0.5rem;
  overflow: hidden;
  max-width: 1100px;
  margin: auto;
}
.works .work {
  margin: 1rem 0.5rem;
  border: 1px solid #eee;
  -webkit-transition: box-shadow ease-in-out 125ms;
  -moz-transition: box-shadow ease-in-out 125ms;
  -o-transition: box-shadow ease-in-out 125ms;
  -ms-transition: box-shadow ease-in-out 125ms;
  transition: box-shadow ease-in-out 125ms;
  position: relative;
}
.works .work:hover {
  -webkit-box-shadow: rgba(0,0,0,0.35) 0 0 10px;
  box-shadow: rgba(0,0,0,0.35) 0 0 10px;
}
.works .work .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
  background: rgba(0,0,0,0.1);
}
.works .work .cover .social-item {
  margin: auto;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 2em;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.works .work .cover .social-item.active {
  color: #3000ff;
}
.work:hover .cover {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (min-width: 151px) and (max-width: 300px) {
  .works[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 301px) and (max-width: 450px) {
  .works[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  .works[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 601px) and (max-width: 750px) {
  .works[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}
@media screen and (min-width: 751px) and (max-width: 900px) {
  .works[data-columns]::before {
    content: '5 .column.size-1of5';
  }
}
@media screen and (min-width: 901px) {
  .works[data-columns]::before {
    content: '6 .column.size-1of6';
  }
}
.column {
  float: left;
}
.size-1of1 {
  width: 100%;
}
.size-1of2 {
  width: 50%;
}
.size-1of3 {
  width: 33.333333333333336%;
}
.size-1of4 {
  width: 25%;
}
.size-1of5 {
  width: 20%;
}
.size-1of6 {
  width: 16.666666666666668%;
}
.products {
  margin: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.products .product-wrapper {
  padding: 0.5rem;
}
.product {
  border: 1px solid #ddd;
  position: relative;
  -webkit-transition: box-shadow ease-in-out 125ms;
  -moz-transition: box-shadow ease-in-out 125ms;
  -o-transition: box-shadow ease-in-out 125ms;
  -ms-transition: box-shadow ease-in-out 125ms;
  transition: box-shadow ease-in-out 125ms;
}
.product .product-image {
  position: relative;
  display: block;
}
.product .product-image .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.1);
  display: none;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.product .product-image .cover .fa {
  font-size: 2rem;
  color: #fff;
  margin: 0.5rem;
  cursor: pointer;
}
.product .product-image .cover .fa:first-child.active {
  color: #3000ff;
}
.product .product-title {
  border-bottom: 1px dashed #e6e8ec;
  padding: 0.5em;
}
.product .product-title .title {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-family: 'Raleway';
  white-space: nowrap;
  overflow: hidden;
}
.product .product-info {
  padding: 0.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.product .product-info .price {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Raleway';
}
.product .product-info .like,
.product .product-info .wish-list {
  display: none;
}
.product .product-info .users {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.product .product-info .users img {
  max-width: 25px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.product .product-info .users img:not(:first-child) {
  margin-left: 0.15rem;
}
.product-image:hover .cover {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (min-width: 360px) {
  .products {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .products .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 540px) {
  .products .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 33.333%;
    -ms-flex: 1 33.333%;
    flex: 1 33.333%;
    max-width: 33.333%;
  }
}
@media screen and (min-width: 720px) {
  .products .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 900px) {
  .products .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 20%;
    -ms-flex: 1 20%;
    flex: 1 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 1100px) {
  .products.moveLeft .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
  .products.moveRight .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
  .products.moveLeft.moveRight .product-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 33.333%;
    -ms-flex: 1 33.333%;
    flex: 1 33.333%;
    max-width: 33.333%;
  }
}
.collect {
  border: 2px solid #c6c9d0;
  background: #fff;
  -webkit-box-shadow: 0 0 1px #d7dae0;
  box-shadow: 0 0 1px #d7dae0;
  padding: 0.5rem 0.75rem;
  text-align: center;
  position: absolute;
  z-index: 1;
  display: none;
}
.collect .collect-title {
  margin: 0.5rem;
  font-family: 'Oswald';
  color: #222;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}
.collect .checkbox-list {
  margin: 0.5rem;
}
.collect .new-text {
  color: #3000ff;
  font-family: 'Roboto Condensed';
  cursor: pointer;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.collect .new-text .fa {
  font-size: 0.6rem;
}
.collect .add-wrapp {
  display: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0.5rem;
}
.collect .add-wrapp.visible {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.collect .add-wrapp .fa-check-square-o {
  color: #008000;
  padding-right: 0.25rem;
  cursor: pointer;
}
.collect .add-wrapp input {
  font-size: 0.9rem;
  padding: 0.25rem;
}
.collect .button-solid {
  margin: 0.75rem;
}
.collect .button-solid .fa {
  display: none;
  -webkit-animation: 1.5s load infinite;
  -moz-animation: 1.5s load infinite;
  -o-animation: 1.5s load infinite;
  -ms-animation: 1.5s load infinite;
  animation: 1.5s load infinite;
}
.collect.load .button-solid .fa {
  display: inline;
}
.checkbox-list__item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.25rem 0;
  font-family: 'Raleway';
  cursor: pointer;
  font-size: 0.85rem;
  letter-spacing: 1px;
}
.checkbox-list__item:hover {
  background: #eee;
}
.checkbox-list__item span {
  padding-left: 0.25rem;
}
.checkbox-list__item .fa-check-square-o {
  color: #008000;
  display: none;
}
.checkbox-list__item.active .fa-check-square-o {
  display: block;
}
.checkbox-list__item.active .fa-square-o {
  display: none;
}
@-moz-keyframes load {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes load {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.users {
  margin: 0.5rem;
}
.user-wrapper {
  padding: 0.5rem;
}
.user {
  border: 1px solid #ddd;
  -webkit-transition: box-shadow ease-in-out 125ms;
  -moz-transition: box-shadow ease-in-out 125ms;
  -o-transition: box-shadow ease-in-out 125ms;
  -ms-transition: box-shadow ease-in-out 125ms;
  transition: box-shadow ease-in-out 125ms;
  position: relative;
}
.user .user-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0.5em;
}
.user .user-header .avatar {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 60px;
  max-width: 3.75rem;
  padding: 0.5em;
}
.user .user-header .avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.user .user-header .info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0.25em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.user .user-works {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.user .user-works .work {
  width: 33.333333%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 80px;
  background-position: center center;
}
.user .user-follow {
  padding: 1em 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.user__featured {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-12.5%, -37.5%);
  -moz-transform: translate(-12.5%, -37.5%);
  -o-transform: translate(-12.5%, -37.5%);
  -ms-transform: translate(-12.5%, -37.5%);
  transform: translate(-12.5%, -37.5%);
}
@media screen and (min-width: 360px) {
  .users {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .users .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 540px) {
  .users .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 33.333%;
    -ms-flex: 1 33.333%;
    flex: 1 33.333%;
    max-width: 33.333%;
  }
}
@media screen and (min-width: 720px) {
  .users .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 900px) {
  .users .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 20%;
    -ms-flex: 1 20%;
    flex: 1 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 1100px) {
  .users.moveLeft .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
  .users.moveRight .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
  .users.moveLeft.moveRight .user-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 33.333%;
    -ms-flex: 1 33.333%;
    flex: 1 33.333%;
    max-width: 33.333%;
  }
}
.collections {
  margin: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.collections .collection-wrapper {
  padding: 0.5rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  max-width: 100%;
}
.collection {
  border: 1px solid #ddd;
  -webkit-transition: box-shadow ease-in-out 125ms;
  -moz-transition: box-shadow ease-in-out 125ms;
  -o-transition: box-shadow ease-in-out 125ms;
  -ms-transition: box-shadow ease-in-out 125ms;
  transition: box-shadow ease-in-out 125ms;
  padding: 1rem;
}
.collection__images {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.collection__images .imageColumn {
  height: 12rem;
}
.collection__images .imageColumn:first-child {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.collection__images .imageColumn:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.collection__images .imageColumn .image-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.collection__products {
  color: #777;
  text-align: center;
  font-family: 'Roboto Condensed';
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.collection__name {
  color: #222;
  font-family: 'Oswald';
  letter-spacing: 0.5px;
}
.collection__user {
  color: #777;
  font-family: 'Roboto Condensed';
  letter-spacing: 0.5px;
  font-size: 0.95rem;
}
.collection__description {
  color: #777;
  font-family: 'Roboto Condensed';
  font-size: 0.95rem;
  margin-top: 0.5rem;
  letter-spacing: 0.25px;
}
@media screen and (min-width: 500px) {
  .collections {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .collections .collection-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 750px) {
  .collections .collection-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 33.333%;
    -ms-flex: 1 33.333%;
    flex: 1 33.333%;
    max-width: 33.333%;
  }
}
@media screen and (min-width: 1000px) {
  .collections .collection-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 25%;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 25%;
  }
}
.profile {
  background: #f6f6f6;
  overflow: hidden;
}
.profile__information {
  max-width: 1100px;
  margin: 1.5rem auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.profile__avatar {
  margin: 0 1rem;
  width: 5rem;
}
.profile__avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.profile__data .profile__info {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.profile__data .profile__info .skinny-text {
  padding-right: 1rem;
}
.profile__elements {
  background: #fff;
  border-top: solid 1px #ddd;
  min-height: 200px;
  overflow: hidden;
}
.profile__element {
  display: none;
  max-width: 1100px;
  margin: auto;
}
.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #aaa;
  margin: 3rem 1rem;
  display: none;
}
.loading .fa {
  -webkit-animation: 1.5s circle infinite;
  -moz-animation: 1.5s circle infinite;
  -o-animation: 1.5s circle infinite;
  -ms-animation: 1.5s circle infinite;
  animation: 1.5s circle infinite;
}
.more {
  padding: 1rem 0;
  text-align: center;
  background: #fff;
}
.more.hidden {
  display: none;
}
.empty {
  display: none;
  text-align: center;
  color: #aaa;
  margin: 3rem 1rem;
  font-family: 'Raleway';
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (min-width: 590px) {
  .profile__avatar {
    width: 7rem;
  }
  .profile__avatar img {
    border: solid 5px #ccc;
  }
}
@media (min-width: 720px) {
  .profile__avatar {
    width: 9rem;
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
