/*------------------------------------*
	$ NIB
*------------------------------------*/
/*------------------------------------*
	$ BASE
*------------------------------------*/
body {
  margin: 0;
}
figure {
  margin: 0;
}
img {
  vertical-align: top;
  width: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  background: #fff;
  border: none;
  padding: 0;
  outline: none;
}
select {
  border: none;
  outline: none;
  background: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  outline: 0;
}
input[type="submit"] {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 90%;
}
@media (min-width: 720px) {
  html {
    font-size: 100%;
  }
}
/*------------------------------------*
	$ LOGOS
*------------------------------------*/
.logo {
  padding: 0.5rem 1rem;
  display: table-cell;
}
.logo__small {
  max-width: 2rem;
}
.logo__normal {
  max-width: 15rem;
  display: none;
}
@media (min-width: 350px) {
  .logo__small {
    display: none;
  }
  .logo__normal {
    display: block;
  }
}
/*------------------------------------*
	$ MENUS
*------------------------------------*/
.skinny-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.skinny-menu__item {
  color: #000;
  padding: 0.5em 1rem;
  cursor: pointer;
}
.skinny-menu__item__icon {
  font-size: 0.9rem;
}
.skinny-menu__item.active {
  border-bottom: 0.25em solid #000;
}
.skinny-menu[data-icon='true'] .skinny-menu__item__text {
  display: none;
}
@media (min-width: 550px) {
  .skinny-menu[data-icon='true'] .skinny-menu__item__text {
    display: inline;
  }
  .skinny-menu[data-icon='true'] .skinny-menu__item__icon {
    display: none;
  }
}
.thick-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.thick-menu__item {
  color: #000;
  padding: 0.5rem 1rem;
}
/*------------------------------------*
	$ TEXTS
*------------------------------------*/
.separator-text {
  text-transform: uppercase;
  color: #aaa;
  font-family: 'Oswald';
  font-size: 0.8em;
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.separator-text .line {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  background: #eee;
}
.separator-text .text {
  padding: 0 1em;
}
.high-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
  line-height: 1.25;
}
.high-text[data-size='small'] {
  font-size: 0.9rem;
}
.high-text[data-color='light'] {
  color: #aaa;
}
.skinny-text {
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed';
}
.skinny-text[data-color='light'] {
  color: #aaa;
}
.skinny-text[data-size='small'] {
  font-size: 0.85rem;
}
.high-text[data-color='white'] {
  color: #fff;
}
.medium-text {
  color: #585858;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-family: 'Raleway';
  text-transform: uppercase;
}
.slogan-text {
  font-family: 'Oswald';
  font-size: 1.5rem;
  color: #585858;
  letter-spacing: 0.5px;
}
/*------------------------------------*
	$ BUTTONS
*------------------------------------*/
.facebook-button {
  color: #fff;
  display: table-cell;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed';
  background: -webkit-linear-gradient(#4e69a2, #3b5998);
  background: -moz-linear-gradient(#4e69a2, #3b5998);
  background: -o-linear-gradient(#4e69a2, #3b5998);
  background: -ms-linear-gradient(#4e69a2, #3b5998);
  background: linear-gradient(#4e69a2, #3b5998);
}
.facebook-button i {
  font-size: 1.25em;
}
.facebook-button[data-expand='true'] {
  display: block;
  text-align: center;
}
.button-solid {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;
  background: #3000ff;
  display: table-cell;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-solid[data-size='small'] {
  font-size: 0.85rem;
}
.button-solid[data-size='large'] {
  font-size: 1.15rem;
}
.button-solid[data-color='red'] {
  background: #f54545;
}
.button-solid[data-expand='true'] {
  display: block;
  text-align: center;
  width: 100%;
}
.button-link {
  color: #3000ff;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.button-filter {
  padding: 0.5em 0.75rem;
  font-family: 'Raleway';
  border: 1px solid #ddd;
  cursor: pointer;
}
/*------------------------------------*
	$ INPUTS
*------------------------------------*/
.input {
  font-size: 1rem;
  padding: 0.5em;
  color: #555;
  border: 1px solid #ccc;
  width: 100%;
}
.input:focus {
  border-color: rgba(82,168,236,0.8);
  -webkit-box-shadow: 0 0 8px rgba(82,168,236,0.6);
  box-shadow: 0 0 8px rgba(82,168,236,0.6);
}
.input[data-size='large'] {
  font-size: 1.15rem;
}
.search {
  position: relative;
}
.search input {
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5em 0 0.5em 2em;
  color: #555;
  font-size: 1rem;
}
.search i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0.75em;
  color: #808080;
}
/*------------------------------------*
	$ WORKS
*------------------------------------*/
/*------------------------------------*
	$ ARTISTS
*------------------------------------*/
/*------------------------------------*
	$ STYLE GUIDE
*------------------------------------*/
body {
  padding: 1rem;
  background: style-guide-background;
}
.style-guide-wrapper {
  margin: auto;
  max-width: 1100px;
}
.style-guide-element {
  margin-top: 1rem;
  background: style-guide-element-background;
}
.style-guide-title {
  color: #aaa;
  font-size: 0.9rem;
  font-family: 'Arial';
  text-align: right;
}
