{% extends '../../partials/base.html' %}
{% set product = product.toJSON() %}

{% block elements %}

	<div class="am-welcome am-checkout">
		<div class="cover" style="background-image: url(/img/banners/welcome.png)"></div>
		<div class="grid-container">
			<div class="grid-100">
				<div class="checkout-box">
					<div class="checkout-menu">
						<p class="tab selected">PAGO CONTRA ENTREGA</p>
					</div>
					<div class="checkout-content">
						<div class="grid-container">
							<div class="grid-70">
								<p class="sub-title">TU PEDIDO</p>
							</div>
							<div class="grid-70">
								<div class="checkout-info">
									<div class="u-separator"></div>
                  <div class="product-card u-margin-top-20">
                    <a href="/user/{{product.User.username}}/product/{{product.nameSlugify}}">
                      <div class="product-card-image" style="background-image: url('{{product.photo|addFilter('w_300,h_300,c_fill')}}')"></div>
                      <div class="product-card-data">
                        <p>{{product.name}}</p>
                        <p>{{product.User.firstname}}</p>
                      </div>
                      <div class="product-card-stats">
                        <p>{{product.finalPrice}}</p>
                        <p>{{product.likes}} &nbsp;&nbsp;&nbsp;<i class="bi_ecommerce-diamon"></i></p>
                      </div>
                    </a>
                  </div>
								</div>
							</div>
							<div class="grid-30">
								<div class="checkout-resume u-margin-top-20 ">
									<div class="resume-box u-padding-bottom-10">
										<header>RESUMEN DE LA ORDEN</header>
										<section>
											<table>
												<tr>
													<td><p class="label" style="font-size: 18px;">total</p></td>
													<td><p class="price">S/. <span style="font-size: 18px;">{{product.finalPrice}}</span></p></td>
												</tr>
											</table>
											<button class="button u-margin-top-20" data-color="blue">COMPRAR</button>
										</section>
									</div>
									<div class="company">
										<img src="/img/company-logo.jpg">
									</div>
								</div>
							</div>
							<div class="grid-100">
								<div class="buttons-container">
                  <a href='/products/type/all/page-1/' class="button" data-color="gray">DESCUBRIR PRODUCTOS</a>
                  <button class="button" data-color="blue">COMPRAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script>
console.log({{products|json|safe}});
</script>
{% endblock %}
