body {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  background: #f7f7f7;
  margin: 1em;
}
.wrapper {
  background: #fff;
  max-width: 1000px;
  padding: 1em 3em;
  margin: auto;
}
.logo {
  margin: 3em auto;
  text-align: center;
}
.logo img {
  width: 8em;
}
.title {
  font-weight: 600;
  color: #2a83ed;
  text-align: center;
  font-size: 1.5em;
}
.subtitle {
  color: #656565;
  font-size: 0.8em;
  margin: 1em;
}
.button {
  font-size: 0.9em;
  background: #6ebe3c;
  text-decoration: none;
  color: #fff;
  height: 3em;
  width: 6em;
  text-align: center;
  line-height: 3em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: table;
  margin: 3em auto;
}
.button i {
  margin-left: 0.5em;
}
.separator {
  height: 1px;
  width: 100%;
  background: rgba(101,101,101,0.25);
  margin-bottom: 2em;
}
.info {
  font-size: 0.8em;
  color: #656565;
  text-align: center;
}
.mail {
  color: #2a83ed;
}
