/*------------------------------------*
	$ CATEGORY MENU
*------------------------------------*/
.category-menu
	border-top 1px solid #eee
	border-bottom 1px solid #eee		
	.carousel
		margin auto
		height 2.5rem
		padding 0 1rem
		overflow hidden
		max-width max-width