/*------------------------------------*
	$ FOOTER
*------------------------------------*/
.footer-container
	background #181818
	.footer
		max-width max-width
		margin auto
		color white
		text-align center
		padding 1.5rem 0
		&__logo
			display flex
			justify-content center
			padding 1rem 0
		&__section
			padding .25rem 0
			&.copyright
				padding 0 1rem
			&.links
				display flex
				justify-content center
				p
					padding .5rem
			&.social
				.fa
					padding .5rem
					margin 0 .5rem
					font-size 1.15rem
				

@media (min-width: desktop)
	.footer
		&__sections
			display flex
			align-items center
		&__section
			flex 1
			&.copyright
				text-align left
			&.social
				text-align right
	