/*------------------------------------*
	$ SECTION
*------------------------------------*/
.section
	&__title
		margin auto
		// padding 1.5rem 1rem
		padding 2rem 1rem .5rem 1rem
		text-align center
		max-width max-width
	&__navigation
		text-align center
		display none
		&.visible
			display block
	&__filters
		margin auto
		display flex
		flex-wrap wrap
		// align-items center
		align-items flex-start
		max-width max-width
		justify-content space-between
		.search
			flex 100%
			margin .5rem 1rem
		.button-filter
			margin .5rem 1rem
			&.active
				background #78909C
				color white
	&__workspace
		margin auto
		overflow hidden
		position relative
		max-width max-width
		&__filter
			z-index 1
			margin 1rem
			background white
			position absolute
			border solid 1px #ddd
			transition transform .5s
			&:nth-child(1)
				// background rgba(green, .5)
				transform translate(-120%, 0)
				&.visible
					transform translate(0%, 0)
			&:nth-child(2)
				// background rgba(red, .5)
				transform translate(120%, 0)
				right 0
				&.visible
					transform translate(0%, 0)
		&__elements
			min-height 450px
			.empty-result
				display none
				padding 2rem 1rem
				text-align center
				&.visible
					display block
				a
					color #333
					font-size 1rem
					fon-weight 600
					text-decoration: underline;
		.more
			margin 2rem auto
			text-align center
			&.hidden
				display none
		.loading
			color #aaa
			margin 2rem
			display none
			font-size 1.75rem
			text-align center
			&.visible
				display block
			.fa
				animation 1.5s circle infinite

@media (min-width: max-width)
	.section
		&__workspace
			&__elements
				transition padding .5s
				padding-left 10.5rem
				&.moveLeft
					padding-left 0
				// &.moveRight
				// 	padding-right 10rem

	// .filter
	// 	width 10rem

	.section
		&__workspace
			&__filter
				&:nth-child(1)
					transform translate(0%, 0)
					&.visible
						transform translate(-120%, 0)

	.section
		&__filters
			.button-filter:nth-child(2)
				background #78909C
				color white
				&.active
					background white
					color black


@keyframes circle
	0%
		transform rotate(0)
	50%
		transform rotate(-180deg)
	100%
		transform rotate(-360deg)


@media (min-width: tablet-medium)
	.section
		&__filters
			.button-filter:nth-child(2)
				order 1
			.search
				order 2
				flex auto
			.button-filter:nth-child(3)
				order 3

@media (min-width: tablet-medium)
	.section
		&__filters
			.search
				max-width 400px
				margin-left auto
				margin-right auto


/*------------------------------------*
	$ FILTERS
*------------------------------------*/
.filter
	font-size .85rem
	font-family 'Raleway'
	min-width 9.5rem
	&__title
		font-weight 600
		padding .5rem 1rem
		border-bottom solid 1px #ddd
		box-shadow inset 0 -1px 0 #fff,0 2px 6px #eee
		background-image linear-gradient(top,#fff 0,#f6f6f6 100%)
	&:not(:first-child)
		border-top solid 1px #ddd

	&__item
		cursor pointer
		padding .5rem 1rem
		display block

		display: table;
		width: 100%;

		color #444
		&.selected
			// background rgb(237, 237, 237)
			background: #FFF59D;
		span
		small
			display table-cell
		small
			text-align right
			// width 6rem
			// display: inline-block;

	&__price
		padding 1rem 1rem 2rem 1rem
	&__fueatured
		display flex
		padding 1rem
		label
			cursor pointer
			font-weight: 400;
			padding-left .25rem

.filter.solid
	font-family: 'Roboto Condensed';
	letter-spacing: .5px;
	background white
	font-size .875rem
	.filter__item
		padding: 0.75rem 1rem;
		color: #666;
	.filter__title
		font-weight: 500;
		padding: 0.75rem 1rem;



/*------------------------------------*
	$ PAGINATIONS
*------------------------------------*/
.pagination-container
	display table
	margin 2rem auto
.pagination
	color #333
	display flex
	font-size .9rem
	font-family 'Raleway'
	.page
		cursor pointer
		padding .75rem 1rem
		border-left solid 1px #ddd
		border-top solid 1px #ddd
		border-bottom solid 1px #ddd
		&.selected
			color white
			background rgba(#78909c, .5)
		&:hover
			color white
			background rgba(#78909c, .5)
		&:first-child
			border-radius 5px 0 0 5px
		&:last-child
			border-radius 0 5px 5px 0
			border-right solid 1px #ddd