{% extends '../../partials/base.html' %}

{% block elements %}

	<div class="am-welcome am-checkout">
		<div class="grid-container">
			<div class="grid-100">
				<div class="checkout-box">
					<div class="checkout-content">
						<div class="grid-container">
							<div class="grid-70">
								<p class="title">Datos de envío</p>
							</div>
							<div class="grid-70">
								<div class="checkout-info">
									<div class="addresses">
										<div class="address">
											<p class="address-title">Ingresa datos de envío</p>
										</div>
										<div class="address" style="padding-bottom: 20px;">
											<div class="grid-container grid-parent" style="width: 100%;">
												<div class="grid-50">
													<p class="address-label">Nombres</p>
													<input class="address-input" placeholder="Ingresa tu Nombre" value={{user.firstname}} name="firstname">
												</div>
												<div class="grid-50">
													<p class="address-label">Apellidos</p>
													<input class="address-input" placeholder="Tus apellidos" value={{user.lastname}} name="lastname">
												</div>
												<div class="grid-66">
													<p class="address-label">Dirección de Envío</p>
													<input class="address-input" placeholder="Direccion de envio" value="{{user.direction}}" name="direction">
												</div>
												<div class="grid-33">
													<p class="address-label">Int/Apartamento</p>
													<input class="address-input" name="departament" placeholder="Nro" value="{{user.departament}}" name="departament">
												</div>
												<div class="grid-33 suffix-66">
													<p class="address-label">Ciudad</p>
													<select class="address-input" name="city">
															<option>Lima</option>
													</select>
												</div>
												<div class="grid-33">
													<p class="address-label">Estado/Provincia</p>
													<input class="address-input" placeholder="Estado o provincia" value="{{user.province}}" name="province">
												</div>
												<div class="grid-33">
													<p class="address-label">Código Postal</p>
													<input class="address-input" placeholder="Nro" value="{{user.zipcode}}" name="zip">
												</div>
												<div class="grid-33 suffix-66">
													<p class="address-label">País</p>
													<select class="address-input" name="country">
														<option>Perú</option>
													</select>
												</div>
												<div class="grid-33">
													<p class="address-label">Teléfono móvil</p>
													<input class="address-input" placeholder="Ingresa tu número" value="{{user.phone}}" name="phone">
												</div>
												<div class="grid-66">
													<p class="address-label">Correo electrónico</p>
													<input class="address-input" placeholder="Ingresa tu e-mail" value="{{user.email}}" name="email">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-30">
								<div class="checkout-resume">
									<div class="resume-box u-padding-bottom-10">
										<header>RESUMEN DE LA ORDEN</header>
										<section>
											<table>
												<tr>
													<td><p class="label">subtotal</p></td>
													<td><p class="price subtotal">---</p></td>
												</tr>
												<tr>
													<td><p class="label">transporte</p></td>
													<td><p class="price baseprice">--</p></td>
												</tr>
												<tr>
													<td><p class="label" style="font-size: 18px;">total</p></td>
													<td><p class="price">S/. <span style="font-size: 18px;" class="totallity">--</span></p></td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
							<div class="grid-100">
								<div class="buttons-container">
									 <form method="post" name="buy-form" action="https://gateway.payulatam.com/ppp-web-gateway/">
									  <input name="merchantId" type="hidden" value="{{payu.merchant}}">
									  <input name="accountId" type="hidden" value="{{payu.account}}">
									  <input name="description" type="hidden" value="{{payu.description}}">
									  <input name="referenceCode" type="hidden" value="{{payu.reference}}">
									  <input name="amount" type="hidden" value="{{payu.amount}}">
									  <input name="tax" type="hidden" value="0">
									  <input name="taxReturnBase" type="hidden" value="0">
									  <input name="currency" type="hidden" value="{{payu.currency}}" >
									  <input name="signature" type="hidden" value="{{payu.signature}}">
									  <input name="buyerEmail" type="hidden" value="{{user.email}}">
									  <input name="buyerFullName" type="hidden" value="{{user.firstname}} {{user.lastname}}">
									  <input name="telephone" type="hidden" value="{{user.phone}}">
									  <input name="shippingAddress" type="hidden" value="{{user.direction}} Int. {{user.departament}}">
									  <input name="billingAddress" type="hidden" value="{{user.direction}} Int. {{user.departament}}">
									  <input name="shippingCity" type="hidden" value="{{user.province}}">
									  <input name="billingCity" type="hidden" value="{{user.province}}">
									  <input name="shippingCountry" type="hidden" value="PE">
									  <input name="billingCountry" type="hidden" value="PE">
									  <input name="zipCode" type="hidden" value="{{user.zipcode}}">
									  <input name="confirmationUrl" type="hidden" value="">
									  <input class="btn-pay" type="image" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" border="0">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
	<script>
		var payu = {{payu|json|safe}};
		var product = {{product|json|safe}};
		$(function() {
			new APP.BuyScreen();
		});

	</script>
{% endblock %}
