{% extends '../../partials/base.html' %}

{% set path = 'product' %}
{% set title = 'Arte Manifiesto | Product' %}
{% set css = 'single-product' %}

{% block elements %}

{% include '../../partials/single-product.html' %}

{% endblock %}

{% block scripts %}

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>

	<script type="text/javascript">

		var product = {{ product|json|safe }};
		console.log('product: ', product)

		var userLikes = {{userLikes|json|safe}};
		console.log('userLikes: ', userLikes);

		var more = {{more|json|safe}};
		console.log('more: ', more);

		var similar = {{similar|json|safe}};
		console.log('similar: ', similar);

		var user = {{ user|json|safe }}
		console.log('user: ', user);

		var buttonSolidText = document.querySelector('.button-solid p')
		console.log('buttonSolidText: ', buttonSolidText)

		var buttonSolidLoad = document.querySelector('.button-solid i')
		console.log('buttonSolidLoad: ', buttonSolidLoad)

		var addCartButton = document.querySelector('.js-addCart')
		addCartButton.addEventListener('click', function () {

			var data = {
						"idProduct": product.id,
						"option":1
					},
					url = '/' + user.username + '/cart/add';
			console.log('url: ', url)

			buttonSolidText.style.display = 'none'
			buttonSolidLoad.style.display = 'block'

			$.post(url, data, function (response) {
				console.log('response: ', response)

				buttonSolidText.style.display = 'block'
				buttonSolidLoad.style.display = 'none'
			})
		})
	</script>
{% endblock %}