{% extends '../../partials/base.html' %}
	{% set path = 'single-product' %}
	{% set title = 'Arte Manifiesto | Product' %}
	{% set css = 'single-product' %}

{% block content %}

	{% include '../../partials/category-menu.html' %}

	<div class="single-product">

		<div class="single-product__header">
			
			<div class="single-product__title">
				<p class="single-product-text">{{product.name}}</p>
			</div>

			<div class="single-product__artist">
				from
				<span class="avatar"><img src="{{product.User.photo}}"></span>
				<span class="name">{{product.User.firstname}} {{product.User.lastname}}</span> 
			</div>

		</div>

		<div class="single-product__info">
			
			<figure class="single-product__info__image">
				<img src="{{product.photo}}">
			</figure>
			
			<div class="single-product__info__data">
				
				<div class="actions">
					<div class="actions__social">

						<span class="like">
							<button class="button-liner">
								<div class="button-liner__action">Likes</div>
								<div class="button-liner__number">{{product.likes}}</div>
							</button>
						</span>

						<span class="price">$ {{product.price}}</span>

					</div>
					<div class="actions__buy">
						<a href="/checkout/{{product.nameSlugify}}" class="button-solid" data-size='large' data-color='red' data-expand='true'>Comprar</a>
					</div>

					<div class="actions__people">

						{% for userLike in product.userLikes %}
							<div class="people-item"><img src="{{userLike.photo}}"></div>

						{% endfor %}

<!-- 						<div class="people-item"><img src="/img/artists/artist2.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist3.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist4.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist2.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist3.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist4.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist2.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist3.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist4.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist2.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist3.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist4.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist2.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist3.jpg"></div>
						<div class="people-item"><img src="/img/artists/artist4.jpg"></div>
 -->					
 							</div>

				</div>

<!-- 				<div class="people">
					<figure class="people__item"><img src="/img/artists/artist1.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist2.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist3.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist4.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist1.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist2.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist3.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist4.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist1.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist2.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist3.jpg"></figure>
					<figure class="people__item"><img src="/img/artists/artist4.jpg"></figure>
				</div> -->

			</div>


		</div>
	</div>

	{% include '../../partials/footer.html' %}

	<script type="text/javascript">

		var product = {{ product|json|safe }}
		console.log('product: ', product)

	</script>

{% endblock %}