// /*------------------------------------*
// 	$ ARTISTS
// *------------------------------------*/
// columns = 5
// artist-width = 225px

// .artists
// 	padding 0 .5rem
// 	overflow hidden

// .artist
// 	margin 1rem .5rem
// 	border 1px solid #ddd
// 	transition box-shadow ease-in-out 125ms
// 	.artist-header
// 		display flex
// 		margin .5em
// 		.avatar
// 			flex 1
// 			max-width (artist-width/4)
// 			padding .5em
// 			img
// 				border-radius 50%
// 		.info
// 			display flex
// 			padding .25em
// 			flex-direction column
// 			justify-content center
// 	.artist-works
// 		display flex
// 		flex-wrap wrap
// 		.work
// 			width 33.333333%
// 			background-size cover
// 			height (artist-width/3)
// 			background-position center center
// 	.artist-follow
// 		padding 1em
// 		display flex
// 		justify-content center
// 	&:hover
// 		box-shadow rgba(0,0,0,0.35) 0 0 10px
			
// for i in (1..(columns - 1))
// 	@media screen and (min-width: artist-width*i+1) and (max-width: artist-width*(i+1))
// 		.artists[data-columns]::before
// 			content str(i) + ' .column.size-1of' + str(i)
	
// @media screen and (min-width: artist-width*(columns)+1)
// 	.artists[data-columns]::before
// 		content str(columns) + ' .column.size-1of' + str(columns)

// .column
// 	float left

// for i in (1..columns)
// 	.size-1of{i}
// 		width: (100/i)*1%

// .work1
// 	background-image url("../img/works/obra1.jpg")
// .work2
// 	background-image url("../img/works/obra2.jpg")
// .work3
// 	background-image url("../img/works/obra3.jpg")
// .work4
// 	background-image url("../img/works/obra4.jpg")
// .work5
// 	background-image url("../img/works/obra5.jpg")
// .work6
// 	background-image url("../img/works/obra6.jpg")
// .work7
// 	background-image url("../img/works/obra7.jpg")
// .work8
// 	background-image url("../img/works/obra8.jpg")
// .work9
// 	background-image url("../img/works/obra9.jpg")
// .work10
// 	background-image url("../img/works/obra10.jpg")
// .work11
// 	background-image url("../img/works/obra11.jpg")
// .work12
// 	background-image url("../img/works/obra12.jpg")
