.button1
	// background rgba(#5794db, .85)
	background #5794db
	color white
	font-size .9rem
	padding .5em 1em
	font-weight bold
	border-radius 4px
	// margin-top: .5em;
	// font-family 'Futura'
	// &:hover
	// 	background #5794db