@font-face {
	font-family: 'Zurich';
	src: url('../fonts/ZurichBT-Light.otf');
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/FUTURAB.TTF');
}

@font-face {
	font-family: 'FuturaBold';
	src: url('../fonts/FuturaStd-Bold.otf');
}