.login-form
.register-form
	// display flex
	// margin .5rem 0
	.facebook-button
		margin 1rem 0 1.5rem 0
	input
	.separator-text
		margin .5rem 0
		
		
	// display flex
	// background rgba(green, .5)
	// margin .5rem
	// .facebook-button
		// margin 1.5rem 0
	// .separator-text
		// margin .5rem 0
		
		// margin .5rem
	// flex-direction column
		// display blox
		// width auto
	// padding .5rem 1rem
	// input
	// 	margin .5rem
	// 	font-size: 1.125rem
	// .social
	// 	margin 1rem .5rem