/*------------------------------------*
	$ INPUT
*------------------------------------*/
.input
	font-size 1rem
	padding .5em
	color #555
	border 1px solid #cccccc
	width 100%
	&:focus
		border-color rgba(82,168,236,0.8)
		box-shadow 0 0 8px rgba(82,168,236,0.6)
	&[data-size='large']
		font-size 1.15rem
		

/*------------------------------------*
	$ SEARCH
*------------------------------------*/
.search
	position relative
	input
		width 100%
		border-radius 4px
		border 1px solid #cccccc
		padding .5em 0 .5em 2em
		color #555
		font-size 1rem
	i
		position absolute
		top .5rem
		left .75em
		color gray
	.options
		display none
		font-family 'Raleway'
		border solid 1px #ddd
		color #333
		margin auto
		// position absolute
		// background white
		// z-index 1
		// width 100%
		&.visible
			display block
		.option
			padding .5rem 1rem
			cursor pointer
			&.selected
				background #ededed
			.search-text
				font-weight 600
			&:not(:last-child)
				border-bottom solid 1px #ddd
			&:hover
				background #ededed

// @media (min-width: tablet-medium)
// 	.search-options
// 		max-width 400px