.login-modal
	position absolute
	top 0
	bottom 0
	width 100%
	background rgba(black, .6)
	padding 3rem 1rem
	overflow auto
	display none

.login-box
	background white
	max-width 400px
	margin auto
	padding 1rem 1.5rem 1.5rem 1.5rem
	&__header
		display flex
		justify-content center
		padding .5rem
