/*------------------------------------*
	$ SKINNY MENU
*------------------------------------*/
.skinny-menu
	display flex
	font-size .8rem
	letter-spacing 2px
	font-family 'Raleway'
	text-transform uppercase
	 &__item
		color #000
		padding .5em 1rem
		&.active
			border-bottom .25em solid #000
	
.skinny-menu[data-icon='true']
	.skinny-menu__item__text
		display none

@media (min-width tablet)
	.skinny-menu[data-icon='true']
		.skinny-menu__item__text
			display inline


/*------------------------------------*
	$ THICK-MENU
*------------------------------------*/
.thick-menu
	display flex
	font-weight 600
	letter-spacing 2px
	font-family 'Raleway'
	text-transform uppercase
	&__item
		color #000
		padding .5rem 1rem
