
/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/
mobile-medium = 350px	// Mobile Medium
// tablet = 500px				// Tablet
tablet = 550px				// Tablet
tablet-medium = 720px // Tablet Medium
desktop = 920px 			// Desktop

max-width = 1100px 		// Large screens
