// mobile-medium = 350px	// Mobile Medium
// tablet = 500px				// Tablet
// tablet-medium = 720px // Tablet Medium
// desktop = 920px 			// Desktop

// max-width = 1100px 		// Large screens

// // Style Guide
// style-guide-background = #F5F5F5							// Gray
// style-guide-element-background = white	// White


/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/
mobile-medium = 350px	// Mobile Medium
// tablet = 500px				// Tablet
tablet = 550px				// Tablet
tablet-medium = 720px // Tablet Medium
desktop = 920px 			// Desktop

max-width = 1100px 		// Large screens
