<section class="account">
    <div class="account__menu">
        <div class="filter solid">
            <div class="filter__title">Ajustes de Cuenta</div>
            <a href="/{{ user.username }}/account" class="filter__item {% if path == 'account' %} selected {% endif %}">Perfil</a>
            <a href="/{{ user.username }}/account/photo" class="filter__item {% if path == 'photo' %} selected {% endif %}">Foto de Perfil</a>
            <a href="/{{ user.username }}/account/addresses" class="filter__item {% if path == 'addresses' %} selected {% endif %}">Direcciones de envío</a>
            <!-- <a href="/{{ user.username }}/account/websites" class="filter__item">Websites</a> -->
            <a href="/{{ user.username }}/account/password" class="filter__item {% if path == 'password' %} selected {% endif %}">Cambiar Password</a>
        </div>
    </div>
    <div class="account__data">

        {% if path == 'account' %}
            <section class="section-edit">
                <div class="section-edit__title">
                    <i class="fa fa-caret-down"></i>
                    <p class="section-title-text">Edita tu perfil</p>
                </div>
                <div class="section-edit__form">



                    <div class="form-container">
                            <div class="Profile">
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Username</p>
                              <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="">
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Nombre</p>
                              <input type="text" name="firstname" class="form-control" id="exampleInputEmail1" placeholder="">
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Apellido</p>
                              <input type="text" name="lastname" class="form-control" id="exampleInputEmail1" placeholder="">
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Genero</p>
                              <select class="form-control" name="gender">
                                        <option value="" disabled selected>Seleccione género</option>
                                        <option value="Male">Masculino</option>
                                        <option value="Female">Femenino</option>
                              </select>
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Pais</p>
                              <select class="form-control" name="country">
                                        <option value="" disabled selected>Seleccione pais</option>
                                <option value="Peru">Peru</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Chile">Chile</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Mexico">Mexico</option>
                              </select>
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Ciudad</p>
                              <input type="text" name="city" class="Profile-section-input form-control" id="exampleInputEmail1" placeholder="">
                                </div>

                                <!-- <form>
                                  Enter a date before 1980-01-01:
                                  <input type="date" name="bday" max="1979-12-31"><br>
                                  Enter a date after 2000-01-01:
                                  <input type="date" name="bday" min="2000-01-02"><br>
                                </form>

                                <label for="day">Date of Birth (autotab):</label>
                                <div id="date1" class="datefield">
                                    <input id="day" type="tel" maxlength="2" placeholder="DD"/> /
                                    <input id="month" type="tel" maxlength="2" placeholder="MM"/>/
                                    <input id="year" type="tel" maxlength="4" placeholder="YYYY"/>
                                </div>

                                <br/><br/><br/>

                                <label for="day">Date of Birth (normal):</label>
                                <div id="date2" class="datefield">
                                    <input id="day" type="tel" maxlength="2" placeholder="DD"/> /
                                    <input id="month" type="tel" maxlength="2" placeholder="MM"/> /
                                    <input id="year" type="tel" maxlength="4" placeholder="YYYY" />
                                </div> -->

                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Redes sociales</p>
                                    <div class="am-social-input">
                                      <h6>Facebook</h6>
                                      <input type="text" name="facebook" class="form-control input-sm" id="exampleInputEmail1">
                                    </div>
                                    <div class="am-social-input">
                                      <h6>Twitter</h6>
                                      <input type="text" name="twitter" class="form-control input-sm" id="exampleInputEmail1">
                                    </div>
                                    <div class="am-social-input">
                                      <h6>Tumblr</h6>
                                      <input type="text" name="tumblr" class="form-control input-sm" id="exampleInputEmail1">
                                    </div>
                                    <div class="am-social-input">
                                      <h6>Behance</h6>
                                      <input type="text" name="behance" class="form-control input-sm" id="exampleInputEmail1">
                                    </div>
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Mi Manifiesto</p>
                                    <div class="Profile-section-textarea">
                                        <textarea class="input textarea"></textarea>
                                    </div>
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Intereses</p>
                                    <div class="row am-interests">
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest selected">
                                            <img src="/../img/interests/arte-urbano.jpg">
                                            <p>Arte urbano</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest">
                                            <img src="/../img/interests/collage.jpg">
                                            <p>Collage</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest selected">
                                            <img src="/../img/interests/dibujo.jpg">
                                            <p>Dibujo</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest">
                                            <img src="/../img/interests/fotografia.jpg">
                                            <p>Fotrografia</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest selected">
                                            <img src="/../img/interests/grabado.jpg">
                                            <p>Grabado</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest">
                                            <img src="/../img/interests/ilustracion.jpg">
                                            <p>Ilustracion</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest selected">
                                            <img src="/../img/interests/instalacion.jpeg">
                                            <p>Instalacion</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <div class="am-interest">
                                            <img src="/../img/interests/pintura.jpg">
                                            <p>Pintura</p>
                                            <div class="am-interest-check">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Soy Artista Profesional
                                  </label>
                                </div>
                                <div class="Profile-section">
                                    <p class="Profile-section-title section-title-text">Especialidades</p>
                                    <div>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Arte Urbano
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> Collage
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> Dibujo
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Fotografía
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> Grabado
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> Ilustración
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Instalación
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> Pintura
                                      </label>
                                      <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> Técnica Mixta
                                      </label>
                                    </div>
                                </div>
                                <!-- <p class="error-message">Escoja un username</p> -->
                                <button class="button-solid" data-color='red'>Guardar cambios</button>
                            </div>
                    <!--
                        <div class="input-container">
                            <label>Usuario</label>
                            <input class="input" type="text" placeholder="username" value="{{ user.username }}" name="username" />
                        </div>
                        <div class="input-container">
                            <label>nombres</label>
                            <input class="input" type="text" placeholder="nombres" value="{{ user.firstname }}" name="firstname" />
                        </div>
                        <div class="input-container">
                            <label>apellidos</label>
                            <input class="input" type="text" placeholder="appellidos" value="{{ user.lastname }}" name="lastname" />
                        </div>
                        <div class="input-container">
                            <label>email</label>
                            <input class="input" type="email" placeholder="email" value="{{ user.email }}" name="email" />
                        </div>
                        <div class="input-container">
                            <label>genero</label>
                            <select class="input" name="gender">
                                <option disabled {% if user.gender == 'Género' %}selected{% endif %}>Género</option>
                                <option value="Male" {% if user.gender === 'male' %}selected{% endif %}>Masculino</option>
                                <option value="Female" {% if user.gender === 'female' %}selected{% endif %}>Femenino</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label>websites</label>
                            <div>
                                <div class="input-container-inner">
                                    <label>Facebook</label>
                                    <input class="input" type="text" placeholder="" value="{{ user.facebook }}" name="facebook" />
                                </div>
                                <div class="input-container-inner">
                                    <label>Twitter</label>
                                    <input class="input" type="text" placeholder="" value="{{ user.twitter }}" name="twitter" />
                                </div>
                                <div class="input-container-inner">
                                    <label>Tumblr</label>
                                    <input class="input" type="text" placeholder="" value="{{ user.tumblr }}" name="tumblr" />
                                </div>
                                <div class="input-container-inner">
                                    <label>Behance</label>
                                    <input class="input" type="text" placeholder="" value="{{ user.behance }}" name="behance" />
                                </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <label>manifiesto</label>
                            <textarea class="input textarea">{{ user.biography }}</textarea>
                        </div>
                        <div class="input-container">
                            <label>pais</label>
                            <input class="input" type="text" placeholder="" value="{{ user.country }}" name="country" />
                        </div>
                        <div class="input-container">
                            <label>ciudad</label>
                            <input class="input" type="text" placeholder="" value="{{ user.city }}" name="city" />
                        </div>
                        <div class="input-container">
                            <label>cumpleahos</label>
                            <input class="input" type="date" placeholder="" value="{{ user.birthday }}" name="lastname" />
                        </div>
                        <div class="input-container">
                            <label>intereses</label>
                             <ul class="checkbox-list">
                                {% for categorie in categories %}
                                    <li class="checkbox-list__item js-options1" data-id="{{ categorie.id }}">
                                        <input type="checkbox" name="category" value="arte-urbano">
                                        <span>{{ categorie.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="input-container">
                            <label>especialidades</label>
                            <ul class="checkbox-list">
                                {% for categorie in categories %}
                                    <li class="checkbox-list__item js-options2" data-id="{{ categorie.id }}">
                                        <input type="checkbox" name="category" value="arte-urbano">
                                        <span>{{ categorie.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <input class="button-solid" data-size='' data-color='red' data-expand='' value="Guardar Cambios" type="submit">
                     -->
                    </div>
                </div>
            </section>
        {% elseif path == 'photo' %}
            <section class="section-edit">
                <div class="section-edit__title">
                    <i class="fa fa-caret-down"></i>
                    <p class="section-title-text">Foto de Perfil</p>
                </div>
                <div class="section-edit__form">
                    <form class="form-container" action="post">
                        <div class="input-container">
                            <label>Nueva foto</label>
                            <input type="file"/>
                        </div>
                        <div class="input-container">
                            <!-- <label>repetir contraseña</label> -->
                            <div class="avatars">
                                <div class="avatar">
                                    <div class="input-radio">
                                        <input type="radio" name="photo" id="photo1"/><label for="photo1">Usar mi propia foto</label>
                                    </div>
                                    <img src="http://www.furcontest.com/imagenes/default.png">
                                </div>
                                <div class="avatar">
                                    <div class="input-radio">
                                        <input type="radio" name="photo" id="photo2"/><label for="photo2">Usar mi foto de facebook</label>
                                    </div>
                                    <img src="http://www.furcontest.com/imagenes/default.png">
                                </div>
                            </div>
                        </div>
                        <input class="button-solid" data-size='' data-color='red' data-expand='' value="Guardar Cambios" type="submit">
                    </form>
                </div>
            </section>
        {% elseif path == 'addresses' %}
            <section class="section-edit">
                <div class="section-edit__title">
                    <i class="fa fa-caret-down"></i>
                    <p class="section-title-text">Direciones de envío</p>
                </div>
                <div class="section-edit__form">
                    <div class="shippinges-container">
                        <div class="shippinges">
                            <div class="shipping">
                                <div class="shipping-inner">
                                    <p class="shipping-title">Hans Evangelista</p>
                                    <p class="shipping-subtitle">Av. Ricardo Palma 613</p>
                                    <span class="shipping-subtitle">Lima</span>
                                    <!-- <span class="shipping-subtitle">Lima</span> -->
                                    <span class="shipping-subtitle"> - Lima 01</span>
                                    <p class="shipping-subtitle">908552187</p>
                                    <div class="shipping-buttons">
                                        <button class="button-solid" data-size='small' data-color='gray' data-expand=''>Delete</button>
                                        <!-- <button class="button-solid" data-size='small' data-color='red' data-expand='' data-toggle="modal" data-target=".bs-example-modal-lg">Edit</button> -->
                                        <button class="button-solid" data-size='small' data-color='red' data-expand=''>Edit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="shipping">
                                <div class="shipping-inner">
                                    <p class="shipping-title">Hans Evangelista</p>
                                    <p class="shipping-subtitle">Av. Ricardo Palma 613</p>
                                    <span class="shipping-subtitle">Lima</span>
                                    <!-- <span class="shipping-subtitle">Lima</span> -->
                                    <span class="shipping-subtitle"> - Lima 01</span>
                                    <p class="shipping-subtitle">908552187</p>
                                    <div class="shipping-buttons">
                                        <button class="button-solid" data-size='small' data-color='gray' data-expand=''>Delete</button>
                                        <!-- <button class="button-solid" data-size='small' data-color='red' data-expand='' data-toggle="modal" data-target=".bs-example-modal-lg">Edit</button> -->
                                        <button class="button-solid" data-size='small' data-color='red' data-expand=''>Edit</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="shipping"></div>
                            <div class="shipping"></div> -->
                        </div>
                    </div>
                </div>
            </section>
        {% elseif path == 'websites' %}
            <section class="section-edit">
                <div class="section-edit__title">
                    <i class="fa fa-caret-down"></i>
                    <p class="section-title-text">Otros Sitios</p>
                </div>
                <div class="section-edit__form">
                    <form class="form-container" action="">
                        <div class="input-container">
                            <label>Web</label>
                            <input class="input" type="text" placeholder=""/>
                        </div>
                        <div class="input-container">
                            <label>Facebook</label>
                            <input class="input" type="text" placeholder=""/>
                        </div>
                        <div class="input-container">
                            <label>Twitter</label>
                            <input class="input" type="text" placeholder=""/>
                        </div>
                        <div class="input-container">
                            <label>Instagram</label>
                            <input class="input" type="text" placeholder=""/>
                        </div>
                        <div class="input-container">
                            <label>Tumblr</label>
                            <input class="input" type="text" placeholder=""/>
                        </div>
                        <div class="input-container">
                            <label>Behance</label>
                            <input class="input" type="text" placeholder=""/>
                        </div>
                        <input class="button-solid" data-size='' data-color='red' data-expand='' value="Guardar Cambios" type="submit">
                    </form>
                </div>
            </section>
        {% elseif path == 'password' %}
            <section class="section-edit">
                <div class="section-edit__title">
                    <i class="fa fa-caret-down"></i>
                    <p class="section-title-text">Cambiar Password</p>
                </div>
                <div class="section-edit__form">
                    <form class="form-container" action="post">
                        <div class="input-container">
                            <label>contraseña</label>
                            <input class="input" type="password" placeholder=""/>
                        </div>
                        <div class="input-container">
                            <label>repetir contraseña</label>
                            <input class="input" type="password" placeholder=""/>
                        </div>
                        <input class="button-solid" data-size='' data-color='red' data-expand='' value="Guardar Cambios" type="submit">
                    </form>
                </div>
            </section>
        {% endif %}

    </div>
</section>