				<div class="am-Filter account mobile u-margin-top-10" style="position: absolute;">
					<div class="am-Filter-item">
						<header class="am-Filter-header">
							<i class="bi_user-single-a"></i><p>Mi cuenta</p>
						</header>
					</div>
					<div class="am-Filter-item">
						<ul class="am-Filter-subOptions">
							<a href="/user/{{profile.username}}/account/">Mis datos de perfil</a>
							<a href="#">Mis compras</a>
							<a href="#">Mis direcciones de envío</a>
							<a href="#">Métodos de pago</a>
							<a href="#">Configuracion cuenta</a>
							<a href="/user/{{profile.username}}/account/password">Cambiar contraseña</a>
						</ul>
					</div>
					<div class="am-Filter-item">
						<header class="am-Filter-header">
							<i class="bi_user-single-a"></i><p>Tienda en línea</p>
						</header>
					</div>
					<div class="am-Filter-item">
						<ul class="am-Filter-subOptions">
							<a href="/user/{{profile.username}}/account/seller" class="selected">Editar datos de vendedor</a>
							<a href="#">Gestor de pedidos</a>
						</ul>
					</div>
				</div>