
	<!-- ********************************************************************
		$ DISCOVER-BANNER
	********************************************************************* -->
	<div class="am-Banner" style="background-image: url('http://res.cloudinary.com/arte-manifiesto/image/upload/v1450065546/general/{{ bannerImg }}')">
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Banner-inner">
					<p class="am-DiscoverTitle-text u-padding-bottom-15 u-text-center">{{ bannerTitle }}</p>
					<div class="am-Search-input">
						<input type="text"/>
						<i class="close-btn closed fa fa-times"></i>
						<!-- <i class="fa fa-search"></i> -->
						<i class="search-icon bi_interface-search search-btn"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
