
	<!-- ********************************************************************
		$ DISCOVER-BANNER
	********************************************************************* -->
	<div class="am-Banner" style="background-image: url('/img/banners/{{ bannerImg }}')">
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Banner-inner">
					<p class="am-DiscoverTitle-text u-padding-bottom-15 u-text-center">{{ bannerTitle }}</p>
					<div class="am-Search-input">
						<input type="text"/>
						<!-- <i class="fa fa-search"></i> -->
						<i class="bi_interface-search search-btn"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
