<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<title>Arte Manifiesto</title>

	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/app.min.css">

	{% block styles %} {% endblock %}

</head>
<body>

	{% include 'header.html' %}

	{% block elements %} {% endblock %}

	{% include 'footer.html' %}

	<script>
	  var ADAPT_CONFIG = {
	    path: '/',
	    dynamic: true,
	    range: [
	      '0 to 767px = unsemantic-grid-mobile.css',
	      '767px = unsemantic-grid-desktop.css'
	    ]
	  };
	</script>
	<script src='/app.min.js'></script>
	<script>
    $(document).ready(onReady);
	 	function onReady() {
			new APP.AM();
		}
	</script>
	<script type="text/template" id="template-filter-item">
		<div class="am-Filter-item">
			<% if (meta === "category") { %>
				<p class="am-Filter-option" data-meta=<%= meta %> data-value=<%= nameSlugify %> ><%= name %>
					<i class="fa fa-chevron-right"></i>
				</p>
			<% } %>
			<% if (meta === "order") { %>
				<p class="am-Filter-option" data-meta=<%= meta %> data-value=<%= name %> ><%= name %>
					<i class="fa fa-chevron-right"></i>
				</p>
			<% } %>
		</div>
	</script>

	<script type="text/template" id="template-work">
		<div class="grid-item">
			<img src="<%= photo %>">
		</div>
	</script>
	{% block scripts %} {% endblock %}
</body>
</html>
