<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<title>Arte Manifiesto</title>

	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/chosen.css">
	<link rel="stylesheet" href="/css/budicon.css">

	<link rel="stylesheet" type="text/css" href="/app.min.css">

	{% block styles %} {% endblock %}
	<style>

	.hide {
		display: none;
	}

	.cloudinary-fileupload
{
	border: none;
	cursor: pointer;
	/*height: 44px;*/
	/*left: 80px;*/
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 0;
	/*width: 275px;*/
}
	</style>
</head>
<body>
{% include 'header.html' %}
{% if successMessage.length > 1 %}
<div class="message succes visible">
	<div class="grid-container">
		<div class="grid-100">
			<p>{{successMessage}}</p>
		</div>
	</div>
</div>
{% endif %}

{% if errorMessage.length > 1 %}
<div class="message error visible">
	<div class="grid-container">
		<div class="grid-100">
			<p>{{errorMessage}}</p>
		</div>
	</div>
</div>
{% endif %}
	{% block elements %} {% endblock %}

	<div id="lean_overlay"></div>

	{% include 'footer.html' %}

	<script>
	  var ADAPT_CONFIG = {
	    path: '/',
	    dynamic: true,
	    range: [
	      '0 to 767px = unsemantic-grid-mobile.css',
	      '767px = unsemantic-grid-desktop.css'
	    ]
	  };
	</script>
	<script src="/adapt.min.js"></script>

	<script src="/EventDispatcher.js" lang="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-2.1.1.min.js" lang="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js" lang="text/javascript"></script>
	<script src='/app.min.js'></script>
	<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
	<script src="/jquery.leanModal.min.js"></script>
	<script src='/jquery.tagsinput.js' type='text/javascript'></script>
	<script src='/jquery.ui.widget.js' type='text/javascript'></script>
	<script src='/jquery.iframe-transport.js' type='text/javascript'></script>
	<script src='/jquery.fileupload.js' type='text/javascript'></script>
	<script src='/jquery.cloudinary.js' type='text/javascript'></script>
	<script>
		DataApp.currentUser = {{user|json|safe}} || null;
		if(DataApp.currentUser !== null)
			DataApp.currentUser.url = '/user/' + DataApp.currentUser.username;

		$(function() {
			new APP.AM();
			$('.am-Signin-button').click(function(event) {
				event.preventDefault();
				Utils.checkAuthentication();
			});
		});
	</script>

	{% include 'elements/work.html' %}
	{% include 'elements/user.html' %}
	{% include 'elements/product.html' %}
	{% include 'elements/collection.html' %}
	{% include 'elements/carrouselItem.html' %}

	{% include 'elements/review.html' %}
	{% include 'elements/filterItem.html' %}

	{% block scripts %} {% endblock %}
</body>
</html>
