	<!-- ********************************************************************
		$ CATEGORY MENU
	********************************************************************* -->
	<section class="category-menu">
		<div class="carousel">
			<div class="thick-menu">
				<a href="#" class="thick-menu__item">Womens</a>
				<a href="#" class="thick-menu__item">Mens</a>
				<a href="#" class="thick-menu__item">Art</a>
				<a href="#" class="thick-menu__item">Home</a>
				<a href="#" class="thick-menu__item">Kids</a>
				<a href="#" class="thick-menu__item">Womens</a>
				<a href="#" class="thick-menu__item">Mens</a>
				<a href="#" class="thick-menu__item">Art</a>
				<a href="#" class="thick-menu__item">Home</a>
				<a href="#" class="thick-menu__item">Kids</a>
			</div>
		</div>
	</section>