<!-- ********************************************************************
	$ CATEGORY MENU
********************************************************************* -->
<section class="category-menu">
	<div class="carousel">
		<div class="thick-menu-container">
			<div class="thick-menu">
				<a href="#" class="thick-menu__item">Obras Originales</a>
				<a href="#" class="thick-menu__item">Polos</a>
				<a href="#" class="thick-menu__item">Tazas</a>
				<a href="#" class="thick-menu__item">Iphone Cases</a>
				<a href="#" class="thick-menu__item">Prints</a>
			</div>
		</div>
	</div>
</section>