
	<!-- ********************************************************************
		$ DISCOVER-MENU
	********************************************************************* -->
	<div class="grid-container u-padding-top-20">
		<div class="grid-20">
			<div class="am-Select">
				CATEGORÍAS &nbsp;&nbsp;<i class="fa fa-caret-left"></i>
			</div>
		</div>
		<div class="grid-60">
			<p class="am-navigation-text">{{ discoverMenuText }}</p>
		</div>
		<div class="grid-20">
			<div class="am-Select">
				ORDENAR &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
			</div>
		</div>
	</div>