
	<!-- ********************************************************************
		$ DISCOVER-FILTER
	********************************************************************* -->
	<div class="grid-container u-padding-top-20">
		<div class="grid-20 prefix-80">
			<div class="am-Filter">
				<div class="am-Filter-item">
					<p class="am-Filter-option">MÁS NUEVO</p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option">MÁS VALORADO</p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option">MÁS POPULAR</p>
				</div>
			</div>
		</div>
	</div>