
	<!-- ********************************************************************
		$ FOOTER
	********************************************************************* -->

	<footer class="am-Footer">
		<div class="grid-container">
			<div class="grid-100 grid-parent">
				<div class="footer">
					<div class="footer-logo">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450065553/general/logo-small-white.png">
						<p class="am-Copy-text u-padding-top-30">
							© 2015 Arte Manifiesto <br>
							Todos los derechos reservados
						</p>
					</div>
					<div class="footer-links">
						<table class="am-Footer-list">
						  <tr>
						    <td class="am-Footer-title-text"><a href="/featured">HOME</a></td>
						    <td class="am-Footer-item-text"><a href="/compra-y-vende-arte-en-internet-latinoamerica">Sobre AM</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text"><a href="/works/category/all/page-1/?order=newest&featured=1">DESCUBRE</a></td>
						    <td class="am-Footer-item-text"><a class="drift-open-chat" href="#">Contacto</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text"><a href="/products/category/all/page-1/?order=newest&featured=1">MARKET</a></td>
						    <td class="am-Footer-item-text"><a href="https://artemanifiesto.zendesk.com/hc/es/articles/219437587-ACUERDO-DE-SERVICIOS-AM">Términos de servicio</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text"><a href="/users/specialty/all/page-1/?order=newest&featured=1">ARTISTAS</a></td>
						    <td class="am-Footer-item-text"><a href="https://artemanifiesto.zendesk.com/hc/es/articles/219407927-PRIVACIDAD-Y-CONFIDENCIALIDAD">Políticas de privacidad</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text"><a href="/collections/category/all/page-1?order=newest&featured=1">COLECCIÓN</a></td>
						    <td class="am-Footer-item-text"><a href="https://artemanifiesto.zendesk.com/hc/es/sections/207497327-COMO-COMPRAR-">Cómo comprar</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text" style="padding-bottom: 0;"><a href="https://artemanifiesto.zendesk.com/hc/es">AYUDA</a></td>
						    <a href="https://artemanifiesto.zendesk.com/hc/es/sections/204234628-ACUERDOS-CON-ARTISTA"><td class="am-Footer-item-text" style="padding-bottom: 0;"><a href="https://artemanifiesto.zendesk.com/hc/es/sections/204234628-ACUERDOS-CON-ARTISTA">Cómo vender</a></td>
						  </tr>
						</table>
					</div>
					<div class="footer-socials">
						<p class="am-Footer-subtitle-text u-padding-bottom-20">SÍGUENOS</p>
						<table class="am-Footer-list">
						  <tr>
						    <td class="am-Footer-item-text social"><i class="fa fa-facebook"></i></td>
						    <td class="am-Footer-item-text"><a href="https://www.facebook.com/artemanifiesto">Facebook</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-item-text social"><i class="fa fa-twitter"></i></td>
						    <td class="am-Footer-item-text"><a href="https://twitter.com/artemanifiesto">Twitter</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-item-text social"><i class="fa fa-instagram"></i></td>
						    <td class="am-Footer-item-text"><a href="https://www.instagram.com/artemanifiesto/">Instagram</a></td>
						  </tr>
						  <!-- <tr>
						    <td class="am-Footer-item-text social" style="padding-bottom: 0;"><i class="fa fa-rss"></i></td>
						    <td class="am-Footer-item-text" style="padding-bottom: 0;">RSS</td>
						  </tr> -->
						</table>
					</div>

					<div class="footer-suscribe">
						<p class="am-Footer-subtitle-text u-padding-bottom-15">SUBSCRÍBETE AL BOLETÍN</p>
						<p class="am-Footer-text u-padding-bottom-20">Lo más nuevo, fresco y valioso de la <br> comunidad de creadores visuales</p>
						<div class="am-Email-input">
							<form class="subscription-form">
								<input name="email" placeholder="Ingresa tu Correo"/>
								<i class="fa fa-envelope-o subscription-btn"></i>
							</form>
						</div>
					</div>
