
	<!-- ********************************************************************
		$ FOOTER
	********************************************************************* -->

	<footer class="am-Footer">
		<div class="grid-container">
			<div class="grid-100 grid-parent">
				<div class="footer">
					<div class="footer-logo">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450065553/general/logo-small-white.png">
						<p class="am-Copy-text u-padding-top-30">
							© 2015 Arte Manifiesto <br>
							Todos los derechos reservados
						</p>
					</div>
					<div class="footer-links">
						<table class="am-Footer-list">
						  <tr>
						    <td class="am-Footer-title-text">HOME</td>
						    <td class="am-Footer-item-text">Sobre AM</td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text">DESCUBRE</td>
						    <td class="am-Footer-item-text">Contacto</td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text">MARKET</td>
						    <td class="am-Footer-item-text">Términos de servicio</td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text">ARTISTAS</td>
						    <td class="am-Footer-item-text">Políticas de privacidad</td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text">COLECCIÓN</td>
						    <td class="am-Footer-item-text">Cómo comprar</td>
						  </tr>
						  <tr>
						    <td class="am-Footer-title-text" style="padding-bottom: 0;">AYUDA</td>
						    <td class="am-Footer-item-text" style="padding-bottom: 0;">Cómo vender</td>
						  </tr>
						</table>
					</div>
					<div class="footer-socials">
						<p class="am-Footer-subtitle-text u-padding-bottom-20">SÍGUENOS</p>
						<table class="am-Footer-list">
						  <tr>
						    <td class="am-Footer-item-text social"><i class="fa fa-facebook"></i></td>
						    <td class="am-Footer-item-text"><a href="https://www.facebook.com/artemanifiesto">Facebook</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-item-text social"><i class="fa fa-twitter"></i></td>
						    <td class="am-Footer-item-text"><a href="https://twitter.com/artemanifiesto">Twitter</a></td>
						  </tr>
						  <tr>
						    <td class="am-Footer-item-text social"><i class="fa fa-instagram"></i></td>
						    <td class="am-Footer-item-text"><a href="https://www.instagram.com/artemanifiesto/">Instagram</a></td>
						  </tr>
						  <!-- <tr>
						    <td class="am-Footer-item-text social" style="padding-bottom: 0;"><i class="fa fa-rss"></i></td>
						    <td class="am-Footer-item-text" style="padding-bottom: 0;">RSS</td>
						  </tr> -->
						</table>
					</div>

					<div class="footer-suscribe">
						<p class="am-Footer-subtitle-text u-padding-bottom-15">SUBSCRÍBETE AL BOLETÍN</p>
						<p class="am-Footer-text u-padding-bottom-20">Lo más nuevo, fresco y valioso de la <br> comunidad de creadores visuales</p>
						<div class="am-Email-input">
							<form class="subscription-form">
								<input type="text" name="email" placeholder="Ingresa tu Correo"/>
								<i class="fa fa-envelope-o subscription-btn"></i>
							</form>
						</div>
					</div>