<!-- ********************************************************************
	$ HEADER
********************************************************************* -->
<header class="header">
	<a class="logo" href="/">
		<img class="logo__small" src="/img/logo-small.png">
		<img class="logo__normal" src="/img/logo.png">
	</a>
	<nav class="skinny-menu" data-icon='true'>
		<a class="skinny-menu__item {% if path == 'works' %} active {% endif %}" href="/works/category/all/page-1">
			<i class="skinny-menu__item__icon fa fa-heart-o"></i>
			<span class="skinny-menu__item__text">Obras</span>
		</a>
		<a class="skinny-menu__item {% if path == 'users' %} active {% endif %}" href="/users/specialty/all/page-1">
			<i class="skinny-menu__item__icon fa fa-paint-brush"></i>
			<span class="skinny-menu__item__text">Artístas</span>
		</a>
		<a class="skinny-menu__item {% if path == 'products' %} active {% endif %}" href="/products/type/all/page-1/">
			<i class="skinny-menu__item__icon fa fa-diamond"></i>
			<span class="skinny-menu__item__text">Tienda</span>
		</a>
		{% if user %}
			<a class="skinny-menu__avatar" href="/{{ user.username }}">
				<div class="button-avatar">
					{% if user.photo %}
						<img src="{{ user.photo }}">
					{% else %}
						<img src="http://www.furcontest.com/imagenes/default.png">
					{% endif %}
				</div>
			</a>
		{% else %}
			<a class="skinny-menu__item {% if path == 'signup' %} active {% endif %}" href="/auth/signup">
				<i class="skinny-menu__item__icon fa fa-user"></i>
				<span class="skinny-menu__item__text">Registro</span>
			</a>
			<a class="skinny-menu__item {% if path == 'login' %} active {% endif %}" href="/auth/login">
				<i class="skinny-menu__item__icon fa fa-user"></i>
				<span class="skinny-menu__item__text">Ingresar</span>
			</a>
		{% endif %}
	</nav>
</header>