
	<!-- ********************************************************************
		$ HEADER
	********************************************************************* -->
	<header class="header">
		<a class="logo" href="/">
			<img class="logo__small" src="/img/logo-small.png">
			<img class="logo__normal" src="/img/logo.png">
		</a>
		<nav class="skinny-menu" data-icon='true'>
			<a class="skinny-menu__item {% if path == 'works' %} active {% endif %}" href="/works/category/all/page-1">
				<i class="skinny-menu__item__icon fa fa-heart-o"></i>
				<span class="skinny-menu__item__text">Obras</span>
			</a>
			<a class="skinny-menu__item {% if path == 'users' %} active {% endif %}" href="/users/specialty/all/page-1">
				<i class="skinny-menu__item__icon fa fa-paint-brush"></i>
				<span class="skinny-menu__item__text">Artístas</span>
			</a>
			<a class="skinny-menu__item {% if path == 'products' %} active {% endif %}" href="/products/type/all/page-1/">
				<i class="skinny-menu__item__icon fa fa-diamond"></i>
				<span class="skinny-menu__item__text">Market</span>
			</a>
			{% if user %}
				<a class="skinny-menu__avatar" href="/juliocanares">
					<div class="button-avatar">
						<img src="{{ user.photo }}">
						<!-- jojo -->
					</div>
				</a>
			{% else %}
				<a class="skinny-menu__item" href="/login">
					<i class="skinny-menu__item__icon fa fa-user"></i>
					<span class="skinny-menu__item__text">Sign in</span>
				</a>
			{% endif %}
		</nav>
	</header>