
	<!-- ********************************************************************
		$ PRODUCTS LAYOUT
	********************************************************************* -->
	<div class="grid work-layout-discover">
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="product-card">
	  		<div class="product-card-image" style="background-image: url('img/products/almohada 2.jpg')"></div>
	  		<div class="product-card-data">
	  			<p>OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
	  			<p>Sergio Gonzales Mucho</p>
	  		</div>
	  		<div class="product-card-stats">
	  			<p>S/.90</p>
	  			<p>232 &nbsp;&nbsp;&nbsp;<i class="fa fa-diamond"></i></p>
	  		</div>
	  	</div>
	  </div>
	</div>
