
		<!-- ********************************************************************
			$ WORKS LAYOUT
		********************************************************************* -->
		<div class="grid work-layout-discover">
		  <div class="grid-item">
		  	<img src="img/works/work15.jpg">
		  </div>
		  <div class="grid-item">
		  	<img src="img/works/work16.jpg">
		  </div>
		  <div class="grid-item">
		  	<img src="img/works/work10.jpg">
		  </div>
		  <div class="grid-item">
		  	<img src="img/works/work.jpg">
		  </div>
		  <div class="grid-item">
		  	<img src="img/works/work17.jpg">
		  </div>
		</div>