
	<!-- ********************************************************************
		$ COLELCTIONS LAYOUT
	********************************************************************* -->
	<div class="grid work-layout-discover">
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="collection-card">
	  		<div class="collection-card-stats">
	  			<p>Un idilio en la selva</p>
	  			<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  		</div>
	  		<div class="collection-card-images">
	  			<div class="collection-card-image" style="background-image: url('img/works/work10.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work1.jpg')"></div>
	  			<div class="collection-card-image" style="background-image: url('img/works/work9.jpg')"></div>
	  		</div>
	  		<div class="collection-card-artist">
	  			<div>
	  				<p>Curado Por:</p>
	  				<p>PETRONILO CURABANCA</p>
	  			</div>
	  			<img src="img/avatar.jpg">
	  		</div>
	  	</div>
	  </div>
	</div>