
	<!-- ********************************************************************
		$ ARTISTS USERS
	********************************************************************* -->
	<div class="grid work-layout-discover">
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="artist-card">
	  		<div class="artist-card-info">
	  			<img src="img/avatar.jpg">
	  			<div>
	  				<p class="name">PETRONILO CURABANCA</p>
	  				<p class="city">Lima, Perú</p>
	  				<p class="stats"><i class="fa fa-diamond"></i> 252</p>
	  			</div>
	  		</div>
	  		<div class="artist-card-follow">
					<button class="am-Follow-button">+ SEGUIR</button>
	  		</div>
	  	</div>
	  </div>
	</div>