<!-- ********************************************************************
	$ PRODUCTS
********************************************************************* -->
<section class="products">
	{% for product in products %}
	<div class="product-wrapper">
		<article class="product">
			<a class="product-image" href="/{{ product.User.username}}/product/{{product.nameSlugify}}">
				<img src="{{ product.photo }}">
			</a>
			<div class="product-title">
				<div class="title">{{product.name}}</div>
			</div>
			<div class="product-info">
				<div class="price">s./{{product.price}}</div>
				<div class="like">
					<span class="button-like"> <i class="fa fa-heart-o"></i> <span>{{product.likes}}</span> </span>
				</div>
				<div class="wish-list">
					<span class="button-wish-list"> <i class="fa fa-square-o"></i> 500 </span>
				</div>
			</div>
		</article>
	</div>
	{% endfor %}
</section>