{% set withoutHeader = true %}
{% set withoutFooter = true %}

{% extends './base.html' %}

{% block styles %}
  <link href="/css/report/bootstrap.min.css" rel="stylesheet">
  <link href="/css/report/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="/css/report/dashboard.css" rel="stylesheet">
{% endblock %}

{% block elements %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/report/users/page-1">Arte Manifiesto</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/report/general">General</a></li>
            <li><a href="/report/users/page-1">Usuarios</a></li>
            <li><a href="/report/images/page-1">Imágenes</a></li>
            <li><a href="/report/works/page-1">Obras</a></li>
            <li><a href="/report/works/page-1">Colecciones</a></li>
            <li><a href="/report/products/page-1">Productos</a></li>
            <li><a href="/report/blog/page-1">Blog</a></li>
            <li><a href="/report/brands/page-1">Marcas</a></li>
            <li><a href="/report/banners">Banners</a></li>
            <li><a href="/report/products_applying/page-1">Productos en revisión</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="u-separator" style="background: #eee;"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
