
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>Reportes |  Arte Manifiesto</title>

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/report/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="/css/report/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/report/users/page-1">Arte Manifiesto</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/report/general">General</a></li>
            <li><a href="/report/users/page-1">Usuarios</a></li>
            <li><a href="/report/works/page-1">Obras</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>



    	<script>
    	  var ADAPT_CONFIG = {
    	    path: '/',
    	    dynamic: true,
    	    range: [
    	      '0 to 767px = unsemantic-grid-mobile.css',
    	      '767px = unsemantic-grid-desktop.css'
    	    ]
    	  };
    	</script>

      {% include '../partials/elements/table-user-item.html' %}
      {% include '../partials/elements/table-work-item.html' %}

    	<script src="/js.cookie.js"></script>
    	<script src="/adapt.min.js"></script>
    	<script src="/clipboard.min.js"></script>
    	<script src="/EventDispatcher.js"></script>
    	<script src="/jquery-2.1.1.min.js"></script>
    	<script src="/hammer.min.js"></script>
    	<script src="/slider.js"></script>
    	<script src="/jquery.maskedinput.js"></script>
    	<script src="/moment.js"></script>
    	<script src='/app.min.js'></script>
    	<script src="/imagesloaded.pkgd.min.js"></script>
    	<script src="/masonry.pkgd.min.js"></script>
    	<script src="/jquery.leanModal.min.js"></script>
    	<script src='/jquery.tagsinput.js'></script>
    	<script src='/jquery.ui.widget.js'></script>
    	<script src='/jquery.iframe-transport.js'></script>
    	<script src='/jquery.fileupload.js'></script>
    	<script src='/jquery.cloudinary.js'></script>

    <script src="/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js"></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
