<!-- ********************************************************************
	$ SINGLE PRODUCT
********************************************************************* -->
<div class="single-product">

	<div class="single-product__info">

		<figure class="single-product__info__image">
			<img src="{{work.photo}}">
			<p class="single-product-text">{{work.name}}</p>
		</figure>

	</div>

	<div class="single-product__social">
		<span class="like">
		{% if work.liked %}
			<button class="button-liner disabled js-buttonLike">
				<div class="button-liner__action">Likes</div>
				<div class="button-liner__number">{{work.getDataValue('likes')}}</div>
			</button>
		{% else %}
			<button class="button-liner js-buttonLike">
				<div class="button-liner__action">Likes</div>
				<div class="button-liner__number">{{work.likes}}</div>
			</button>
		{% endif %}
		</span>
	</div>

	<div class="double-columns">

		<div class="single-product__artist">
			<span class="avatar"><img src="{{work.User.photo}}"></span>
			<div class="info">
				<span class="name">{{work.User.firstname}} {{work.User.lastname}}</span>
				<div class="info">
					<p class="city skinny-text" data-color='light'><i class="fa fa-map-marker"></i> Lima</p>
					<button class="button-liner disabled js-followButton" data-size="small" data-following="true" data-userId="{{ profile.id }}">
					<!-- <button class="button-liner js-followButton" data-size="small" data-following="false" data-userId="{{ profile.id }}"> -->
						<span class="button-liner__action folllow">Seguir</span>
						<span class="button-liner__action following"><i class="fa fa-check"></i> Siguiendo</span>
						<span class="button-liner__action cancel"><i class="fa fa-times-circle"></i> Cancelar</span>
						<span class="button-liner__number">20</span>
					</button>
				</div>
			</div>
		</div>

		<div class="single-product__menu">
			<ul class="single-menu">
				<li class="single-menu__item selected">Manifiesto</li>
				<li class="single-menu__item">Productos</li>
				<li class="single-menu__item">Comentarios</li>
			</ul>
		</div>

	</div>

	<div class="single-product__manifest">
		<p class="title">Manifiesto</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<div class="my-row">
			<div class="my-column">
				<p class="title">tags</p>
				<p>holi, boli, crayoli</p>
			</div>
			<div class="my-column">
				<p class="title">Comunidad</p>
				<div class="people">
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					{% for userLike in product.userLikes %}
						<div class="people-item"><img src="{{userLike.photo}}"></div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="single-product__more">

		<!-- <p class="single-product-text">Mas arte</p> -->

		<div class="single-product__similar">
			<p class="actions-title">Mas arte del autor</p>
			<section class="works" data-columns>
				{% for i in [0,1,2,3,4,5] %}

					<article class="work">
						<img src="{{ similar[i].photo }}">
						<div class="cover">
							{% if similar[i].liked == true %}
								<div class="social-item active">
									<i class="fa fa-heart"></i>
								</div>
							{% else %}
								<div class="social-item">
									<i class="fa fa-heart"></i>
								</div>
							{% endif %}
						</div>
					</article>

				{% endfor %}
			</section>
		</div>
		<div class="single-product__similar">
			<p class="actions-title">Arte relacionado</p>
			<section class="works" data-columns>
				{% for i in [0,1,2,3,4,5] %}
					<article class="work">
						<img src="{{ similar[i].photo }}">
						<div class="cover">
							{% if similar[i].liked == true %}
								<div class="social-item active">
									<i class="fa fa-heart"></i>
								</div>
							{% else %}
								<div class="social-item">
									<i class="fa fa-heart"></i>
								</div>
							{% endif %}
						</div>
					</article>

				{% endfor %}
			</section>
		</div>

	</div>


</div>


		<!-- <div class="actions">
			<p class="actions__title">Comunidad</p>
			<div class="actions__people">
				<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
				<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
				<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
				<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
				<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
				<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
				{% for userLike in product.userLikes %}
					<div class="people-item"><img src="{{userLike.photo}}"></div>
				{% endfor %}
			</div>
		</div> -->

		<!-- <div class="single-product__info__data">

			<p class="single-product-text">{{work.name}}</p>


			<div class="actions">
				<div class="actions__social">

					<span class="like">
					{% if work.liked %}
						<button class="button-liner disabled js-buttonLike">
							<div class="button-liner__action">Likes</div>
							<div class="button-liner__number">{{work.getDataValue('likes')}}</div>
						</button>
					{% else %}
						<button class="button-liner js-buttonLike">
							<div class="button-liner__action">Likes</div>
							<div class="button-liner__number">{{work.likes}}</div>
						</button>
					{% endif %}
					</span>

				</div>
			</div>


			<div class="actions">
				<p class="actions__title">Comunidad</p>
				<div class="actions__people">
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					<div class="people-item"><img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150/v1430433775/artjam_pokjgd.jpg"></div>
					{% for userLike in product.userLikes %}
						<div class="people-item"><img src="{{userLike.photo}}"></div>
					{% endfor %}
				</div>
			</div>
		</div> -->

					<!-- <span class="price">S/.{{work.price}}</span> -->

			<!-- <div class="actions">
				<p class="actions__title">Mas del artista</p>
				<div class="actions__more">
					{% for work in more %}
						<a class="more-image" href="/{{ work.User.username}}/work/{{work.nameSlugify}}">
							<img src="{{ work.photo }}">
						</a>
					{% endfor %}
				</div>
			</div> -->

				<!-- <div class="actions__buy">
					<a href="/checkout/{{work.nameSlugify}}" class="button-solid" data-size='large' data-color='red' data-expand='true'>Comprar</a>
				</div> -->

<!-- 	<div class="single-product__header">

		<div class="single-product__title">
			<p class="single-product-text">{{work.name}}</p>
		</div>

		<div class="single-product__artist">
			from
			<span class="avatar"><img src="{{work.User.photo}}"></span>
			<span class="name">{{work.User.firstname}} {{work.User.lastname}}</span>
		</div>

	</div> -->

			<!-- <div class="product-wrapper">
				<article class="product">
					<a class="product-image" href="/{{ similarWork.User.username}}/product/{{product.nameSlugify}}">
						<img src="{{ similarWork.photo }}">
					</a>
					<div class="product-title">
						<div class="title">{{similarWork.name}}</div>
					</div>
					<div class="product-info">
						<div class="price">s./{{similarWork.price}}</div>
						<div class="like">
							<span class="button-like"> <i class="fa fa-heart-o"></i> <span>{{similarWork.getDataValue('likes')}}</span> </span>
						</div>
						<div class="wish-list">
							<span class="button-wish-list"> <i class="fa fa-square-o"></i> 500 </span>
						</div>
					</div>
				</article>
			</div>