<!-- ********************************************************************
	$ USERS
********************************************************************* -->
<section class="users">
	{% for user in users %}
	<div class="user-wrapper">
		<article class="user">
			<a class="user-header" href="#">
				<div class="avatar">
					<img src="{{ user.photo }}">
				</div>
				<div class="info">
					<p class="high-text" data-size='small'>{{ user.firstname }}</p>
					<p class="skinny-text" data-color='light' data-size='small'><i class="fa fa-map-marker"></i> Lima, Peru</p>
				</div>
			</a>
			<div class="user-works">
				{% for work in user.Works %}
					<div class="work" style="background-image: url('{{ work.photo }}');"></div>
				{% endfor %}
				
				{% if user.Works.length < 6 %}
					<div class="work" style="background: #ccc; border: 1px solid white;"></div>
				{% endif %}
				{% if user.Works.length < 5 %}
					<div class="work" style="background: #ccc; border: 1px solid white;"></div>
				{% endif %}
				{% if user.Works.length < 4 %}
					<div class="work" style="background: #ccc; border: 1px solid white;"></div>
				{% endif %}
				{% if user.Works.length < 3 %}
					<div class="work" style="background: #ccc; border: 1px solid white;"></div>
				{% endif %}
				{% if user.Works.length < 2 %}
					<div class="work" style="background: #ccc; border: 1px solid white;"></div>
				{% endif %}
				{% if user.Works.length < 1 %}
					<div class="work" style="background: #ccc; border: 1px solid white;"></div>
				{% endif %}
			</div>
			<div class="user-follow">
				{% if user.following %}
					<button class="button-liner disabled" data-following="true" data-size='small'>
				{% else %}
					<button class="button-liner" data-following="false" data-size='small'>
				{% endif %}
						<span class="button-liner__action folllow">Seguir</span>
						<span class="button-liner__action following"><i class="fa fa-check"></i> Siguiendo</span>
						<span class="button-liner__action cancel"><i class="fa fa-times-circle"></i> Cancelar</span>
						<span class="button-liner__number">{{ user.followers }}</span>
					</button>
			</div>
		</article>
	</div>
	{% endfor %}
</section>