
/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------*
	$INT TO STRING
*------------------------------------*/
str(x)
	return '' + unit(x, '')