{% extends '../../partials/base.html' %}

{% set path = 'cart' %}
{% set title = 'Arte Manifiesto | Cart' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/cart.css">
{% endblock %}

{% block elements %}

	{% for a, b in products %}

	<div class="cart js-{{a}}" data-shipping="7">

		<p>{{ b[0].Product.User.fullname }}</p>
		<div class="cart-inner">
			{% for product in b %}
				<div class="cart-item" data-price="{{ product.Product.price }}">
					<div class="cart-item-product">
						<figure class="cart-item-image"> <img src="{{ product.Product.photo }}"> </figure>
						<div class="cart-item-name">
							<p>{{ product.Product.name }}</p>
							<p class="skinny-text" data-color="light">product model</p>
						</div>
					</div>
					<div class="cart-item-setings">
						<div class="cart-item-price">S/. {{ product.Product.price }}.00</div>
						<div class="cart-item-quantity"> <input
																								data-id="{{ product.Product.id }}"
																								data-cart="js-{{a}}"
																								value="{{ product.items }}" type="number" min="1" max="9"> </div>
						<div 	class="js-closed cart-item-closed"
									data-id="{{ product.Product.id }}"><i class="fa fa-times-circle"></i></div>
					</div>
				</div>
			{% endfor %}
			<div class="cart-totals">
				<table class="prices">
				  <tr>
				    <td>Subtotal</td>
				    <td>S/. <span class="js-subTotal"></span>.00</td>
				  </tr>
				  <tr>
				    <td>Envio</td>
				    <td>S/. 7.00</td>
				  </tr>
				  <tr class="total">
				    <td>Total</td>
				    <td>S/. <span class="js-total"></span>.00</td>
				  </tr>
				</table>
			</div>
		</div>

	</div>

	{% endfor %}

{% endblock %}


{% block scripts %}

	<script>
		var user = {{user|json|safe}};
		console.log('user: ', user);

		var products = {{products|json|safe}};
		console.log('products: ', products);
	</script>

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/cart.js"></script>

{% endblock %}