/*------------------------------------*
	$ ACCOUNT
*------------------------------------*/
@import 'base.styl'

@import 'elements/buttons.styl'
@import 'elements/inputs.styl'


.confim-email
	text-align center
	font-family 'Roboto Condensed'
	letter-spacing: .5px;
	color #555
	margin 2rem
	.title
		font-weight: 500;
		color #333
	.subtitle
		font-weight: 300;
	.email
		color #09879e
		font-weight: 400;
	.resend-container
		margin 2rem
		color #888
		button
			i
				display none
				animation 1.5s circle infinite

@keyframes circle
	0%
		transform rotate(0)
	50%
		transform rotate(-180deg)
	100%
		transform rotate(-360deg)