
<header class="header">
	<a class="logo" href="#">
		<img class="logo__small" src="/img/logo-small.png">
		<img class="logo__normal" src="/img/logo.png">
	</a>
	<nav class="skinny-menu" data-icon='true'>
		<a href="/works/category/all/page-1" class="skinny-menu__item">
			<i class="skinny-menu__item__icon fa fa-search"></i>
			<span class="skinny-menu__item__text">Descubre</span>
		</a>
		<a href="#" class="skinny-menu__item">
			<i class="skinny-menu__item__icon fa fa-diamond"></i>
			<span class="skinny-menu__item__text">Market</span>
		</a>
		<a href="#" class="skinny-menu__item">
			<i class="skinny-menu__item__icon fa fa-user"></i>
			<span class="skinny-menu__item__text">Sign in</span>
		</a>
	</nav>
</header>