// /*------------------------------------*
// 	$ NIB
// *------------------------------------*/
// @import 'nib'

// /*------------------------------------*
// 	$ BASE
// *------------------------------------*/
// @import 'base.styl'

// /*------------------------------------*
// 	$ LOGOS
// *------------------------------------*/
// @import 'elements/logos.styl'

// /*------------------------------------*
// 	$ MENUS
// *------------------------------------*/
// @import 'elements/menus.styl'

// /*------------------------------------*
// 	$ TEXTS
// *------------------------------------*/
// @import 'elements/texts.styl'

// /*------------------------------------*
// 	$ FILTERS
// *------------------------------------*/
// @import 'elements/filters.styl'

// ------------------------------------*
// 	$ INPUTS
// *------------------------------------
// @import 'elements/inputs.styl'

// /*------------------------------------*
// 	$ BUTTONS
// *------------------------------------*/
// @import 'elements/buttons.styl'

// /*------------------------------------*
// 	$ ARTISTS
// *------------------------------------*/
// @import 'elements/artists.styl'


// .artists
// 	max-width max-width
// 	margin auto
	
// .artists-container
// 	display flex
// 	max-width max-width
// 	margin auto
// 	padding 0 .5rem
// 	&__artists
// 		flex 1
// 	&__left-filters
// 	&__right-filters
// 		width 0
// 		overflow hidden
// 		transition width .5s
// 	&__left-filters.visible
// 	&__right-filters.visible
// 		width auto

// .more-artists
// 	max-width max-width
// 	margin auto
// 	text-align center


/*------------------------------------------------------------------------------------------------------------*
	$ DEPURADO---------------------------------------------------------------------------------------------------
*------------------------------------------------------------------------------------------------------------*/
@import 'nib'
@import 'base.styl'

@import 'elements/menus.styl'
@import 'elements/logos.styl'
@import 'elements/texts.styl'
@import 'elements/buttons.styl'
@import 'elements/inputs.styl'

@import 'objects/header.styl'
@import 'objects/slogan.styl'
@import 'objects/filters.styl'
@import 'objects/artists.styl'
@import 'objects/more.styl'
@import 'objects/footer.styl'
@import 'objects/login.styl'
@import 'objects/navigation.styl'
@import 'objects/category-menu.styl'
@import 'objects/section-title.styl'


.empty-result
	max-width max-width
	margin auto
	padding 2rem 1rem
	text-align center
	// display none
	a
		font-size 1rem
		fon-weight 600
		color #333