.flash-message-container
	max-width max-width
	margin auto
	display none
	
.flash-message
	text-align center
	position relative
	margin 0 1rem
	padding 1rem
	&.error
		background #fae7c8
		color #ce6637
	&.success
		background #e8edd0
		color #48970c
	.text
		font-family Arial
		font-size .95rem
		letter-spacing 1px
	.fa
		position absolute
		top 0
		right 0
		cursor pointer
		padding 1rem