.reset
	max-width max-width
	margin auto
	// padding 1rem .5rem
	padding 1rem
	&-title
		padding .5rem 0 1.5rem 0
		color #444
		font-family 'Raleway'
		font-weight 700
		font-size 1.25rem
	&-subtitle
		font-family 'Roboto Condensed'
		padding .5rem 0
		letter-spacing .5px
		text-transform uppercase
		color #6c7377
		font-size .9rem
	input
		margin .5rem 0
		margin-bottom 1.5rem
	.loading		
		text-align center
		font-size 1.5rem
		color #aaa
		margin 1rem
		display none
		.fa
			animation 1.5s circle infinite

@keyframes circle
	0%
		transform rotate(0)
	50%
		transform rotate(-180deg)
	100%
		transform rotate(-360deg)
