/*------------------------------------*
	$ WORKS
*------------------------------------*/
columns = 6
work-width = 150px

.works
	// min-height 500px
	padding 0 .5rem
	overflow hidden
	max-width max-width
	margin auto
	.work
		// display block
		margin 1rem .5rem
		border 1px solid #eee
		transition box-shadow ease-in-out 125ms
		position relative
		&:hover
			box-shadow rgba(0,0,0,0.35) 0 0 10px
		.cover
			position absolute
			top 0
			bottom 0
			width 100%
			display none
			background rgba(black, 0.1)
			.social-item
				margin auto
				color white
				border-radius 50%
				padding .5rem
				font-size 2em
				cursor pointer
				display flex
				&.active
					color #3000ff
.work
	&:hover
		.cover
			display flex
			

for i in (1..(columns - 1))
	@media screen and (min-width: work-width*i+1) and (max-width: work-width*(i+1))
		.works[data-columns]::before
			content str(i) + ' .column.size-1of' + str(i)
	
@media screen and (min-width: work-width*(columns)+1)
	.works[data-columns]::before
		content str(columns) + ' .column.size-1of' + str(columns)

.column
	float left

for i in (1..columns)
	.size-1of{i}
		width (100/i)*1%