{% extends '../partials/base.html' %}

{% block elements %}
	<div class="am-profile">
		<div class="am-profile-box grid-container">
			<form class="complete-form">
				<div class="grid-100">
					<p class="title">Elige tu foto de perfil:</p>
					<div class="image-uploader" style="position:relative;">
						{{cloudinary.uploader.image_upload_tag('photo', { callback: cloudinary_cors, return_delete_token: true})}}
					</div>
					<p class="title">Nombre</p>
					<input class="input" type="text" name='firstname' required placeholder="Ingresa tus nombres"/>
					<p class="title">Apellido</p>
					<input class="input" type="text" name='lastname' required placeholder="Ingresa tus apellidos"/>
					<p class="title">Usuario en la plataforma</p>
				</div>

				<div class="grid-50 mobile-grid-100">
					<p class="link" style="line-height: 46px;">artemanifiesto.com/user/</p>
				</div>
				<div class="grid-50 mobile-grid-100">
					<input class="input" type="text" name='username' required placeholder="Ingresa tu usuario"/>
				</div>

				<div class="grid-50 mobile-grid-100">
					<p class="title">Genero</p>
					<select class="input select" name='gender' required>
						<option disabled selected>Genero</option>
						<option>Masculino</option>
						<option>Femenino</option>
					</select>
				</div>
				<div class="grid-50 mobile-grid-100">
					<p class="title">Fecha de nacimiento</p>
					<input id="date" class="input" type="text" name='birthday' required placeholder="dd/mm/yy"/ maxlength="8">
				</div>

				<div class="grid-50 mobile-grid-100">
					<p class="title">País</p>
					<select class="input select" name='country' required>
						<option disabled selected>Elige tu pais</option>
						<option>Peru</option>
						<option>Argentina</option>
						<option>Chile</option>
						<option>Bolivia</option>
					</select>
				</div>
				<div class="grid-50 mobile-grid-100">
					<p class="title">Ciudad</p>
					<input class="input" name='city' required type="text" placeholder="Ingresa tu ciudad de residencia actual"/>
				</div>

				<div class="grid-100 mobile-grid-100">
					<p class="title">Redes Sociales</p>
					<div class="socials">
						<div class="social">
							<i class="fa fa-facebook"></i>
							<input class="input" name='facebook' type="text" placeholder="Ingresa tu link de tu página en facebook"/>
						</div>
						<div class="social">
							<i class="fa fa-twitter"></i>
							<input class="input" name='twitter' type="text" placeholder="Ingresa tu link del perfil en twitter"/>
						</div>
						<div class="social">
							<i class="fa fa-instagram"></i>
							<input class="input" name='instagram' type="text" placeholder="Ingresa tu link del perfil en instagram"/>
						</div>
						<div class="social">
							<i class="fa fa-behance"></i>
							<input class="input" name='behance' type="text" placeholder="Ingresa tu link del perfil en behance"/>
						</div>
						<div class="social">
							<i class="fa fa-tumblr"></i>
							<input class="input" name='tumblr' type="text" placeholder="Ingresa tu link del perfil en tumblr"/>
						</div>
						<div class="social">
							<i class="fa fa-wordpress"></i>
							<input class="input" name='blog' type="text" placeholder="Ingresa tu link de tu blog"/>
						</div>
						<div class="social">
							<i class="fa fa-vimeo"></i>
							<input class="input" name='vimeo' type="text" placeholder="Ingresa tu link del perfil en vimeo"/>
						</div>
						<div class="social">
							<i class="fa fa-dribbble"></i>
							<input class="input" name='dribble' type="text" placeholder="Ingresa tu link del perfil en dribble"/>
						</div>
					</div>
					<p class="title">Mi Manifiesto</p>
					<textarea rows="7" name='biography' required class="input" placeholder="Cuentanos sobre tí, lo que te define lo que hace que te levantes cada día."></textarea>
					<p class="title">Elige tus intereses</p>
				</div>

				<div class="interests">
					<div>
						<input type="checkbox" value='1' name="interests" id="interest-1"/>
						<label for="interest-1">
							<div class="interest" style="background-image: url('/img/interests/interest1.jpg')">
								<div class="cover"><p>Pintura y Técnica mixta</p></div>
							</div>
						</label>
					</div>
					<div>
						<input type="checkbox" value='2' name="interests" id="interest-2"/>
						<label for="interest-2">
							<div class="interest" style="background-image: url('/img/interests/interest2.jpg')">
								<div class="cover"><p>Diseño e Ilustración</p></div>
							</div>
						</label>
					</div>
					<div>
						<input type="checkbox" value='3' name="interests" id="interest-3"/>
						<label for="interest-3">
							<div class="interest" style="background-image: url('/img/interests/interest3.jpg')">
								<div class="cover"><p>Collage</p></div>
							</div>
						</label>
					</div>
					<div>
						<input type="checkbox" value='4' name="interests" id="interest-4"/>
						<label for="interest-4">
							<div class="interest" style="background-image: url('/img/interests/interest4.jpg')">
								<div class="cover"><p>Fotografía</p></div>
							</div>
						</label>
					</div>
					<div>
						<input type="checkbox" value='5' name="interests" id="interest-5"/>
						<label for="interest-5">
							<div class="interest" style="background-image: url('/img/interests/interest5.jpg')">
								<div class="cover"><p>Street Art</p></div>
							</div>
						</label>
					</div>
						<input type="checkbox" value='6' name="interests" id="interest-6"/>
						<label for="interest-6">
						<div class="interest" style="background-image: url('/img/interests/interest6.jpg')">
							<div class="cover"><p>Arte Digital</p></div>
						</div>
						</label>
					<div>
						<input type="checkbox" value='7' name="interests" id="interest-7"/>
						<label for="interest-7">
							<div class="interest" style="background-image: url('/img/interests/interest7.jpg')">
								<div class="cover"><p>Dibujo</p></div>
							</div>
						</label>
					</div>
					<div>
						<input type="checkbox" value='8' name="interests" id="interest-8"/>
						<label for="interest-8">
							<div class="interest" style="background-image: url('/img/interests/interest8.jpg')">
								<div class="cover"><p>Esculturas</p></div>
							</div>
						</label>
					</div>
					<div>
						<input type="checkbox" value='9' name="interests" id="interest-9"/>
						<label for="interest-9">
							<div class="interest" style="background-image: url('/img/interests/interest9.jpg')">
								<div class="cover"><p>Grabados</p></div>
							</div>
						</label>
					</div>
				</div>

				<div class="grid-100 mobile-grid-100">
					<button class="button save u-margin-top-30" data-color="green">GUARDAR CAMBIOS</button>
				</div>

				<div class="grid-100 save-loading hide mobile-grid-100">
					<button class="button u-margin-top-30" data-color="green"><i class="load fa fa-spinner"></i></button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src='/jquery.tagsinput.js' type='text/javascript'></script>
<script src='/jquery.ui.widget.js' type='text/javascript'></script>
<script src='/jquery.iframe-transport.js' type='text/javascript'></script>
<script src='/jquery.fileupload.js' type='text/javascript'></script>
<script src='/jquery.cloudinary.js' type='text/javascript'></script>
<script src="/jquery.maskedinput.js" lang="text/javascript"></script>
	<script>
		$(document).ready(function () {
			var uploaderImage = new APP.UploaderImage({template:'avatarImage'});

			$('.image-uploader').append(uploaderImage.view);
			$('.complete-form').submit(function(e){
				e.preventDefault();
				$('.save').hide();
				$('.save-loading').show();

				var data = $(this).serializeArray();
				$.each(data, function(index, value) {
					if (value.name === 'photo')
						value.value = uploaderImage.photo.replace('/upload', '/upload/w_150,h_150,c_thumb,q_70,d_am_avatar.jpg');
				});

				$.ajax({
					method: 'POST',
					url: '/user/' + DataApp.currentUser.username + '/account',
					data: data
				}).then(function(response) {
					if(response.status === 200) {
						location.href = location.href;
					}
				});
			});
   		$("#date").mask("99/99/9999");
		})
	</script>
{% endblock %}
