{% extends '../partials/base.html' %}


{% block elements %}
	<div class="am-welcome">
		<div class="cover" style="background-image: url(/img/banners/welcome.png)"></div>
		<div class="am-welcome-box">
			<img class="logo-img" src="/img/logo-img.svg">
			<img class="logo-text" src="/img/logo-text.svg">
			<p class="title">¡Felicitaciones!</p>
			<p class="title">Bienvenido a la comunidad de Arte Manifiesto</p>
			<p class="subtitle">Te hemos enviado un correo a <span>{{user.email}}</span></p>
			<p class="msg">Por favor confirma tu correo para continuar.</p>
		</div>
		<div class="am-welcome-help">
			<div class="title">
				<span class="line"></span>
				<span class="text">AYUDA</span>
				<span class="line"></span>
			</div>
			<p class="subtitle">Si no te llegó el correo, revisa en tu carpeta de SPAM ó pide que te reenviemos el correo.</p>
			<button class="button-resend">
				<a>REENVIAR CORREO</a>
			</button>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
	$('.button-resend').click(function(){
		Utils.getData({
			url:'/auth/resend'
		}).then(function(response){
			console.log(response);
		});
	});
</script>
{% endblock %}
