{% extends '../partials/base.html' %}

{% set path = 'interests' %}
{% set title = 'Arte Manifiesto | Completar Perfil' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/complite-profile.css">
{% endblock %}

{% block elements %}
	<h1>Felicidades</h1>
	<p>Te hemos enviado un email a {{ user.email }} </p>
	<br>
	<p>Por favor confirma en tu correo para continuar</p>
	<br>
	<br>
	<p>Si no recibiste el email dale click en <a class="resend">reenviar</a></p>
{% endblock %}


{% block scripts %}

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>

	<script>
		var user = {{user|json|safe}};
		console.log('user', user);

		var resend = document.querySelector('.resend')
		// console.log('resend: ', resend)

		resend.addEventListener('click', function () {
			// console.log('resend')

			$.post('/auth/resend', function (response) {
				console.log('response: ', response)
			})
		})

	</script>

{% endblock %}