
{% extends '../partials/base.html' %}

{% set path = 'editor' %}

{% block styles %}
  <style>
    .render {
      position: relative;
      margin-top: -80px;
      height: 80px;
      z-index: -1;
    }

    .left-preview {
      left: 25px;
    }

    .center-preview {
      left: 70px;
    }
  </style>
{% endblock %}

{% block elements %}
  <canvas id="c1"></canvas>
  <input type="button" name="save" class="save-btn" value="Save">
  </br>
  <input type="color"/>
  <div>
  <div>
    <img class="preview" width="120">
  </div>

  <img class="original" width="300" height="auto" style="margin-left:300px;">
    <div>
      <img class="left" width="300" height="auto">
      <img class="center" width="300" height="auto">
      <img class="right" width="300" height="auto">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      new APP.EditorScreen();
    });
  </script>
{% endblock %}
