{% set pageTitle = 'Arte Manifiesto, Una plataforma para artistas visuales y almas independientes' %}
{% set path = '' %}

{% extends '../partials/base.html' %}
{% block elements %}
	<div class="grid-container">
		<div class="grid-100 featured-container">
			<div class="featured-flex">
				<div class="featured-c580">
					<div class="featured-w580">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_580,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
				</div>
				<div class="featured-c580">
					<div class="featured-w280">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_280,h_580,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
					<div class="featured-w280">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_280,h_580,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-c580">
					<div class="featured-w280">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_280,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
					<div class="featured-w280">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_280,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
				</div>
				<div class="featured-c580">
					<div class="featured-w280">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_280,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
					<div class="featured-w280">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_280,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
					</div>
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-w580">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_580,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
				</div>
				<div class="featured-w580">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_580,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-w580">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
				</div>
				<div class="featured-w580">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-w580">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
				</div>
				<div class="featured-w580">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_580,h_280,c_scale/v1461608610/d9qlr95thheot0hwyzzd.jpg">
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block scripts %}
{% endblock %}
