{% set pageTitle = 'Red social y tienda en línea de arte y diseño' %}
{% set path = '' %}

{% block head %}
	<meta description="Crea tu portafolio, abre tu tienda y encuentra miles de productos con diseños únicos de Latinoamérica"/>
	<meta property="og:site_name" content="Arte Manifiesto" />
	<meta property="og:site" content="artemanifiesto.com" />
	<meta property="og:title" content="Red social y tienda en línea de arte y diseño | Arte Manifiesto" />
	<meta property="og:description" content="Crea tu portafolio, abre tu tienda y encuentra miles de productos con diseños únicos de Latinoamérica" />
	<meta property="og:image" content="http://res.cloudinary.com/arte-manifiesto/image/upload/v1454618424/general/am-op-graph_eqzlok.jpg" />
	<meta property="og:url" content="http://artemanifiesto.com" />
	<meta property="og:type" content="website" />
	<meta name='twitter:card' content='summary_large_image' />
	<meta name='twitter:image:src' content="http://res.cloudinary.com/arte-manifiesto/image/upload/v1454618424/general/am-op-graph_eqzlok.jpg" />
	<meta name='twitter:site' content='@artemanifiesto' />
	<meta name='twitter:url' content='http://artemanifiesto.com' />
	<meta name='twitter:description' content='Crea tu portafolio, abre tu tienda y encuentra miles de productos con diseños únicos de Latinoamérica' />
	<meta name='twitter:title' content='Red social y tienda en línea de arte y diseño | Arte Manifiesto' />
{% endblock %}

{% extends '../partials/base.html' %}

{% block elements %}
	<div class="grid-container">
		<div class="grid-100 featured-container">
			<div class="featured-flex">
				<div class="featured-c580">
					<div class="featured-w580">
						<a href="/products/category/all/page-1/?order=newest&featured=1">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/am-market.jpg">
						</a>
					</div>
				</div>
				<div class="featured-c580">
					<div class="featured-w280">
						<a href="/user/andreabarreda/products/all/page-1/?order=price_asc&featured=1">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/tienda-destacada.jpg">
						</a>
					</div>
					<div class="featured-w280">
						<a href="https://artjam.typeform.com/to/CDXmZM">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/artjam-convocatoria.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-c580">
					<div class="featured-w280 featured-border">
						<a href="/products/category/iphone-case/page-1/?order=newest&featured=1">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/iphone.jpg">
						</a>
					</div>
					<div class="featured-w280 featured-border">
						<a href="/products/category/ropa/page-1/?order=newest&featured=1">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/polos.jpg">
						</a>
					</div>
				</div>
				<div class="featured-c580">
					<div class="featured-w280 featured-border">
						<a href="/products/category/tazas/page-1/?order=newest&featured=1">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/tazas.jpg">
						</a>
					</div>
					<div class="featured-w280 featured-border">
						<a href="/products/category/prints/page-1/?order=newest&featured=1">
							<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/print.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-w580">
					<a href="/works/category/all/page-1/?order=newest&featured=1">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255848/featured/DESCUBRE-OBRAS.jpg">
					</a>
				</div>
				<div class="featured-w580">
					<a href="/blog/post/el-surrealismo-de-jhoel-mamani-20117115540">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/ARTISTA-DESTACADO.jpg">
					</a>
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-w580">
					<a href="/compra-y-vende-arte-en-internet-latinoamerica">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/landing-artistas_fwlifo">
					</a>
				</div>
				<div class="featured-w580">
					<a href="/blog">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/BLOG_snjk5p.jpg">
					</a>
				</div>
			</div>
			<div class="featured-flex">
				<div class="featured-w580">
					<a href="/blog/post/am-workshops-100217030745">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/am-workshops.jpg">
					</a>
				</div>
				<div class="featured-w580">
					<a href="/users/specialty/all/page-1/?order=newest&featured=1">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/f_auto,q_auto/v1482255850/featured/DESCUBRE-ARTISTAS_fvtess.jpg">
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block scripts %}
{% endblock %}
