{% extends '../partials/base.html' %}
{% set path = '' %}

{% block elements %}

	<div class="blog-single-cover" style="background-image: url('http://res.cloudinary.com/arte-manifiesto/image/upload/v1450852734/general/blog-cover-1.png')">
		<div class="grid-container" style="text-align: center;">
			<div class="grid-100">
				<!-- <div class="inner"> -->
					<span class="tag">TRAVEL</span>
					<p class="title">The Soul Of Siberia Hidden Beneath The Waters</p>
					<div class="info">
						<span class="date"><i class="bi_interface-clock"></i> June 11, 2014 9:26 pm</span>
						<span class="social"><i class="fa fa-heart"></i> 54</span>
						<span class="social"><i class="fa fa-comment"></i> 12</span>
						<a class="share">93 shares <i class="bi_web-download"></i></a>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
{% endblock %}