{% set templates = ['feed-user-follow', 'feed-work-created', 'collection-item'] %}
{% set pageTitle = 'Art Feed' %}
{% set path = 'feed' %}

{% extends '../partials/base.html' %}

{% block styles %}
  <style>
    .am-Footer{
      position: absolute;
      width: 100%;
    }
    
  </style>
{% endblock %}

{% block elements %}

	<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up"></i></a>

	<a id="go-collection-modal" href="#collection-modal"></a>
	<a id="go-share-modal" href="#share-modal"></a>

	<div id="collection-modal" style="display:none;">
		<i class="closed-modal fa fa-times"></i>
		<div class="actions-box add-collection">
			<p class="title">Añadir a las colecciones</p>
			<div class="u-separator u-margin-top-7"></div>

			<form class="add-collection-form">
				<input class="u-margin-top-10" type="text" name='name' required placeholder="Crear una colección nueva">
				<button class="u-margin-top-10 color-black bg-gray wd-auto">AÑADIR</button>
			</form>
			<ul class="collections u-margin-top-20">
			</ul>
			<div class="u-separator u-margin-top-20"></div>
			<div class="buttons u-margin-top-20">
				<button class="wd-auto bg-blue color-white save-collections">GUARDAR</button>
				<div class="hide save-collections-loading">
					<button class="wd-auto bg-blue color-white">
						<i class="load fa fa-spinner"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="share-modal" style="display:none;">
		<i class="closed-modal fa fa-times"></i>
		<div class="actions-box social-share">
			<p class="title">Compartir obras</p>
			<div class="u-separator u-margin-top-7"></div>
			<div class="share share-fb">
				<i class="fa fa-facebook"></i>Compartir en facebook
			</div>
			<div class="share share-tw">
				<i class="fa fa-twitter"></i>Compartir en twitter
			</div>
			<div class="share copy">
				Copiar link
			</div>
		</div>
	</div>
	
	<div class="feed-container">
		<div class="feed">
			<div class="feed-title">
				{% if flag %}
				<i class="icon bi_web-rss"></i>
				<div class="title">BIENVENIDO A ARTE MANIFIESTO</div>
				<div class="u-separator" style="background: #e7e7e7;"></div>
				<div class="feed-intro">
					<div class="feed-intro-image">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1495068891/general/Userpic.png">
					</div>
					<div class="feed-intro-container">
						<p class="feed-intro-text">Somos una red social de portafolios de artistas y creadores de latinoamérica. Inspirate con las mejores obras de la plataforma.</p>
						&nbsp;
						<p class="feed-intro-text">Crea tu cuenta y personaliza tu experiencia.</p>
					
						<div class="feed-intro-button-container">
							<a class="feed-intro-button">REGISTRARME</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="title">ART FEED</div>
				<div class="u-separator" style="background: #eee;"></div>
				<div class="user-info">
					<div class="avatar">
						<img src="{{user.photo}}">
						<div class="info">
							<p class="name uppercase">
								{% if user.typeName === 1 %}
									{{user.fullname}}
								{% else %}
									{{user.pseudonimo}}
								{% endif %}
							<p class="city u-margin-top-5">{{user.city}}, {{user.country}}</p>
						</div>
					</div>
					<div class="stats {% if flag %} hide {% endif %}">
						<a href="/user/{{user.username}}/followers">
							<div class="stat">
								<p>{{numbers[0]}}</p>
								<p class="u-margin-top-7">seguidores</p>
							</div>
						</a>
						<a href="/user/{{user.username}}/">
							<div class="stat">
								<p>{{numbers[1]}}</p>
								<p class="u-margin-top-7">obras</p>
							</div>
						</a>
						<a href="/user/{{user.username}}/followings">
							<div class="stat">
								<p>{{numbers[2]}}</p>
								<p class="u-margin-top-7">siguiendo</p>
							</div>
						</a>
					</div>
				</div> 
				{% endif %}	
			</div>
			<!-- <div class="feed-title" style="margin-top: 20px;">
				<div class="title">Todavía no sigues a nadie, pero te sugerimos a los últimos artistas destacados de AM</div>
			</div> -->
			<div class="feed-inner">
				<!-- <div class="am-More-preload loading hide"><i class="fa fa-spinner"></i></div> -->
			</div>

			<div class="loader extra-small gray hide loading"></div>
		</div>
		<div class="ads-feed">
			<div class="ads-feed-fixed">
				{% for ad in ads %}				
					<a data-id="{{ad.id}}" class="ad-{{ad.AdType.name}} ad-target" href="{{ad.link}}">
						<img src="{{ad.photo}}" alt="{{ad.description}}">
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="fb-root"></div>

{% endblock %}


{% block scripts %}
	<script>
	// var ads = {{ads|json|safe}};
	var actions = {{data|json|safe}};
	(function (d, s, id) {
		var js;
		var fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + DataApp.fbAppID;
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	$(function() {
	  $('#go-collection-modal').leanModal();
	  $('#go-share-modal').leanModal();
		new APP.FeedScreen();
	})
	</script>
{% endblock %}
