{% extends '../partials/base.html' %}

{% block elements %}





	<!-- CATEGORIAS -->

	<div class="grid-container">
		<div class="grid-100">
			<p class="home-title">DESCUBRE POR CATEGORÍAS</p>
		</div>
	</div>

	<div class="grid-container u-padding-bottom-40">
		<div class="grid-100 grid-parent">
			<div class="categories">
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/1 pintura.png');">
						<p>pintura</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/2 arte urbano.png');">
						<p>arte</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/3 dibujo.png');">
						<p>dibujo</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/4 digital.png');">
						<p>digital</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/5 collage.png');">
						<p>collage</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/6 collage.png');">
						<p>escultura</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/7 collage.png');">
						<p>fotogragia</p>
					</a>
				</div>
				<div class="categorie-container">
					<a href="#" class="categorie" style="background-image: url('img/categories/8 collage.png');">
						<p>ilustracion</p>
					</a>
				</div>
			</div>
		</div>
	</div>



	<!-- ARTISTAS -->

	<div class="grid-container">
		<div class="grid-100">
			<p class="home-title">ARTISTAS DESTACADOS</p>
		</div>
	</div>

	<div class="grid-container u-padding-top-10 u-padding-bottom-40" data-state="reduce">
		<div class="grid-100 grid-parent">
			<div class="grid work-layout-discover">
				<div class="grid-sizer"></div>
			</div>
			<div class="am-search-result empty-message hide">
				No se encontraron resultados
				<br><br>
				<a href="/users/specialty/all/page-1" class="am-report-link blue" href="">Volver a todas los artistas</a>
			</div>
			<div class="am-More-preload loading hide"><i class="fa fa-spinner"></i></div>
		</div>
	</div>

	<!-- OBRAS -->

	<div class="grid-container">
		<div class="grid-100">
			<p class="home-title">OBRAS DESTACADAS DE LA SEMANA</p>
		</div>
	</div>





{% endblock %}


{% block scripts %}

	<script>
		$(function(){
			var users = {{users|json|safe}}
	  	new APP.Viewer('user', $('.grid'), null, {{users|json|safe}});
		})
	</script>

{% endblock %}
