{% extends '../partials/base.html' %}
{% set path = '' %}
{% block elements %}

	<div class="lading-banner-container">
		<div class="grid-container">
			<div class="grid-100">
				<div class="lading-banner">
					<div class="info">
						<p class="title">Una plataforma para artistas visuales y almas independientes</p>
						<p class="subtitle u-margin-top-40">Una red social y marketplace para artistas visuales para mostrar, descubrir, comprar y vender tus obras y creaciones.</p>
						<a href="#" class="button">REGÍSTRATE AHORA</a>
					</div>
					<div class="images">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450087317/general/lading-phones.png">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<div class="landing-screens">
				<p class="title">Un portafolio para todos tus dispositivos</p>
				<p class="subtitle u-margin-top-25">Tu arte en todas tus pantallas</p>
				<div class="screens">
					<div class="screen">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450156492/general/landing-screen-phone.svg">
						<p class="title">SMARTPHONE</p>
						<p class="description">Ahora es tu herramienta de trabajo, no pierdas una oportunidad de mostrar tu arte o de descubrir nuevos talentos.</p>
					</div>
					<div class="screen">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450156492/general/landing-screen-tablet.svg">
						<p class="title">TABLET</p>
						<p class="description">Nunca fue más facil ser portable, actualiza, muestra y descubre en cualquier lugar, estés donde estés</p>
					</div>
					<div class="screen">
						<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450156492/general/landing-screen-desktop.svg">
						<p class="title">DESKTOP</p>
						<p class="description">Trabaja a máxima resolución y visualiza a pantalla completa tu portafolio o el de otros artistas como tú</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<div class="lading-explanation">
				<p class="title">La conexión con tu creatividad a sólo unos clicks</p>
				<div class="description">
					<p class="title">¿POR QUE ESTAR EN ARTEMANIFIESTO?</p>
					<p class="description">Sabemos que tienes mucho que expresar. Hemos puesto a la tecnología de tu lado para que puedas mostrar tu talento al mundo  con una experiencia visual única. Únete a los 1500 artistas en nuestra primera red social para artistas</p>
				</div>
			</div>
		</div>
	</div>


	<div class="lading-features-container">
		<div class="grid-container">
			<div class="grid-50">
				<div class="lading-features-image">
					<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158448/general/landing-feature-1-img.svg">
				</div>
			</div>
			<div class="grid-50">
				<div class="lading-features-options">
					<p class="title">Una plataforma a tu medida</p>
					<div class="options">
						<div class="option">
							<!-- <div class="option-left">
								<i class="bi_interface-arrow-right"></i>
							</div> -->
							<div class="option-right">
								<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158371/general/lading-feature-1.svg">
								<p class="title">CREA  TU PORTAFOLIO</p>
								<p class="description">Es muy fácil y gratis! Sólo tienes que subir tu trabajo</p>
							</div>
						</div>
						<div class="option">
							<!-- <div class="option-left">
								<i class="bi_interface-arrow-right"></i>
							</div> -->
							<div class="option-right">
								<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158371/general/lading-feature-2.svg">
								<p class="title">VALORA Y COLECCIONA</p>
								<p class="description">Reconoce los trabajos y guárda los que más te gusten</p>
							</div>
						</div>
						<div class="option">
							<!-- <div class="option-left">
								<i class="bi_interface-arrow-right"></i>
							</div> -->
							<div class="option-right">
								<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158371/general/lading-feature-3.svg">
								<p class="title">DESCUBRE NUEVO ARTE</p>
								<p class="description">Descubre entre 5,000 obras y 1500 artistas</p>
							</div>
						</div>
						<div class="option">
							<!-- <div class="option-left">
								<i class="bi_interface-arrow-right"></i>
							</div> -->
							<div class="option-right">
								<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158371/general/lading-feature-4.svg">
								<p class="title">SIGUE A TUS ARTISTAS</p>
								<p class="description">Y manténte al tanto de sus últimas creaciones</p>
							</div>
						</div>
						<div class="option">
							<!-- <div class="option-left">
								<i class="bi_interface-arrow-right"></i>
							</div> -->
							<div class="option-right">
								<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158371/general/lading-feature-5.svg">
								<p class="title">ART FEED</p>
								<p class="description">Llena de arte tus pantallas con los artistas que te gustan</p>
							</div>
						</div>
						<div class="option">
							<!-- <div class="option-left">
								<i class="bi_interface-arrow-right"></i>
							</div> -->
							<div class="option-right">
								<img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450158371/general/lading-feature-6.svg">
								<p class="title">TIENDA EN LÍNEA</p>
								<p class="description">Compra y vende arte original, o crea productos por internet</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<div class="landing-reviews">
				<div class="review">
					<img class="img" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450253893/general/landing-review-img-1.jpg"></img>
					<div class="content">
						<p class="text">“Vengo siguiendo la plataforma hace 3 años, y me ayudó a difundir mi portafolio en redes sociales de manera muy intuitiva, es un trampolín al artista”</p>
						<div class="avatar">
							<img class="logo" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450254017/general/landing-review-logo-1.jpg">
							<div class="info">
								<p class="name">CHRISTIAN HOVA</p>
								<p class="description">Ilustrador y publicista</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-100">
			<div class="landing-partners">
				<p class="title">CONFÍAN EN NOSOTROS</p>
				<div class="partners">
					<img class="partner" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450254831/general/lading-partner-1.jpg">
					<img class="partner" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450254831/general/lading-partner-2.jpg">
					<img class="partner" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450254831/general/lading-partner-3.jpg">
					<img class="partner" src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1450254831/general/lading-partner-4.jpg">
				</div>
			</div>
		</div>
	</div>

	<div class="lading-join" style="background-image: url('http://res.cloudinary.com/arte-manifiesto/image/upload/v1452350750/general/lading-join-background.jpg')">
		<div class="cover"></div>
		<div class="grid-container" style="position: relative;">
			<div class="grid-100">
				<p class="title">Únete ahora</p>
				<p class="subtitle">Y encuentra a miles de artistas <br> con tus mismos intereses</p>
				<div style="margin-top: 40px;">
					<input class="input" placeholder="E-Mail"></input>
					<a href="#" class="button">UNIRME</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
{% endblock %}
