{% extends '../partials/base.html' %}
	{% set path = 'products' %}
	{% set title = 'Arte Manifiesto | Market' %}
	{% set css = 'market' %}
	{% set includeJqueryUiCss = true %}

{% block content %}

	{% include '../partials/category-menu.html' %}


	<!-- ********************************************************************
		$ NAVIGATION
	********************************************************************* -->
	<section class="navigation">
		<span class="navigation-text">Productos</span>
	</section>


	<!-- ********************************************************************
		$ FILTERS MENU
	********************************************************************* -->
	<section class="filters-menu">
		<div class="filters-menu__search">
			<div class="search">
				<input type="text" placeholder="Busca Obras, Artistas y Productos">
				<i class="fa fa-search"></i>
			</div>
		</div>
		<div class="filters-menu__category js-leftFiltersButton">
			<button class="button-filter js-leftFiltersButton"><i class="fa fa-caret-left"></i> &nbsp Categorías</button>
		</div>
		<div class="filters-menu__order js-rightFiltersButton">
			<button class="button-filter js-rightFiltersButton">Ordenar &nbsp <i class="fa fa-caret-right"></i></button>
		</div>
	</section>

	<!-- ********************************************************************
		$ WORKS CONTAINER
	********************************************************************* -->
	<div class="works-container">
		<div class="works-container__filters left js-leftFilters">
			<div class="filters">
				<div class="filters__title">Featured</div>
				<!-- <div class="filter js-category" data-value="{{ category.nameSlugify }}">{{ category.name }}</div> -->
				<div class="filters__fueatured">
					<input name="question" type="checkbox" id="question">
					<label for="question" class="">Recomendados</label>
				</div>
			</div>
			<div class="filters">
				<div class="filters__title">Categorías</div>
				{% for category in productTypes %}
					<div class="filter js-category" data-value="{{ category.nameSlugify }}">{{ category.name }}</div>
				{% endfor %}
			</div>
			<div class="filters">
				<div class="filters__title">Precio</div>

				<div class="filters__price">
					<div class="double-range js-price">
						<div class="double-range__values">
							<span class="double-range__value js-minPrice">0</span>
							<span class="double-range__value js-maxPrice">140</span>
						</div>
						<div class="double-range__slider">
							<div id="slider-range"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="works-container__filters right js-rightFilters">
			<div class="filters">
				<div class="filters__title">Orden</div>
				<div class="filter js-order" data-value="popularity">Más popular</div>
				<div class="filter js-order" data-value="views">Más visto</div>
				<div class="filter js-order" data-value="newest">Más reciente</div>
			</div>
			<div class="filters">
				<div class="filters__title">Tiempo</div>
				<div class="filter js-time" data-value="day">Día</div>
				<div class="filter js-time" data-value="week">Semana</div>
				<div class="filter js-time" data-value="month">Mes</div>
				<div class="filter js-time" data-value="year">Año</div>
			</div>
		</div>
		<div class="works-container__works js-works">
			<!-- ********************************************************************
				$ PRODUCTS
			********************************************************************* -->
			<section class="products">
				{% for product in products %}
				<div class="product-wrapper">					
					<article class="product">
						<div class="product-image">
							<img src="/img/products/product1.jpg">
						</div>
						<div class="product-info">
							<div class="title">{{product.name}}</div>
							<div class="price">${{product.price}}</div>
						</div>
						<div class="product-social">
							<div class="like">
								<span class="button-like"> <i class="fa fa-heart-o"></i> <span>{{product.likes}}</span> </span>
							</div>
							<div class="wish-list">
								<span class="button-wish-list"> <i class="fa fa-square-o"></i> 500 </span>
							</div>
						</div>

						<div class="product__featured">
							{% if user %}
								
								<!-- is Admin -->
								{% if product.featured %}
									<span id="{{ product.id }}" class="button-featured admin unfeatured" data-size='small'>
										<div class="button-featured__inner"><i class="fa fa-star"></i></div>
									</span>
								{% else %}
									<span id="{{ product.id }}" class="button-featured admin disabled featured" data-size='small'>
										<div class="button-featured__inner"><i class="fa fa-star"></i></div>
									</span>
								{% endif %}

								<!-- else is User -->

							{% else %}

								{% if product.featured %}
									<span id="{{ product.id }}" class="button-featured" data-size='small'>
										<div class="button-featured__inner"><i class="fa fa-star"></i></div>
									</span>
								{% endif %}

							{% endif %}
						</div>

					</article>
				</div>
				{% endfor %}
			</section>


			<div class="loading"><i class="fa fa-spinner"></i></div>
			
			{% include '../partials/more.html' %}

		</div>
	</div>



	<!-- ********************************************************************
		$ SLOGAN
	********************************************************************* -->
	<!-- <section class="slogan">
		<span class="slogan-text">Muestra tu talento artístico!</span>
		<button class="button-solid js-signUpButton" data-size='large'>Sign Up</button>
	</section> -->


	{% include '../partials/footer.html' %}


	<!-- ********************************************************************
		$ LOGIN
	********************************************************************* -->
	<section class="login-modal">
		<div class="login-box js-loginBox">
			<header class="login-box__header">			
				<div class="skinny-menu">
					<a href="#" class="skinny-menu__item js-signInFormButton">
						Ingresar
					</a>
					<a href="#" class="skinny-menu__item js-signUpFormButton">
						Registrarme
					</a>
				</div>
			</header>
			<form class="login-box__form js-signUpForm">
		 		<a href="#" class="facebook-button" data-expand='true'>
					<i class="fa fa-facebook-official"></i>&nbsp; Registrarme con Facebook
				</a>
				<div class="separator-text">
					<span class="line"></span>
					<span class="text">Con email</span>
					<span class="line"></span>
				</div>
				<input class="input" data-size='large' name="username" placeholder="Username" type="text">
				<input class="input" data-size='large' name="email" placeholder="Email" type="email">
				<input class="input" data-size='large' name="password" placeholder="Password" type="password">
				<input class="input" data-size='large' name="first-name" placeholder="First Name" type="text">
				<input class="input" data-size='large' name="last-name" placeholder="Last Name" type="text">
				<select class="input" name="gender">
					<option selected disabled>Género</option>
					<option value="Male">Masculino</option>
					<option value="Female">Femenino</option>
				</select>
				<div class="question">
					<input name="question" type="checkbox" id="question">
					<label for="question" class="medium-text">¿Eres Artista profesional?</label>
				</div>
				<input class="button-solid" data-size='large' data-color='red' data-expand='true' value="Registrarme" type="submit">
				<p class="high-text note" data-size="small">Al registrarte estas aceptando los <strong>terminos y condiciones</strong> de Arte Manifiesto</p>
			</form>
			<form class="login-box__form js-signInForm">
		 		<a href="#" class="facebook-button" data-expand='true'>
					<i class="fa fa-facebook-official"></i>&nbsp; Ingresar con Facebook
				</a>
				<div class="separator-text">
					<span class="line"></span>
					<span class="text">Con email</span>
					<span class="line"></span>
				</div>
				<input class="input" data-size='large' name="email" placeholder="Email" type="text">
				<input class="input" data-size='large' name="password" placeholder="Password" type="password">
				<input class="button-solid" data-size='large' data-color='red' data-expand='true' value="Ingresar" type="submit">
				<p class="high-text note js-rememberFormButton" data-size="small">Recordar contraseña</p>
			</form>
			<form class="login-box__form js-rememberForm">
				<div class="separator-text">
					<span class="line"></span>
					<span class="text">Recordar contraseña</span>
					<span class="line"></span>
				</div>
				<input class="input" data-size='large' name="email" placeholder="Email" type="text">
				<input class="button-solid" data-size='large' data-color='red' data-expand='true' value="Recordar" type="submit">
				<p class="high-text note js-rememberBackButton" data-size="small">Ingresar</p>
			</form>
			<div class="login-box__closed js-loginClosed"><i class="fa fa-times"></i></div>
		</div>
	</section>


	<script type="text/template" id="product-template">

		<div class="product-wrapper">					
			<article class="product">
				<div class="product-image">
					<img src="/img/products/product1.jpg">
				</div>
				<div class="product-info">
					<div class="title"><%= name %></div>
					<div class="price">$<%= price %></div>
				</div>
				<div class="product-social">
					<div class="like">
						<span class="button-like"> <i class="fa fa-heart-o"></i> <span>{{product.likes}}</span> </span>
					</div>
					<div class="wish-list">
						<span class="button-wish-list"> <i class="fa fa-square-o"></i> 500 </span>
					</div>
				</div>

				<div class="product__featured">
					<% if (user) { %>
						<% if (featured) { %>
							<span id="<%= id %>" class="button-featured admin unfeatured" data-size='small'>
							<div class="button-featured__inner"><i class="fa fa-star"></i></div>
							</span>
						<% } else { %>
							<span id="<%= id %>" class="button-featured admin disabled featured" data-size='small'>
							<div class="button-featured__inner"><i class="fa fa-star"></i></div>
							</span>
						<% } %>
					<% } else { %>
						<% if (featured) { %>
							<span id="<%= id %>" class="button-featured" data-size='small'>
							<div class="button-featured__inner"><i class="fa fa-star"></i></div>
							</span>
						<% } %>
					<% } %>
				</div>

			</article>
		</div>
	</script>

	<script>

		var pagination = {{ pagination|json|safe }};
		console.log('pagination: ', pagination)

		var user = {{ user|json|safe }};
		console.log('user: ', user)

		var products = {{ products|json|safe }};
		console.log('products: ', products)

		var productTypes = {{ productTypes|json|safe }};
		console.log('productTypes: ', productTypes)

		var url = {{ url|json|safe }};
		console.log('url: ', url)

	</script>

	<script src="/js/vendor/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>

	<script src="/js/vendor/salvattore.js"></script>
	<script src="/js/vendor/underscore-min.js"></script>

	<script src="/js/lib/login.js"></script>
	<script src="/js/lib/filters.js"></script>

	<script src="/js/lib/product.js"></script>
	<script src="/js/lib/products.js"></script>

	<script src="/js/market.js"></script>

	<script>
        $(document).on("click", ".featured", function (event) {
            var scope = $(this);
            $.ajax({
                type: "POST",
                url: "/user/work/featured/",
                data: {idWork: scope.attr('id')},
                success: function (data) {
                    if (data.code == 202) {
												// scope.html('<i class="fa fa-star"></i>&nbsp;Recomendado');
												scope.removeClass('featured').addClass('unfeatured').removeClass('disabled');
                    }
                    console.log(data);
                }
            });
            return false;
        });
        $(document).on("click", ".unfeatured", function (event) {
            var scope = $(this);
            $.ajax({
                type: "POST",
                url: "/user/work/unfeatured/",
                data: {idWork: scope.attr('id')},
                success: function (data) {
                    if (data.code == 202) {
												// scope.html('<i class="fa fa-star"></i>&nbsp;Recomendar');
												scope.removeClass('unfeatured').addClass('featured').addClass('disabled');
                    }
                    console.log(data);
                }
            });
            return false;
        });
	</script>

{% endblock %}