
{% extends '../partials/base.html' %}

	{% set path = 'products' %}
	{% set title = 'Arte Manifiesto | Market' %}
	{% set css = 'products' %}

{% block elements %}
	
	{% include '../partials/section.html' %}

	<script type="text/template" id="template">
		<div class="product-wrapper">
			<article class="product">
				<a href="/<%= User.username %>/product/<%= nameSlugify %>" class="product-image">
					<img src="<%= photo %>">
				</a>
			</article>
		</div>
	</script>

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
		
		var url = {{ url|json|safe }}
		console.log('url: ', url)

		var pagination = {{ pagination|json|safe }}
		console.log('pagination: ', pagination)

		var user = {{ user|json|safe }}
		console.log('user: ', user)

	</script>

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="/js/lib/search.js"></script>
	<script type="text/javascript" src="/js/lib/section.js"></script>
	<script type="text/javascript" src="/js/products.js"></script>

{% endblock %}