<!DOCTYPE html>
<html>
<head>

    <title>Arte Manifiesto | Artistas</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Roboto+Condensed:400,300,700|Raleway:400,100,200,300,500,700,600,800,900|Oswald:400,300,700|Hammersmith+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/discover-artists.css">

</head>
<body>

    {% include "../partial/header.html"%}

    <section class="artists" data-columns>

        {% for user in users %}
            <article class="artist">
                <a class="artist-header" href="#">
                    <div class="avatar">
                        <img src="/img/artists/artist1.jpg">
                    </div>
                    <div class="info">
                        <!-- <p class="high-text" data-size='small'>{{ user.username }}</p> -->
                        <p class="high-text" data-size='small'>Hans Evangelista</p>
                        <p class="skinny-text" data-color='light' data-size='small'><i class="fa fa-map-marker"></i> Lima, Peru</p>
                    </div>
                </a>
                <div class="artist-works">
                        <div class="work work1"></div>
                        <div class="work work2"></div>
                        <div class="work work3"></div>
                        <div class="work work4"></div>
                        <div class="work work5"></div>
                        <div class="work work6"></div>                  
                </div>
                <div class="artist-follow">
                    {% if user.following %}
                        <button class="button-liner disabled" href="#">
                            <span class="button-liner__action"><i class="fa fa-check"></i> Siguiendo</span>
                            <span class="button-liner__number">13,2k</span>
                        </button>
                    {% else %}
                        <button class="button-liner" data-size='small'>
                            <span class="button-liner__action">Seguir</span>
                            <span class="button-liner__number">13,2k</span>
                        </button>
                    {% endif %}
                </div>
            </article>
        {% endfor %}

    </section>

    <script src="/js/vendor/salvattore.js"></script>
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/underscore-min.js"></script>

    <!-- // <script src="/js/works.js"></script> -->

    <script>

        var users = {{ users|json|safe }}
        console.log('users: ', users)

        // var pagination = {{ pagination|json|safe }};
        // console.log('pagination: ', pagination)

        // var user = {{ user|json|safe }};
        // console.log('user: ', user)

        // var works = {{ works|json|safe }};
        // console.log('works: ', works)

        // var categories = {{ categories|json|safe }};
        // console.log('categories: ', categories)

        // var url = {{ url|json|safe }};
        // console.log('url: ', url)

    </script>

</body>
</html>