<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>

        .rounded {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .like {
            background-color: deepskyblue;
        }

        .collect {
            background-color: #90EE90;
        }

        .unlike {
            background-color: aquamarine;
        }
    </style>
</head>
<body>

<ul>
    {% for work in works %}
        {{ work.lel }}
        <div style="margin: 10px;width: 200px;">
            <li> - {{ work.name }}</li>
            <li><strong>{{ work.likes }}</strong> <em>likes</em></li>
            <img class="rounded" src="{{ work.photo }}"><br/>
            <button id="{{ work.id }}" class="like">Like</button>
            <button id="{{ work.id }}" class="collect">Collect</button>
        </div>
    {% endfor %}
</ul>
<script src="/js/lib/jquery.min.js"></script>
<script>
    $(function () {
        var works = {{ works|json|safe }};
        var likes ={{ likes|json|safe }};
        console.log(works);
        var i, like;
        for (i = 0; i < likes.length; i++) {
            like = $('#' + likes[i].id);
            like.text('Unlike');
            like.removeClass('like').addClass('unlike');
        }

        $(document).on("click", ".like", function (event) {
            var scope = $(this);
            $.ajax({
                type: "POST",
                url: "/user/like/",
                data: {idWork: scope.attr('id')},
                success: function (data) {
                    if (data.code == 202) {
                        scope.text('Unlike');
                        scope.removeClass('like').addClass('unlike');
                    }
                    console.log(data);
                }
            });
            return false;
        });

        $(document).on("click", ".unlike", function (event) {
            var scope = $(this);
            $.ajax({
                type: "POST",
                url: "/user/unlike/",
                data: {idWork: scope.attr('id')},
                success: function (data) {
                    if (data.code == 202) {
                        scope.text('Like');
                        scope.removeClass('unlike').addClass('like');
                    }
                    console.log(data);
                }
            });
            return false;
        });

        $(document).on("click", ".collect", function (event) {
            alert('collect');
            return false;
            var scope = $(this);
            $.ajax({
                type: "POST",
                url: "/user/collects/",
                data: {meta: 'works'},
                success: function (data) {
                }
            });
            return false;
        });
    });

</script>
</body>
</html>