	<!-- ********************************************************************
		$ CATEGORY MENU
	********************************************************************* -->
	<section class="category-menu">
		<div class="carousel-thick-menu">
			<div class="thick-menu">
				{% if path == 'works' || path == 'users' %}

					{% for category in categories %}
						<div class="thick-menu__item js-category" data-value="{{ category.nameSlugify }}">{{ category.name }}</div>
					{% endfor %}

				{% endif %}
				{% if path == 'products' || path == 'index' || path == 'login' || path == 'profile' || path == 'single-product' %}

					{% for productType in productTypes %}
						<div class="thick-menu__item js-category" data-value="{{ productType.nameSlugify }}">{{ productType.name }}</div>
					{% endfor %}

				{% endif %}
				{% if path == 'index' || path == 'login' || path == 'single-product' || path == 'checkout' %}
					<a href="#" class="thick-menu__item">Obras Originales</a>
					<a href="#" class="thick-menu__item">Polos</a>
					<a href="#" class="thick-menu__item">Tazas</a>
					<a href="#" class="thick-menu__item">Iphone Cases</a>
					<a href="#" class="thick-menu__item">Prints</a>
				{% endif %}
				{% if path == 'profile' %}
					<a href="#" class="thick-menu__item">Subir Obra</a>
					<a href="#" class="thick-menu__item">Editar Perfil</a>
					<a href="/auth/logout" class="thick-menu__item">Log Out</a>
				{% endif %}
			</div>
		</div>
	</section>