{% extends '../partials/base.html' %}

{% set path = 'confirm-email' %}
{% set title = 'Arte Manifiesto | Confirmar Email' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/confirm-email.css">
{% endblock %}

{% block elements %}
	<section class="confim-email">
		<h1 class="title">Felicidades</h1>
		<p class="subtitle">Te hemos enviado un email a <span class="email"> {{ user.email }} </span></p>
		<p class="subtitle">Por favor confirma en tu correo para continuar</p>
		<p class="resend-container">Si no recibiste el email dale click en &nbsp;
			<button class="button-filter resend">
				<i class="fa fa-spinner"></i>
				Reenviar
			</button>
		</p>
	</section>
{% endblock %}


{% block scripts %}

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>

	<script>
		var user = {{user|json|safe}};
		console.log('user', user);

		var resend = document.querySelector('.resend'),
				load = resend.querySelector('i')

		resend.addEventListener('click', function () {
			// console.log('resend')
			load.style.display = 'inline-block'
			$.post('/auth/resend', function (response) {
				load.style.display = 'none'
				console.log('response: ', response)
			})
		})

	</script>

{% endblock %}