{% extends '../partials/base.html' %}

{% set path = 'interests' %}
{% set title = 'Arte Manifiesto | Intereses' %}
{% set css = 'interests' %}

{% block elements %}

<p class="title">¿Qué obras te interesan?</p>

<section class="insterts">
	<article class="interest">
		<div class="inner">
			<div class="cover">
				<i class="fa fa-check"></i>
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_4s/4/reg/pencilnecklace.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_5s/4/reg/_DSC0160_large.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/4/reg/tween-tank.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_2s/4/reg/Screen_Shot_2012-11-30_at_12.52.21_PM.png">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_1s/4/reg/Screen_Shot_2012-11-30_at_12.51.07_PM.png">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_6s/4/reg/il_570xN.264801675_large.jpeg">
			</div>
		</div>
	</article>
	<article class="interest">
		<div class="inner">
			<div class="cover">
				<i class="fa fa-check"></i>
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/6/reg/IMG_7734_original.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_6s/6/reg/pillows-couch-2_original_(1).jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_4s/6/reg/babyjambo_large_(1).jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_5s/6/reg/garland.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_1s/6/reg/clips_large_(1).jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_2s/6/reg/mother.jpg">
			</div>
		</div>
	</article>
	<article class="interest">
		<div class="inner">
			<div class="cover">
				<i class="fa fa-check"></i>
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_4s/3/reg/fashionista_bracelet.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_1s/3/reg/DSC_0999_web_original.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/3/reg/fashionista_ring.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_6s/3/reg/tribal1_large_(1).jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_5s/3/reg/fashionista_purse.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_2s/3/reg/fashionista_earrings.jpeg">
			</div>
		</div>
	</article>
	<article class="interest">
		<div class="inner">
			<div class="cover">
				<i class="fa fa-check"></i>
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_1s/1/reg/design_ampersand.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_4s/1/reg/Design_Hightops.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/1/reg/il_fullxfull.179361257_large_(1).jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_2s/1/reg/photo_original_(2).jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_5s/1/reg/Pocket_BluePlanted2_large.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_6s/1/reg/Screen_Shot_2012-11-30_at_12.45.25_PM.png">
			</div>
		</div>
	</article>
	<article class="interest">
		<div class="inner">
			<div class="cover">
				<i class="fa fa-check"></i>
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_5s/5/reg/flannel_use1_large.jpeg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_2s/5/reg/19_original_copy.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_1s/5/reg/Taste_Young_Male.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/5/reg/cardigan.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_6s/5/reg/Tast_Young_Male_2.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_4s/5/reg/yp_glasses.jpeg">
			</div>
		</div>
	</article>
	<article class="interest">
		<div class="inner">
			<div class="cover">
				<i class="fa fa-check"></i>
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_2s/2/reg/profound-aesthetic-bird-hat-9-600x600_original.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/2/reg/nike-air-jordan-5-retro-bel-air-1_original.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_4s/2/reg/headphones_(1).jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_3s/5/reg/cardigan.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_1s/2/reg/9586109_original.jpg">
			</div>
			<div class="img-container">
				<img src="//dpegb9ebondhq.cloudfront.net/taste_categories/photo_6s/2/reg/Eboy_original.jpg">
			</div>
		</div>
	</article>
</section>

<p class="interest-error">Minimo 2 opciones</p>

<button class="button-solid" data-color='red'>Continuar</button>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
	var user = {{ user|json|safe }}
	console.log('user: ', user)
	function Interests (el, data) {
		var interests = el.querySelectorAll('.interest'),
				submit = document.querySelector('.button-solid'),
				interestError = document.querySelector('.interest-error');
		function setup () {
			// console.log('setup')
			for (var i = interests.length - 1; i >= 0; i--)
				interests[i].setAttribute('selected', false)
			for (var i = interests.length - 1; i >= 0; i--) {
				interests[i].addEventListener('click', function () {
					// console.log('this: ', this)
					var selected = this.getAttribute('selected')
					// console.log('selected: ', selected)
					if(selected == 'true') {
						// console.log('selected')
						this.classList.remove('active')
						this.setAttribute('selected', false)
					} else {
						// console.log('no selected')
						this.classList.add('active')
						this.setAttribute('selected', true)
					}
				})
			}
			submit.addEventListener('click', send)
		}
		function send () {
			var ret = []
			for (var i = interests.length - 1; i >= 0; i--){
				var selected = interests[i].getAttribute('selected')
				if(selected == 'true') {
					ret.push(i)
				}
			}
			if(ret.length == 0){
				console.log('error')
				interestError.style.display = 'block'
			} else {
				interestError.style.display = 'none'
				console.log('ret: ', ret)
			}
		}
		setup()
	}
	window.interests = new Interests(document.querySelector('.insterts'))
</script>

{% endblock %}