{% extends '../partials/base.html' %}

{% block elements %}

	<div class="private-view">
		<div class="empty-box" style="max-width: 1000px;">
			<div class="empty-box-column padlock" style="background-image: url('/img/error-private.png')">
				<!-- <img src="/img/candadaso.png"> -->
			</div>
			<div class="empty-box-column right">

				<i class="bi_user-lock"></i>

				<p class="title u-margin-top-20">Lo sentimos no puedes ver esta obra :( pues está en modo privado</p>
				<p class="subtitle u-margin-top-20">Pero existen 5000 obras que son públicas esperando a ser descubiertas por tí</p>

				<a href="#" class="u-margin-top-30 button"><i class="bi_interface-circle-plus"></i>&nbsp;&nbsp;DESCRUBRIR OBRAS</a>

			</div>
		</div>
	</div>

{% endblock %}
