{% extends '../partials/base.html' %}

{% block elements %}

	<div class="private-view">
		<div class="empty-box" style="max-width: 1000px;">
      <div class="empty-box-column padlock" style="background-image: url('https://pbs.twimg.com/profile_images/419387075406733312/-PWwQAPl.jpeg')">
			</div>
			<div class="empty-box-column right">
				<i class="bi_user-lock"></i>
				<p class="title u-margin-top-20">Necesitas logearte PAJERO</p>
				<a class="u-margin-top-30 button am-Signin-button"><i class="bi_interface-circle-plus"></i>&nbsp;&nbsp;LOGEARSE</a>
			</div>
		</div>
	</div>

{% endblock %}
