{% extends '../../partials/base.html' %}


{% block elements %}

	<div class="grid-container u-padding-top-40 u-padding-bottom-20" style="position: relative;">
		{% if owner %}
		<span class="edit-collection">
			<a id="go-collection-modal" href="#edit-modal"><i class="bi_editorial-compose"></i></a>
		</span>
		{% endif %}
		<div class="grid-100">
			<div class="single-collection-header">
				<a href="/user/{{collection.User.username}}">
					<img src="{{collection.User.photo}}">
				</a>
				<div>
					<p class="am-navigation-text">{{collection.User.fullname}}</p>
					<p class="am-collection-text"><span>Coleccion ></span>&nbsp;&nbsp;<span class="collection-name">{{collection.name}}</span></p>
				</div>
			</div>
		</div>

		<div class="grid-100 u-margin-top-30">
			<p class="am-collection-desc collection-description">{{collection.description}}</p>
		</div>
	</div>

	<div class="grid-container">
		<gir class="grid-100">
			<div class="u-separator" style="margin: 0 10px"></div>
		</gir>
	</div>


	<div class="discover-content grid-container u-padding-top-10 u-padding-bottom-40">
		<div class="grid-100 grid-parent">
			<div class="grid work-layout-discover">
				<div class="grid-sizer"></div>
			</div>
		</div>
	</div>

	<div id="edit-modal" style="display: none;">
		<div class="am-upload-work-box grid-container">
			<p class="main-title">EDITAR COLECCION</p>
			<form class="add-work collection-form">
				<div class="grid-100">
					<div class="separator">
						<span class="line"></span><span class="line"></span>
					</div>
					<p class="title" style="min-width: 300px;">Nombre</p>
					<input name='name' value="{{collection.name}}" class="input" type="text" required placeholder="Ingrese el nombre de la coleccion"/>
				</div>

				<div class="grid-100 mobile-grid-100">
					<p class="title">Descripcion</p>
					<textarea name='description' class='input'placeholder="Descripcion" maxlength='140'>{{collection.description}}</textarea>

					<div class="switch u-margin-top-10">
						<p class="title">Público</p>
						<span class="value">On</span>

						<input type="checkbox" name="public" id="public" {% if collection.public %} checked {%endif %}/>
						<label for="public">
						  <div class="am-Switch-button">
						  	<i class="fa fa-bars"></i>
						  </div>
						</label>
					</div>
				</div>

				<div class="u-padding-top-20">
					<div class="grid-50">
						<a href='#'>
							<button class="button save" style="margin-top: 5px;" data-color="blue">GUARDAR</button>
							<div class="hide save-loading">
								<button class="button" style="margin-top: 5px;" data-color="blue">
									<i class="load fa fa-spinner"></i>
								</button>
							</div>
						</a>
					</div>
					<div class="grid-50">
		        <button class="button inline upload u-margin-top-30 upload_button delete-collection" style="border: none; box-shadow: none;">
		          <i class="bi_editorial-trash-l"></i>&nbsp;&nbsp;&nbsp;ELIMINAR
		        </button>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endblock %}

	{% block scripts %}
	<script type="text/javascript">
	var collection = {{collection|safe|json}};
		$(document).ready(function() {
			var data= {
				pagination: {
					page:1,
					pages:2
				},
				items: {{works|json|safe}}
			}
			new APP.Viewer('work', $('.grid'), 'infinite', data , {context: 'single-collection'});
		});

	$("#go-collection-modal").leanModal();

	$('.delete-collection').click(function() {
		var payload = {idCollection: collection.id};
	  $.post(DataApp.currentUser.url + '/collection/delete' , payload, function(response) {
			if(response.status === 200) {
				window.location.href = '/user/' + collection.User.username + '/collections';
			}
		});
	});

	$('.collection-form').submit(function() {
		event.preventDefault();
	  $('.save').hide();
	  $('.save-loading').show();
		var payload = {
			name: $('input[name=name]').val(),
			description: $('textarea[name=description]').val(),
			public: $( "input[name=public]:checked" ).val() !== undefined,
			idCollection: collection.id
		}
	  $.post(DataApp.currentUser.url + '/collection/update' , payload, function(response){
			if(response.status === 200) {
				$('.save').show();
				$('.save-loading').hide();
				var newCollection = response.data.collection;
				var newUrl = '/user/' + collection.User.username + '/collection/' + newCollection.nameSlugify;
				$('.collection-name').text(newCollection.name);
				$('.collection-description').text(newCollection.description);
				Utils.changeUrl('Collection', newUrl);
			}
		});
	});

	</script>
	{% endblock %}
