{% set templates = ['work']%}
{% set pageTitle = collection.name %}

{% extends '../../partials/base.html' %}

{% block elements %}

	<div class="grid-container u-padding-top-40 u-padding-bottom-20" style="position: relative;">
		{% if owner %}
		<span class="edit-collection">
			<a id="go-collection-modal" href="#edit-modal"><i class="bi_editorial-compose"></i></a>
		</span>
		{% endif %}
		<div class="grid-100">
			<div class="single-collection-header">
				<a href="/user/{{collection.User.username}}">
					<img src="{{collection.User.photo}}">
				</a>
				<div>
					<p class="am-navigation-text">
						{% if collection.User.typeName === 1 %}
							{{collection.User.fullname}}
						{% else %}
							{{collection.User.pseudonimo}}
						{% endif %}
					</p>
					<p class="am-collection-text"><span>Coleccion ></span>&nbsp;&nbsp;<span class="collection-name">{{collection.name}}</span></p>
				</div>
			</div>
		</div>

		<div class="grid-100 u-margin-top-30">
			<p class="am-collection-desc collection-description">{{collection.description}}</p>
		</div>
	</div>

	<div class="grid-container">
		<gir class="grid-100">
			<div class="u-separator" style="margin: 0 10px"></div>
		</gir>
	</div>


	<div class="discover-content grid-container u-padding-top-10 u-padding-bottom-40">
		<div class="grid-100 grid-parent">
			<div class="loader extra-small gray loading hide" style="border-color: gree;"></div>
			<div class="grid work-layout-discover">
				<div class="grid-sizer"></div>
			</div>
		</div>
	</div>

	<div id="edit-modal" style="display: none;">
		<i class="closed-modal fa fa-times"></i>

		<div class="am-upload-work-box grid-container">
			<p class="main-title">EDITAR COLECCION</p>
			<form class="add-work collection-form">
				<div class="grid-100">
					<div class="separator">
						<span class="line"></span><span class="line"></span>
					</div>
					<p class="title" style="min-width: 300px;">Nombre</p>
					<input name='name' value="{{collection.name}}" class="input" type="text" required placeholder="Ingrese el nombre de la coleccion"/>
				</div>

				<div class="grid-100 mobile-grid-100">
					<p class="title">Descripcion</p>
					<textarea name='description' class='input'placeholder="Descripcion" maxlength='140'>{{collection.description}}</textarea>

					<div class="switch u-margin-top-10">
						<p class="title">Público</p>
						<span class="value" id="public-value"></span>

						<input type="checkbox" name="public" id="public" {% if collection.public %} checked {%endif %}/>
						<label for="public">
						  <div class="am-Switch-button">
						  	<i class="fa fa-bars"></i>
						  </div>
						</label>
					</div>
				</div>
			</form>
			<div class="u-padding-top-20">
				<div class="grid-50">
					<button class="button save" style="margin-top: 5px;" data-color="blue">GUARDAR</button>
					<div class="hide save-loading">
						<button class="button" style="margin-top: 5px;" data-color="blue">
							<i class="load fa fa-spinner"></i>
						</button>
					</div>
				</div>
				<div class="grid-50">
	        <!-- <button class="button inline upload u-margin-top-30 upload_button delete-collection" style="border: none; box-shadow: none;">
	          <i class="bi_editorial-trash-l"></i>&nbsp;&nbsp;&nbsp;ELIMINAR
	        </button> -->

          <button class="button inline upload work-delete trash" style="border: none; box-shadow: none;">
            <i class="bi_editorial-trash-l"></i>&nbsp;&nbsp;&nbsp;ELIMINAR
          </button>
  				<div class="edit-options work-delete-confirm hide">
  					ELIMINAR? &nbsp;
  					<i class="bi_interface-box-tick work-delete-force save-icon" style="display: inline;"></i>
  					<i class="bi_interface-box-cross work-delete-cancel cancel-icon" style="display: inline;"></i>
  				</div>

				</div>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block scripts %}
	<script type="text/javascript">
	var works = {{works|safe|json}};
	var collection = {{collection|safe|json}};
	$(function() {
		new APP.CollectionScreen();
	});
	</script>
	{% endblock %}
