{% extends '../partials/base.html' %}

{% set path = 'market' %}
{% set profile = profile.toJSON()%}
{% block elements %}
	<div class="am-Profile-banner">
			{% if owner %}
			<a href='/user/{{profile.username}}/account'><i class="edit bi_editorial-compose"></i></a>
			{% endif %}
			<div class="uploader-cover">
				{% if owner %}
				<div class="edit-options">
					<div class="image-uploader" style="position:relative;">
						{{ cloudinary.uploader.image_upload_tag('photo', {callback: cloudinary_cors, return_delete_token: true, html: { style: "width:50px;height:55px;top:-18px;" } })}}
					</div>
					<i class="bi_tool-camera-b upload edit-icon"></i>
					<i class="prelaod fa fa-spinner hide preload"></i>
					<i class="bi_interface-box-tick hide save-icon"></i>
					<i class="bi_interface-box-cross hide cancel-icon"></i>
				</div>
				{% endif %}

				<div class="profile-imgage">
					<div class="preview">
						<img class="am-Profile-banner-img" src="{{profile.cover}}">
					</div>
				</div>
			</div>
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Profile-avatar">
					<div class="img">
						<img src="{{profile.photo}}">
					</div>
					<div>
						<p class="name">{{profile.fullname}}</p>
						<p class="city">{{profile.city}}, {{profile.country}}</p>
						{% if !owner %}
							{% if profile.following %}
							<button class="am-Follow-button following">- Siguiendo</button>
							{% else %}
							<button class="am-Follow-button">+ Seguir</button>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="am-Profile-menu-container">
		<div class="grid-container">
			<div class="grid-100">
				<div class="user-carousel">
					<div class="am-Profile-menu">
						<div class="am-Profile-menu-item portfolio">
							<p>PORTAFOLIO</p>
							<p>{{data[0]}}</p>
						</div>
						<div class="am-Profile-menu-item store">
							<p>TIENDA</p>
							<p>{{data[1]}}</p>
						</div>
						<div class="am-Profile-menu-item collections">
							<p>COLECCIONES</p>
							<p>{{data[2]}}</p>
						</div>
						<div class="am-Profile-menu-item followings">
							<p>SIGUIENDO</p>
							<p>{{data[3]}}</p>
						</div>
						<div class="am-Profile-menu-item followers">
							<p>SEGUIDORES</p>
							<p>{{data[4]}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="discover-content portfolio-wrapper grid-container u-padding-top-10 u-padding-bottom-70
		{% if currentPath !== 'portfolio' %} hide {% endif %}">
		<div class="grid-60">
			<p class="profile-title">Sobre el artista</p>
			<p class="profile-desc">{{profile.biography}}</p>
			<div class="profile-desc u-margin-top-20">
				<a href="{{profile.facebook}}"><i class="bi_logo-facebook"></i></a>
				<a href="{{profile.twitter}}"><i class="bi_logo-twitter"></i></a>
				<a href="{{profile.instagram}}"><i class="bi_logo-instagram"></i></a>
			</div>
		</div>
		<div class="grid-100">
			<p class="profile-title u-margin-top-30">
				<span>Mis últimos trabajos</span>
				<!-- <span class="profile-title-edit"><i class="fa fa-pencil-square-o"></i></span>
				<span class="profile-title-cancel"><i class="fa fa-ban"></i></span> -->
			</p>
			<div class="u-separator"></div>
		</div>
		<div class="grid-100 grid-parent">
			{% if owner %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">Aún no tienes ninguna obra <br><br>
				<a href="/user/{{user.username}}/work/add">Sube tu primera obra</a>
			</p>
			{% else %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">{{profile.fullname}} no ha subido ninguna obra aún<br><br></p>
			{% endif %}
      <div class="grid portfolio-container work-layout-discover">
				<div class="grid-sizer"></div>
      </div>
		</div>
	</div>

	<div class="discover-content store-wrapper grid-container u-padding-top-10 u-padding-bottom-70
		{% if currentPath !== 'store' %} hide {% endif %}">
		<div class="grid-100 grid-parent">
			{% if owner %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">Aún no tienes ningun producto <br><br>
				<a href="/user/{{user.username}}/work/add">Sube tu primera obra para ponerla en venta</a>
			</p>
			{% else %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">{{profile.fullname}} no esta vendiendo ningun product aún<br><br></p>
			{% endif %}
      <div class="grid store-container work-layout-discover">
				<div class="grid-sizer"></div>
      </div>
		</div>
	</div>

	<div class="discover-content collections-wrapper grid-container u-padding-top-10 u-padding-bottom-70
		{% if currentPath !== 'collections' %} hide {% endif %}">
		<div class="grid-100 grid-parent">
			{% if owner %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">Aún no tienes ningun colecccion <br><br>
			</p>
			{% else %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">{{profile.fullname}} no tiene ninguna coleccion<br><br></p>
			{% endif %}
      <div class="grid collections-container work-layout-discover">
				<div class="grid-sizer"></div>
      </div>
		</div>
	</div>

	<div class="discover-content followings-wrapper  grid-container u-padding-top-10 u-padding-bottom-70
		{% if currentPath !== 'followings' %} hide {% endif %}">
		<div class="grid-100 grid-parent">
			{% if owner %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">Aún no sigues a ningun artista <br><br>
				<a href="/users/specialty/all/page-1?order=popularity">Descubre y empieza a seguir tu primer artista</a>
			</p>
			{% else %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">{{profile.fullname}} no sigue a nadie<br><br></p>
			{% endif %}
      <div class="grid followings-container work-layout-discover">
				<div class="grid-sizer"></div>
      </div>
		</div>
	</div>
	<div class="discover-content followers-wrapper  grid-container u-padding-top-10 u-padding-bottom-70
		{% if currentPath !== 'followers' %} hide {% endif %}">
		<div class="grid-100 grid-parent">
			{% if owner %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">Aún no te sigue ningun artista<br><br>
				<a href="/users/specialty/all/page-1?order=popularity">Descubre y empieza a seguir tu primer artista</a>
			</p>
			{% else %}
			<p class="empty-profile-text  empty-message hide u-margin-top-30">{{profile.fullname}} no sigue a nadie<br><br></p>
			{% endif %}
      <div class="grid followers-container work-layout-discover">
				<div class="grid-sizer"></div>
      </div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script src='/jquery.ui.widget.js' type='text/javascript'></script>
<script src='/jquery.iframe-transport.js' type='text/javascript'></script>
<script src='/jquery.fileupload.js' type='text/javascript'></script>
<script src='/jquery.cloudinary.js' type='text/javascript'></script>
	<script>
		$(document).ready(function() {
			var owner = {{owner|json|safe}};
			var user = {{user|json|safe}};

			if(owner) {
				var config = {
					"api_key": "337494525976864",
					"cloud_name": "hackdudes",
					"private_cdn": false
				};
				$.cloudinary.config(config);
				var uploaderImage = new APP.UploaderImage($('.uploader-cover'), function(idImage){
			      var filters =  {format:'jpg', width: 1600, crop: "limit", quality: 80};
						var img = $.cloudinary.image(idImage, filters);
						img.addClass('am-Profile-banner-img').appendTo(this.$view.find('.preview'));
						uploaderImage.photo = img.attr('src');
						$('.save-icon , .cancel-icon').show();
				});
			}

			$('.save-icon').click(function(){
				$.ajax({
					method: 'POST',
					url: DataApp.currentUser.url +'/account/'+ 'update_cover',
					data: {cover: uploaderImage.photo}
				}).then(function(response) {
						user = response.data.user;
						$('.save-icon , .cancel-icon').hide();
						$('.upload').show();
						$('.cloudinary-fileupload').show();
				});
			});

			$('.cancel-icon').click(function(){
				$('.preview > img').attr('src', user.cover);
				$('.save-icon , .cancel-icon').hide();
				$('.upload').show();
				$('.cloudinary-fileupload').show();
			});

			var profile = {{profile|json|safe}};
			var following = profile.following;
			$('.am-Follow-button').click(function(event){
				Utils.checkAuthentication();
				if(following) {
					var url = DataApp.currentUser.url + '/unfollow/';
					$.post(url,{idUser:profile.id}, function (response) {
						if(response.status === 200) {
							following = false;
							$('.am-Follow-button').removeClass('following').text('+Seguir');
						}
					});
				}else {
					var url = DataApp.currentUser.url + '/follow/';
					$.post(url,{idUser:profile.id}, function (response) {
						if(response.status === 200) {
							following = true;
							$('.am-Follow-button').addClass('following').text('-Siguiendo');
						}
					});
				}
			});

			var currentPath = {{currentPath|json|safe}}, template;
			$('.' + currentPath).addClass('selected');

			var lastPath = currentPath;

			$('.store').click(function() {openSection('store');});
			$('.portfolio').click(function() {openSection('portfolio');});
			$('.collections').click(function() {openSection('collections');});
			$('.followings').click(function() {openSection('followings');});
			$('.followers').click(function() {openSection('followers');});

			var paths = [currentPath];
			var openSection = function(path) {
				$('.' + lastPath).removeClass('selected');
				$('.' + path).addClass('selected');

				lastViewer.suspend();
				var url = '/user/' + profile.username + '/' + (path === 'portfolio' ? '' : path)
				Utils.changeUrl('tags', url);
				DataApp.currentUrl = url;

				$('.' + lastPath + '-wrapper').hide();
				$('.' + path + '-wrapper').show();

				lastPath = path;
				if(paths.indexOf(path) === -1) {
					template = getTemplate(path);
					paths.push(path);
					currentViewer = new APP.Viewer(template, $('.' + path +'-container'), 'infinite', null);
					viewers.push(currentViewer);
				}else {
					currentViewer = viewers[paths.indexOf(path)]
					currentViewer.restart();
				}
				lastViewer = currentViewer
			}

			var getTemplate = function(path) {
				var temp = '';
				if(['followings', 'followers'].indexOf(path) !== -1) temp = 'user';
				if('portfolio' === path) temp = 'work';
				if('store' === path) temp = 'product';
				if('collections' === path) temp = 'collection';
				return temp;
			};

			template = getTemplate(currentPath);
			var currentViewer = new APP.Viewer(template, $('.'+currentPath +'-container'), 'infinite', null);
			var lastViewer = currentViewer;
			var viewers = [currentViewer];
		});
	</script>
{% endblock %}
