{% extends '../partials/base.html' %}

{% set path = 'market' %}

{% block elements %}
	<div class="am-Profile-banner" style="background-image: url('http://www.wallpapereast.com/static/images/Dragon-Backgrounds-Wallpaper-Hd-44.jpg')">
		{% if owner %}
			<i class="fa fa-pencil-square-o"></i>
		{% endif %}
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Profile-avatar">
					<div class="img">
						<img src="{{profile.photo}}">
					</div>
					<div>
						<p class="name">{{profile.firstname}}</p>
						<p class="city">{{profile.city}}, {{profile.country}}</p>
						{% if !owner %}
						<button class="am-Follow-button">+ Seguir</button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="am-Profile-menu-container">
		<div class="grid-container">
			<div class="grid-100">
				<div class="user-carousel">
					<div class="am-Profile-menu">
						<div class="am-Profile-menu-item portfolio">
							<a href='/user/{{profile.username}}'>
								<p>PORTAFOLIO</p>
								<p>{{data[0]}}</p>
							</a>
						</div>
						<div class="am-Profile-menu-item store">
							<a href='/user/{{profile.username}}/store'>
								<p>TIENDA</p>
								<p>{{data[1]}}</p>
							</a>
						</div>
						<div class="am-Profile-menu-item collections">
							<a href='/user/{{profile.username}}/collections'>
								<p>COLECCIONES</p>
								<p>{{data[2]}}</p>
							</a>
						</div>
						<div class="am-Profile-menu-item followings">
							<a href='/user/{{profile.username}}/followings'>
								<p>SIGUIENDO</p>
								<p>{{data[3]}}</p>
							</a>
						</div>
						<div class="am-Profile-menu-item followers">
							<a href='/user/{{profile.username}}/followers'>
								<p>SEGUIDORES</p>
								<p>{{data[4]}}</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="discover-content grid-container u-padding-top-10 u-padding-bottom-70">
		<div class="grid-100 grid-parent">
      <div class="grid work-layout-discover">
				<div class="grid-sizer"></div>
      </div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function() {
			console.log({{data|json|safe}});
			var currentPath = {{currentPath|json|safe}}, template;
			$('.' + currentPath).addClass('selected');
			if(['followings', 'followers'].indexOf(currentPath) !== -1) template = 'user';
			if('portfolio' === currentPath) template = 'work';
			if('store' === currentPath) template = 'product';
			if('collections' === currentPath) template = 'collection';
			new APP.Viewer(template, $('.grid'), 'infinite', null);
		});
	</script>
{% endblock %}
