<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{% if owner %}
    <h1>OWNER</h1>
{% else %}
    <h1>VIEWER</h1>
{% endif %}

<script src="/js/vendor/jquery.min.js"></script>
<script>
    var path = {{ path|json|safe }};
    var profile = {{ profile|json|safe }};
    var url = '/' + profile.username + '/' + path + '/page-1';

    $.ajax({
        type: "POST",
        url: url,
        success: function (data) {
            console.log(data);
        }
    });
</script>
</body>
</html>