<script type="text/template" id="template-collection">
  <div class="grid-item">
      <div class="collection-card">
        <% if(!public) { %>
          {# <div class="lock"><i class="bi_user-lock"></i></div> #}
          <div class="private">PRIVADO</div>
        <% } %>
        <% if (viewer && viewer.isAdmin) { %>
          <div class="featured <% if (!featured) { %>disabled<% } %>">DESTACADO</div>
        <% } else { %>
          <% if (featured) { %>
            <div class="featured">DESTACADO</div>
          <% } %>
        <% } %>
        <a href='/user/<%=User.username%>/collection/<%=nameSlugify%>'>
          <div class="collection-card-stats">
            <p><%=name%></p>
          </div>
          <div class="collection-card-images">
            <% _.each([0,1,2], function(i) { %>
              <% if(items[i] && items[i].photo) { %>
                <% if (!viewer && items[i].nsfw) { %>
                    <% if(i === 0) { %>
                      <div class="collection-card-image" style="background-image: url('<%= addFilter(items[i].photo, 'w_230,h_110,c_fill,e_blur:1500/l_text:Arial_24_bold:+18,co_rgb:ffffff') %>')"></div>
                    <% } else { %>
                      <div class="collection-card-image" style="background-image: url('<%= addFilter(items[i].photo, 'w_110,h_110,c_fill,e_blur:1500/l_text:Arial_24_bold:+18,co_rgb:ffffff') %>')"></div>
                    <% } %>
                <% } else { %>
                    <% if(i === 0) { %>
                      <div class="collection-card-image" style="background-image: url('<%= addFilter(items[i].photo, 'w_230,h_110,c_fill') %>')"></div>
                    <% } else { %>
                      <div class="collection-card-image" style="background-image: url('<%= addFilter(items[i].photo, 'w_110,h_110,c_fill') %>')"></div>
                    <% } %>
                <% } %>
              <% } else { %>
                <div class="collection-card-image empty"></div>
              <% } %>
            <% }); %>
          </div>
          <div class="collection-card-artist">
            <div>
              <p>Curado Por:</p>
              <p>
                <% if(User.typeName === 1) { %>
                  <%= User.fullname %>
                <% } else { %>
                  <%= User.pseudonimo %>
                <% } %>
              </p>
            </div>
            <img src="<%=User.photo%>">
          </div>
        </a>
      </div>
  </div>
</script>
