<script type="text/template" id="template-feed-user-follow">
  <div class="feed-card u-margin-top-40">
    <header class="feed-card-header">
      <div class="user">
        <img src="http://res.cloudinary.com/hackdudes/image/upload/w_150,h_150,c_thumb,d_am_avatar.jpg/v1448413621/d35z0dcxnppobefpreco.jpg">&nbsp;&nbsp;&nbsp;
        <p><%= User.fullname %></p>
      </div>
      <div class="info">
        <p><%=formatDate(createdAt)%></p>&nbsp;&nbsp;&nbsp;
        <i class="bi_interface-plus"></i>
      </div>
    </header>

    <div class="u-separator" style="background: #ccc;"></div>

    <section class="feed-card-userInfo">
      <img src="<%= element.photo %>">
      <div class="info">
        <p class="name"><%= element.fullname %></p>
        <p class="city u-margin-top-7"><%=element.city%>, <%=element.country%></p>
        <p class="stats u-margin-top-10">
          <i class="bi_interface-view"></i>&nbsp;<span>200</span>&nbsp;&nbsp;
          <i class="bi_ecommerce-diamon"></i>&nbsp;<span class="likes">300</span>
        </p>
      </div>
    </section>

    <section class="feed-card-images">
      <% _.each([0,1,2,3], function(i) { %>
        <% if(element.Works[i] && element.Works[i].photo) { %>
          <div style="background-image: url('<%= addFilter(element.Works[i].photo, 'w_300,h_300,c_fill') %>')"></div>
        <% } else { %>
          <div class="artist-card-work empty"></div>
        <% } %>
      <% }); %>
    </section>

    <section class="feed-card-button">
      <button class="am-Follow-button" style="font-size: 13.3px;">&nbsp; + SEGUIR &nbsp;</button>
    </section>

    <div class="u-separator" style="background: #ccc;"></div>

    <footer class="feed-card-footer">
      <% _.each([0,1,2], function(i) { %>
        <% if(element.friends[i] && element.friends[i].photo) { %>
          <img src="<%= element.friends[i].photo %>"></img>
        <% } %>
      <% }); %>
      <% if(element.friends.length > 3) { %>
        <p>y <%= element.friends.length - 3 %> amigos siguieron a este artista</p>
        <div style="background-image: url('<%= addFilter(element.Works[i].photo, 'w_300,h_300,c_fill') %>')"></div>
      <% } else { %>
        <% if(element.friends.length > 1) { %>
          <p> estan siguiendo a este artista</p>
        <% } else { %>
          <p> sigue a este artista</p>
        <% } %>
      <% } %>
    </footer>
  </div>
</script>
