<script type="text/template" id="template-feed-work-created">
  <div class="feed-card">
    <header class="feed-card-header">
      <div class="user">
        <img src="http://res.cloudinary.com/hackdudes/image/upload/w_150,h_150,c_thumb,d_am_avatar.jpg/v1448413621/d35z0dcxnppobefpreco.jpg">&nbsp;&nbsp;&nbsp;
        <p>Sergio Gonzales Mucho</p>
      </div>
      <div class="info">
        <p>hace 1 min</p>&nbsp;&nbsp;&nbsp;
        <i class="bi_interface-plus"></i>
      </div>
    </header>

    <img class="feed-card-image" src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_300,d_am_avatar.jpg/works/6e32d4d1e3917831b07e4f0e53faea90.jpg">

    <section class="feed-card-info">
      <div class="info">
        <p class="title">OUR LEGACY SPLASH MID SLEEVE AND I WILL NOT SLEEP</p>
        <div class="avatar u-margin-top-10">
          <img src="http://res.cloudinary.com/hackdudes/image/upload/w_150,h_150,c_thumb,d_am_avatar.jpg/v1448413621/d35z0dcxnppobefpreco.jpg">&nbsp;&nbsp;&nbsp;
          <p class="name">por Sergio Gonzales Mucho</p>
        </div>
      </div>
      <div class="stats">
        <table class="am-Single-stats" style="font-size: 14px;">
          <tr>
            <td><i class="bi_interface-view"></i></td>
            <td><span>252</span></td>
          </tr>
          <tr>
            <td><i class="bi_ecommerce-diamon"></i></td>
            <td><span class="likes">2,342</span></td>
          </tr>
        </table>
      </div>
    </section>

    <div class="u-separator" style="background: #bbb;"></div>

    <section class="feed-card-socials">
      <div class="actions">
        <a class="action {% if element.liked %} active {% endif %}">
          <div class="like-btn">
            <i class="icon bi_ecommerce-diamon  valuation"></i>
            <p class="text">VALORAR</p>
          </div>
        </a>
        <a id="go-share-modal" href="#share-modal" class="action">
          <i class="icon bi_web-share share"></i>
          <p class="text">COMPARTIR</p>
        </a>
      </div>
    </section>

    <div class="u-separator" style="background: #bbb;"></div>

    <footer class="feed-card-footer">
      <img src="http://res.cloudinary.com/hackdudes/image/upload/w_150,h_150,c_thumb,d_am_avatar.jpg/v1448413621/d35z0dcxnppobefpreco.jpg">&nbsp;&nbsp;&nbsp;
      <p>Sergio Gonzales Mucho y 23 amigos valoraron esta obra</p>
    </footer>
  </div>
</script>
