<script type="text/template" id="template-feed-user-follow">
  <div class="feed-card u-margin-top-20">
    <header class="feed-card-header">
      <a href="/user/<%=User.username%>" class="user">
        <img src="<%= User.photo %>">&nbsp;&nbsp;&nbsp;
        <div>
          <p class="uppercase">
            <% if(User.typeName === 1) { %>
              <%= User.fullname %>
            <% } else { %>
              <%= User.pseudonimo %>
            <% } %>
          </p>
          <p class="u-margin-top-5">empezó a seguir a un artista</p>
        </div>
      </a>
      <div class="info">
        <p><%=formatDate(createdAt)%></p>&nbsp;&nbsp;&nbsp;
        <i class="bi_interface-enlarge"></i>
      </div>
    </header>

    <div class="u-separator" style="background: #ccc;"></div>
    <a href="/user/<%=element.username%>" class="feed-card-userInfo">
      <img src="<%= element.photo %>">
      <div class="info">
        <p class="name">
          <% if(element.typeName === 1) { %>
            <%= element.fullname %>
          <% } else { %>
            <%= element.pseudonimo %>
          <% } %>
        </p>
        <p class="city u-margin-top-7"><%=element.city%>, <%=element.country%></p>
        <p class="stats u-margin-top-10">
          <i class="bi_user-single-a-plus"></i>&nbsp;<span><%= element.numOfFollowers %></span>
        </p>
      </div>
    </a>

    <section class="feed-card-images">
      <% _.each([0,1,2,3], function(i) { %>
        <% if(element.Works[i] && element.Works[i].photo) { %>
            <div style="background-image: url('<%= addFilter(element.Works[i].photo, 'w_300,h_300,c_fill') %>')">
              <a href="/user/<%=element.username%>/work/<%=element.Works[i].nameSlugify%>" style="display: block; height: 100%; width: 100%;">
              </a>
            </div>
        <% } else { %>
          <div class="artist-card-work empty"></div>
        <% } %>
      <% }); %>
    </section>

    <section class="feed-card-button">
      <% if(element.following) { %>
        <button class="am-Follow-button following" style="font-size: 13.3px;">&nbsp; SIGUIENDO &nbsp;</button>
      <% } else { %>
        <button class="am-Follow-button" style="font-size: 13.3px;">&nbsp; + SEGUIR &nbsp;</button>
      <% } %>
    </section>

    <div class="u-separator" style="background: #ccc;"></div>

    <footer class="feed-card-footer">
      <% _.each([0,1,2], function(i) { %>
        <% if(element.friends[i] && element.friends[i].photo) { %>
          <a href="/user/<%= element.friends[i] && element.friends[i].username %>">
            <img src="<%= element.friends[i].photo %>"></img>
          </a>
        <% } %>
      <% }); %>
      &nbsp;&nbsp;
      <% if(element.friends.length > 3) { %>
        <p>y <%= element.friends.length - 3 %> amigos siguieron a este artista</p>
      <% } else { %>
        <% if(element.friends.length > 1) { %>
          <p> estan siguiendo a este artista</p>
        <% } else { %>
          <p> sigue a este artista</p>
        <% } %>
      <% } %>
    </footer>
  </div>
</script>
