<script type="text/template" id="template-feed-work-created">
  <div class="feed-card u-margin-top-40">
    <header class="feed-card-header">
      <a href="/user/<%=User.username%>" class="user">
        <img src="<%= User.photo %>">&nbsp;&nbsp;&nbsp;
        <div>
          <p class="uppercase">
            <% if(User.typeName === 1) { %>
              <%= User.fullname %>
            <% } else { %>
              <%= User.pseudonimo %>
            <% } %>
          </p>
          <% if(verb === 'create-work') { %>
            <p class="u-margin-top-5">ha subido una obra</p>
          <% } else { %>
            <p class="u-margin-top-5">ha valorado una obra</p>
          <% } %>
        </div>
        <p></p>
      </a>
      <div class="info">
        <p><%=formatDate(createdAt)%></p>&nbsp;&nbsp;&nbsp;
        <% if(verb === 'create-work') { %>
          <i class="bi_interface-plus"></i>
        <% } else { %>
          <i class="bi_ecommerce-diamon"></i>
        <% } %>
      </div>
    </header>

    <a href="/user/<%=element.User.username%>/work/<%=element.nameSlugify%>">
        <img class="feed-card-image" src="<%= addFilter(element.photo, 'w_540,h_500,c_fill') %>">
    </a>

    <section class="feed-card-info">
      <a href="/user/<%= element.User.username %>" class="info">
        <p class="title uppercase"><%= element.name %></p>
        <div class="avatar u-margin-top-10">
          <img src="<%= element.User.photo %>">&nbsp;&nbsp;&nbsp;
          <p class="name"><%= element.User.fullname %></p>
        </div>
      </a>
      <div class="stats">
        <table class="am-Single-stats" style="font-size: 14px;">
          <tr>
            <td><i class="bi_interface-view"></i></td>
            <td><span><%= element.views %></span></td>
          </tr>
          <tr>
            <td><i class="bi_ecommerce-diamon"></i></td>
            <td><span class="likes"><%= element.likes %></span></td>
          </tr>
        </table>
      </div>
    </section>

    <div class="u-separator" style="background: #bbb;"></div>

    <section class="feed-card-socials" data-id='<%= element.id %>'>
      <div class="actions">
        <a class="action like  <% if(element.liked) { %> active <% } %>">
          <div class="like-btn">
            <i class="icon bi_ecommerce-diamon  valuation"></i>
            <p class="text">VALORAR</p>
          </div>
        </a>
        <a class="action share">
          <i class="icon bi_web-share share"></i>
          <p class="text">COMPARTIR</p>
        </a>
      </div>

        <div class="actions-box after-like <% if(!element.liked) { %> hide <% } %>" style="max-width: 300px; margin: 0px auto 20px auto;">
          <a class="add-collection">
            <button class="color-blue bg-gray">AÑADIR A LA COLECCIÓN</button>
          </a>
          <button class="u-margin-top-10 am-Follow-button">+ SEGUIR</button>
        </div>
    </section>

    <div class="u-separator" style="background: #bbb;"></div>

    <footer class="feed-card-footer">
      <% _.each([0,1,2], function(i) { %>
        <% if(element.friends[i] && element.friends[i].photo) { %>
          <a href="/user/<%= element.friends[i].username %>">
            <img src="<%= element.friends[i].photo %>"></img>
          </a>
        <% } %>
      <% }); %>
      &nbsp;&nbsp;
      <% if(element.friends.length > 3) { %>
        <p>y <%= element.friends.length - 3 %> han valorado esta obra</p>
      <% } else { %>
        <% if(element.friends.length > 1) { %>
          <p> valoraron esta obra</p>
        <% } else { %>
          <% if(element.likes === 1 && element.liked) { %>
            <a href="/user/<%= viewer.username %>">
              <img src="<%= viewer.photo %>"></img>
            </a> &nbsp;&nbsp;
            <p> valoraste esta obra</p>
          <% } else { %>
            <p> valoro esta obra</p>
          <% } %>
        <% } %>
      <% } %>
    </footer>
  </div>
</script>
