<script type="text/template" id="template-feed-work-created">
  <div class="feed-card u-margin-top-40">
    <header class="feed-card-header">
      <a href="#" class="user">
        <img src="<%= User.photo %>">&nbsp;&nbsp;&nbsp;
        <p><%= User.fullname %></p>
      </a>
      <div class="info">
        <p><%=formatDate(createdAt)%></p>&nbsp;&nbsp;&nbsp;
        <i class="bi_interface-plus"></i>
      </div>
    </header>

    <a href="#">
      <img class="feed-card-image" src="<%= addFilter(element.photo, 'w_500,h_400,c_fill') %>">
    </a>

    <section class="feed-card-info">
      <div class="info">
        <p class="title"><%= element.name %></p>
        <div class="avatar u-margin-top-10">
          <img src="<%= element.User.photo %>">&nbsp;&nbsp;&nbsp;
          <p class="name"><%= element.User.fullname %></p>
        </div>
      </div>
      <div class="stats">
        <table class="am-Single-stats" style="font-size: 14px;">
          <tr>
            <td><i class="bi_interface-view"></i></td>
            <td><span><%= element.views %></span></td>
          </tr>
          <tr>
            <td><i class="bi_ecommerce-diamon"></i></td>
            <td><span class="likes"><%= element.likes %></span></td>
          </tr>
        </table>
      </div>
    </section>

    <div class="u-separator" style="background: #bbb;"></div>

    <section class="feed-card-socials">
      <div class="actions">
        <a class="action {% if element.liked %} active {% endif %}">
          <div class="like-btn">
            <i class="icon bi_ecommerce-diamon  valuation"></i>
            <p class="text">VALORAR</p>
          </div>
        </a>
        <a id="go-share-modal" href="#share-modal" class="action">
          <i class="icon bi_web-share share"></i>
          <p class="text">COMPARTIR</p>
        </a>
      </div>
    </section>

    <div class="u-separator" style="background: #bbb;"></div>

    <footer class="feed-card-footer">
      <% _.each([0,1,2], function(i) { %>
        <% if(element.friends[i] && element.friends[i].photo) { %>
          <a href="#">
            <img src="<%= element.friends[i].photo %>"></img>
          </a>
        <% } %>
      <% }); %>
      &nbsp;&nbsp;
      <% if(element.friends.length > 3) { %>
        <p>y <%= element.friends.length - 3 %> han valorado esta obra</p>
      <% } else { %>
        <% if(element.friends.length > 1) { %>
          <p> valoraron esta obra</p>
        <% } else { %>
          <p> valoro esta obra</p>
        <% } %>
      <% } %>
    </footer>
  </div>
</script>
