<script type="text/template" id="template-filter-item">
  <% if (meta === "category") { %>
    <div class="am-Filter-item" data-meta="<%= meta %>">
      <p class="am-Filter-option uppercase" data-name="<%=name%>" data-value="<%= nameSlugify %>" ><%= name %>
        <i class="fa fa-chevron-right"></i>
      </p>
  </div>
  <% } %>
  <% if (meta === "order") { %>
    <div class="am-Filter-item" data-meta="<%= meta %>">
      <p class="am-Filter-option uppercase" data-value="<%= value %>" data-name="<%=name%>" ><%= name %>
        <i class="fa fa-chevron-right"></i>
      </p>
    </div>
  <% } %>

</script>
