<script type="text/template" id="template-notification-follow">
  <div class="notification">
    <div></div>
    <div class="content">
      <header class="notification-header">
        <a href="/user/<%=User.username%>">
          <img src="<%=User.photo%>">
        </a>
        <div class="info">
          <a href="/user/<%=User.username%>" class="name"><%= User.fullname %></a>
          <p class="u-margin-top-5">te está siguiendo ahora</p>
        </div>
        <div class="time"><i class="bi_interface-clock"></i> <span><%=formatDate(createdAt)%></span></div>
      </header>
    </div>
  </div>
</script>
