<script type="text/template" id="template-notification-follow">
  <div class="notification">
    <div></div>
    <div class="content">
      <header class="notification-header">
        <a href="#">
          <img src="http://res.cloudinary.com/arte-manifiesto/image/upload/w_150,h_150,q_70,d_am_avatar.jpg/avatars/avatar_alfierirossi.jpg">
        </a>
        <div class="info">
          <a href="#" class="name">ANNA OSTYANKO</a>
          <p class="u-margin-top-5">te está siguiendo ahora</p>
        </div>
        <div class="time"><i class="bi_interface-clock"></i> <span>15 min ago</span></div>
      </header>
    </div>
  </div>
</script>
