<script type="text/template" id="template-notification-review">
  <div class="notification">
    <div></div>
    <div class="content">
      <header class="notification-header">
        <a href="/user/<%=User.username%>">
          <img src="<%=User.photo%>">
        </a>
        <div class="info">
          <a href="/user/<%=User.username%>" class="name"><%= User.fullname %></a>
          <p class="u-margin-top-5">ha <strong>hecho un comentario</strong></p>
        </div>
        <div class="time"><i class="bi_interface-clock"></i> <span><%=formatDate(createdAt)%></span></div>
      </header>
      <a href="/user/<%=element.User.username%>/work/<%=element.nameSlugify%>/reviews" class="notification-content">
        <img src="<%= addFilter(element.photo, 'w_60,h_60,c_fill') %>">
        <div class="info">
          <p class="name uppercase"><%=element.name%></p>
          <p class="valuations u-margin-top-15"><i class="bi_ecommerce-diamon"></i>&nbsp;&nbsp; <%= element.likes%></p>
        </div>
      </a>
    </div>
  </div>
</script>
