<script type="text/template" id="template-post">
    <div class="blog-article-container">
      <article class="blog-article">
        <% if (viewer && viewer.isAdmin) { %>
          <div class="featured <% if (!featured) { %>disabled<% } %>">RECOMENDADO</div>
        <% } else { %>
          <% if (featured) { %>
            <div class="featured">RECOMENDADO</div>
          <% } %>
        <% } %>
        <a href="/blog/post/<%=nameSlugify%>">
          <header class="header" style="background-image: url('<%= addFilter(photo, 'w_380,h_260,c_fill') %>')">
            <% if(Category.nameSlugify === "entrevistas") { %>
              <span class="tag uppercase purple"><%= Category.name %></span>
            <% } else if(Category.nameSlugify === "lifestyle") { %>
              <span class="tag uppercase orange"><%= Category.name %></span>
            <% } else if(Category.nameSlugify === "tips") { %>
              <span class="tag uppercase green"><%= Category.name %></span>
            <% } else if(Category.nameSlugify === "noticias-am") { %>
              <span class="tag uppercase blue"><%= Category.name %></span>
            <% } else if(Category.nameSlugify === "eventos") { %>
              <span class="tag uppercase blue"><%= Category.name %></span>
            <% } else if(Category.nameSlugify === "inspiracion") { %>
              <span class="tag uppercase orange"><%= Category.name %></span>
            <% } %>
            <div class="cover"></div>
            <div class="inner">
              <p class="title"><%=name%></p>
              <div class="stats u-margin-top-15">
                <p><i class="fa fa-heart"></i>&nbsp;&nbsp;<%= likes %></p>
                <p><i class="fa fa-comment"></i>&nbsp;&nbsp;<%=reviews%></p>
              </div>
            </div>
          </header>
          <p class="content">
            <% if (description.length >= 180) { %>
              <%= description  + "..." %>
            <% } else { %>
              <%= description %>
            <% } %>
          </p>
          <footer class="footer">
            <p class="date"><i class="bi_interface-clock"></i><%=formatDate(createdAt)%></p>
            <span class="author">
              <p>Por&nbsp;&nbsp;</p>
              <img src="<%=User.photo%>">
              <p class="uppercase">&nbsp;<% if(User.typeName === 1) { %>
                <%= User.fullname %>
              <% } else { %>
                <%= User.pseudonimo %>
              <% } %></p>
            </span>
          </footer>
        </a>
        </article>
    </div>
</script>
