<script type="text/template" id="template-request-item">
  <div>
    <div class="open-seller-item">
      <img src="<%= addFilter(Product.photo, 'w_140,h_140,c_fill') %>">
      <div class="information-left">
        <p class="information-left-title"><%= Product.name %></p>
        <p class="information-left-subtitle">Por Sergio Gonzales</p>
        <p class="information-left-title">ID: <%= id %></p>
        <br>
        <p class="information-left-description">
          VENTA DE OBRA ORIGINAL <br>
          Obra original empacada en caja
          <br><br>
          ORIGEN: <br>
          Miraflores, LIma, Perú
        </p>
      </div>
      <div class="information-center">
        <p>
          CANTIDAD: <br>
          X 1
        </p>
        <br><br>
        <p>
          MEDIDAS DEL PAQUETE <br>
          2.5 kg / 50 cm x 40 cm x 10 cm
          <br><br>
          DESTINO: <br>
          Chiclayo, Chiclayo, Perú
        </p>
        <br>
        <p> <a href="#">Ficha de envío</a> </p>
      </div>
      <div class="information-right">
        <div class="table">
          <div class="left">
            <p class="green">tu ganancia:</p>
            <p>comisión am</p>
            <p class="bold">subtotal:</p>
            <p>shipping:</p>
            <p>impuestos:</p>
            <p class="bold">total:</p>
          </div>
          <div class="right">
            <p class="green">USD 70.00</p>
            <p>USD 30.00</p>
            <p class="bold">USD 100.00</p>
            <p>USD 25.00</p>
            <p>USD 25.00</p>
            <p class="bold">USD 150.00</p>
          </div>
        </div>
        <br>
        <a href="">Detalle Invoice</a>
      </div>
    </div>

    <p class="open-seller-secondary-title">Acción a realizar:</p>

    <div class="step-1 hide">
      <div class="open-seller-box">
        <span class="number">1</span>
        <p>¿Tienes a la mano tu obra ó puedes conseguirla?</p>
        <span class="icon"><i class="fa fa-info"></i></span>
        <a href="#" class="seller-button small green yes">SI</a>
        <a href="#" class="seller-button small red no">NO</a>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-2 hide">
      <div class="open-seller-box">
        <span class="number">2</span>
        <p>Empaca bien tu arte y confirma, <a href="">mira nuestra guía de empaque</a></p>
        <span class="icon"><i class="fa fa-info"></i></span>
        <a href="#" class="seller-button done">LISTO</a>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-3 hide">
      <div class="open-seller-box">
        <span class="number">3</span>
        <p>Imprime la <a href="#">ficha de envío</a> y pégala al empaque</p>
        <span class="icon"><i class="fa fa-info"></i></span>
        <a href="#" class="seller-button done">LISTO</a>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-4 hide">
      <div class="open-seller-box">
        <span class="number">4</span>
        <p>Lleva el paquete al courrier, paga el envío(luego te lo devolvermos) y confirma</p>
        <span class="icon"><i class="fa fa-info"></i></span>
        <a href="#" class="seller-button upload">SUBIR VOUCHER</a>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-5 hide">
      <div class="open-seller-box">
        <span class="number check"><i class="fa fa-check"></i></span>
        <p>Listo! La obra debe estar por llegar a su destino, te avisaremos cuando </p>
      </div>
    </div>
  </div>

</script>
