<script type="text/template" id="template-request-item">
  <div>
    <div class="open-seller-item">
      <img src="<%= addFilter(Product.photo, 'h_140,c_limit') %>" style="width: auto !important; height: auto !important;">
      <div class="information-left">
        <p class="information-left-title"><%= Product.name %></p>

        <% if (from && (from === 'orders')) { %>
          <p class="information-left-subtitle">Vendedor <%= Seller.firstname %></p>
        <% } else { %>
          <p class="information-left-subtitle">Comprador <%= User.firstname %></p>
        <% } %>

        <p class="information-left-title">ID: <%= id %></p>
        <br>
        <% if (from && (from === 'orders')) { %>
        <% } else { %>
          <p class="information-left-description">
            <br><br>
            ORIGEN: <br>
            <%= viewer.direction %>
          </p>
        <% } %>
      </div>

      <% if (from && (from === 'orders')) { %>
      <% } else { %>
      <div class="information-center">
        <p>
          CANTIDAD: <br>
          X 1
        </p>
        <br><br>
        <p>
          MEDIDAS DEL PAQUETE <br>
          <%= Product.config.data.pkgWeight %> kg / <%= Product.config.data.pkgWidth%> cm x <%= Product.config.data.pkgHeight%> cm x <%= Product.config.data.pkgLarge%> cm
          <br><br>
          DESTINO: <br>
          <%= data.direction %>
        </p>
        <br>
        <!-- <p> <a href="#">Ficha de envío</a> </p> -->
      </div>
      <div class="information-right">
        <div class="table">
          <div class="left">
            <p class="green">tu ganancia:</p>
            <p>comisión am</p>
            <p class="bold">subtotal:</p>
            <p>shipping:</p>
            <p class="bold">total:</p>
          </div>
          <div class="right">
            <p class="green"><%= artistRevenue %> Soles</p>
            <p class="green"><%= amRevenue %> Soles</p>
            <p class="bold"><%= subtotal %> Soles</p>
            <p class="green"><%= shipping %> Soles</p>
            <p class="bold"><%= total %> Soles</p>
          </div>
        </div>
        <br>
        <!-- <a href="">Detalle Invoice</a> -->
      </div>
      <% } %>
    </div>

    <% if (from && (from === 'orders')) { %>
      <p class="open-seller-secondary-title">Estado de tú producto</p>
    <% } else { %>
      <p class="open-seller-secondary-title">Acción a realizar:</p>
    <% } %>

    <div class="step-1 hide">
      <div class="open-seller-box">
        <% if (from && (from === 'orders')) { %>
          <span class="number">1</span>
          <p>En coordinación</p>
        <% } else { %>
          <span class="number">1</span>
          <p>¿Tienes a la mano tu obra ó puedes conseguirla?</p>
          <span class="icon"><i class="fa fa-info"></i></span>
          <a href="#" class="seller-button small green yes">SI</a>
          <a href="#" class="seller-button small red no">NO</a>
        <% } %>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-2 hide">
      <div class="open-seller-box">
        <% if (from && (from === 'orders')) { %>
          <span class="number">1</span>
          <p>En despacho</p>
        <% } else { %>
          <span class="number">2</span>
          <p>Empaca bien tu arte y confirma, <a href="">mira nuestra guía de empaque</a></p>
          <span class="icon"><i class="fa fa-info"></i></span>
          <a href="#" class="seller-button done">LISTO</a>
        <% } %>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-3 hide">
      <div class="open-seller-box">
        <% if (from && (from === 'orders')) { %>
          <span class="number">1</span>
          <p>En despacho</p>
        <% } else { %>
        <span class="number">3</span>
        <p>Imprime la <a href="#">ficha de envío</a> y pégala al empaque</p>
        <span class="icon"><i class="fa fa-info"></i></span>
        <a href="#" class="seller-button done">LISTO</a>
        <% } %>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-4 hide">
      <div class="open-seller-box">
        <% if (from && (from === 'orders')) { %>
          <span class="number">1</span>
          <p>En tránsito</p>
        <% } else { %>
          <span class="number">4</span>
          <p>Lleva el paquete al courrier, paga el envío(luego te lo devolvermos) y confirma</p>
          <span class="icon"><i class="fa fa-info"></i></span>
          <a href="#" class="seller-button upload">SUBIR VOUCHER</a>
        <% } %>
      </div>

      <p class="u-separator u-margin-top-30 u-margin-bottom-20" style="background: #979797;"></p>
    </div>

    <div class="step-5 hide">
      <div class="open-seller-box">
        <% if (from && (from === 'orders')) { %>
          <span class="number">1</span>
          <p>Tú producto está por llegar a tú destino</p>
        <% } else { %>
          <span class="number check"><i class="fa fa-check"></i></span>
          <p>Listo! La obra debe estar por llegar a su destino, te avisaremos cuando se realize. </p>
        <% } %>
      </div>
    </div>
  </div>

</script>
