<script type="text/template" id="template-table-product-applying">
  <tr>
    <td><img src="<%= addFilter(photo, 'w_35') %>"></td>
    <td><a href="/user/<%=User.username%>/product/<%=nameSlugify%>"><%=name%></a></td>
    <td><%= finalPrice %></td>
    <td><a href="/user/<%=User.username%>"><%=User.username%></a></td>
    <td><%=dateToString(createdAt)%></td>
    <td><a class="btn featured-btn btn-primary" target="_blank" href="/report/products_applying/product/<%=id%>">Revisar</a></td>
  </tr>
</script>
