<script type="text/template" id="template-table-user">
  <tr>
    <td><img src='<%=photo%>' width="35"></td>
    <td><a href="/user/<%=username%>"><%=username%></a></td>
    <td><%=email%></td>
    <td><%=city%></td>
    <td><%=country%></td>
    <td><% if(isArtist) { %> si <% } else { %> no <% } %></td>
    <td><% if(verified) { %> si <% } else { %> no <% } %></td>
    <td><% if(filled) { %> si <% } else { %> no <% } %></td>
    <td><%=dateToString(createdAt)%></td>
    <td><a target='_blank' href="/user/<%=username%>/account" class="btn btn-success">editar</a></td>
    <% if(featured) { %>
      <td><a class="btn featured-btn btn-primary">AM</a></td>
    <% } else { %>
      <td><a class="btn featured-btn btn-default">AM</a></td>
    <% } %>
  </tr>
</script>
