<script type="text/template" id="template-table-product">
  <tr>
    <td><img src="<%= addFilter(photo, 'w_35') %>"></td>
    <td><a href="/user/<%=User.username%>/product/<%=nameSlugify%>"><%=name%></a></td>
    <td><%=popularity%></td>
    <td><%=views%></td>
    <td><%=dateToString(createdAt)%></td>
    <!-- <td><a target='_blank' href="/user/<%=User.username%>/product/<%=nameSlugify%>/edit" class="btn btn-success">editar</a></td> -->
    <td><a data-id="<%=id%>" data-user="<%=User.username%>" class="delete-product btn btn-success">borrar</a></td>
    <% if(featured) { %>
      <td><a class="btn featured-btn btn-primary">AM</a></td>
    <% } else { %>
      <td><a class="btn featured-btn btn-default">AM</a></td>
    <% } %>
  </tr>
</script>
