<script type="text/template" id="template-table">
  <tr>
    <td><img src='<%=photo%>' width="35"></td>
    <td><a href="http://am.local:3000/user/<%=username%>"><%=username%></a></td>
    <td><%=email%></td>
    <td><% if(isArtist) { %> si <% } else { %> no <% } %></td>
    <td><% if(verified) { %> si <% } else { %> no <% } %></td>
    <td><% if(filled) { %> si <% } else { %> no <% } %></td>
    <td><%
        var d = new Date(createdAt),
            fragments = [
                d.getMonth() + 1,
                d.getDate(),
                d.getFullYear()
            ];
            print(fragments.join('-'));
        %></td>
    <td><button type="button" class="btn btn-success">editar</button></td>
  </tr>
</script>
