<script type="text/template" id="template-table-seller-applying">
  <tr>
    <td><img src='<%=photo%>' width="35"></td>
    <td><a href="/user/<%=username%>"><%=username%></a></td>
    <td><%=email%></td>
    <td><%=city%></td>
    <td><%=country%></td>
    <td><% if(isArtist) { %> si <% } else { %> no <% } %></td>
    <td><%
        var d = new Date(createdAt),
            fragments = [
                d.getMonth() + 1,
                d.getDate(),
                d.getFullYear()
            ];
            print(fragments.join('-'));
        %>
    </td>
    <td><a target='_blank' href="/user/<%=username%>/account/seller" class="btn btn-success">ver</a></td>
    <td><a class="btn featured-btn btn-primary">Aceptar</a></td>
  </tr>
</script>
