<script type="text/template" id="template-user">
  <div class="grid-item">
    <div class="artist-card">

      <% if (viewer && viewer.isAdmin) { %>
        <div class="featured <% if (!featured) { %>disabled<% } %>">DESTACADO</div>
      <% } else { %>
        <% if (featured) { %>
          <div class="featured">DESTACADO</div>
        <% } %>
      <% } %>

      <a href="/user/<%=username%>" >
        <div class="artist-card-info">
          <img src="<%=photo%>">
          <div>
            <p class="name uppercase">
              <% if(typeName === 1) { %>
                <% if (fullname.length >= 20) { %>
                  <%= fullname.substring(0, 20)  + "..." %>
                <% } else { %>
                  <%= fullname %>
                <% } %>
              <% } else { %>
                <% if (pseudonimo.length >= 20) { %>
                  <%= pseudonimo.substring(0, 20)  + "..." %>
                <% } else { %>
                  <%= pseudonimo %>
                <% } %>
              <% } %>
            </p>
            <p class="city"><%=city%>, <%=country%></p>
            <p class="stats"><i class="bi_user-single-a-plus"></i> <%=numOfFollowers%></p>
          </div>
        </div>
      <div class="artist-card-works">
        <% _.each([0,1,2,3], function(i) { %>
          <% if(Works[i] && Works[i].photo) { %>
            <% if (!viewer && Works[i].nsfw) { %>
              <!-- <a href="/user/<%=username%>/work/<%=Works[i].nameSlugify%>" class="artist-card-work" > -->
                <div style="background-image: url('<%= addFilter(Works[i].photo, 'w_120,h_120,c_fill,e_blur:1500/l_text:Arial_24_bold:+18,co_rgb:ffffff') %>')" class="artist-card-work"></div>
              <!-- </a> -->
            <% } else { %>
              <!-- <a href="/user/<%=username%>/work/<%=Works[i].nameSlugify%>" class="artist-card-work" > -->
                <div style="background-image: url('<%= addFilter(Works[i].photo, 'w_120,h_120,c_fill') %>')" class="artist-card-work"></div>
              <!-- </a> -->
            <% } %>
          <% } else { %>
            <div class="artist-card-work empty"></div>
          <% } %>
        <% }); %>
      </div>
      </a>
      <div class="artist-card-follow">
        <% if(following) { %>
          <button class="am-Follow-button following">SIGUIENDO</button>
        <% } else { %>
          <button class="am-Follow-button">+ SEGUIR</button>
        <% } %>
      </div>
    </div>
  </div>
</script>
