<script type="text/template" id="template-work">
  <div class="grid-item">
    <div class="work-card">
      <% if(!public) { %>
        {# <div class="lock"><i class="bi_user-lock"></i></div> #}
        <div class="private">PRIVADO</div>
      <% } %>
      <% if (viewer && viewer.isAdmin) { %>
        <div class="featured <% if (!featured) { %>disabled<% } %>">DESTACADO</div>
      <% } else { %>
        <% if (featured) { %>
          <div class="featured">DESTACADO</div>
        <% } %>
      <% } %>

      <% if (owner) { %>

      <div class="work-card-options">
        <i class="fa fa-cog settings-btn"></i>
        <div class="menu menu-settings hide">
          <a href="/user/<%=User.username%>/work/<%=nameSlugify%>">Ver</a>
          <div class="u-separator"></div>
          <a href="/user/<%=User.username%>/work/<%=nameSlugify%>/edit">Editar</a>
          <div class="u-separator"></div>
          <!-- <a href="/user/<%=User.username%>/work/<%=nameSlugify%>/sell">Vender</a> -->
          <!-- <div class="u-separator"></div> -->
          <a class="delete-new" href="#">Borrar</a>
        </div>
      </div>

    <% } %>

      <div class="confirm delete-confirm hide">
        <% if (context && context === 'single-collection') { %>
          <span>borrar de coleccion?</span>
        <% } else { %>
          <span>borrar?</span>
        <% } %>
        <i class="bi_interface-box-tick delete-force" style="display: inline;"></i>
        <i class="bi_interface-box-cross cancel" style="display: inline;"></i>
      </div>
      
      <% if(!viewer && nsfw) { %>
        <a href="/user/<%=User.username%>/work/<%=nameSlugify%>" target="_blank">
          <img src="<%= addFilter(photo, 'w_300,e_blur:1500/l_text:Arial_36_bold:+18,co_rgb:ffffff') %>">
        </a>
      <% } else { %>
        <a href="/user/<%=User.username%>/work/<%=nameSlugify%>" target="_blank">
          <img src="<%= addFilter(photo, 'w_300') %>">
        </a>
      <% } %>
    </div>
  </div>
</script>
