<script type="text/template" id="template-work">
  <div class="grid-item">
    <div class="work-card">
      <% if(!public) { %>
        {# <div class="lock"><i class="bi_user-lock"></i></div> #}
        <div class="private">PRIVADO</div>
      <% } %>
      <% if (viewer && viewer.isAdmin) { %>
        <div class="featured <% if (!featured) { %>disabled<% } %>">AM</div>
      <% } else { %>
        <% if (featured) { %>
          <div class="featured">AM</div>
        <% } %>
      <% } %>

      <% if (viewer && viewer.isAdmin) { %>
        {# <div class="delete"><i class="bi_editorial-trash-a-l"></i></div> #}

        <div class="confirm delete-confirm hide">
          <% if (context && context === 'single-collection') { %>
            <span>borrar de coleccion?</span>
          <% } else { %>
            <span>borrar?</span>
          <% } %>
          <i class="bi_interface-box-tick delete-force" style="display: inline;"></i>
          <i class="bi_interface-box-cross cancel" style="display: inline;"></i>
        </div>
      <% } %>

      <% if (owner) { %>
        {# <div class="edit"><i class="bi_editorial-compose"></i></div> #}

        <div class="cover-work work-options">
          <div class="inner">
            <div class="options">
              <div class="option edit">
                <i class="bi_editorial-compose"></i>
                <p>EDITAR</p>
              </div>
              <div class="option delete">
                <i class="bi_editorial-trash-l"></i>
                <p>ELIMINAR</p>
              </div>
            </div>
          </div>
        </div>

        <div class="cover-work confirm delete-confirm hide">
          <div class="inner">
            <p class="title">¿ELIMINAR ESTA OBRA?</p>
            <div class="options">
              <div class="option delete-force">
                <i class="color bi_editorial-trash-l"></i>
                <p>ELIMINAR</p>
              </div>
              <div class="option cancel">
                <i class="bi_interface-forward"></i>
                <p>VOLVER</p>
              </div>
            </div>
          </div>
        </div>

      <% } %>

      <a href="/user/<%=User.username%>/work/<%=nameSlugify%>">
        <img src="<%= addFilter(photo, 'w_300,d_am_avatar.jpg') %>">
      </a>
    </div>
  </div>
</script>
