<script type="text/template" id="template-work">
  <div class="grid-item">
      <div class="product-card">
        <div class="featured">AM</div>
        <a href="/user/<%=User.username%>/product/<%=nameSlugify%>">
          <div class="product-card-image" style="background-image: url('<%= addFilter(photo, 'w_300,h_300,c_fill') %>')"></div>
          <div class="product-card-price">$ 90.45</div>
          <div class="product-card-zoom" style="background-image: url('http://res.cloudinary.com/arte-manifiesto/image/upload/v1450253893/general/landing-review-img-1.png')"></div>
        </a>
      </div>
  </div>
</script>
