{% extends '../../partials/base.html' %}

{% set path = 'payment' %}
{% set title = 'Arte Manifiesto | Payment' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/payment.css">
{% endblock %}

{% block elements %}
	Payment
{% endblock %}


{% block scripts %}

	<script>
		var addresses = {{addresses|json|safe}};
		console.log('addresses: ', addresses);
	</script>

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<!-- // <script type="text/javascript" src="/js/shipping.js"></script> -->

{% endblock %}