{% set pageTitle = "Blog" %}
{% extends '../partials/base.html' %}

{% block elements %}
<!-- ********************************************************************
  $ BLOG HEADER
********************************************************************* -->
<div class="grid-container">
  <div class="grid-100">
    <header class="header-blog">
      <div class="logo">am <span>blog</span></div>
      <div class="menu">
        {% for category in categories %}
          <a href="/category/{{category.nameSlugify}}" class="item">{{category.name}}</a>
        {% endfor %}
      </div>
      <div class="socials">
        <p>Síguenos:</p>
        <a href="#" class="bi_logo-facebook"></a>
        <a href="#" class="bi_logo-twitter"></a>
        <a href="#" class="bi_logo-instagram"></a>
        <a href="#" class="bi_web-rss"></a>
      </div>
    </header>
  </div>
</div>
  <div class="u-separator" style="background: #eee;"></div>

  <div class="grid-container u-margin-top-10">
    <div class="grid-100 grid-parent">
      <div class="blog-articles-container container-2">
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script>
  var posts = {{posts|json|safe}};
  $(function() {
    var viewer = new APP.Viewer('post', $('.container-2'), 'infinite', posts);
  });
  </script>
{% endblock %}
