{% extends '../partials/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css">
    <link rel="stylesheet" href="/default.css">
    <link rel="stylesheet" href="/medium-editor-insert-plugin.css">
{% endblock %}


{% block elements %}
    <p>
        estado : <span class="status">Inicio</span>
    </p>


<div class="uploader-cover">
  <div class="profile-imgage">
    <div class="preview">
    </div>
  </div>
  <div class="preload hide"><i class="fa fa-spinner"></i></div>
  <button class="button upload u-margin-top-30">BUSCAR ARCHIVO</button>
</div>

<div class="image-uploader" style="position:relative;">
  {{ cloudinary.uploader.image_upload_tag('photo', {callback: cloudinary_cors, return_delete_token: true, html: { style: "width:230px;height:55px;top:-70px;left: 105px;" } })}}
</div>

</br>

    <select class="input select" name='category'>
      <option disabled selected>Selecciona una Categoria</option>
      {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
    </select>
    </br>

    <input type="text" name="name" placeholder="Titulo del post">

    <div id="container">
        {{ cloudinary.uploader.image_upload_tag('photo', {callback: cloudinary_cors, return_delete_token: true, html: {
        style: "width:230px;height:55px;top:-70px;left: 105px;", multiple:1, class:'editor-photos' } })}}

        <div class="editable">
            {% if post %}
              {{postBody|safe}}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/jquery-2.1.1.min.js"></script>
    <script src="http://linkesch.com/medium-editor-insert-plugin/bower_components/handlebars/handlebars.runtime.min.js"></script>
    <script src="http://linkesch.com/medium-editor-insert-plugin/bower_components/jquery-sortable/source/js/jquery-sortable-min.js"></script>

    <script src='/jquery.ui.widget.js'></script>
    <script src='/jquery.iframe-transport.js'></script>
    <script src='/jquery.fileupload.js'></script>
    <script src='/jquery.cloudinary.js'></script>
    <script src='/broadcaster.js'></script>

    <script src="/medium-editor.js"></script>
    <script src="/medium-editor-insert-plugin.js"></script>

    <script>
      var post = null;
      $(function () {
          $.cloudinary.config({{cloudinary.config()|json|safe}});
          new APP.CreatorPostScreen();
      });
    </script>
{% endblock %}
