<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="/jquery-2.1.1.min.js"></script>
		<script src="/fabric.js"></script>
		<style media="screen">
			.render {
				margin-top: -80px;
				height: 80px;
			}
			.left {
				position: absolute;
				left: 23px;
			}
			.center {
					position: absolute;
					left: -19px;
			}
			.preview {
				position: relative;
    cursor: pointer;
    height: 80px;
    overflow: hidden;
			}
		</style>
	</head>
	<body>
		<canvas id="c1" width="567" height="330"></canvas>
	</br>
</br>
</br>
</br>

<img  src="/left.png">
<img src="/center.png">
<img src="/right.png">

</br>
<div class="render">
	<div class="preview">
		<img class="left" width="120">
	</div>
	<div class="preview">
		<img class="center" width="120">
	</div>
	<div class="preview">
		<img class="right" width="120">
	</div>
</div>
<script>
 var canvas = new fabric.Canvas('c1');
 fabric.Image.fromURL('/img/invitation.png', function(image) {
         canvas.add(image);
         canvas.calcOffset();
         canvas.setActiveObject(image);
			 });
		canvas.on('object:scaling', function(e){
			var img = e.target;
			
			if(img.scaleX >= 1 || img.scaleY >=1) {
				img.scaleX = img.scaleY = 1;
			}
	 	});

</script>

	</body>
</html>
