{% extends '../partials/base.html' %}
{% set path = '' %}

{% block styles %}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css">
  <link rel="stylesheet" href="/default.css">
  <link rel="stylesheet" href="/medium-editor-insert-plugin.css">
{% endblock %}

{% block head %}
  <meta property='og:image' content="{{post.photo|addFilter('w_700,q_80,c_limit')}}"/>
  <meta property='og:type' content="article"/>
  <meta property='og:title' content="{{post.name}}"/>
  <meta property='og:site_name' content='Arte Manifiesto'/>
  <meta property="og:description" content="{{post.description}}"/>

  <meta name="title" content="{{post.name}}" />
  <meta name="description" content="{{post.description}}"/>
{% endblock %}
{% block elements %}
  <div id="fb-root"></div>
  
  <div class="blog-single-cover" >
      <div class="uploader-cover">
        <div class="profile-imgage">
          <div class="preview">
            <img class="am-Profile-banner-img" src="{{post.photo}}">
          </div>
        </div>
      </div>

    <div class="grid-container" style="text-align: center;">
      <div class="grid-100">
        <a href="/blog/category/{{post.Category.nameSlugify}}" class="tag">{{ post.Category.name }}</a>

        <p class="title">{{ post.name }}</p>

        <div class="info">
          <span class="date"><i class="bi_interface-clock"></i> {{ post.createdAt|formatDate() }}</span>
          &nbsp; &nbsp; &nbsp;
          <span class="social"><i class="fa fa-heart"></i> <span class="likes">{{ post.likes }}</span></span> &nbsp; &nbsp;
          <span class="social"><i class="fa fa-comment"></i> {{ post.reviews }}</span> &nbsp; &nbsp; &nbsp;
          {% if user.isAdmin %}
          <a href="/blog/post/{{post.nameSlugify}}/edit" class="date"><i class="fa fa-pencil-square-o"></i> Editar</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="editable">
      {% if post %}
        {{ postBody|safe }}
      {% endif %}
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-100">
      <div class="blog-single-socials">
        <div class="buttons">
          <a class="button white like-btn {% if post.liked %} liked {% endif %}"><i class="fa fa-heart"></i>&nbsp;&nbsp; LIKE
            &nbsp;&nbsp;<span class="likes">{{ post.likes }}</span></a>
          <a class="button blue share-fb"><i class="fa fa-facebook"></i>&nbsp;&nbsp; COMPARTIR</a>
          <a class="button sky-blue share-tw"><i class="fa fa-twitter"></i>&nbsp;&nbsp; TWEET</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-100">
      <div class="blog-single-user">
        <a href="/user/{{ post.User.username }}">
          <img src="{{ post.User.photo }}">
        </a>

        <div class="info">
          <p class="name">
            {% if post.User.typeName === 1 %}
              {{ post.User.fullname }}
            {% else %}
              {{ post.User.pseudonimo }}
            {% endif %}
          </p>
          <p class="description">{{ post.User.biography.substr(0,140) }}</p>
        </div>
        <a class="button following">+ SEGUIR</a>
      </div>
    </div>
  </div>

  <div class="grid-container reviews-container  hide " style="display: block;">
    <div class="grid-100">
      <div class="reviews">
        <p class="title" style="margin-top: 30px;">Comentarios &nbsp;&nbsp;<span>{{ post.reviews }}</span></p>

        <div class="u-separator"></div>
        <div class="reviews-items-container">
        </div>
        {% if user %}
          <div class="review">
            <div class="avatar"><img src="{{ user.photo }}"></div>
            <form class="content review-form">
              <input type="hidden" name='idPost' value="{{ post.id }}"/>
              <textarea class='value-input' name="value"></textarea>
              <button>AGREGAR COMENTARIO</button>
            </form>
          </div>
        {% else %}
          <p class="empty-profile-text  empty-message bare-message u-margin-top-30" style="display: block; margin-bottom: 40px;">
            <a class="login-review">Logeate, para agregar comentario</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="blog-single-popular">
    <div class="grid-container">
      <div class="grid-100 grid-parent">
        <p class="title">Artículos populares</p>

        <div class="blog-articles-container">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var post = {{post|json|safe}};
    var posts = {{posts|json|safe}};
    var reviews = {{reviews|json|safe}};
    (function (d, s, id) {
			var js;
			var fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + DataApp.fbAppID;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
    $(function () {
      new APP.PostScreen();
    });
  </script>
{% endblock %}
