{% set templates = ['post', 'review'] %}
{% set pageTitle = post.name %}
{% set path = '' %}

{% extends '../partials/base.html' %}

{% block head %}
	<meta property="og:site_name" content="Arte Manifiesto" />
	<meta property="og:site" content="artemanifiesto.com" />
	<meta property="og:title" content="{{post.name}}" />
	<meta property="og:description" content="{{post.description}}" />
	<meta property="og:image" content="{{post.photo|addFilter('w_1200,h_630,q_60,c_crop')}}" />
	<meta property="og:url" content="http://artemanifiesto.com/blog/post/{{post.nameSlugify}}" />
	<meta property="og:type" content="article" />
	<meta name='twitter:card' content='summary_large_image' />
	<meta name='twitter:image:src' content="{{post.photo|addFilter('w_1200,h_630,q_60,c_crop')}}" />
	<meta name='twitter:site' content='@artemanifiesto' />
	<meta name='twitter:url' content='http://artemanifiesto.com/blog/post/{{post.nameSlugify}}' />
	<meta name='twitter:description' content='{{post.description}}' />
	<meta name='twitter:title' content='{{post.name}}' />
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css">
  <link rel="stylesheet" href="/default.css">
  <link rel="stylesheet" href="/medium-editor-insert-plugin.css">
{% endblock %}

{% block elements %}
  <!-- ********************************************************************
    $ BLOG HEADER
  ********************************************************************* -->
  <div class="grid-container">
    <div class="grid-100">
      <header class="header-blog">
        <a href="/blog">
          <div class="logo" style="">
          <img src="http://res.cloudinary.com/arte-manifiesto/image/upload/v1454309967/general/am-blog.png">
          </div>
        </a>
        <div class="menu">
          {% for category in categories %}
            <a href="/blog/category/{{category.nameSlugify}}"
               class="item uppercase {{category.nameSlugify}}-blog-menu">{{category.name}}</a>
          {% endfor %}
        </div>
        <div class="socials">
          <p class="label">Síguenos:</p>
          <a href="https://www.facebook.com/artemanifiesto" class="bi_logo-facebook"></a>
          <a href="https://twitter.com/artemanifiesto" class="bi_logo-twitter"></a>
          <a href="https://www.instagram.com/artemanifiesto/" class="bi_logo-instagram"></a>
        </div>
      </header>
    </div>
  </div>

  <div id="fb-root"></div>

  <div class="blog-single-cover" >
      <div class="uploader-cover">
        <div class="profile-imgage">
          <div class="preview">
            <img class="am-Profile-banner-img" src="{{post.photo}}">
          </div>
        </div>
      </div>

    <div class="grid-container" style="text-align: center;">
      <div class="grid-100">
        <a href="/blog/category/{{post.Category.nameSlugify}}" class="tag uppercase">{{ post.Category.name }}</a>

        <p class="title">{{ post.name }}</p>

        <div class="info">
          <span class="date"><i class="bi_interface-clock"></i> {{ post.createdAt|formatDate() }}</span>
          &nbsp; &nbsp; &nbsp;
          <span class="social"><i class="fa fa-heart"></i> <span class="likes">{{ post.likes }}</span></span> &nbsp; &nbsp;
          <span class="social"><i class="fa fa-comment"></i> {{ post.reviews }}</span> &nbsp; &nbsp; &nbsp;
          {% if user.isAdmin %}
          <a href="/blog/post/{{post.nameSlugify}}/edit" class="date"><i class="fa fa-pencil-square-o"></i> Editar</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="editable">
      {% if post %}
        {{ postBody|safe }}
      {% endif %}
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-100">
      <div class="blog-single-socials">
        <div class="buttons">
          <a class="button white like-btn {% if post.liked %} liked {% endif %}"><i class="fa fa-heart"></i>&nbsp;&nbsp; LIKE
            &nbsp;&nbsp;<span class="likes">{{ post.likes }}</span></a>
          <a class="button blue share-fb"><i class="fa fa-facebook"></i>&nbsp;&nbsp; COMPARTIR</a>
          <a class="button sky-blue share-tw"><i class="fa fa-twitter"></i>&nbsp;&nbsp; TWEET</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid-container">
    <div class="grid-100">
      <div class="blog-single-user">
        <a href="/user/{{ post.User.username }}">
          <img src="{{ post.User.photo }}">
        </a>

        <div class="info">
          <p class="name uppercase">
            {% if post.User.typeName === 1 %}
              {{ post.User.fullname }}
            {% else %}
              {{ post.User.pseudonimo }}
            {% endif %}
          </p>
          <p class="description">
						{% if post.User.biography.length >=  160 %}
							{{ post.User.biography.substr(0,160) + "..." }}
						{% else %}
							{{ post.User.biography }}
						{% endif %}
					</p>
        </div>
        <a class="button following">+ SEGUIR</a>
      </div>
    </div>
  </div>

  <div class="grid-container reviews-container  hide " style="display: block;">
    <div class="grid-100">
      <div class="reviews">
        <p class="title" style="margin-top: 30px;">Comentarios &nbsp;&nbsp;<span>{{ post.reviews }}</span></p>

        <div class="u-separator"></div>
        <div class="reviews-items-container">
        </div>
        {% if user %}
          <div class="review">
            <div class="avatar"><img src="{{ user.photo }}"></div>
            <form class="content review-form">
              <input type="hidden" name='idPost' value="{{ post.id }}"/>
              <textarea class='value-input' name="value"></textarea>
              <button>AGREGAR COMENTARIO</button>
            </form>
          </div>
        {% else %}
          <p class="empty-profile-text  empty-message bare-message u-margin-top-30" style="display: block; margin-bottom: 40px;">
            <a class="login-review">Logeate, para agregar comentario</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="blog-single-popular">
    <div class="grid-container">
      <div class="grid-100 grid-parent">
        <p class="title">Artículos populares</p>

        <div class="blog-articles-container">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var post = {{post|json|safe}};
    var posts = {{posts|json|safe}};
    var reviews = {{reviews|json|safe}};
    (function (d, s, id) {
			var js;
			var fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + DataApp.fbAppID;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
    $(function () {
      new APP.PostScreen();
    });
  </script>
{% endblock %}
