<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<title>Arte Manifiesto | Descubre</title>

	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="css/index.css">

	<style>
		.grid-item { width: 25%; }
	</style>

</head>
<body>

	<!-- ********************************************************************
		$ HEADER
	********************************************************************* -->
	<div class="grid-container u-padding-top-15 u-padding-bottom-15">
		<div class="grid-100">
			<header class="am-Header">
				<figure class="am-Header-logo">
					<img src="img/logo.png">
				</figure>
				<ul class="am-Header-menu">
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">HOME</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">DESCUBRE <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">TIENDA <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">RETOS</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Upload-button" href="#"><i class="fa fa-cloud-upload"></i> SUBIR</a>
					</li>
					<li class="am-Header-menu-item" style="padding-left: 22px;">
						<div class="am-Header-icon">
							<i class="fa fa-bell-o"></i><span>29</span>
						</div>
					</li>
					<li class="am-Header-menu-item" style="padding-left: 22px;">
						<div class="am-Header-icon">
							<i class="fa fa-shopping-cart"></i><span>10</span>
						</div>
					</li>
					<li class="am-Header-menu-item">
						<div class="am-Avatar">
							<img src="img/avatar.jpg">&nbsp;<i class="fa fa-caret-down"></i>
						</div>
					</li>
				</ul>
			</header>
		</div>
	</div>

	<div class="grid-container u-padding-top-15 u-padding-bottom-15">
		<div class="grid-100">
			<header class="am-Header">
				<figure class="am-Header-logo">
					<img src="img/logo.png">
				</figure>
				<ul class="am-Header-menu">
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">HOME</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">DESCUBRE <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">TIENDA <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">RETOS</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Signin-button" href="#"><i class="fa fa-user"></i> INGRESAR</a>
					</li>
				</ul>
			</header>
		</div>
	</div>


	<!-- ********************************************************************
		$ NAVIGATION-MENU
	********************************************************************* -->
	<div class="am-NavigationMenu u-padding-bottom-30">
		<div class="grid-container">
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub-menu-artwork-2.jpg'); background-position: 50% 30%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15">Obras y Creaciones</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub-menu-artist-2.jpg'); background-position: 50% 75%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15">Artistas Creadores</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub-menu-collection-2.png'); background-position: 50% 35%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15">Colecciones</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
		</div>
	</div>

	<div class="am-NavigationMenu u-padding-bottom-30">
		<div class="grid-container">
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub-menu-artwork-1.jpg'); background-position: 50% 50%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15" data-size="large">Libretas</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
			<div class="grid-40 grid-parent am-NavigationMenu-section">
				<div class="grid-100">
					<p class="am-NavigationMenu-subTitle-text u-padding-bottom-10">CATEGORÍAS</p>
					<div>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">Home Tienda</a>
							<a href="#" class="am-NavigationMenu-item-text">Obras Originales</a>
							<a href="#" class="am-NavigationMenu-item-text">Art Prints</a>
							<a href="#" class="am-NavigationMenu-item-text">Tazas</a>
							<a href="#" class="am-NavigationMenu-item-text">Iphone Case</a>
						</ul>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">Polos Hombre</a>
							<a href="#" class="am-NavigationMenu-item-text">Polos Mujer</a>
							<a href="#" class="am-NavigationMenu-item-text">Hoodies</a>
							<a href="#" class="am-NavigationMenu-item-text">Leggins</a>
							<a href="#" class="am-NavigationMenu-item-text">Trousers</a>
						</ul>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">Tazas</a>
							<a href="#" class="am-NavigationMenu-item-text">Bolsos</a>
							<a href="#" class="am-NavigationMenu-item-text">Iphone 4/5/6 Case</a>
							<a href="#" class="am-NavigationMenu-item-text">Samsung Galaxy 3/4 Case</a>
							<a href="#" class="am-NavigationMenu-item-text">Libretas</a>
						</ul>
					</div>
				</div>
			</div>
			<div class="grid-25 grid-parent am-NavigationMenu-section">
				<div class="grid-100">
					<p class="am-NavigationMenu-subTitle-text u-padding-bottom-10">TIENDAS DESTACADAS</p>
					<div>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">FIASCO Industries</a>
							<a href="#" class="am-NavigationMenu-item-text">Carga Máxima</a>
							<a href="#" class="am-NavigationMenu-item-text">Lanvin</a>
							<a href="#" class="am-NavigationMenu-item-text">Stine Goya</a>
							<a href="#" class="am-NavigationMenu-item-text">Carven</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ GRID
	********************************************************************* -->
	<script>
	  var ADAPT_CONFIG = {
	    path: './css/',
	    dynamic: true,
	    range: [
	      '0 to 767px = unsemantic-grid-mobile.css',
	      '767px = unsemantic-grid-desktop.css'
	    ]
	  };
	</script>
	<script src="./js/adapt.min.js"></script>


	<!-- ********************************************************************
		$ MASONRY
	********************************************************************* -->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

	<script type="text/javascript">
		setTimeout(function () {
			new Masonry( document.querySelector('.grid'), {
				itemSelector: '.grid-item',
			})
		}, 1000)
	</script>-->

</body>
</html>
