{% extends './partials/base.html' %}

{% set path = 'profile-collections' %}


{% block elements %}

	<div class="am-Profile-banner" style="background-image: url('img/banners/profile.jpg')">
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Profile-avatar">
					<img src="img/avatar.jpg"></img>
					<div>
						<p class="name">SEBASTIÁN SUAREZ</p>
						<p class="city">Lima, Perú</p>
						<button class="am-Follow-button">Seguir</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="am-Profile-menu-container">
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Profile-menu">
					<div class="am-Profile-menu-item">
						<p>PORTAFOLIO</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>TIENDA</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item selected">
						<p>COLECCIONES</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>FOLLOWING</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>FOLLOWERS</p>
						<p>25</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container u-padding-top-20">
		<div class="grid-20">
			&nbsp;
		</div>
		<div class="grid-60">
			<p class="am-navigation-text">Sebastián Suarez > Colecciones (25)</p>
		</div>
		<div class="grid-20 filter right">
			<div class="am-Select">
				ORDENAR &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
			</div>
			<div class="right-menu u-padding-top-10">
				<div class="am-Filter">
					<div class="am-Filter-item">
						<p class="am-Filter-option">MÁS NUEVO</p>
					</div>
					<div class="am-Filter-item">
						<p class="am-Filter-option">MÁS VALORADO</p>
					</div>
					<div class="am-Filter-item">
						<p class="am-Filter-option">MÁS POPULAR</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="discover-content grid-container u-padding-top-10 u-padding-bottom-40">
		<div class="grid-100 grid-parent">
			{% include './partials/layout-collections.html' %}
		</div>
	</div>

{% endblock %}


{% block scripts %}

	<!-- ********************************************************************
		$ MASONRY
	********************************************************************* -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

	<script type="text/javascript">
		setTimeout(function () {
			new Masonry( document.querySelector('.grid'), {
				itemSelector: '.grid-item',
			})
		}, 1000)
	</script>

{% endblock %}