{% extends './partials/base.html' %}

{% set path = 'profile-market' %}


{% block elements %}

	<div class="am-Profile-banner" style="background-image: url('img/banners/profile.jpg')">
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Profile-avatar">
					<img src="img/avatar.jpg"></img>
					<div>
						<p class="name">SEBASTIÁN SUAREZ</p>
						<p class="city">Lima, Perú</p>
						<button class="am-Follow-button">Seguir</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="am-Profile-menu-container">
		<div class="grid-container">
			<div class="grid-100">
				<div class="am-Profile-menu">
					<div class="am-Profile-menu-item selected">
						<p>PORTAFOLIO</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>TIENDA</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>COLECCIONES</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>FOLLOWING</p>
						<p>25</p>
					</div>
					<div class="am-Profile-menu-item">
						<p>FOLLOWERS</p>
						<p>25</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="discover-content grid-container u-padding-top-10 u-padding-bottom-70">
		<div class="grid-60">
			<p class="profile-title">Sobre el artista</p>
			<p class="profile-desc">Unlike pop-culture’s current obsession with bleak, heavy drama (<i>Game Of Thrones, Breaking Bad,</i> we’re talking to you). Lo que no quiere decir que tengas que hacer más de lo que debas ni conocer lo que no te corresponda. Exploración es mi ultima misión.</p>
		</div>
		<div class="grid-100">
			<p class="profile-title u-margin-top-30">Mis últimos trabajos</p>
			<div class="u-separator"></div>
		</div>
		<div class="grid-100 grid-parent u-margin-top-10">
			{% include './partials/layout-works1.html' %}
		</div>
		<div class="grid-100">
			<p class="profile-title">Oleos y colores</p>
			<div class="u-separator"></div>
		</div>
		<div class="grid-100 grid-parent u-margin-top-10">
			{% include './partials/layout-works2.html' %}
		</div>
		<div class="grid-100">
			<p class="profile-title">Los cachorros</p>
			<div class="u-separator"></div>
		</div>
		<div class="grid-100 grid-parent u-margin-top-10">
			{% include './partials/layout-works3.html' %}
		</div>
	</div>


{% endblock %}


{% block scripts %}

	<!-- ********************************************************************
		$ MASONRY
	********************************************************************* -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

	<script type="text/javascript">
		setTimeout(function () {

			var grids = document.querySelectorAll('.grid')

			for(var i = 0; i < grids.length; i++)
				new Masonry( grids[i], {
					itemSelector: '.grid-item',
				})

		}, 1000)
	</script>

{% endblock %}