<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<title>Arte Manifiesto | Descubre</title>

	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="css/index.css">

	<style>
		.grid-item { width: 25%; }
	</style>

</head>
<body>

	<!-- ********************************************************************
		$ HEADER
	********************************************************************* -->
	<div class="grid-container u-padding-top-15 u-padding-bottom-15">
		<div class="grid-100">
			<header class="am-Header">
				<figure class="am-Header-logo">
					<img src="img/logo.png">
				</figure>
				<ul class="am-Header-menu">
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">HOME</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">DESCUBRE <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">TIENDA <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">RETOS</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Upload-button" href="#"><i class="fa fa-cloud-upload"></i> SUBIR</a>
					</li>
					<li class="am-Header-menu-item" style="padding-left: 22px;">
						<div class="am-Header-icon">
							<i class="fa fa-bell-o"></i><span>29</span>
						</div>
					</li>
					<li class="am-Header-menu-item" style="padding-left: 22px;">
						<div class="am-Header-icon">
							<i class="fa fa-shopping-cart"></i><span>10</span>
						</div>
					</li>
					<li class="am-Header-menu-item">
						<div class="am-Avatar">
							<img src="img/avatar.jpg">&nbsp;<i class="fa fa-caret-down"></i>
						</div>
					</li>
				</ul>
			</header>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-20 prefix-80">
			<div class="am-Menu">
				<a class="am-Menu-item" href="#">MI PORTAFOLIO</a>
				<div class="separator"></div>
				<a class="am-Menu-item" href="#">SUBIR MANIFIESTO</a>
				<a class="am-Menu-item" href="#">VENDER EN AM</a>
				<div class="separator"></div>
				<a class="am-Menu-item" href="#">CARRITO DE COMPRAS</a>
				<a class="am-Menu-item" href="#">MIS COMPRAS</a>
				<a class="am-Menu-item" href="#">MIS VENTAS</a>
				<div class="separator"></div>
				<a class="am-Menu-item" href="#">ADMINISTRAR CUENTA</a>
				<div class="separator"></div>
				<a class="am-Menu-item" href="#">SALIR</a>
			</div>
		</div>
	</div>

	<div class="grid-container u-padding-top-15 u-padding-bottom-15">
		<div class="grid-100">
			<header class="am-Header">
				<figure class="am-Header-logo">
					<img src="img/logo.png">
				</figure>
				<ul class="am-Header-menu">
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">HOME</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">DESCUBRE <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">TIENDA <i class="fa fa-caret-down"></i></a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Header-text" href="#">RETOS</a>
					</li>
					<li class="am-Header-menu-item">
						<a class="am-Signin-button" href="#"><i class="fa fa-user"></i> INGRESAR</a>
					</li>
				</ul>
			</header>
		</div>
	</div>


	<!-- ********************************************************************
		$ NAVIGATION-MENU
	********************************************************************* -->
	<div class="am-NavigationMenu u-padding-bottom-30">
		<div class="grid-container">
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub menu artwork 2.jpg'); background-position: 50% 30%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15">Obras y Creaciones</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub menu artist 2.jpg'); background-position: 50% 75%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15">Artistas Creadores</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub menu collection 2.png'); background-position: 50% 35%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15">Colecciones</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
		</div>
	</div>

	<div class="am-NavigationMenu u-padding-bottom-30">
		<div class="grid-container">
			<div class="grid-33 grid-parent am-NavigationMenu-section">
				<div class="grid-50 mobile-grid-50">
					<figure class="am-NavigationMenu-section-image" style="background-image: url('img/sub menu artwork 1.jpg'); background-position: 50% 50%;"></figure>
				</div>
				<div class="grid-50 mobile-grid-50">
					<p class="am-NavigationMenu-title-text u-padding-bottom-15" data-size="large">Libretas</p>
					<p class="am-NavigationMenu-description-text">Conoce los productos que debes tener para este verano 2015</p>
				</div>
			</div>
			<div class="grid-40 grid-parent am-NavigationMenu-section">
				<div class="grid-100">
					<p class="am-NavigationMenu-subTitle-text u-padding-bottom-10">CATEGORÍAS</p>
					<div>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">Home Tienda</a>
							<a href="#" class="am-NavigationMenu-item-text">Obras Originales</a>
							<a href="#" class="am-NavigationMenu-item-text">Art Prints</a>
							<a href="#" class="am-NavigationMenu-item-text">Tazas</a>
							<a href="#" class="am-NavigationMenu-item-text">Iphone Case</a>
						</ul>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">Polos Hombre</a>
							<a href="#" class="am-NavigationMenu-item-text">Polos Mujer</a>
							<a href="#" class="am-NavigationMenu-item-text">Hoodies</a>
							<a href="#" class="am-NavigationMenu-item-text">Leggins</a>
							<a href="#" class="am-NavigationMenu-item-text">Trousers</a>
						</ul>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">Tazas</a>
							<a href="#" class="am-NavigationMenu-item-text">Bolsos</a>
							<a href="#" class="am-NavigationMenu-item-text">Iphone 4/5/6 Case</a>
							<a href="#" class="am-NavigationMenu-item-text">Samsung Galaxy 3/4 Case</a>
							<a href="#" class="am-NavigationMenu-item-text">Libretas</a>
						</ul>
					</div>
				</div>
			</div>
			<div class="grid-25 grid-parent am-NavigationMenu-section">
				<div class="grid-100">
					<p class="am-NavigationMenu-subTitle-text u-padding-bottom-10">TIENDAS DESTACADAS</p>
					<div>
						<ul class="am-NavigationMenu-section-list">
							<a href="#" class="am-NavigationMenu-item-text">FIASCO Industries</a>
							<a href="#" class="am-NavigationMenu-item-text">Carga Máxima</a>
							<a href="#" class="am-NavigationMenu-item-text">Lanvin</a>
							<a href="#" class="am-NavigationMenu-item-text">Stine Goya</a>
							<a href="#" class="am-NavigationMenu-item-text">Carven</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ DISCOVER-BANNER
	********************************************************************* -->
	<div class="u-padding-top-40 u-padding-bottom-70" style="background-image: url('img/art/illustration icecream.jpg')">
		<div class="grid-container">
			<div class="grid-50 prefix-25">
				<p class="am-DiscoverTitle-text u-padding-bottom-15 u-text-center">Descubre obras y creaciones</p>
				<div class="am-Search-input">
					<input type="text"/>
					<i class="fa fa-search"></i>
				</div>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ DISCOVER-MENU
	********************************************************************* -->
	<div class="grid-container u-padding-top-20">
		<div class="grid-20">
			<div class="am-Select">
				CATEGORÍAS &nbsp;&nbsp;<i class="fa fa-caret-left"></i>
			</div>
		</div>
		<div class="grid-60">
			<p class="am-navigation-text">Fotografía > Blanco y negro (234)</p>
		</div>
		<div class="grid-20">
			<div class="am-Select">
				ORDENAR &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ DISCOVER-FILTER
	********************************************************************* -->
	<div class="grid-container u-padding-top-20">
		<div class="grid-20 prefix-80">
			<div class="am-Filter">
				<div class="am-Filter-item">
					<p class="am-Filter-option">MÁS NUEVO</p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option">MÁS VALORADO</p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option">MÁS POPULAR</p>
				</div>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ DISCOVER-CONTENT
	********************************************************************* -->
	<div class="grid-container u-padding-top-10">
		<div class="grid-20 u-padding-top-10">
			<div class="am-Filter">
				<div class="am-Filter-item">
					<header class="am-Filter-header">
						<i class="fa fa-bars"></i><p>Ver sólo</p>
					</header>
				</div>
				<div class="am-Filter-item">
					<div class="am-Filter-switch">
						<div class="am-Switch-button">
							<i class="fa fa-bars"></i>
						</div>
						<span>Seleccionado AM</span>
					</div>
				</div>
				<div class="am-Filter-item">
					<header class="am-Filter-header">
						<i class="fa fa-bars"></i><p>Categorías</p>
					</header>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option"><span>PINTURA</span><i class="fa fa-chevron-right"></i></p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option"><span>ILUSTRACIÓN</span><i class="fa fa-chevron-right"></i></p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option" data-open='true'><span>FOTOGRAFÍA</span><i class="fa fa-chevron-down"></i></p>
				</div>
				<div class="am-Filter-item">
					<ul class="am-Filter-subOptions">
						<li>Blanco y negro</li>
						<li>Retratos</li>
						<li>Paisajes</li>
						<li>Claroscuro</li>
						<li>Ver Todos</li>
					</ul>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option"><span>STREET ART</span><i class="fa fa-chevron-right"></i></p>
				</div>
				<div class="am-Filter-item">
					<p class="am-Filter-option"><span>TÉCNICA MIXTA</span><i class="fa fa-chevron-right"></i></p>
				</div>
			</div>
		</div>
		<div class="grid-80 grid-parent">
			<div class="grid">
			  <div class="grid-item">
			  	<img src="img/art/Digital illustration birds.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/squared.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/dylan.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/owl and pussycat.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/girls.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/girl.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/pintura.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/skull.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/squared.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/owl and pussycat.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/Digital illustration birds.jpg">
			  </div>
			  <div class="grid-item">
			  	<img src="img/art/girls.jpg">
			  </div>
			</div>
		</div>
		<div class="grid-80 prefix-20 u-margin-top-10">
			<a class="am-More-button">I need more</a>
		</div>
	</div>


	<!-- ********************************************************************
		$ SINGLE INFO
	********************************************************************* -->
	<div class="grid-container">
		<div class="grid-50 prefix-25">
			<img src="img/work.jpg">
		</div>
		<div class="grid-25">

			<div class="FollowArtist">
				<img src="img/avatar.jpg">
				<div>
					<p class="u-padding-bottom-7">SEBASTIÁN SUAREZ</p>
					<button class="am-Follow-button">+ SEGUIR</button>
				</div>
			</div>

			<p class="am-Single-title-text u-margin-top-10">El guardián en el centeno, 2014</p>
			<p class="am-Single-text u-margin-top-10">Obra en exposición en la muestra itinerante en barranco…</p>
			<p class="am-Single-text u-margin-top-10">42 cm x 42 cm</p>
			<p class="am-Single-text u-margin-top-10">Serie: Los noctámbulos y otros demonios.</p>
			<p class="am-Single-text u-margin-top-10">Disponible</p>


			<button class="am-View-button u-margin-top-10"><i class="fa fa-cube"></i> VER MANIFIESTO</button>

			<div>
				<p class="am-Single-text u-margin-top-20">Categoría:</p>
				<span class="am-Category-box u-margin-top-7">TÉCNICA MIXTA</span>
				<p class="am-Single-text u-margin-top-20">Tags:</p>
				<span class="am-Tag-box u-margin-top-7">BIRDS</span>&nbsp;
				<span class="am-Tag-box u-margin-top-7">NATURALEZA</span>&nbsp;
				<span class="am-Tag-box u-margin-top-7">OIL ON CANVAS</span>&nbsp;
				<span class="am-Tag-box u-margin-top-7">TAPPERWARE</span>&nbsp;
				<span class="am-Tag-box u-margin-top-7">ANGRY BIRD</span>&nbsp;
				<span class="am-Tag-box u-margin-top-7">YELLOW</span>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ SINGLE MENU
	********************************************************************* -->

	<div class="am-SingleMenu u-margin-top-20">
		<div class="grid-container">
			<div class="grid-33">
				<div class="FollowArtist u-padding-top-20 u-padding-bottom-20">
					<img src="img/avatar.jpg">
					<div>
						<p class="u-padding-bottom-7">SEBASTIÁN SUAREZ</p>
						<button class="am-Follow-button">+ SEGUIR</button>
					</div>
				</div>
			</div>
			<div class="grid-33 grid-parent">
				<div class="am-SingleTabs">
					<div class="am-SingleTab">
						<p>MANIFIESTO</p>
						<i class="fa fa-cube"></i>
					</div>
					<div class="am-SingleTab" selected="true">
						<p>PRODUCTOS</p>
						<span>25</span>
					</div>
					<div class="am-SingleTab">
						<p>REVIEWS</p>
						<span>25</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- ********************************************************************
		$ FOOTER
	********************************************************************* -->
	<footer class="am-Footer u-padding-top-40 u-padding-bottom-40 u-margin-top-40">
		<div class="grid-container">
			<div class="grid-20 mobile-grid-40 am-Footer-section">
				<div>
					<img src="img/logo-small-white.png">
					<p class="am-Copy-text u-padding-top-30">
						© 2015 Arte Manifiesto <br>
						Todos los derechos reservados
					</p>
				</div>
			</div>
			<div class="grid-30 mobile-grid-60 am-Footer-section">
				<table class="am-Footer-list">
				  <tr>
				    <td class="am-Footer-title-text">HOME</td>
				    <td class="am-Footer-item-text">Sobre AM</td>
				  </tr>
				  <tr>
				    <td class="am-Footer-title-text">DESCUBRE</td>
				    <td class="am-Footer-item-text">Contacto</td>
				  </tr>
				  <tr>
				    <td class="am-Footer-title-text">MARKET</td>
				    <td class="am-Footer-item-text">Términos de servicio</td>
				  </tr>
				  <tr>
				    <td class="am-Footer-title-text">ARTISTAS</td>
				    <td class="am-Footer-item-text">Políticas de privacidad</td>
				  </tr>
				  <tr>
				    <td class="am-Footer-title-text">COLECCIÓN</td>
				    <td class="am-Footer-item-text">Cómo comprar</td>
				  </tr>
				  <tr>
				    <td class="am-Footer-title-text">AYUDA</td>
				    <td class="am-Footer-item-text">Cómo vender</td>
				  </tr>
				</table>
			</div>
			<div class="grid-20 mobile-grid-40 am-Footer-section">
				<div>
					<p class="am-Footer-subtitle-text u-padding-bottom-20">SÍGUENOS</p>
					<table class="am-Footer-list">
					  <tr>
					    <td class="am-Footer-item-text social"><i class="fa fa-facebook"></i></td>
					    <td class="am-Footer-item-text">Facebook</td>
					  </tr>
					  <tr>
					    <td class="am-Footer-item-text social"><i class="fa fa-twitter"></i></td>
					    <td class="am-Footer-item-text">Twitter</td>
					  </tr>
					  <tr>
					    <td class="am-Footer-item-text social"><i class="fa fa-instagram"></i></td>
					    <td class="am-Footer-item-text">Instagram</td>
					  </tr>
					  <tr>
					    <td class="am-Footer-item-text social"><i class="fa fa-rss"></i></td>
					    <td class="am-Footer-item-text">RSS</td>
					  </tr>
					</table>
				</div>
			</div>
			<div class="grid-30 mobile-grid-60 am-Footer-section">
				<div>
					<p class="am-Footer-subtitle-text u-padding-bottom-15">SUBSCRÍBETE AL BOLETÍN</p>
					<p class="am-Footer-text u-padding-bottom-20">Lo más nuevo, fresco y valioso de la <br> comunidad de creadores visuales</p>
					<div class="am-Email-input">
						<input type="text" placeholder="E-mail"/>
						<i class="fa fa-envelope-o"></i>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- ********************************************************************
		$ GRID
	********************************************************************* -->
	<script>
	  var ADAPT_CONFIG = {
	    path: './css/',
	    dynamic: true,
	    range: [
	      '0 to 767px = unsemantic-grid-mobile.css',
	      '767px = unsemantic-grid-desktop.css'
	    ]
	  };
	</script>
	<script src="./js/adapt.min.js"></script>


	<!-- ********************************************************************
		$ MASONRY
	********************************************************************* -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

	<script type="text/javascript">
		setTimeout(function () {
			new Masonry( document.querySelector('.grid'), {
				itemSelector: '.grid-item',
			})
		}, 1000)
	</script>

</body>
</html>