{% set templates = ['review'] %}
{% set pageTitle = chapter.name %}
{% set path = '' %}

{% extends '../partials/base.html' %}

{% block head %}
	<meta property="og:site_name" content="Arte Manifiesto" />
	<meta property="og:site" content="artemanifiesto.com" />
	<meta property="og:title" content="{{chapter.name}}" />
	<meta property="og:description" content="{{chapter.description}}" />
	<meta property="og:image" content="{{chapter.photo|addFilter('w_1200,h_630,q_60,c_crop')}}" />
	<meta property="og:url" content="http://artemanifiesto.com/tv/chapter/{{chapter.nameSlugify}}" />
	<meta property="og:type" content="article" />
	<meta name='twitter:card' content='summary_large_image' />
	<meta name='twitter:image:src' content="{{chapter.photo|addFilter('w_1200,h_630,q_60,c_crop')}}" />
	<meta name='twitter:site' content='@artemanifiesto' />
	<meta name='twitter:url' content='http://artemanifiesto.com/tv/chapter/{{chapter.nameSlugify}}' />
	<meta name='twitter:description' content='{{chapter.description}}' />
	<meta name='twitter:title' content='{{chapter.name}}' />
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css">
  <link rel="stylesheet" href="/default.css">
  <link rel="stylesheet" href="/medium-editor-insert-plugin.css">
{% endblock %}

{% block elements %}
  <div id="player" style="width:100%; height:600px;"></div>
  
  <div id="fb-root"></div>
    
  <div class="chapter-details">
    <div class="content">
      <div class="info">
        <h1>{{chapter.name}}</h1>
        <p>{{chapter.description}}</p>
      </div>
      <div class="share">
        <p>PASA LA VOZ</p>
          <div class="social">
            <a class="button blue share-fb" href="#"><i class="fa fa-facebook"></i>&nbsp;&nbsp;</a>
            <a class="button sky-blue share-tw" href="#"><i class="fa fa-twitter"></i>&nbsp;&nbsp;</a>
          </div>
      </div>
    </div> 
  </div>

  <div class="chapter-banner" style="background-image: url(http://img6.eachbuyer.com/upload/201512/201512181626215673c32d34825.jpg);">
  </div>


  <div class="latest-chapters" style="margin-bottom: 30px;">
    <h3 style="text-align:center;">Más información</h3>
    <div style="margin: 0 auto;"></div>
  </div>

  <div id="container">
    <div class="editable">
      {% if chapter %}
        {{ chapterBody|safe }}
      {% endif %}
    </div>
  </div>

  <div class="grid-container reviews-container hide" style="display: block;">
    <div class="grid-100">
      <div class="reviews">
        <p class="title" style="margin-top: 30px;">Comentarios &nbsp;&nbsp;<span>{{ chapter.reviews }}</span></p>
        
        <div class="u-separator"></div>        
        {% if user %}
          <div class="review">
            <div class="avatar"><img src="{{ user.photo }}"></div>
            <form class="content review-form">
              <input type="hidden" name='idChapter' value="{{ chapter.id }}"/>
              <textarea class='value-input' name="value"></textarea>
              <button>AGREGAR COMENTARIO</button>
            </form>
          </div>
        {% else %}
          <p class="empty-profile-text  empty-message bare-message u-margin-top-30" style="display: block; margin-bottom: 40px;">
            <a class="login-review">Inicia sesión para agregar un comentario</a>
          </p>
        {% endif %}
        <div class="reviews-items-container">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var chapter = {{chapter|json|safe}};
    var reviews = {{reviews|json|safe}};

     var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          playerVars: {'controls': 1, 'showinfo':0, 'autoplay': 1 },
          videoId: chapter.trailer
      });
    }

    (function (d, s, id) {
			var js;
			var fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + DataApp.fbAppID;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
    $(function () {
      new APP.ChapterScreen();
    });
  </script>
{% endblock %}
