{% extends '../partials/base.html' %}
{% set pageTitle = 'TV' %}
{% set path = 'tv' %}

{% block elements %}

{% if user && user.isAdmin %}
	<div class="grid-container">
		<div class="grid-100">
		  <div class="blog-single-trash" style="max-width: initial;border: none;margin-bottom: 0;">
		      <a href="/tv/creator" class="button following publish-btn publish">Nuevo capítulo</a>
		      <a href="/tv/draft" class="button following preview-btn">Borradores</a>
		  </div>
		</div>
	</div>
{% endif %}

<div class="tv-intro">
	<video autoplay loop muted>
	  <source src="http://res.cloudinary.com/arte-manifiesto/video/upload/w_1000,c_limit,q_70,ac_none/v1468860976/tv/intro.mp4" type="video/mp4">
	</video>
	<div class="info-container">
		<header>
			<a href="/tv"><h1>am tv</h1></a>
		</header>
		<div class="info">
			<h1>Que el arte inunde tu vida</h1>
			<p>El primer programa de TV sobre los procesos de artistas visuales</p>
			{% if chapters[0] %}
				<a href="/tv/chapter/{{chapters[0].nameSlugify}}">VER AHORA</a>
			{% endif %}
		</div>	
	</div>
</div>

<div class="tv-banners">
	<a href="#"><img src="https://pbs.twimg.com/profile_images/838622288/CAT_logo_1__400x400.jpg" alt=""></a>
	<a href="#"><img src="https://pbs.twimg.com/profile_images/838622288/CAT_logo_1__400x400.jpg" alt=""></a>
	<a href="#"><img src="https://pbs.twimg.com/profile_images/838622288/CAT_logo_1__400x400.jpg" alt=""></a>
</div>

<div class="latest-chapters">
<h3>Últimos capítulos</h3>
<div></div>
</div>


<div class="chapters-container">
	{%  for chapter in chapters %}
		<a class="chapter" href="/tv/chapter/{{chapter.nameSlugify}}" style="background-image: url({{chapter.photo}});" >
			<div class="overlay">
				<div class="circle">
					<div class="arrow"></div>
				</div>
				<div class="info">
					<p>Episodio {{loop.revindex}}</p>
					<p>{{chapter.name}}</p>
				</div>
			</div>
		</a href="/tv/chapters/{{chapter.nameSlugify}}">
	{% endfor %} 
</div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
