{% extends '../partials/base.html' %}


{% block styles %}
{% endblock %}

{% block elements %}
<div class="wrapper">
	<div class="container">
		<ul class="subList">
			<li class="subList-title">am tv</li>
			<a href="#"><li class="subList-item contest">CONCURSO</li></a>
		</ul>
		<iframe src="https://www.youtube.com/embed/5iFv63DzD38?controls=0&showinfo=0&autoplay=1&theme=light&showinfo=0" ></iframe>
		<div class="container-text">
			<h3>Que el arte inunde tu vida</h3>
			<p>El primer programa de TV sobre los procesos de<br>artistas visuales</p>
			<a href="/tv/chapter/{{newestChapter.nameSlugify}}"><div class="buttom">VER AHORA</div></a>
		</div>
		<div class="shadow"></div>
	</div>
	<div class="info">
		<div class="info-text">
			<h2>Últimos capítulos</h2>
		</div><div class="line"></div>
	<div class="inner-container">
		<div class="chapters-container">
			{% for item in latestChapters %}
				<div class="info-data">
					<div class="info-data-text">
						<a href="/tv/chapter/{{item.nameSlugify}}"><img src="http://i.imgur.com/CM9zwAu.jpg"></a>
						<h2><a href="/tv/chapter/{{item.nameSlugify}}">{{ item.name }}</a></h2>
						<p>{{ item.description }}</p>
						<span>Por am tv  </span>  <span>  Emitido el 26 de julio,2016</span>
						<div class="likes-logo">
							<i class="bi_interface-view"></i><p>{{ item.views }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
			<div class="banners-container">
				<div class="info-data-baners">
						<div class="info-data-baners-view"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% block scripts %}
{% endblock %}
